{% load static %}

<!--Profile Blog-->
<div class="panel panel-profile">
    <div class="panel-heading overflow-h">
        <h2 class="panel-title heading-sm pull-left"><i class="fa fa-users"></i> &nbsp; Friends</h2>
        <a href="profile_comments.html" class="pull-right font-80 see-all"> View all</a>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4">
                <div class="profile-blog blog-border">
                    <img class="rounded-x" src="{% static 'img/test_user1.jpg' %}" alt="">

                    <div class="name-location">
                        <strong>Mikel Andrews</strong>
                        <span><i class="fa fa-map-marker"></i><a href="#">California,</a> <a href="#">US</a></span>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="profile-blog blog-border">
                    <img class="rounded-x" src="{% static 'img/test_user2.jpg' %}" alt="">

                    <div class="name-location">
                        <strong>Natasha Kolnikova</strong>
                        <span><i class="fa fa-map-marker"></i><a href="#">Moscow,</a> <a href="#">Russia</a></span>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="profile-blog blog-border">
                    <img class="rounded-x" src="{% static 'img/test_user3.jpg' %}" alt="">

                    <div class="name-location">
                        <strong>Natasha Kolnikova</strong>
                        <span><i class="fa fa-map-marker"></i><a href="#">Moscow,</a> <a href="#">Russia</a></span>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-4">
                <div class="profile-blog blog-border">
                    <img class="rounded-x" src="{% static 'img/test_user2.jpg' %}" alt="">

                    <div class="name-location">
                        <strong>Natasha Kolnikova</strong>
                        <span><i class="fa fa-map-marker"></i><a href="#">Moscow,</a> <a href="#">Russia</a></span>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="profile-blog blog-border">
                    <img class="rounded-x" src="{% static 'img/test_user3.jpg' %}" alt="">

                    <div class="name-location">
                        <strong>Natasha Kolnikova</strong>
                        <span><i class="fa fa-map-marker"></i><a href="#">Moscow,</a> <a href="#">Russia</a></span>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="profile-blog blog-border">
                    <img class="rounded-x" src="{% static 'img/test_user1.jpg' %}" alt="">

                    <div class="name-location">
                        <strong>Natasha Kolnikova</strong>
                        <span><i class="fa fa-map-marker"></i><a href="#">Moscow,</a> <a href="#">Russia</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/end row-->
<!--End Profile Blog-->