<!--Notification-->
<div class="hidden-xs hidden-sm">
    <div class="panel-heading-v2 overflow-h">
        <h2 class="heading-xs pull-left"><i class="fa fa-bell-o"></i> &nbsp; Notifications</h2>
    </div>
    <ul id="scrollbar5" class="list-unstyled contentHolder margin-bottom-20 ps-container">
        <li class="notification">
            <i class="icon-custom icon-sm rounded-x icon-bg-blue icon-line icon-envelope"></i>

            <div class="overflow-h">
                <span><strong>Albert Heller</strong> has sent you a interview invitation.</span>
                <small>Two minutes ago</small>
            </div>
        </li>
        <li class="notification">
            <i class="icon-custom icon-sm rounded-x icon-bg-green icon-line icon-checkmark"></i>

            <div class="overflow-h">
                <span><strong>Natasha Kolnikova</strong> accepted your invitation.</span>
                <small>Yesterday 1:07 pm</small>
            </div>
        </li>
    </ul>
    <button type="button" class="btn-u btn-u-default btn-u-sm btn-block">Load More</button>
</div>
<!--End Notification-->