{% load humanize %}
{% load avatar_tags %}
{% load switch_tag %}

<div class="contact-request alert-blocks {% switch contact_request.status %}
                    {% case contact_request.PENDING %}alert-blocks-pending
                    {% case contact_request.ACCEPTED %}alert-blocks-success
                    {% case contact_request.DECLINED %}alert-blocks-error
                    {% case contact_request.WITHDRAWN %}alert-blocks-error
                {% endswitch %}">
    {% avatar contact_request.recipient 80 class="rounded-x" %}

    <div class="overflow-h">
        <strong><a href="{{ contact_request.recipient.profile.public_url }}">{{ contact_request.recipient.get_full_name }}</a>
            <small class="pull-right"><em>{{ contact_request.updated|naturaltime|capfirst }}</em></small>
        </strong>

        <br/>
        <span class="font-80">
            {% if contact_request.status == contact_request.ACCEPTED %}
                {% if contact_request.is_active %}
                    Expires: {{ contact_request.expires|date:'d M, H:i' }}
                {% else %}
                    <em class="text-danger">Expired: {{ contact_request.expires|date:'d M, H:i' }}</em>
                {% endif %}
            {% else %}
                Duration: {{ contact_request.get_duration_display }}
            {% endif %}</span>

        <br/>
        <span class="{% switch contact_request.status %}
            {% case contact_request.PENDING %}color-yellow
            {% case contact_request.ACCEPTED %}color-green
            {% case contact_request.DECLINED %}color-red
            {% case contact_request.WITHDRAWN %}color-red
        {% endswitch %}">{{ contact_request.get_status_display|capfirst }}</span>

        {% if contact_request.status == contact_request.PENDING %}
            <p class="pull-right">
                <span data-url="{% url 'dashboard_jm_contact_request_withdraw' id=contact_request.id %}"
                      class="contact-request_withdraw font-80 dashed text-muted pointer">withdraw</span>
            </p>
        {% endif %}
    </div>
</div>