{% load avatar_tags %}
{% load switch_tag %}

<tr class="interview-invitation">
    <td class="hidden-sm">
        {% avatar invitation.user 80 class="rounded-x" %}
    </td>
    <td>
        <h3><a href="{{ invitation.user.profile.public_url }}">{{ invitation.user.get_full_name }}</a></h3>

        <div class="margin-bottom-10"></div>
        <p>
            <small>{{ invitation.created|date }}</small>
        </p>
    </td>
    <td>
        <a href="{{ invitation.job.company.public_url }}">{{ invitation.job.company.name }}</a>
    </td>
    <td>
        <a href="{{ invitation.job.public_url }}">{{ invitation.job.title }}</a>
    </td>
    <td>
        <i class="show-message-modal dashed text-muted pointer" data-text="{{ invitation.text }}">read message</i>
    </td>
    <td>
        <span class="label label-{% switch invitation.status %}
                {% case invitation.PENDING %}warning
                {% case invitation.ACCEPTED %}success
                {% case invitation.DECLINED %}danger
                {% case invitation.WITHDRAWN %}danger
                {% endswitch %}">{{ invitation.get_status_display }}</span>
        {% if invitation.status == invitation.PENDING %}
            <p class="text-center">
                <a class="interview-invitation_withdraw font-80 dashed"
                   href="{% url 'dashboard_jm_interview_invitation_withdraw' id=invitation.id %}">withdraw</a></p>
        {% endif %}
    </td>
</tr>