{% load avatar_tags %}
{% load humanize %}
{% load switch_tag %}

<div class="comment job-application clearfix">
    {% avatar application.user 80 %}

    <div>
        <strong><a href="{{ application.user.profile.public_url }}">{{ application.user.get_full_name }}</a>
            <small class="pull-right">{{ application.updated|naturaltime|capfirst }}</small>
        </strong>

        <p>Job: <a href="{{ application.job.public_url }}">{{ application.job.title }}</a></p>
        {% if application.text %}
            <p><span class="show-message-modal dashed pointer text-muted" data-text="{{ application.text }}">Message</span></p>
        {% endif %}

        {% if application.status == application.PENDING %}
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"
                    aria-expanded="false">
                Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="#" data-toggle="modal" data-target="#invitationModal" data-user-id="{{ application.user.id }}"
                                class="job-application_accept"><i class="fa fa-check"></i> Send interview invitation</a>
                </li>
                <li>
                    <a href="{% url 'dashboard_jm_job_application_decline' id=application.id %}"
                       class="job-application_decline"><i class="fa fa-ban"></i> Decline</a>
                </li>
            </ul>
        </div>

        {% else %}
            <div class="pull-right">
                <span class="{% switch application.status %}
                {% case application.PENDING %}color-yellow
                {% case application.ACCEPTED %}color-green
                {% case application.DECLINED %}color-red
                {% case application.WITHDRAWN %}color-red
                {% endswitch %} font-80">{% if application.status == application.ACCEPTED %}Interview invitation sent{% else %}
                    {{ application.get_status_display }}{% endif %}</span>
            </div>

        {% endif %}
    </div>
</div>