{% load static %}

<div class="col-sm-7 margin-bottom-10">
    <div class="panel panel-profile">
        <div class="panel-heading overflow-h">
            <h2 class="panel-title heading-sm pull-left"><i class="fa fa-inbox"></i> &nbsp; Incoming job applications
            </h2>
            <a href="{% url 'dashboard_jm_job_applications' %}" class="pull-right font-80 see-all"> View all</a>
        </div>

        <div id="scrollbar4" class="panel-body contentHolder ps-container">
        {% if applications|length %}
            {% for application in applications %}
                {% include 'dashboard/units/recruiter-job-application_item.html' %}
            {% endfor %}
            <div class="comment" style="border: 0;"><br/><br/></div>

            {% include 'profile/_interview_invitation_modal.html' %}
        {% else %}
            <div style="margin: 10px 0 0 15px;"><i>No incoming job applications</i></div>
        {% endif %}
        </div>
    </div>
</div>