{% load avatar_tags %}
{% load humanize %}
{% load switch_tag %}

<div class="comment clearfix job-application">
    {% avatar application.job.author.user 80 %}

    <div>
        {% if application.job.company %}
            <strong><a href="{{ application.job.company.public_url }}">{{ application.job.company.name }}</a>
                <small class="pull-right"> {{ application.updated|naturaltime|capfirst }}</small>
            </strong>
            <p>
                <a class="no-link-style" href="{{ application.job.author.public_url }}">
                {{ application.job.author.user.get_full_name }}</a>
            </p>

        {% else %}
            <strong><a href="{{ application.job.author.public_url }}">{{ application.job.author.user.get_full_name }}</a>
                <small class="pull-right"> {{ application.updated|naturaltime|capfirst }}</small>
            </strong>

        {% endif %}

        <p>
            Job: <a href="{{ application.job.public_url }}">{{ application.job.title }}</a>
            {% if application.text %}
                , &nbsp; <span class="show-message-modal dashed pointer text-muted" data-text="{{ application.text }}">with message</span>
            {% endif %}
        </p>

        <div class="pull-right">
            <span class="{% switch application.status %}
            {% case application.PENDING %}color-yellow
            {% case application.ACCEPTED %}color-green
            {% case application.DECLINED %}color-red
            {% case application.WITHDRAWN %}color-red
        {% endswitch %} font-80">{% if application.status == application.ACCEPTED %}Interview invitation received{% else %}
                    {{ application.get_status_display }}{% endif %}</span>
        </div>
    </div>
</div>
