{% load static %}

<div class="col-sm-7">
    <div class="panel panel-profile">
        <div class="panel-heading overflow-h">
            <h2 class="panel-title heading-sm pull-left"><i class="fa fa-envelope-o"></i> &nbsp; My job applications
            </h2>
            <a href="{% url 'dashboard_pja_job_applications' %}" class="pull-right font-80 see-all"> View all</a>
        </div>

        <div id="scrollbar4" class="panel-body contentHolder ps-container">
        {% if applications|length %}
            {% for application in applications %}
                {% include 'dashboard/units/seeker-job-application_item.html' %}
            {% endfor %}
        {% else %}
            <div style="margin: 10px 0 0 15px;"><i>No job applications sent</i></div>
        {% endif %}
        </div>
    </div>
</div>