{% load static %}

<div class="table-search-v2 margin-bottom-20">
    <div class="panel-heading overflow-h">
        <h2 class="panel-title heading-sm pull-left"><i class="fa fa-inbox"></i> &nbsp; Interview invitations</h2>
        <a href="{% url 'dashboard_pja_interview_invitations' %}" class="pull-right font-80 see-all"> View all</a>
    </div>
    <div class="table-responsive">
    {% if invitations|length %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="hidden-sm"></th>
                <th>Recruiter</th>
                <th>Company</th>
                <th>Job</th>
                <th>Message</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {% for invitation in invitations %}
                    {% include 'dashboard/units/seeker-invitation-item.html' %}
                {% endfor %}

                <tr>
                    <td class="hidden-sm" style="border: 0;"></td>
                    <td style="border: 0;"></td>
                    <td style="border: 0;"></td>
                    <td style="border: 0;"></td>
                    <td style="border: 0;"></td>
                    <td style="border: 0;"></td>
                </tr>
            </tbody>
        </table>
    {% else %}
        <div style="margin: 10px 0 0 15px;"><i>No interview invitations</i></div>
    {% endif %}
    </div>
</div>