{% load avatar_tags %}
{% load switch_tag %}

<tr class="interview-invitation">
    <td class="hidden-sm">
        {% avatar invitation.job.author.user 80 class="rounded-x" %}
    </td>
    <td>
        <h3><a href="{{ invitation.job.author.public_url }}">{{ invitation.job.author.user.get_full_name }}</a></h3>

        <p>
            <small>{{ invitation.created|date }}</small>
        </p>
    </td>
    <td>
        <a href="{{ invitation.job.company.public_url }}">{{ invitation.job.company.name }}</a>
    </td>
    <td>
        <a href="{{ invitation.job.public_url }}">{{ invitation.job.title }}</a>
    </td>
    <td>
        <i class="show-message-modal dashed text-muted pointer" data-text="{{ invitation.text }}">read message</i>
    </td>
    <td>
        {% if invitation.status == invitation.PENDING %}
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"
                        aria-expanded="false">&nbsp;Action&nbsp;<span class="caret" style="display: inline-block;"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="{% url 'dashboard_pja_interview_invitation_accept' id=invitation.id %}"
                           class="interview-invitation_accept">
                            <i class="fa fa-check"></i> Accept</a></li>
                    <li>
                        <a href="{% url 'dashboard_pja_interview_invitation_decline' id=invitation.id %}"
                           class="interview-invitation_decline">
                            <i class="fa fa-ban"></i> Decline</a></li>
                </ul>
            </div>

        {% else %}
            <span class="label label-{% switch invitation.status %}
                {% case invitation.ACCEPTED %}success
                {% case invitation.DECLINED %}danger
                {% case invitation.WITHDRAWN %}danger
                {% endswitch %}">{{ invitation.get_status_display }}</span>
        {% endif %}
    </td>
</tr>