{% load static %}
{% load humanize %}
{% load avatar_tags %}
{% load switch_tag %}

<!--Alert-->
<div class="col-sm-5 sm-margin-bottom-30">
    <div class="panel panel-profile">
        <div class="panel-heading overflow-h">
            <h2 class="panel-title heading-sm pull-left"><i class="fa fa-info"></i> &nbsp; Contact requests</h2>
            <a href="{% url 'dashboard_pja_contact_requests' %}" class="pull-right font-80 see-all"> View all</a>
        </div>
        <div id="scrollbar3" class="panel-body contentHolder ps-container">
            {% if contact_requests|length %}
                {% for contact_request in contact_requests %}
                    {% include 'dashboard/units/seeker-contact-request-item.html' %}
                {% endfor %}
            {% else %}
            <div style="margin: 10px 0 0 15px;"><i>No requests sent</i></div>
            {% endif %}
        </div>
    </div>
</div>
<!--End Alert-->