{% load avatar_tags %}

<!--Service Block v3-->
<div class="row margin-bottom-10">
    <div class="{% if recruiter %}col-sm-6{% else %}col-sm-7{% endif %} sm-margin-bottom-20">
        <div class="service-block-v3 service-block-u">
            <i class="icon-chart2"></i>
            <span class="service-heading">Overall Personal Profile Visits</span>
            <span class="counter">52,147</span>

            <div class="clearfix margin-bottom-10"></div>

            <div class="row margin-bottom-20">
                <div class="col-xs-6 service-in">
                    <small>Last Week</small>
                    <h4 class="counter">1,385</h4>
                </div>
                <div class="col-xs-6 text-right service-in">
                    <small>Last Month</small>
                    <h4 class="counter">6,048</h4>
                </div>
            </div>
            <div class="statistics">
                <h3 class="heading-xs">Profile completion rate <span class="pull-right">67%</span></h3>

                <div class="progress progress-u progress-xxs">
                    <div style="width: 67%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="67" role="progressbar"
                         class="progress-bar progress-bar-light">
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if recruiter %}
    <div class="col-sm-6">
        <div class="service-block-v3 service-block-blue">
            <i class="icon-bars"></i>
            <span class="service-heading">Overall Recruiter Profile Views</span>
            <span class="counter">324,056</span>

            <div class="clearfix margin-bottom-10"></div>

            <div class="row margin-bottom-20">
                <div class="col-xs-6 service-in">
                    <small>Last Week</small>
                    <h4 class="counter">26,904</h4>
                </div>
                <div class="col-xs-6 text-right service-in">
                    <small>Last Month</small>
                    <h4 class="counter">124,766</h4>
                </div>
            </div>
            <div class="statistics">
                <h3 class="heading-xs">Some rate <span class="pull-right">89%</span></h3>

                <div class="progress progress-u progress-xxs">
                    <div style="width: 89%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="89" role="progressbar"
                         class="progress-bar progress-bar-light">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div><!--/end row-->
<!--End Service Block v3-->