{% load humanize %}
{% load i18n %}
{% load static %}

    {% if user.is_superuser or user.is_staff  %}
<span class="created_updated">
    {% if object.author or object.created_by %}
        {% blocktrans %}Created by {% endblocktrans %}: {%  firstof object.author object.created_by %} |
    {% endif %}
    {% if object.updated_by %}
        <span>{% blocktrans %}Updated by {% endblocktrans %}: {{ object.updated_by }}</span> |
    {% endif %}
    {% if object.updated %}
        <span>{% blocktrans %}<i>Last updated on {% endblocktrans %} {{ object.updated | apnumber }}</i></span>
    {% endif %}
</span>
    {% endif %}
