{% load humanize %}
{% load i18n admin_urls admin_static admin_list %}
{% load static %}


{% if user.is_superuser or user.is_staff  %}
    <div class="edit-area"><a href="/manage/featured/banner/{{ object.id }}/change/"><span class="icon-pencil3"></span> {% trans "edit banner" %}</a>
    </div>
{% endif %}