{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load cms_extras %}

<li>
    <a class="top-cart" href="{{ 'customer/shop/cart'|maxify }}"><span class="nav-cart icon-cart"></span>
       {{ cartitems_list.item_count|default:"0" }} {% trans "Items" %} ({{ cartitems_list.order_total_in_formatted_dollars|default:"$0.00" }})</a>
</li>
<li>
    <a class="top-checkout" href="{{ 'customer/shop/checkout'|maxify }}"> | &nbsp;&nbsp;{% trans "Checkout" %}</a>
</li>
