{% load i18n %}
{% for c in collection_carousel %}
    <div class="carousel-item">
        <div class="carousel-item-content">
            <img src="{{ c.img.url }}"/>
            <div class="collection-item"> {{ c.label }}</div>
        </div>
    </div>
    {% include 'cms-extras/cta_edit.html' %}
{% endfor %}