{% load humanize %}
{% load i18n admin_urls admin_static admin_list %}
{% load static %}


{% if user.is_superuser or user.is_staff  %}
    {% for object in object_list %}
    <div class="edit-area">
        <a href="/manage/featured/collection/{{ object.id }}/change/"><span class="icon-pencil3"></span> {% trans "edit cta collection" %}</a>
    </div>
    {% endfor %}
{% endif %}