{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load cms_extras %}

<div class="consultant-info row hide-for-small-only" >
    <div class="consultant-data" >
        <div class="consultant-name">
            {% if consultant_info_list.preferred_name %}
            {{ consultant_info_list.preferred_name }} {{ consultant_info_list.last_name }}
            {% else %}
            {{ consultant_info_list.first_name }} {{ consultant_info_list.last_name }}
            {% endif %}
        </div>
        <div class="consultant-role-wrapper">
            <div class="consultant-role">
                {% if consultant_info_list.title %}{{ consultant_info_list.title }}{% endif %}
            </div>
            <span class="consultant-role">{% if consultant_info_list.city %}{{ consultant_info_list.city }},{% endif %}</span>
            <span class="consultant-role">{% if consultant_info_list.state %}{{ consultant_info_list.state }}{% endif %}</span>
        <div class="consultant-role">{% if consultant_info_list.email %}{{ consultant_info_list.email }}{% endif %}</div>
{#        {{ request.subdomain }}.{{ request.domain }}#}
        <div class="about-me"><a href="customer/about-me">{% blocktrans %}About Me{% endblocktrans %}</a>
        </div>
        </div>
    </div>
    <div class="consultant-photo" >
    {% if consultant_info_list.profile_image_path %}
        <a class="available-photo" href="customer/about-me">
            <img src="{{ consultant_info_list.profile_image_path }}" title="{% if consultant_info_list.preferred_name %}
            {{ consultant_info_list.preferred_name }} {{ consultant_info_list.last_name }}
            {% else %}
            {{ consultant_info_list.first_name }} {{ consultant_info_list.last_name }}
            {% endif %}"></a>
    {% else %}
    <a class="no-photo" href="customer/about-me">
            <img src="{{ "/static/img/aboutme.jpg" }}" title="{% if consultant_info_list.preferred_name %}
            {{ consultant_info_list.preferred_name }} {{ consultant_info_list.last_name }}
            {% else %}
            {{ consultant_info_list.first_name }} {{ consultant_info_list.last_name }}
            {% endif %}"></a>
    {% endif %}

    </div>
</div>

