{% load i18n %}
{% for s in current_specials %}


    <div class="host-rewards-container current-specials">
                    {% if s.download_img_label %}<h5>{{ s.download_img_label }}</h5>{% endif %}
                    {% if s.download %}<a class="cta" href="{{ s.download }}">{{ s.download_label }}</a>{% endif %}
                </div>
    {% include 'cms-extras/specials_edit.html' %}
{% endfor %}