{% load humanize %}
{% load i18n admin_urls admin_static admin_list %}
{% load static %}


{#{% if user.is_superuser %}#}
            <span><a href="/manage/cmf/quote{{ q.app__label }}/{{ q.id }}/change/"><span class="icon-pencil3"></span> {% trans "edit" %}</a></span>

{#        {% endif %}#}