{% load i18n %}
{% for q in home_carousel_quotes %}
    <div class="carousel-item">
        <div class="carousel-item-content">
            {{ q.content|striptags|safe }}
        </div>
    </div>
    {% include 'cms-extras/quote_edit.html' %}
{% endfor %}