{% load i18n %}
{% for t in host_testimonials %}
    <div class="carousel-item">
        <div class="carousel-item-content">
            {{ t.content|striptags|safe }}
            <div class="quoter">&mdash;{{ t.author }}{% if t.location %}, {{ t.location }}{% endif %}</div>
        </div>
        {% include 'cms-extras/testimonial_edit.html' %}
    </div>
{% endfor %}