{% load i18n %}
{% for s in host_specials %}
    <section class="sales-section section-callout with-image-callout host" data-structure="sales-section">
		<div class="sales-container">
			<div class="wrap">
				<div class="image-callout-message">
					<div class="message-container">
						<div class="message">{{ s.title }}</div>
						{% if s.content %}<p class="sub-message">{{ s.content|striptags|safe }}</p>{% endif %}
						{% if s.download %}<a class="cta" href="{{ s.download }}"><span class="icon-download5"></span> {{ s.download_label }}</a><br/><br/>{% endif %}
						{% if s.link %}<a href="{{ s.link }}" class="button-new-white">{{ s.link_label }}</a>{% endif %}
					</div>
				</div>
				<!-- End image-callout-message -->
			</div>
			<!-- End wrap -->
			<!-- End image-callout -->

			{% if s.cta_img.url %}<img class="sales-img img-left img-left-bottom" src="{{ s.cta_img.url }}"/>{% endif %}
			{% if s.xtra_cta_img.url %}<img class="sales-img img-right-bottom" src="{{ s.xtra_cta_img.url }}"/>{% endif %}
		</div>
    {% include 'cms-extras/specials_edit.html' %}
	</section>


{% endfor %}