{% load i18n %}
{% load humanize %}
{% load cms_extras %}


{% for c in join_earn_carousel %}
    <div class="carousel-item">
        <div class="carousel-item-content">
            <h3>{{ c.label }}</h3>
            <div class="slide-half">
                <h2 class="">{{ c.cf1|striptags|maxmoney }}</h2>
                <div class="subheading">{{ c.cf2|striptags }}</div>
            </div>
            <div class="slide-half">
                <h2 class="">{{ c.cf3|striptags|maxmoney }}</h2>
                <div class="subheading">{{ c.cf4|striptags }}</div>
            </div>
        </div>
    </div>
    {% include 'cms-extras/cta_edit.html' %}
{% endfor %}