{% load i18n %}
{% for v in single_video %}
    <div class="video-container" data-structure="video-player">
        {% if v.provider == "youtube"%}
            <iframe width="100%" height="390"  src="http://www.youtube.com/embed/{{ v.video_code }}#t={{ v.start }}" frameborder="{{ v.border }}" allowfullscreen>
    </iframe>
        {% elif v.provider == "vimeo" %}
            {% if v.width or v.height %}
<iframe src="https://player.vimeo.com/video/{{ v.video_code }}" width="100%" height="390" frameborder="{{ v.border }}" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
{% endif %}
        {% endif %}
    </div>
    {% include 'cms-extras/video_edit.html' %}
{% endfor %}