{% load i18n %}
{% for v in testimonial_videos %}
    <div class="video-container" data-structure="video-player">
        {% if v.provider == "youtube" %}
            <iframe {% if v.width or v.height %} width="{{ v.width }}" height="{{ v.height }}"{% else %} width="1200" height="675" {% endif %}  src="http://www.youtube.com/embed/{{ v.video_code }}#t={{ v.start }}" frameborder="{{ v.border }}" allowfullscreen>
    </iframe>
        {% elif v.provider == "vimeo" %}
            {% if v.width or v.height %}
<iframe src="https://player.vimeo.com/video/{{ v.video_code }}" {% if v.width or v.height %} width="{{ v.width }}" height="{{ v.height }}"{% else %} width="1200" height="675"  {% endif %} frameborder="{{ v.border }}" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
{% endif %}
        {% endif %}
    </div>
    {% for rv in related_videos %}
    <span class="thumbnail-container">
        <a data-behavior="play-video" href="{% if rv.provider == "youtube" %}http://www.youtube.com/embed/</iframe>{% elif rv.provider == "vimeo" %}https://player.vimeo.com/video/{% endif %}" src="{{ rv.video_code }}"></a>
    </span>
        {% endfor %}
    {% include 'cms-extras/video_edit.html' %}
{% endfor %}