{% load humanize %}
{% load i18n admin_urls admin_static admin_list %}
{% load static %}


{% if request.user.is_superuser or request.user.is_staff  %}
    <div class="edit-area"><a href="/manage/media_manager/video{{ v.id }}/change/"><span class="icon-pencil3"></span> {% trans "edit video" %}</a>
    </div>
{% endif %}