{%  extends 'featured/featured.html' %}
{% load humanize %}
{% load i18n %}
{% load static %}
{% load cms_extras %}


{% block featured %}
   	<!-- Hero -->
		<section class="hero our-story sub-banner">
        {% for object in object_list %}
        {% if object.slug == "our-story" and object.active == True %}
            {% include 'cms-extras/banner_edit.html' %}
			<div class="hero-image" style="background-image: url('{{ object.img.url }}') !important;"></div>
        {% endif %}
    {% endfor %}
			<div class="hero-image-text">
				<div class="hero-image-text-container">
                    {% for cta in object.cta.all %}
        {% if cta.slug == "about-global-impact" and cta.active == True %}
            {% include 'cms-extras/cta_edit.html' %}
					<div class="hero-image-text-surheading">{% if cta.label %}{{ cta.label|striptags|safe }}{% endif %}</div>
					<div class="hero-image-text-heading">{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}</div>
					<div class="hero-image-text-subheading">{% if cta.sub_text %}{{ cta.sub_text|striptags|safe }}{% endif %}</div>
                    {% endif %}
    {% endfor %}
				</div>
			</div>

			<div class="hero-text">
				<div class="wrap">
					<div class="hero-text-container">
                        {% for cta in object.cta.all %}
        {% if cta.slug == "about-more-company" and cta.active == True %}
            {% include 'cms-extras/cta_edit.html' %}
						<h1>{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}</h1>
                        {% endif %}
    {% endfor %}
					</div>
				</div>
				<!-- End Wrap -->
			</div>
		</section>
		<!-- End Hero -->
		<!-- Highlights -->
		<section class="highlights">

			<div class="wrap">
				<div class="highlight column small-4">
					<div class="highlight-icon">
						<svg>
							<use xlink:href="#party-icon"/>
						</svg>
					</div>
                {% for cta in object.cta.all %}
                    {% if cta.slug == "about-your-family" and cta.active == True %}
                        {% include 'cms-extras/cta_edit.html' %}
					<div class="highlight-heading">
						{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}
					</div>
					<div class="highlight-body">
						{% if cta.sub_text %}{{ cta.sub_text|striptags|safe }}{% endif %}
					</div>
					<div class="highlight-footer">
                        {% if request.subdomain and cta.is_pws == True %}
                            <a href="{% if cta.pws_link %}{{ cta.pws_link }}{% endif %}">{% if cta.pws_link_label %}{{ cta.pws_link_label|striptags|safe }}{% endif %}</a>
                        {% else %}
                            <a href="{% if cta.link %}{{ cta.link }}{% endif %}">{% if cta.link_label %}{{ cta.link_label|striptags|safe }}{% endif %}</a>
                        {% endif %}
						<a href="{% if cta.xtralink %}{{ cta.xtralink }}{% endif %}">{% if cta.xtralink_label %}{{ cta.xtralink_label|striptags|safe }}{% endif %}</a>
					</div>
                    {% endif %}
                {% endfor %}
				</div>
				<div class="highlight column small-4">
					<div class="highlight-icon about-blue">
						<svg>
							<use xlink:href="#green-house"/>
						</svg>
					</div>
                    {% for cta in object.cta.all %}
                    {% if cta.slug == "about-our-consultants" and cta.active == True %}
                        {% include 'cms-extras/cta_edit.html' %}
					<div class="highlight-heading">
						{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}
					</div>
					<div class="highlight-body">
						{% if cta.sub_text %}{{ cta.sub_text|striptags|safe }}{% endif %}
					</div>
					<div class="highlight-footer">
						<a href="{% if cta.link %}{{ cta.link }}{% endif %}">{% if cta.link %}{{ cta.link_label|striptags|safe }}{% endif %}</a>
					</div>
                    {% endif %}
                {% endfor %}
				</div>

				<div class="highlight column small-4">
					<div class="highlight-icon">
						<svg>
							<use xlink:href="#green-globe"/>
						</svg>
					</div>
                    {% for cta in object.cta.all %}
                    {% if cta.slug == "about-our-planet" and cta.active == True %}
                        {% include 'cms-extras/cta_edit.html' %}
					<div class="highlight-heading">
						{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}
					</div>
					<div class="highlight-body">
						{% if cta.sub_text %}{{ cta.sub_text|striptags|safe }}{% endif %}
					</div>
					<div class="highlight-footer">
						<a href="{% if cta.link %}{{ cta.link }}{% endif %}">{% if cta.link_label %}{{ cta.link_label|striptags|safe }}{% endif %}</a>
					</div>
                    {% endif %}
                {% endfor %}
				</div>
			</div>

		</section>
		<!-- End Highlights -->
		<!-- Heritage -->
		<section class="row heritage half-section">
			<div class="wrap">
				<!-- Icon Divider -->
				<div class="icon-divider-heading">
					<div class="divider-container">
						<div class="icon-divider"></div>
						<div class="icon-container">
                            <span class="divicon-size divicon-blue icon-nwx-bug"></span>
{#							<svg>#}
{#								<use xlink:href="#insect-icon" />#}
{#							</svg>#}
						</div>
					</div>
					<!-- End divider-container -->
				</div>
				<!-- End icon-divider-heading -->
                {% for cta in object.cta.all %}
                    {% if cta.slug == "about-it-all-began-norway-photo" and cta.active == True %}
				<div class="small-12 medium-6 large-6 columns">
                {% include 'cms-extras/cta_edit.html' %}
                {% if cta.img.url %}
                    <img src="{{ cta.img.url }}">
                {% endif %}
                </div>
                    {% endif %}
                {% endfor %}
                {% for cta in object.cta.all %}
                    {% if cta.slug == "about-it-all-began-norway" and cta.active == True %}
				<div class="small-12 medium-6 large-6 columns half-section-content">
					<h2>{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}</h2>
					<p>{% if cta.sub_text %}{{ cta.sub_text|striptags|safe }}{% endif %}</p>
					<a href="{% if cta.link %}{{ cta.link }}{% endif %}" class="button-new-blue">{% if cta.link_label %}{{ cta.link_label|striptags|safe }}{% endif %}</a>
                {% include 'cms-extras/cta_edit.html' %}
				</div>
            {% endif %}
                {% endfor %}
			</div>
			<!-- End wrap -->
		</section>
		<!-- Heritage -->
		<!-- Quote Section -->
		<section class="quote-section">
			<div class="wrap">
                {% for cta in object.cta.all %}
                    {% if cta.slug == "about-meet-our-leadership" and cta.active == True %}
				<div class="quote-container">
					<div class="blockquote">{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}</div>
					<div class="quoter">{% if cta.sub_text %}{{ cta.sub_text|striptags|safe }}{% endif %}</div>
					<a href="{% if cta.link %}{{ cta.link }}{% endif %}" class="cta">{% if cta.link_label %}{{ cta.link_label }}{% endif %}</a>
                {% include 'cms-extras/cta_edit.html' %}
				</div>
                {% endif %}
                {% endfor %}
				<!-- End quote container -->
			</div>
			<!-- End wrap -->
		</section>
		<!-- End Quote Section -->
		<!-- Purpose Section -->
		<section class="purpose section-callout">
			<div class="wrap">
				<!-- Icon Divider -->
				<div class="icon-divider-heading">
					<div class="divider-container">
						<div class="icon-divider"></div>
						<div class="icon-container">
							<svg>
								<use xlink:href="#join" />
							</svg>
						</div>
					</div>
					<!-- End divider-container -->
				</div>
				<!-- End icon-divider-heading -->
                {% for cta in object.cta.all %}
                    {% if cta.slug == "about-simple-powerful-purpose" and cta.active == True %}
                        {% include 'cms-extras/cta_edit.html' %}
				<h2>{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}</h2>
				<div class="sub-heading-container">
					<p class="sub-heading alt">{% if cta.sub_text %}{{ cta.sub_text|striptags|safe }}{% endif %}</p>
				</div>
                {% endif %}
                {% endfor %}
				<div class="stat-callout-container">
					<div class="flip-container stat-callout" data-mh data-structure="flip-container">
						<div class="flipper">
							<div class="front">
								<span class="icon-nwx-labs icn-nwx-lab-fonts"></span>
                                {% for cta in object.cta.all %}
                    {% if cta.slug == "about-last-50-years" and cta.active == True %}
                        {% include 'cms-extras/cta_edit.html' %}
								<p>{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}</p>
                                {% endif %}
                {% endfor %}
							</div>
							<div class="back">
								<svg>
									<use xlink:href="#norwex-logo" />
								</svg>
                                {% for cta in object.cta.all %}
                    {% if cta.slug == "about-last-50-years" and cta.active == True %}
                        {% include 'cms-extras/cta_edit.html' %}
								<p>{% if cta.sub_text %}{{ cta.sub_text|striptags|safe }}{% endif %}</p>
                                {% endif %}
                {% endfor %}
							</div>
						</div>
					</div>
					<!-- End stat-callout -->
					<div class="flip-container stat-callout" data-mh data-structure="flip-container">
						<div class="flipper">
							<div class="front">
								<span class="icon-nwx-labs icn-nwx-lab-fonts"></span>
                                {% for cta in object.cta.all %}
                    {% if cta.slug == "about-creating-safe-havens" and cta.active == True %}
                        {% include 'cms-extras/cta_edit.html' %}
								<p>{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}</p>
                                {% endif %}
                {% endfor %}
							</div>
							<div class="back">
								<svg>
									<use xlink:href="#norwex-logo" />
								</svg>
                                {% for cta in object.cta.all %}
                    {% if cta.slug == "about-creating-safe-havens" and cta.active == True %}
                        {% include 'cms-extras/cta_edit.html' %}
								<p>{% if cta.sub_text %}{{ cta.sub_text|striptags|safe }}{% endif %}</p>
                                {% endif %}
                {% endfor %}
							</div>
						</div>
					</div>
					<!-- End stat-callout -->
					<div class="flip-container stat-callout" data-mh data-structure="flip-container">
						<div class="flipper">
							<div class="front">
								<span class="icon-nwx-labs icn-nwx-lab-fonts"></span>
                                {% for cta in object.cta.all %}
                    {% if cta.slug == "about-norwex-microfiber" and cta.active == True %}
                        {% include 'cms-extras/cta_edit.html' %}
								<p>{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}</p>
                                {% endif %}
                {% endfor %}
							</div>
							<div class="back">
								<svg>
									<use xlink:href="#norwex-logo" />
								</svg>
                                {% for cta in object.cta.all %}
                    {% if cta.slug == "about-norwex-microfiber" and cta.active == True %}
                        {% include 'cms-extras/cta_edit.html' %}
								<p>{% if cta.sub_text %}{{ cta.sub_text|striptags|safe }}{% endif %}</p>
                                {% endif %}
                {% endfor %}
							</div>
						</div>
					</div>
					<!-- End stat-callout -->
					<div class="flip-container stat-callout" data-mh data-structure="flip-container">
						<div class="flipper">
							<div class="front">
								<span class="icon-nwx-labs icn-nwx-lab-fonts"></span>
                                {% for cta in object.cta.all %}
                    {% if cta.slug == "about-indoor-air-polution" and cta.active == True %}
                        {% include 'cms-extras/cta_edit.html' %}
								<p>{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}</p>
                    {% endif %}
                {% endfor %}
							</div>
							<div class="back">
								<svg>
									<use xlink:href="#norwex-logo" />
								</svg>
                                {% for cta in object.cta.all %}
                    {% if cta.slug == "about-indoor-air-polution" and cta.active == True %}
                        {% include 'cms-extras/cta_edit.html' %}
								<p>{% if cta.sub_text %}{{ cta.sub_text|striptags|safe }}{% endif %}</p>
                                {% endif %}
                {% endfor %}
							</div>
						</div>
					</div>
					<!-- End stat-callout -->
				</div>
				<!-- End stat-callouts -->
			</div>
			<!-- End wrap -->
		</section>
		<!-- End Purpose Section -->
		<!-- Vision Section -->


		<section class="vision leaf-background">
			<!-- Icon Divider -->
			<div class="icon-divider-heading">
				<div class="wrap">
					<div class="divider-container">
						<div class="icon-divider"></div>
						<div class="icon-container">
							<svg>
								<use xlink:href="#earth-icon" />
							</svg>
						</div>
					</div>
				</div>
			</div>
			<div class="wrap"
                {% for cta in object.cta.all %}
                    {% if cta.slug == "about-real-people-real-impact" and cta.active == True %}
                        style="background-image: url('{{ cta.img.url }}') !important; background-size: 100%; background-repeat: no-repeat;"
                    {% endif %}
                {% endfor %}>
            {% for cta in object.cta.all %}
                {% if cta.slug == "about-real-people-real-impact" and cta.active == True %}
                    {% include 'cms-extras/cta_edit.html' %}
				<h2 class="green">{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}</h2>
				<div class="sub-heading-container">
					<p class="sub-heading alt">{% if cta.sub_text %}{{ cta.sub_text|striptags|safe }}{% endif %}</p>
				</div>
            {% endif %}
                {% endfor %}
				<div class="collage">
					<div>
                        {% for cta in object.cta.all %}
                            {% if cta.slug == "about-improving-quality-life" and cta.active == True %}
                                <div class="large-image tall">
                                    <p>{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% for cta in object.cta.all|dictsort:"sort_order" %}
                            {% if cta.collection.slug == "about-collage-right" and cta.collection.active == True and cta.img.url %}
                                <div class="small-image"><img src="{{ cta.img.url }}"></div>
                            {% endif %}
                        {% endfor %}
					</div>
					<div>
                        {% for cta in object.cta.all|dictsort:"sort_order" %}
                            {% if cta.collection.slug == "about-collage-left" and cta.collection.active == True and cta.img.url %}
                                <div class="small-image"><img src="{{ cta.img.url }}"></div>
                            {% endif %}
                        {% endfor %}
					</div>
				</div>
				<!-- End collage -->
            {% for cta in object.cta.all %}
                {% if cta.slug == "about-were-making-powerful-difference" and cta.active == True %}
                    <div>
                    {% include 'cms-extras/cta_edit.html' %}
				<div class="collective"> <h3 class="green">{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}</h3></div>
				<div class="sub-heading-container">
					<p class="sub-heading alt">{% if cta.sub_text %}{{ cta.sub_text|striptags|safe }}{% endif %}</p>
				</div>
                    </div>
            {% endif %}
                {% endfor %}
			</div>
			<!-- End wrap -->
			<!-- Circle Buttons -->
			<div class="wrap">
                {% for cta in object.cta.all %}
                {% if cta.slug == "about-what-will-your-promise" and cta.active == True %}
                    {% include 'cms-extras/cta_edit.html' %}
				<h4>{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}</h4>
                {% endif %}
                {% endfor %}
				<div class="circle-buttons">
                    {% for cta in object.cta.all %}
                {% if cta.slug == "home-anchor-shop" and cta.active == True %}
					<div class="circle-button-container">
                    {% include 'cms-extras/cta_edit.html' %}
						<a class="shop right" {% if request.subdomain and cta.is_pws == True %}
                           href="{{ cta.pws_link|maxify }}"
                           {% else %}
                           href="{{ cta.link|maxify }}"
                           {% endif %}>
							<span>{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}</span>
							<svg>
								<use xlink:href="#right-arrow"/>
							</svg>
						</a>
						<div class="explanation">{% if cta.sub_text %}{{ cta.sub_text|striptags|safe }}{% endif %}</div>
					</div>
                {% endif %}
                {% endfor %}
					{% for cta in object.cta.all %}
                {% if cta.slug == "home-anchor-host" and cta.active == True %}
					<div class="circle-button-container">
                    {% include 'cms-extras/cta_edit.html' %}
						<a class="host right" {% if request.subdomain and cta.is_pws == True %}
                           href="{{ cta.pws_link|urlizeme }}"
                           {% else %}
                           href="{{ cta.link|urlizeme }}"
                           {% endif %}
                        >
							<span>{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}</span>
							<svg>
								<use xlink:href="#right-arrow"/>
							</svg>
						</a>
						<div class="explanation">{% if cta.sub_text %}{{ cta.sub_text|striptags|safe }}{% endif %}</div>
					</div>
                {% endif %}
                {% endfor %}
					{% for cta in object.cta.all %}
                {% if cta.slug == "home-anchor-join" and cta.active == True %}
					<div class="circle-button-container">
                    {% include 'cms-extras/cta_edit.html' %}
						<a class="join right" {% if request.subdomain and cta.is_pws == True %}
                           href="{{ cta.pws_link|urlizeme }}"
                           {% else %}
                           href="{{ cta.link|urlizeme }}"
                           {% endif %}
                        >
							<span>{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}</span>
							<svg>
								<use xlink:href="#right-arrow"/>
							</svg>
						</a>
						<div class="explanation">{% if cta.sub_text %}{{ cta.sub_text|striptags|safe }}{% endif %}</div>
					</div>
                {% endif %}
                {% endfor %}
					{% for cta in object.cta.all %}
                {% if cta.slug == "home-anchor-learn" and cta.active == True %}
					<div class="circle-button-container">
                    {% include 'cms-extras/cta_edit.html' %}
						<a class="learn right"
                           {% if request.subdomain and cta.is_pws == True %}
                           href="{{ cta.pws_link }}"
                           {% else %}
                           href="{{ cta.link }}"
                           {% endif %}
                        >
							<span>{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}</span>
							<svg>
								<use xlink:href="#right-arrow"/>
							</svg>
						</a>
						<div class="explanation">{% if cta.sub_text %}{{ cta.sub_text|striptags|safe }}{% endif %}</div>
					</div>
                {% endif %}
                {% endfor %}
				</div>
			</div>
			<!-- End Circle Buttons -->
			<div class="background-leaves-container">
				<div class="leaf-container" data-behavior="parallax-medium">
					<svg>
						<use xlink:href="#leaf" />
					</svg>
				</div>
				<div class="leaf-container" data-behavior="parallax-slow">
					<svg>
						<use xlink:href="#leaf" />
					</svg>
				</div>
				<div class="leaf-container" data-behavior="parallax-fast">
					<svg>
						<use xlink:href="#leaf" />
					</svg>
				</div>
				<div class="leaf-container" data-behavior="parallax-fast">
					<svg>
						<use xlink:href="#leaf" />
					</svg>
				</div>
				<div class="leaf-container" data-behavior="parallax-medium">
					<svg>
						<use xlink:href="#leaf" />
					</svg>
				</div>
				<div class="leaf-container" data-behavior="parallax-slow">
					<svg>
						<use xlink:href="#leaf" />
					</svg>
				</div>
			</div>
		</section>
		<!-- End Vision Section -->
{% endblock %}
