{%  extends 'featured/featured.html' %}
{% load humanize %}
{% load i18n %}
{% load static %}

{% block title %}{% endblock %}


{% block featured %}
    <!-- Hero -->
    <section class="charitable-partners ">
        {% for cta in object.cta.all %}
            {% if cta.slug == "charitable-partners" %}
{#                <div class="hero-image" data-behavior="hero-parallax"></div>#}
                <div class="hero-content-wrap">
                    <div class="hero-text-no-circle">
                        {% include 'cms-extras/cta_edit.html' %}
                        <div class="hero-image-text-surheading">{% if cta.label %}{{ cta.label }}{% endif %}</div>
                        <div class="hero-image-text-heading">{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}</div>
                    </div>
                </div>
                <div class="hero-text">
                    <div class="wrap">
                        <div class="hero-text-container">
                            <div class="row">
                                <div class="columns">
                                    <div class="hero-intro">{% if cta.sub_text %}{{ cta.sub_text|safe }}{% endif %}</div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Wrap -->
                </div>
            {% endif %}
        {% endfor %}
    </section>
    <div class="row">
        <div class="small-12">
            <div class="icon-seperator">
                <i class="icon-nwx-leaflet green"></i>
            </div>
        </div>
    </div>
    <section class="text-left">
        <div class="wrap">
            <div class="row pbg">
                {% for cta in object.cta.all %}
                    {% if cta.slug == "key-partner" and cta.active == True %}
                        <div class="medium-6 columns">
                            {% include 'cms-extras/cta_edit.html' %}
                            <h1 class="teal">{% if cta.label %}{{ cta.label }}{% endif %}</h1>
                            {#					<img src="assets/images/shop/cleaning-paste.png" alt="Cleaning Paste" class="show-for-small-only">#}
                            <p>{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}<a href="{% if cta.link %}{{ cta.link }}{% endif %}" class="green" target="_blank"> {% if cta.link_label %}{{ cta.link_label }}{% endif %} <i class="icon icon-newtab2"></i></a></p>
                        </div>
                        <div class="medium-6 columns show-for-medium text-center ptg xs-ptl">
                            <img src="{% if cta.img.url %}{{ cta.img.url }}{% endif %}" alt="{% if cta.label %}{{ cta.label }}{% endif %}">
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        <div class="row pbl">
        {% include 'cms-extras/collection_edit.html' %}
            {% for cta in object.cta.all|dictsort:"sort_order" %}
                {% if cta.collection.slug == "consultants-helping" and cta.collection.active == True %}
                        <div class="small-6 medium-3 columns xs-mbl">
                            {% include 'cms-extras/cta_edit.html' %}
                            <img src="{% if cta.img.url %}{{ cta.img.url }}{% endif %}">
                        </div>

                {% endif %}
            {% endfor %}
        </div>
        </div>

        <div class="row pbg">
            {% for cta in object.cta.all|dictsort:"sort_order" %}
                {% if cta.collection.slug == "consultants-helping" and cta.collection.active == True %}
                    {% if cta.collection.description %}<div class="small-12 columns"><p><small><em>{{ cta.collection.description|striptags|safe }}</em></small></p></div>{% endif %}
                {% endif %}
            {% endfor %}
        </div>

        <div class="row">
            <div class="small-12">
                <div class="icon-seperator">
                    <i class="icon-nwx-leaflet green"></i>
                </div>
            </div>
        </div>

    <div class="row pbg ptg">
        {% for cta in object.cta.all %}
                    {% if cta.slug == "local-partners" and cta.active == True %}
                        {% include 'cms-extras/cta_edit.html' %}
			<div class="small-12 medium-6 columns">
				<h2 class="h1 teal">{% if cta.label %}{{ cta.label|striptags|safe }}{% endif %}</h2>
{#				<img src="assets/images/shop/cleaning-paste.png" alt="Cleaning Paste" class="show-for-small-only">#}
				<p>{% if cta.hero_text %}{{ cta.hero_text|safe }}{% endif %}</p>
			</div>
			<div class="small-12 medium-6 columns show-for-medium text-center ptg xs-ptl">
				<img src="{{ cta.img.url }}" alt="{% if cta.label %}{{ cta.label|striptags|safe }}{% endif %}">
			</div>
        {% endif %}
        {% endfor %}
		</div>
		<hr>


        {% for cta in object.cta.all|dictsort:"sort_order" %}
            {% if cta.collection.slug == "local-partners" and cta.collection.active == True %}
                <div class="row pbg ptg">
                    {% include 'cms-extras/cta_edit.html' %}
                    <div class="medium-3 columns">
                        {% if cta.img.url %}<img src="{{ cta.img.url }}{% endif %}" alt="{% if cta.label %}{{ cta.label }}">{% endif %}
                    </div>
                    <div class="medium-8 medium-pull-1 columns show-for-medium">
                        <div>
                        <h4 class="proxima-nova-b">{% if cta.label %}{{ cta.label }}{% endif %}</h4>
{% if cta.link %}<a href="{{ cta.link }}" class="green" target="_blank"> {% if cta.link_label and cta.link_label != 'Submit' %}{{ cta.link_label }}{% endif %}</a>{% endif %}
                        </div>
                        <p>{% if cta.hero_text %}{{ cta.hero_text|safe }}{% endif %}</p>
                        {% include 'util/revision/_revision.html' %}
                    </div>
                </div>
                <hr>
            {% endif %}
        {% endfor %}
    </section>

<div class="container dual-cta">
{% for s in snippet %}
                {% if s.slug == "about-our-global-mission" and s.active == True %}
	<div class="small-12 medium-6 large-6 columns dual-cta__item dual-cta__item--bgbulbs dual-cta__item--green">
		<div class="dual-cta__content">
        {% include 'cms-extras/snippet_edit.html' %}
			{% if s.label %}<h2 class="dual-cta__heading">{{ s.label }}</h2>{% endif %}
			{% if s.content %}<h3 class="dual-cta__text" data-mh="ctatext">{{ s.content|striptags|safe }}</h3>{% endif %}
			{% if s.link %}<div class="dual-cta__cta">
				<a href="#{{ s.link }}" class="dual-cta__button button ">{{ s.link_label }}</a>
			</div>{% endif %}
		</div>
	</div>
{% endif %}
        {% endfor %}
{% for s in snippet %}
        {% if s.slug == "about-what-will-your-legacy-be" and s.active == True %}
	<div class="small-12 medium-6 large-6 columns  dual-cta__item dual-cta__item--bgbulbs dual-cta__item--teal">
		<div class="dual-cta__content">
        {% include 'cms-extras/snippet_edit.html' %}
			{% if s.label %}<h2 class="dual-cta__heading">{{ s.label }}</h2>{% endif %}
			{% if s.content %}<h3 class="dual-cta__text" data-mh="ctatext">{{ s.content|striptags|safe }}</h3>{% endif %}
			{% if s.link %}<div class="dual-cta__cta">
				<a href="{{ s.link }}" class="dual-cta__button button ">{{ s.link_label }}</a>
			</div>{% endif %}
		</div>
	</div>
{% endif %}
        {% endfor %}
</div>
{% endblock %}