{%  extends 'base.html' %}
{% load humanize %}
{% load i18n %}
{% load static %}
{% load cms_extras %}


{% block title %}{% endblock %}

{% block featured %}
<div class="home-landing">
            <section class="hero">
			<div class="hero-image" style="background-image: url('{% if object.img.url %}{{ object.img.url }}{% endif %}') !important;"></div>

            {% for cta in object.cta.all %}
        {% if cta.slug == "home-hero" and cta.active == True %}

                <div class="hero-image-text">
                {% include 'cms-extras/cta_edit.html' %}
                    <div class="hero-image-text-icon">
                        <svg><use xlink:href="#green-house" /></svg>
                    </div>
                    <div class="hero-image-text-heading">{{ cta.hero_text|striptags|safe }}</div>
                    <div class="hero-image-text-subheading">{{ cta.cf1|striptags|safe }}</div>
                    <div class="hero-image-text-shop-button">
                        {% if request.subdomain and cta.is_pws == True %}
                            <a href="{{ cta.pws_link|maxify }}"><button class="cta">{{ cta.pws_link_label }}</button></a>
                        {% else %}
                            <a href="{{ cta.link|maxify }}"><button class="cta">{{ cta.link_label }}</button></a>
                        {% endif %}
                    </div>
                </div>
                <div class="hero-text">
                    <div class="wrap">
                        <div class="hero-text-container">
                            {% include 'cms-extras/cta_edit.html' %}
                            <h1>{{ cta.sub_text|striptags|safe }}</h1>
                        </div>
                    </div><!-- End Wrap -->
                </div>
            {% endif %}
    {% endfor %}
            </section>

    <!-- End Hero -->

    <!-- Circle Buttons -->
    <section class="circle-buttons">
        <div class="wrap">
            {% for cta in object.cta.all %}
                {% if cta.slug == "home-anchor-shop" and cta.active == True %}
                    <div class="circle-button-container">
                    {% include 'cms-extras/cta_edit.html' %}
                        <a class="shop" data-behavior="scroll-to" data-target="shop-section">
                            <span>{{ cta.hero_text|striptags|safe }}</span>
                            <svg><use xlink:href="#down-arrow"/></svg>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}

            {% for cta in object.cta.all %}
                {% if cta.slug == "home-anchor-host" and cta.active == True %}
                    <div class="circle-button-container">
                    {% include 'cms-extras/cta_edit.html' %}
                        <a class="host" data-behavior="scroll-to" data-target="host-section">
                            <span>{{ cta.hero_text|striptags|safe }}</span>
                            <svg><use xlink:href="#down-arrow"/></svg>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}

            {% for cta in object.cta.all %}
                {% if cta.slug == "home-anchor-join" and cta.active == True %}
                    <div class="circle-button-container">
                    {% include 'cms-extras/cta_edit.html' %}
                        <a class="join" data-behavior="scroll-to" data-target="join-section">
                            <span>{{ cta.hero_text|striptags|safe}}</span>
                            <svg><use xlink:href="#down-arrow"/></svg>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}

            {% for cta in object.cta.all %}
                {% if cta.slug == "home-anchor-learn" and cta.active == True %}
                    <div class="circle-button-container">
                    {% include 'cms-extras/cta_edit.html' %}
                        <a class="learn" data-behavior="scroll-to" data-target="learn-section">
                            <span>{{ cta.hero_text|striptags|safe }}</span>
{#                            <span class="divicon-size divicon-blue icon-arrow-down"></span>#}
                            <svg><use xlink:href="#down-arrow"/></svg>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
    <!-- End Circle Buttons -->

    <!-- Shop Section -->
    {% for cta in object.cta.all %}
        {% if cta.slug == "home-shop-products" and cta.active == True %}
            <section class="shop-section section-callout with-image-callout" data-structure="shop-section">
                <!-- Icon Divider -->
                <div class="icon-divider-heading">
                    <div class="wrap">
                        <div class="divider-container">
                            <div class="icon-divider"></div>
                            <div class="icon-container">
{#                                <span class="divicon-size divicon-blue icon-nwx-bag"></span>#}
                                <svg><use xlink:href="#shopping-bag" /></svg>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Icon Divider -->
                {% include 'cms-extras/cta_edit.html' %}
                <h2 class="massive">{{ cta.hero_text|striptags|safe }}</h2>
                <div class="sub-heading">{{ cta.sub_text|striptags|safe }}</div>

                {% for ctaCallout in object.cta.all %}
                    {% if ctaCallout.slug == "home-shop-products-callout" and ctaCallout.active == True %}
                        <div class="image-callout" style="background-image: url('{{ cta.img.url }}') !important;">
                            <div class="wrap">
                                <div class="image-callout-message">
                                    <div class="message-container">
                                        {% include 'cms-extras/cta_edit.html' %}
                                        <div class="message">{{ ctaCallout.hero_text|striptags|safe }}</div>
                                        {% if request.subdomain and ctaCallout.is_pws == True %}
                                        <a class="cta" href="{{ ctaCallout.pws_link|urlizeme }}">{{ ctaCallout.pws_link_label|striptags|safe }}</a>
                                            {% else %}
                                            <a class="cta" href="{{ ctaCallout.link|urlizeme }}">{{ ctaCallout.link_label|striptags|safe }}</a>
                                            {% endif %}
                                    </div>
                                </div><!-- End image-callout-message -->
                            </div><!-- End wrap -->
                        </div><!-- End image-callout -->
                        </section>
                    {% endif %}
                {% endfor %}
        {% endif %}
    {% endfor %}
    <!-- End Shop Section -->

    <!-- Host Section -->
    {% for cta in object.cta.all %}
        {% if cta.slug == "home-host-party" and cta.active == True %}
            <section class="host-section section-callout with-image-callout"  data-structure="host-section">
                <!-- Icon Divider -->
                <div class="icon-divider-heading">
                    <div class="wrap">
                        <div class="divider-container">
                            <div class="icon-divider"></div>
                            <div class="icon-container host-yellow">
                                <svg><use xlink:href="#party-icon" /></svg>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Icon Divider -->
                {% include 'cms-extras/cta_edit.html' %}
                <h2 class="massive yellow">{{ cta.hero_text|striptags|safe }}</h2>
                <div class="sub-heading">{{ cta.sub_text|striptags|safe }}</div>

                {% for ctaCallout in object.cta.all %}
                    {% if ctaCallout.slug == "home-host-party-callout" and ctaCallout.active == True %}
                        <div class="image-callout" style="background-image: url('{{ cta.img.url }}') !important;">
                            <div class="wrap">
                                <div class="image-callout-message host-square">
                                    <div class="message-container">
                                        {% include 'cms-extras/cta_edit.html' %}
                                        <div class="message">{{ ctaCallout.hero_text|striptags|safe }}</div>

                                    {% if request.subdomain and ctaCallout.is_pws == True %}
                                        <a class="cta" href="{{ ctaCallout.pws_link|urlizeme }}">{{ ctaCallout.pws_link_label|striptags|safe }}</a>
                                            {% else %}
                                            <a class="cta" href="{{ ctaCallout.link|urlizeme }}">{{ ctaCallout.link_label|striptags|safe }}</a>
                                            {% endif %}


                                    </div>
                                </div><!-- End image-callout-message -->
                            </div><!-- End wrap -->
                        </div><!-- End image-callout -->
                    {% endif %}
                {% endfor %}
            </section>
        {% endif %}
    {% endfor %}
    <!-- End Host Section -->

    <!-- Join Section -->
    {% for cta in object.cta.all %}
        {% if cta.slug == "home-join-our-family" and cta.active == True %}
            <section class="join-section section-callout with-image-callout" data-structure="join-section">
                <!-- Icon Divider -->
                <div class="icon-divider-heading">
                    <div class="wrap">
                        <div class="divider-container">
                            <div class="icon-divider"></div>
                            <div class="icon-container join-purple">
                                <svg><use xlink:href="#join" /></svg>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Icon Divider -->
                {% include 'cms-extras/cta_edit.html' %}
                <h2 class="massive purple">{{ cta.hero_text|striptags|safe }}</h2>
                <div class="sub-heading">{{ cta.sub_text|safe }}
                    <!--A home business offers you the opportunity to be your own boss and set your own hours. A Norwex home business offers all that plus a <strong>35% sales commission</strong> and the chance to make a real impact on the real health and environmental challenges of our day.--></div>

                {% for ctaCallout in object.cta.all %}
                    {% if ctaCallout.slug == "home-join-our-family-callout" and ctaCallout.active == True %}
                        <div class="image-callout" style="background-image: url('{{ cta.img.url }}') !important;">
                            <div class="wrap">
                                <div class="image-callout-message join-circle">
                                    <div class="message-container">
                                        {% include 'cms-extras/cta_edit.html' %}
                                        <div class="message">{{ ctaCallout.hero_text|striptags|safe }}</div>
{#                                        <a class="cta" href="{{ ctaCallout.link|urlizeme }}">{{ ctaCallout.link_label|striptags|safe }}</a>#}

                                        {% if request.subdomain and ctaCallout.is_pws == True %}
                                        <a class="cta" href="{{ ctaCallout.pws_link|urlizeme }}">{{ ctaCallout.pws_link_label|striptags|safe }}</a>
                                            {% else %}
                                            <a class="cta" href="{{ ctaCallout.link|urlizeme }}">{{ ctaCallout.link_label|striptags|safe }}</a>
                                            {% endif %}
                                    </div>
                                </div><!-- End image-callout-message -->
                            </div><!-- End wrap -->
                        </div><!-- End image-callout -->
                    {% endif %}
                {% endfor %}
            </section>
        {% endif %}
    {% endfor %}
    <!-- End Join Section -->

    <!-- About Movement Section -->
    {% for cta in object.cta.all %}
        {% if cta.slug == "home-about-movement" and cta.active == True %}
            <section class="about-movement-section leaf-background" data-structure="learn-section">
                <!-- Icon Divider -->
                <div class="icon-divider-heading">
                    <div class="wrap">
                        <div class="divider-container">
                            <div class="icon-divider"></div>
                            <div class="icon-container">
                                <svg><use xlink:href="#light-bulb" /></svg>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'cms-extras/cta_edit.html' %}
                <!-- End Icon Divider -->

                <h2 class="massive green">{{ cta.hero_text|striptags|safe }}</h2>
                <div class="sub-heading">{{ cta.sub_text|striptags|safe }}</div>

                <div class="wrap">
                    <div class="wrap inner">
                        <div class="carousel-container">
                            <a class="slick-prev" data-behavior="slick-prev"><svg><use xlink:href="#down-arrow"/></svg></a>
                            <a class="slick-next" data-behavior="slick-next"><svg><use xlink:href="#down-arrow"/></svg></a>
                            <div class="carousel border-carousel" data-behavior="default-carousel" data-dots="true">
                                {#                  <div class="carousel-item">#}
                                {#                    <div class="carousel-item-content">#}
                                {%  home_carousel_quotes %}
                                {#                        </div>#}
                                {#                  </div>#}
                                {#                    <!-- End carousel item -->#}
                            </div><!-- End carousel -->
                        </div><!-- End carousel-container -->

                        {% for cta in object.cta.all %}
                            {% if cta.slug == "home-about-movement-callout" and cta.active == True %}
                                <div class="movement-callout">
                                {% include 'cms-extras/cta_edit.html' %}
                                    <div>{{ cta.hero_text|striptags|safe }}</div>
                                    <div class="movement-callout-link">
                                        <a href="{{ cta.link }}" target="_blank">{{ cta.link_label|striptags|safe }}</a>
                                        <svg><use xlink:href="#external-link"/></svg>
                                    </div><!-- End movement-callout-link -->
                                </div><!-- End movement-callout -->
                            {% endif %}
                        {% endfor %}
                    </div><!-- End inner-wrap -->
                </div><!-- End wrap -->

                <div class="background-leaves-container">
                    <div class="leaf-container" data-behavior="parallax-medium"><svg><use xlink:href="#leaf" /></svg></div>
                    <div class="leaf-container" data-behavior="parallax-slow"><svg><use xlink:href="#leaf" /></svg></div>
                    <div class="leaf-container" data-behavior="parallax-fast"><svg><use xlink:href="#leaf" /></svg></div>
                    <div class="leaf-container" data-behavior="parallax-fast"><svg><use xlink:href="#leaf" /></svg></div>
                    <div class="leaf-container" data-behavior="parallax-medium"><svg><use xlink:href="#leaf" /></svg></div>
                    <div class="leaf-container" data-behavior="parallax-slow"><svg><use xlink:href="#leaf" /></svg></div>
                </div>
            </section>
        {% endif %}
    {% endfor %}
    <!-- End About Movement Section -->

    <!--
	-->
    </div>
{% endblock %}
