{%  extends 'featured/featured.html' %}
{% load humanize %}
{% load i18n %}
{% load static %}
{% load cms_extras %}

{% block title %}{% endblock %}

{% block featured %}
    <!-- Hero -->
    <section class="hero host sub-banner">
        {#		<div class="hero-image" data-behavior="hero-parallax"></div>#}
        {% for object in object_list %}
            {% if object.slug == "host" and object.active == True %}
                {% include 'cms-extras/banner_edit.html' %}
                <div class="hero-image" style="background-image: url('{{ object.img.url }}') !important;"></div>
            {% endif %}
        {% endfor %}
        <div class="hero-image-text bg-yellow">
            {% for cta in object.cta.all %}
                {% if cta.slug == "host-party-your-fields" and cta.active == True %}
                    <div class="hero-image-text-container">
                        {% include 'cms-extras/cta_edit.html' %}
                        <div class="hero-image-text-surheading">{% if cta.label %}{{ cta.label }}{% endif %}</div>
                        <div class="hero-image-text-heading">{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}</div>
                        <div class="hero-image-text-subheading">{% if cta.sub_text %}{{ cta.sub_text|striptags|safe }}{% endif %}</div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="hero-text">
            <div class="wrap">
                {% for cta in object.cta.all %}
                    {% if cta.slug == "host-norwex-home-party-fun" and cta.active == True %}
                        <div class="host hero-text-container">
                            {% include 'cms-extras/cta_edit.html' %}
                            <h1>{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}</h1>
                            {% if request.subdomain and cta.is_pws == True %}
                                <a class="button-new-blue" href="{% if cta.pws_link %}{{ cta.pws_link|urlizeme }}{% endif %}">{% if cta.pws_link_label %}{{ cta.pws_link_label|striptags|safe }}{% endif %}</a>
                            {% else %}
                                <a class="button-new-blue" href="{% if cta.link %}{{ cta.link|urlizeme }}{% endif %}">{% if cta.link_label %}{{ cta.link_label }}{% endif %}</a>
                            {% endif %}
                            <div class="callout-messaging">{% if cta.label %}{{ cta.label }}{% endif %}</div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <!-- End Wrap -->
        </div>
    </section>
    <!-- End Hero -->
    <section class="why-host-section section-callout">
        <div class="wrap">
            <!-- Icon Divider -->
            <div class="icon-divider-heading">
                <div class="divider-container">
                    <div class="icon-divider"></div>
                    <div class="icon-container">
                        <svg>
                            <use xlink:href="#party-icon" />
                        </svg>
                    </div>
                </div>
                <!-- End divider-container -->
            </div>
            <!-- End icon-divider-heading -->
            {% for cta in object.cta.all %}
                {% if cta.slug == "host-why-host-norwex-party" and cta.active == True %}
                    {% include 'cms-extras/cta_edit.html' %}
                    <h2>{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}</h2>
                {% endif %}
            {% endfor %}
            <div class="highlights">
                {% for cta in object.cta.all|dictsort:"sort_order" %}
                    {% if cta.collection.slug == "why-host-norwex-party" and cta.collection.active == True %}
                        <div class="highlight columns small-12 medium-4 large-4">
                            <div class="image-highlight" style="background-image: url('{{ cta.img.url }}') !important;">
                                {% include 'cms-extras/collection_edit.html' %}
                                <div class="image-highlight-text" data-behavior="equal-height">
                                    {% include 'cms-extras/cta_edit.html' %}
                                    <p>{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <!-- End highlights -->
        </div>
        <!-- End Wrap -->
    </section>
    <!-- Testimonial Slider -->
    <section class="testimonials">
        <div class="wrap">
            {% for cta in object.cta.all %}
                {% if cta.slug == "host-norwex-reward-programs" and cta.active == True %}
                    {% include 'cms-extras/cta_edit.html' %}
                    <h2>{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}</h2>
                {% endif %}
            {% endfor %}
            <div class="carousel-container">
                <a class="slick-prev" data-behavior="slick-prev">
                    <svg>
                        <use xlink:href="#down-arrow"/>
                    </svg>
                </a>
                <a class="slick-next" data-behavior="slick-next">
                    <svg>
                        <use xlink:href="#down-arrow"/>
                    </svg>
                </a>
                <div class="carousel testimonial-carousel" data-behavior="no-dots-carousel">
                    {#					<div class="carousel-item">#}
                    {#						<div class="carousel-item-content">#}
                    {% host_testimonials %}
                    {#						</div>#}
                    {#						<div class="quoter">&mdash;Marcia Holmes, Norwex Consultant</div>#}
                    {#					</div>#}
                    <!-- End carousel item -->
                    <!-- End carousel item -->
                </div>
                <!-- End carousel -->
            </div>
            <!-- End carousel-container -->
        </div>
        <!-- End wrap -->
    </section>
    <!-- End Testimonial Slider -->
    <!-- Video Section (Testimonial Videos) -->
    <section class="video-section" data-structure="video-section">
        <div class="wrap">
            {% for cta in object.cta.all %}
                {% if cta.slug == "host-check-out-these-testimonial-videos" and cta.active == True %}
                    {% include 'cms-extras/cta_edit.html' %}
                    <h3>{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}</h3>
                {% endif %}
            {% endfor %}
            <div class="videos-container">
                <div>{% testimonial_videos %}</div>
            </div>
            <!-- End videos-container -->
            <div class="host-rewards">
                <div class="host-rewards-container">
                    {% for cta in object.cta.all %}
                        {% if cta.slug == "host-earn-monthly-host-special" and cta.active == True %}
                            {% include 'cms-extras/cta_edit.html' %}
                            <h2>{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}</h2>
                            <p>{% if cta.sub_text %}{{ cta.sub_text|striptags|safe }}{% endif %}</p>
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- End host-rewards-container -->
                {#                <div class="host-rewards-container current-specials">#}
                {#                    <h5>Current Host Specials</h5>#}
                {#                    <a class="cta" href="#">Download</a>#}
                {#                </div>#}
                {% current_specials %}
                <!-- End host-rewards-container -->
            </div>
            <!-- End host-rewards -->
        </div>
        <!-- End wrap -->
    </section>
    <!-- End Video Section -->
    <!-- What to Expect Section -->
    <section class="what-to-expect section-callout">
        <div class="wrap">
            <!-- Icon Divider -->
            <div class="icon-divider-heading">
                <div class="divider-container">
                    <div class="icon-divider"></div>
                    <div class="icon-container learn-green">
                        <svg>
                            <use xlink:href="#leaf" />
                        </svg>
                    </div>
                </div>
                <!-- End divider-container -->
            </div>
            <!-- End icon-divider-heading -->
            {% for cta in object.cta.all %}
                {% if cta.slug == "host-what-expect-norwex-party" and cta.active == True %}
                    {% include 'cms-extras/cta_edit.html' %}
                    <h2 class="green">{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}</h2>
                    <div class="content columns-layout">
                        {% if cta.sub_text %}{{ cta.sub_text|safe }}{% endif %}
                    </div>
                {% endif %}
            {% endfor %}
            <!-- End content -->
        </div>
        <!-- End wrap -->
    </section>
    <!-- End What to Expect Section -->
    <!-- Plan Party Section -->
    {% for cta in object.cta.all %}
        {% if cta.slug == "host-ready-book-your-party" and cta.active == True %}
            <section class="plan-your-party bottom-callout-section section-callout with-image-callout" style="background-image: url('{{ cta.img.url }}') !important; background-position: 50%; background-size: 100%; background-repeat: no-repeat;">
                <div class="image-callout">
                    <div class="wrap">

                        <div class="image-callout-message bg-yellow">
                            <div class="message-container">
                                {% include 'cms-extras/cta_edit.html' %}
                                <div class="message">{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}</div>
                                <a class="cta" href="{% if cta.link %}{{ cta.link }}{% endif %}">{% if cta.link_label %}{{ cta.link_label }}{% endif %}</a>
                                <div class="callout-messaging">{% if cta.sub_text %}{{ cta.sub_text|safe }}{% endif %}</div>
                            </div>

                        </div>
                        <!-- End image-callout-message -->
                    </div>
                    <!-- End wrap -->
                </div>
                <!-- End image-callout -->
            </section>
        {% endif %}
    {% endfor %}
    <!-- End Plan Party Section -->
{% endblock %}
