{%  extends 'base.html' %}
{% load humanize %}
{% load i18n %}
{% load static %}
{% load cms_extras %}

{% block title %}{% endblock %}

{% block featured %}
    <div class="join-wrap">
    <!-- Hero -->
	<section class="hero join sub-banner">
		{% for object in object_list %}
        {% if object.slug == "join" and object.active == True %}
            {% include 'cms-extras/banner_edit.html' %}
			<div class="hero-image" style="background-image: url('{{ object.img.url }}') !important;"></div>
        {% endif %}
    {% endfor %}
		<div class="hero-image-text bg-purple">
			<div class="hero-image-text-container">
                {% for cta in object.cta.all %}
                {% if cta.slug == "join-us-become-consultant" and cta.active == True %}
                    {% include 'cms-extras/cta_edit.html' %}
				<div class="hero-image-text-surheading">{% if cta.label %}{{ cta.label }}{% endif %}</div>
				<div class="hero-image-text-heading">{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}</div>
				<div class="hero-image-text-subheading">{% if cta.sub_text %}{{ cta.sub_text|striptags|safe }}{% endif %}</div>
                {% endif %}
                {% endfor %}
			</div>
		</div>
    {% for cta in object.cta.all %}
                {% if cta.slug == "join-thousand-others" and cta.active == True %}
                    {% include 'cms-extras/cta_edit.html' %}
		<div class="hero-text">
			<div class="wrap">
				<div class="join hero-text-container">
					<h1>{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}</h1>
                {% if request.subdomain and cta.is_pws == True %}
					<a class="button-new-blue" href="{% if cta.pws_link %}{{ cta.pws_link|urlizeme }}{% endif %}">{% if cta.pws_link_label %}{{ cta.pws_link_label }}{% endif %}</a>
                    {% else %}
                    <a class="button-new-blue" href="{% if cta.link %}{{ cta.link|urlizeme }}{% endif %}">{% if cta.link_label %}{{ cta.link_label }}{% endif %}</a>
                    {% endif %}
					<div class="callout-messaging">{% if cta.sub_text %}{{ cta.sub_text|striptags|safe }}{% endif %}</div>

				</div>
			</div><!-- End Wrap -->
		</div>
    {% endif %}
                {% endfor %}
	</section>
	<!-- End Hero -->

	<!-- Why Become a Consultant -->
	<section class="become-a-consultant">
		<div class="wrap">
			<!-- Icon Divider -->
			<div class="icon-divider-heading">
				<div class="divider-container">
					<div class="icon-divider"></div>
					<div class="icon-container join-purple">
						<svg><use xlink:href="#party-icon" /></svg>
					</div>
				</div><!-- End divider-container -->
			</div><!-- End icon-divider-heading -->
            {% for cta in object.cta.all %}
                {% if cta.slug == "join-why-become-norwex-consultant" and cta.active == True %}
                    {% include 'cms-extras/cta_edit.html' %}
			<h2 class="green">{% if cta.label %}{{ cta.label }}{% endif %}</h2>
			<div class="content large-6 columns">
				{% if cta.hero_text %}{{ cta.hero_text|safe }}{% endif %}
			</div>
			<div class="large-6 columns" style="background-image: url('{{ cta.img.url }}') !important; background-position: 50%; background-size: 66%; background-repeat: no-repeat;">
				<div class="earn-commission-callout">
					<div class="icon-container">
						<svg><use xlink:href="#leaf" /></svg>
					</div>
					<h3>{% if cta.sub_text %}{{ cta.sub_text|safe }}{% endif %}</h3>
                    <h3>{{ cta.cf1 }} <span class="massive-heading">{{ cta.cf2|striptags|safe }}</span> {{ cta.cf3 }}</h3>
				</div>
			</div>
            {% endif %}
                {% endfor %}

		</div><!-- End wrap -->
	</section>
	<!-- End Why Become a Consultant -->

	<!-- Testimonial Slider -->
	<section class="join testimonials">
		<div class="wrap">
			<div class="carousel-container">
				<a class="slick-prev" data-behavior="slick-prev"><svg><use xlink:href="#down-arrow"/></svg></a>
				<a class="slick-next" data-behavior="slick-next"><svg><use xlink:href="#down-arrow"/></svg></a>
				<div class="carousel testimonial-carousel" data-behavior="no-dots-carousel">
{#					<div class="carousel-item">#}
{#						<div class="carousel-item-content">#}
							{% host_testimonials_join %}
						</div>
{#						<div class="quoter">&mdash;Donna Kwiatkoski, Senior Vice President Sales Leader, ND</div>#}
{#					</div><!-- End carousel item -->#}
				</div><!-- End carousel -->
			</div><!-- End carousel-container -->
{#		</div><!-- End wrap -->#}
	</section>
	<!-- End Testimonial Slider -->

	<!-- Earnings Section -->
	<section class="earnings">
		<div class="wrap">
            {% for cta in object.cta.all %}
                    {% if cta.slug == "how-much-can-you-earn" and cta.active == True %}
                        {% include 'cms-extras/cta_edit.html' %}
			<h2 class="green">{% if cta.label %}{{ cta.label }}{% endif %}</h2>
            {% endif %}
                {% endfor %}
			<div class="wrap inner">
				<div class="carousel-container">
					<a class="slick-prev" data-behavior="slick-prev"><svg><use xlink:href="#down-arrow"/></svg></a>
					<a class="slick-next" data-behavior="slick-next"><svg><use xlink:href="#down-arrow"/></svg></a>
					<div class="carousel border-carousel" data-behavior="default-carousel">
{#						<div class="carousel-item">#}
{#							<div class="carousel-item-content">#}
								{% join_earn_carousel %}
{#							</div>#}
{#						</div><!-- End carousel item -->#}
					</div><!-- End carousel -->
				</div><!-- End carousel-container -->
				<div class="disclaimer">
                    {% for cta in object.cta.all %}
                    {% if cta.slug == "how-much-can-you-earn" and cta.active == True %}
                        {% include 'cms-extras/cta_edit.html' %}
			<div>{% if cta.sub_text %}{{ cta.sub_text|safe }}{% endif %}</div>
            {% endif %}
                {% endfor %}
				</div>
			</div><!-- End inner wrap -->
		</div><!-- End wrap -->
	</section>

	<!-- Getting Started -->
	<section class="getting-started">
		<div class="wrap">
			<!-- Icon Divider -->
			<div class="icon-divider-heading">
				<div class="divider-container">
					<div class="icon-divider"></div>
					<div class="icon-container">
						<svg><use xlink:href="#leaf" /></svg>
					</div>
				</div><!-- End divider-container -->
			</div><!-- End icon-divider-heading -->
            {% for cta in object.cta.all %}
                {% if cta.slug == "join-all-you-need-get-started" and cta.active == True %}
                    {% include 'cms-extras/cta_edit.html' %}
			<h2>{% if cta.label %}{{ cta.label }}{% endif %}</h2>
			<div class="content large-6 columns">
				<p>{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}</p>
                {% endif %}
                {% endfor %}
         {% for cta in object.cta.all %}
                {% if cta.slug == "starter-kit-flyer" and cta.active == True %}
                    {% include 'cms-extras/cta_edit.html' %}
				<div class="current-specials">
					<h5>{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}</h5>
					<a class="cta" href="{{ cta.link }}">{% if cta.link_label %}{{ cta.link_label }}{% endif %}</a>
				</div><!-- End host-rewards-container -->
        {% endif %}
                {% endfor %}
			</div>
			<div class="large-6 columns">
                {% for cta in object.cta.all %}
                {% if cta.slug == "catalogs-invitations-business-supplies" and cta.active == True %}
                    {% include 'cms-extras/cta_edit.html' %}
				<div class="brochures">
                <img src="{{ cta.img.url }}"/>
                </div>
				<h5>{% if cta.label %}{{ cta.label }}{% endif %}</h5>
                {% endif %}
                {% endfor %}
			</div>

			<div class="carousel-container">
				<a class="slick-prev" data-behavior="slick-prev"><svg><use xlink:href="#down-arrow"/></svg></a>
				<a class="slick-next" data-behavior="slick-next"><svg><use xlink:href="#down-arrow"/></svg></a>
{#                {% for cta in object.cta.all|dictsort:"sort_order" %}#}
{#            {% if cta.collection.slug == "starter-kit" and cta.collection.active == True %}#}
				<div class="carousel multi-carousel" data-behavior="multi-carousel">
                    {%  collection_carousel %}
{#					<div class="carousel-item">#}
{#						<div class="carousel-item-content">#}
{#							<div class="carousel-item-content-image large-mop-base"></div>#}
{#							<div class="carousel-item-content-description">{{ cta.label }}</div>#}
{#						</div>#}
{#					</div>#}
                    <!-- End carousel item -->
				</div><!-- End carousel -->
{#                {% endif %}#}
{#                {% endfor %}#}
			</div><!-- End carousel-container -->
        {% for cta in object.cta.all %}
                {% if cta.slug == "join-all-you-need-get-started" and cta.active == True %}
{#                    {% include 'cms-extras/cta_edit.html' %}#}
			<h5>{% if cta.xtralink_label %}{{ cta.xtralink_label }}{% endif %}</h5>
			<p class="note">{% if cta.sub_text %}{{ cta.sub_text|striptags|safe }}{% endif %}</p>
        {% endif %}
                {% endfor %}
		</div><!-- End wrap -->
	</section>
	<!-- End Getting Started -->

	<!-- Bottom Callout Section -->
    {% for cta in object.cta.all %}
                {% if cta.slug == "join-make-you-promise-brighter-future" and cta.active == True %}
                    {% include 'cms-extras/cta_edit.html' %}
	<section class="join-now bottom-callout-section section-callout with-image-callout" style="background-image: url('{{ cta.img.url }}') !important; background-position: 50%; background-size: 100%; background-repeat: no-repeat;">
		<div class="image-callout" >
			<div class="wrap">
				<div class="image-callout-message bg-purple">
					<div class="message-container">

						<div class="message">{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}</div>
                    {% if request.subdomain and cta.is_pws == True %}
						<a class="cta" href="{% if cta.pws_link %}{{ cta.pws_link }}{% endif %}">{% if cta.pws_link_label %}{{ cta.pws_link_label }}{% endif %}</a>
                        {% else %}
                        <a class="cta" href="{% if cta.link %}{{ cta.link }}{% endif %}">{% if cta.link_label %}{{ cta.link_label }}{% endif %}</a>
                        {% endif %}
						<div class="callout-messaging">{% if cta.sub_text %}{{ cta.sub_text|striptags|safe }}{% endif %}</div>

					</div>
				</div><!-- End image-callout-message -->
			</div><!-- End wrap -->
		</div><!-- End image-callout -->
	</section>
    {% endif %}
                        {% endfor %}
	<!-- End Plan Party Section -->
    </div>
{% endblock %}
