{%  extends 'featured/featured.html' %}
{% load humanize %}
{% load i18n %}
{% load static %}
{% load cms_extras %}

{% block title %}{% endblock %}


{% block featured %}
<!-- Hero -->
<section class="norwex-microfiber container">
{#		<div class="hero-image" data-behavior="hero-parallax"></div>#}
		<div class="hero-content-wrap">
			<div class="hero-text-no-circle">
                {% for cta in object.cta.all %}
        {% if cta.slug == "norwex-microfiber" and cta.active == True %}
            {% include 'cms-extras/cta_edit.html' %}
				<div class="hero-image-text-surheading">{% if cta.label %}{{ cta.label }}{% endif %}</div>
				<div class="hero-image-text-heading">{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}</div>

			</div>
		</div>
		<div class="hero-text">
			<div class="wrap">
				<div class="hero-text-container">
					<div class="row">
						<div class="medium-10 medium-push-1 columns">
							<p class="page-intro__copy page-intro__copy--large-padding page-intro__copy--small-text">{% if cta.sub_text %}{{ cta.sub_text|striptags|safe }}{% endif %}</p>
                        </div>
					</div>
				</div>
			</div><!-- End Wrap -->
		</div>
{% endif %}
    {% endfor %}
	</section>
<!-- End Hero -->

<div class="row">
	<div class="small-12">
		<div class="icon-seperator">
			<i class="icon-nwx-home teal"></i>
		</div>
	</div>
</div>
<!-- Why Become a Consultant -->
<div class="row shop-microfiber section content">

	<div class="mth xs-mts">
    {% for cta in object.cta.all|dictsort:"sort_order" %}
        {% if cta.slug == "features-norwex-microfiber"  and cta.active == True %}
		<div class="small-12 medium-6 large-6 columns">
        {% include 'cms-extras/collection_edit.html' %}
			{% if cta.hero_text %}
				{{ cta.hero_text|safe }}
                {% endif %}
		</div>
        {% endif %}
            {% endfor %}
		<div class="small-12 medium-6 large-6 columns">
        {% single_video %}

		</div>
	</div><!-- End row -->
</div>
    {% for cta in object.cta.all|dictsort:"sort_order"%}
        {% if cta.slug == "look-baclock-logo" and cta.active == True %}
        {% include 'cms-extras/cta_edit.html' %}
	<div class="row pvg xs-pvl">
		<div class="medium-3 columns br text-center xs-pbl">{% if cta.img.url %}<img src="{{ cta.img.url }}" alt="{{ cta.title }}">{% endif %}</div>
		<div class="medium-9 columns">
			{% if cta.hero_text %}<p class="small-text-center">{{ cta.hero_text|striptags|safe }} </p>{% endif %}
		</div>
	</div>
{% endif %}
{% endfor %}
{% for cta in object.cta.all|dictsort:"sort_order" %}
        {% if cta.slug == "start-cleaning-without-chemicals" and cta.active == True %}
<div class="content-hero">
        {% include 'cms-extras/cta_edit.html' %}
	{% if cta.img.url %}<img class="content-hero__img" src="{{ cta.img.url }}" alt="{{ cta.title }}">{% endif %}
	<div class="content-hero__wrap content-hero__wrap--rectangle content-hero__wrap--bgwhite">
		<div class="content-hero__content">
			{% if cta.label %}<div class="content-hero__heading content-hero__heading--teal">
				{{ cta.label }}
			</div>{% endif %}
			<div class="content-hero__ctawrapper">
				<div class="text-center">
                {% if request.subdomain  and cta.is_pws == True %}
                    {% if cta.pws_link %}
                        <a href="{{ cta.pws_link }}" class="content-hero__cta button button-new-blue">
                        {{ cta.pws_link_label }}
                    </a>
                    {% endif %}
                    {% else %}
                    {% if cta.link %}
                        <a href="{{ cta.link }}" class="content-hero__cta button button-new-blue">
                        {{ cta.link_label }}
                    </a>
                    {% endif %}
                    {% endif %}
                </div>
				<div class="text-center">
                    {% if cta.xtralink %}<a href="{{ cta.xtralink }}" class="content-hero__cta button button--teal button--transparent mbn"><span
						class="icon-download6"></span>
                        {{ cta.xtralink_label }}
                    </a>{% endif %}
                </div>
			</div>
		</div>
	</div>
</div>
    {% endif %}
{% endfor %}
<div class="shop-microfiber section">
{% for cta in object.cta.all|dictsort:"sort_order" %}
    {% if cta.slug == "microfiber-makes-difference" and cta.active == True%}
        {% include 'cms-extras/cta_edit.html' %}
	<div class="row pvh">
		<div class="large-8 large-push-2 columns text-center">
			{% if cta.label %}<h1 class="h1 teal">{{ cta.label }}</h1>{% endif %}
			{% if cta.hero_text %}<p>{{ cta.hero_text|striptags|safe }}</p>{% endif %}
		</div>
	</div>
    {% endif %}
{% endfor %}

<div class="row small-up-2 medium-up-2 large-up-5 columns">
{% for cta in object.cta.all|dictsort:"sort_order" %}
            {% if cta.collection.slug == "microfiber-makes-difference" and cta.collection.active == True %}
		<div class="column text-center">
        {% include 'cms-extras/cta_edit.html' %}
			<svg class="svg--block svg--centered svg--fill svg--gridicon">
{#				<use xlink:href="#clock"/>#}
                {% if cta.svg %}{{ cta.svg|safe }}{% endif %}
			</svg>
			{% if cta.hero_text %}<p>{{ cta.hero_text|striptags|safe }}</p>{% endif %}
		</div>
{% endif %}
{% endfor %}
	</div>

</div>
<div class="row">
	<div class="small-12">
		<div class="icon-seperator">
			<i class="icon-nwx-cloth teal"></i>
		</div>
	</div>
</div>

<div class="norwex-microfiber section">
	<div class="row ptl">
		<div class="large-8 large-push-2 columns text-center">
            {% for cta in object.cta.all|dictsort:"sort_order" %}
            {% if cta.slug == "two-ways-clean" and cta.active == True %}
        {% include 'cms-extras/cta_edit.html' %}
			{% if cta.label %}<h1 class="h1 teal">{{ cta.label }}</h1>{% endif %}
			{% if cta.hero_text %}<p>{{ cta.hero_text|striptags|safe }}</p>{% endif %}
            {% endif %}
{% endfor %}
		</div>
	</div>
</div>
<div class="norwex-microfiber section">
	<div class="row">
		<div class="small-12">
			<div class="dual-picture">
				<div class="dual-picture__or">or</div>
            {% for cta in object.cta.all|dictsort:"sort_order" %}
            {% if cta.slug == "dry-dust" and cta.active == True %}
				<div class="dual-picture__item dual-picture__item--bgteal text-center">
					<div class="dual-picture__img">
						{% if cta.img.url %}<img src="{{ cta.img.url }}" alt="{{ cta.label }}"/>{% endif %}

					</div>
					<div class="dual-picture__content">
                        {% if cta.label %}
						<div class="dual-picture__title dual-picture__title--teal">
							{{ cta.label }}
						</div>
                        {% endif %}
						<div class="dual-picture__text text-center">
							{% if cta.hero_text %}<p>{{ cta.hero_text|striptags|safe }}</p>{% endif %}
						</div>
						<div class="dual-picture__disclaimer">
							{% if cta.sub_text %}<p>{{ cta.sub_text|striptags|safe }}</p>{% endif %}
						</div>
                     {% include 'cms-extras/cta_edit.html' %}
					</div>
				</div>
            {% endif %}
{% endfor %}
				{% for cta in object.cta.all|dictsort:"sort_order" %}
            {% if cta.slug == "wet-clean" and cta.active == True %}
                <div class="dual-picture__item dual-picture__item--bgteal text-center">
					<div class="dual-picture__img">
						{% if cta.img.url %}<img src="{{ cta.img.url }}" alt="{{ cta.label }}"/>{% endif %}
					</div>
					<div class="dual-picture__content">
						{% if cta.label %}<div class="dual-picture__title dual-picture__title--teal">
							{{ cta.label }}
						</div>
                            {% endif %}
						<div class="dual-picture__text">
							{% if cta.hero_text %}<p>{{ cta.hero_text|striptags|safe }}</p>{% endif %}
						</div>
                     {% include 'cms-extras/cta_edit.html' %}
					</div>
				</div>
            {% endif %}
{% endfor %}
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="small-12 pvh">
		<div class="icon-seperator">
			<i class="icon-nwx-care teal"></i>
		</div>
	</div>
</div>
<div class="shop-microfiber section">
	<div class="row pvl">
		<div class="large-12 columns text-center">
            {% for cta in object.cta.all|dictsort:"sort_order" %}
            {% if cta.slug == "how-care-your-norwex-microfiber" and cta.active == True %}
                {% include 'cms-extras/cta_edit.html' %}
			<h2 class="h1 teal">{{ cta.label }}</h2>
			<p>{{ cta.hero_text|safe }}</p>
            {% endif %}
{% endfor %}
		</div>
	</div>
	<div class="row">
        {% for cta in object.cta.all|dictsort:"sort_order" %}
            {% if cta.collection.slug == "care-your-norwex-microfiber" and cta.collection.active == True %}
		<div class="small-12 medium-4 large-4 columns text-center">
        {% include 'cms-extras/cta_edit.html' %}
			<span class="{{ cta.svg|striptags }} large-icon large-icon--darkgray"></span>
			<h3 class="teal mtl">{{ cta.label }}</h3>
			<p>{{ cta.hero_text|safe }}</p>
        {% include 'cms-extras/cta_edit.html' %}
		</div>
        {% endif %}
{% endfor %}
	</div>
	<div class="row">
         {% for cta in object.cta.all|dictsort:"sort_order" %}
            {% if cta.slug == "how-care-your-norwex-microfiber" and cta.active == True %}
		<div class="warranty">
			{{ cta.sub_text|safe }}
        {% include 'cms-extras/cta_edit.html' %}
		</div>
        {% endif %}
{% endfor %}
	</div>
</div>
<div class="row">
	<div class="small-12">
		<div class="icon-seperator">
			<i class="icon-nwx-recycle teal"></i>
		</div>
	</div>
</div>
<div class="shop-microfiber section section--leaves">
{% for cta in object.cta.all|dictsort:"sort_order" %}
            {% if cta.slug == "clean-your-home-today-power-it-tomorrow" and cta.active == True %}
	<div class="row pbg xs-pbs">
		<div class="small-12 columns">
			<h2 class="h1 teal text-center">{{ cta.label}}</h2>
		</div>
	</div>
	<div class="row pbg xs-pbm">
		<div class="small-12 medium-6 columns">
			<p>{{ cta.hero_text|safe }}</p>
		</div>
		<div class="small-12 medium-6 columns">
			<div class="video-single">
{#				<a href="#" class="icon-play"></a>#}
				{% energy_video %}
			</div>
		</div>
	</div>
{% endif %}
{% endfor %}
</div>

<div class="row">
    {% for cta in object.cta.all|dictsort:"sort_order" %}
            {% if cta.collection.slug == "shop-microfiber-footer" and cta.collection.active == True %}

	<div class="small-12 medium-6 large-6 columns shop-footer " style="background-image: url('{{ cta.img.url }}') !important;">
        {% include 'cms-extras/cta_edit.html' %}
		<div class="dual-cta__content">
			<div class="dual-cta__cta">
                {% if request.subdomain and cta.is_pws == True %}
				<a href="{{ cta.pws_link }}" class="dual-cta__button button button--teal button--semitransparent mbn">{{ cta.pws_link_label }}</a>
                    {% else %}
                    <a href="{{ cta.link }}" class="dual-cta__button button button--teal button--semitransparent mbn">{{ cta.link_label }}</a>
                    {% endif %}
			</div>
		</div>
	</div>
{% endif %}
    {% endfor %}
</div>


{% endblock %}