{#Do not extend any layout here. This template is supposed to be loaded as template partial. #}
{% load humanize %}
{% load i18n %}
{% load static %}

{% block title %}{% endblock %}


{% block featured %}
    <div class="small-12 columns">
            <h1>{{ object.title }}</h1>
    </div>
{% endblock %}

