{%  extends 'featured/featured.html' %}
{% load humanize %}
{% load i18n %}
{% load static %}

{% block title %}{% endblock %}


{% block featured %}
<!-- Hero -->
	<section class="product-mission">
{#		<div class="hero-image" data-behavior="hero-parallax"></div>#}
		<div class="hero-content-wrap">
			<div class="hero-text-no-circle">
                {% for cta in object.cta.all %}
        {% if cta.slug == "product-mission" %}
            {% include 'cms-extras/cta_edit.html' %}
				<div class="hero-image-text-surheading">{% if cta.label %}{{ cta.label }}{% endif %}</div>
				<div class="hero-image-text-heading">{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}</div>
                {% endif %}
    {% endfor %}
			</div>
		</div>
		<div class="hero-text">
			<div class="wrap">
				<div class="hero-text-container">
					<div class="row">
						<div class="medium-10 medium-push-1 columns">
                        {% for cta in object.cta.all %}
        {% if cta.slug == "product-mission-our-committment" %}
            {% include 'cms-extras/cta_edit.html' %}
							<h3>{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}</h3>
            {% if request.subdomain and cta.is_pws == True %}
							<a href="{% if cta.pws_link %}{{ cta.pws_link }}{% endif %}" class="button button--teal button--transparent"><i class="icon icon-download6"></i> {% if cta.pws_link_label %}{{ cta.pws_link_label }}{% endif %}</a>
                {% else %}
                <a href="{% if cta.link %}{{ cta.link }}{% endif %}" class="button button--teal button--transparent"><i class="icon icon-download6"></i> {% if cta.link_label %}{{ cta.link_label }}{% endif %}</a>
                {% endif %}
						{% endif %}
    {% endfor %}
                        </div>
					</div>
				</div>
			</div><!-- End Wrap -->
		</div>
	</section>

	<section class="text-left">
		<div class="wrap">
			<div class="row pbg">
				<div class="medium-6 columns">
                    {% for cta in object.cta.all %}
        {% if cta.slug == "product-mission-clean-home-clean-conscience" and cta.active == True %}
            {% include 'cms-extras/cta_edit.html' %}
					<h2>{% if cta.label %}{{ cta.label|striptags|safe }}{% endif %}</h2>
					<img src="{% if cta.img.url %}{{ cta.img.url }}{% endif %}" alt="{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}" class="show-for-small-only">
					<p class="text-large">{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}</p>
					<p class="text-large">{% if cta.sub_text %}{{ cta.sub_text|striptags|safe }}{% endif %}</p>
                {% if request.subdomain and cta.is_pws == True %}
					<a href="{% if cta.pws_link %}{{ cta.pws_link }}{% endif %}" class="button button-new-blue">{% if cta.pws_link_label %}{{ cta.pws_link_label }}{% endif %}</a>
                    {% else %}
                    <a href="{% if cta.link %}{{ cta.link }}{% endif %}" class="button button-new-blue">{% if cta.link_label %}{{ cta.link_label }}{% endif %}</a>
                    {% endif %}

				</div>
				<div class="medium-6 columns show-for-medium">
					<img src="{% if cta.img.url %}{{ cta.img.url }}{% endif %}" alt="{% if cta.label %}{{ cta.label }}{% endif %}">

				</div>
            {% endif %}
    {% endfor %}
			</div>
			<div class="row pbg">
				<div class="medium-6 columns mtg">
                {% for cta in object.cta.all %}
        {% if cta.slug == "product-mission-body-care-photo" and cta.active == True %}
            {% include 'cms-extras/cta_edit.html' %}
					<img src="{% if cta.img.url %}{{ cta.img.url }}{% endif %}" alt="{% if cta.label %}{{ cta.label }}{% endif %}">
                {% endif %}
    {% endfor %}
				</div>
				<div class="medium-6 columns show-for-medium mtg">
                {% for cta in object.cta.all %}
        {% if cta.slug == "product-mission-body-care" and cta.active == True %}
            {% include 'cms-extras/cta_edit.html' %}
					<h2>{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}</h2>
{#					<img src="{% if cta.img.url %}{{ cta.img.url }}{% endif %}" alt="{% if cta.label %}{{ cta.label }}{% endif %}" class="show-for-small-only">#}
					<p class="text-large">{% if cta.sub_text %}{{ cta.sub_text|striptags|safe }}{% endif %}</p>
{#                {% endif %}#}
{#    {% endfor %}#}
{#                    {% for cta in object.cta.all %}#}
{#        {% if cta.slug == "about-global-impact" %}#}
{#            {% include 'cms-extras/cta_edit.html' %}#}
					<div><img src="{% if cta.img.url %}{{ cta.img.url }}{% endif %}" alt="{% if cta.label %}{{ cta.label }}{% endif %}" class="mtl mbg"></div>
                {% if request.subdomain and cta.is_pws == True %}
					<a href="{% if cta.pws_link %}{{ cta.pws_link }}{% endif %}" class="button button-new-blue">{% if cta.pws_link_label %}{{ cta.pws_link_label }}{% endif %}</a>
                    {% else %}
                    <a href="{% if cta.link %}{{ cta.link }}{% endif %}" class="button button-new-blue">{% if cta.link_label %}{{ cta.link_label }}{% endif %}</a>
                    {% endif %}
                {% endif %}
    {% endfor %}
				</div>
			</div>
		</div>
	</section>
	<!-- End Hero -->

{% endblock %}