{%  extends 'featured/featured.html' %}
{% load humanize %}
{% load i18n %}
{% load static %}
{% load cms_extras %}

{% block title %}{% endblock %}


{% block featured %}
<!-- Hero -->
<section class="safe-haven-house container">
		<div class="hero-content-wrap">
			<div class="hero-text-no-circle">
                {% for cta in object.cta.all %}
        {% if cta.slug == "safe-haven-house" and cta.active == True %}
            {% include 'cms-extras/cta_edit.html' %}
				<div class="hero-image-text-surheading">{% if cta.label %}{{ cta.label }}{% endif %}</div>
				<div class="hero-image-text-heading">{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}</div>

			</div>
		</div>

{% endif %}
    {% endfor %}
	</section>
<!-- End Hero -->



    <div class="hero-text">
			<div class="wrap">
				<div class="hero-text-container">
					<div class="row">
						<iframe class="pwsIframe" frameborder="0" height="630px" id="quiz" onload="calcHeight('quiz');" scrolling="Yes" src="https://media.norwexcs.com/Website/media/house_app/2016_biz/index.html" title="Safe Haven House" width="100%"></iframe>
					</div>
				</div>
			</div><!-- End Wrap -->
		</div>

    <div class="row">
	<div class="small-12">
		<div class="icon-seperator">
			<i class="icon-nwx-home teal"></i>
		</div>
	</div>
</div>

    {% for cta in object.cta.all %}
        {% if cta.slug == "safe-haven-house" and cta.active == True %}
    <div class="hero-text">
    {% include 'cms-extras/cta_edit.html' %}
			<div class="wrap">
				<div class="hero-text-container">
					<div class="row">
						<div class="medium-10 medium-push-1 columns">
							<p class="page-intro__copy page-intro__copy--large-padding page-intro__copy--small-text">{% if cta.sub_text %}{{ cta.sub_text|striptags|safe }}{% endif %}</p>
                        </div>
					</div>
				</div>
			</div><!-- End Wrap -->
		</div>
    {% endif %}
    {% endfor %}

{% endblock %}