{%  extends 'featured/featured.html' %}
{% load humanize %}
{% load i18n %}
{% load static %}
{% load cms_extras %}

{% block title %}{% endblock %}

{% block featured %}
    <div class="specials-sales">
    <!-- Hero -->
	<section class="specials">
		{% for object in object_list %}
        {% if object.slug == "specials-and-sales" and object.active == True %}
            {% include 'cms-extras/banner_edit.html' %}
			<div class="hero-image" style="background-image: url('{{ object.img.url }}') !important;"></div>
        {% endif %}
    {% endfor %}
		<div class="hero-content-wrap">
			<div class="hero-text-no-circle">
                {% for cta in object.cta.all %}
        {% if cta.slug == "specials-and-sales-save-even-more" and cta.active == True %}
            {% include 'cms-extras/cta_edit.html' %}
				<div class="hero-image-text-surheading">{% if cta.label %}{{ cta.label }}{% endif %}</div>
				<div class="hero-image-text-heading">{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}</div>
                {% endif %}
    {% endfor %}
			</div>
		</div>
		<div class="hero-text">
			<div class="row wrap">
				<div class="hero-text-container">
                    {% for cta in object.cta.all %}
        {% if cta.slug == "specials-dont-wait" and cta.active == True %}
            {% include 'cms-extras/cta_edit.html' %}
					{% if cta.hero_text %}<div class="specials-intro small-11 small-offset-1 medium-11 medium-offset-1 large-11 large-offset-1 columns ">{{ cta.hero_text|striptags|safe }}</div>{% endif %}
                    {% endif %}
    {% endfor %}
				</div>
			</div><!-- End Wrap -->
		</div>
	</section>
	<!-- End Hero -->

{#    Customer Specials#}
	{% customer_specials %}

{#    Host Specials#}
    {% host_specials %}
</div>
{% endblock %}