{%  extends 'featured/featured.html' %}
{% load humanize %}
{% load i18n %}
{% load static %}

{% block title %}{% endblock %}

{% block featured %}
<div class="row heritage">

<section class="row our-heritage small-12 columns">
{% for s in snippet %}
                {% if s.slug == "about-our-heritage" and s.active == True %}
                    {% include 'cms-extras/snippet_edit.html' %}
	<div class="hero-image-heritage" data-behavior="hero-parallax"></div>
	<div class="hero-content-wrap-heritage">
		<div class="hero-text-no-circle">

			<div class="hero-image-text-surheading"> {% if s.label %}{{ s.label }}{% endif %}  </div>
			<div class="hero-image-text-heading">{% if s.content %}{{ s.content|striptags|safe }}{% endif %}</div>

		</div>
	</div>
{% endif %}
            {% endfor %}
{% for s in snippet %}
                {% if s.slug == "about-our-heritage-norwex-global-family" and s.active == True %}
                    {% include 'cms-extras/snippet_edit.html' %}
	<div class="hero-text">
		<div class="wrap">
			<div class="hero-text-container">
				<div class="row">
					<div class="small-12 medium-10 medium-offset-1 columns">
						<h1>{% if s.content %}{{ s.content|striptags|safe }}{% endif %}</h1>
					</div>
				</div>
			</div>
		</div><!-- End Wrap -->
	</div>
{% endif %}
            {% endfor %}
</section>
<!-- End Hero -->

<!-- Heritage Timeline -->

<ul class="vertical-timeline">
    {% for object in object_list|dictsort:"sort_order" %}

                {% if forloop.counter|divisibleby:2 %}
                    {% include "cmf/units/_timeline_even.html" %}
                {% else %}
                    {% include "cmf/units/_timeline_odd.html" %}

                {% endif %}
                {% empty %}
            <div class="no-records-found">{% blocktrans %}No records found{% endblocktrans %}</div>
        {% endfor %}
</ul>


<!-- Footer Dual CTAs -->
<div class="container dual-cta">
{% for s in snippet %}
                {% if s.slug == "heritage-our-global-mission" and s.active == True %}
	<div class="small-12 medium-6 large-6 columns dual-cta__item dual-cta__item--bgbulbs dual-cta__item--green">
		<div class="dual-cta__content">
        {% include 'cms-extras/snippet_edit.html' %}
			{% if s.label %}<h2 class="dual-cta__heading">{{ s.label }}</h2>{% endif %}
			{% if s.content %}<h3 class="dual-cta__text" data-mh="ctatext">{{ s.content|striptags|safe }}</h3>{% endif %}
			{% if s.link %}<div class="dual-cta__cta">
				<a href="#{{ s.link }}" class="dual-cta__button button ">{{ s.link_label }}</a>
			</div>{% endif %}
		</div>
	</div>
{% endif %}
        {% endfor %}
{% for s in snippet %}
        {% if s.slug == "heritage-what-will-your-legacy-be" and s.active == True %}
	<div class="small-12 medium-6 large-6 columns  dual-cta__item dual-cta__item--bgbulbs dual-cta__item--teal">
		<div class="dual-cta__content">
        {% include 'cms-extras/snippet_edit.html' %}
			{% if s.label %}<h2 class="dual-cta__heading">{{ s.label }}</h2>{% endif %}
			{% if s.content %}<h3 class="dual-cta__text" data-mh="ctatext">{{ s.content|striptags|safe }}</h3>{% endif %}
			{% if s.link %}<div class="dual-cta__cta">
				<a href="{{ s.link }}" class="dual-cta__button button ">{{ s.link_label }}</a>
			</div>{% endif %}
		</div>
	</div>
{% endif %}
        {% endfor %}
</div>

<!--End Footer Dual CTAs -->
</div>



{% endblock %}
