{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}
<div class='medium-6 medium-offset-3 small-6 small-offset-3 columns'>

<h1>{% trans "Confirm E-mail Address" %}</h1>

{% user_display email_address.user as user_display %}
        
<p>{% blocktrans with email_address.email as email %}You have confirmed that <a href="mailto:{{email}}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

</div>

{% endblock %}
