{% extends "account/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account %}
{# {% load url from future %} #}

{% block head_title %}{% trans "SignIn" %}{% endblock %}

{% block content %}

    <div class="row container">

            <div class='medium-6 medium-offset-3 small-6 small-offset-3 columns'>
            <h1>{% trans "Sign in" %}</h1>

            {% if socialaccount.providers  %}
            <p>{% blocktrans with site.name as site_name %}Please sign in with one
            of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
            for a {{site_name}} account and sign in below:{% endblocktrans %}</p>

                <br/>

            <div class="socialaccount_ballot">

              <ul class="socialaccount_providers list-inline">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
              </ul>
            </div>

                <br/>

            {% include "socialaccount/snippets/login_extra.html" %}

            {% else %}
            <p>{% blocktrans %}Don't have an account? <a href="{{ signup_url }}">Create one now</a> {% endblocktrans %}</p>
            {% endif %}

            <div class="row">

            <div class="small-12 medium-12 large-12 columns">



                <form class="login" method="POST" action="{% url 'account_login' %}">
              {% csrf_token %}
              {{ form|crispy }}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <div class="text-right">
                  <a class="secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                  <button class='button-new-blue' class="primaryAction" type="submit">{% trans "Sign In" %}</button>
              </div>
            </form>

            </div>

            </div>

            <!-- <p>{% blocktrans %}Don't have an account? <a href="{{ signup_url }}">Create one now</a> {% endblocktrans %}</p> -->
            </div>

    </div>

{% endblock %}