{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{# {% load url from future %} #}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class='medium-6 medium-offset-3 small-6 small-offset-3 columns'>
<h1>{% trans "Sign Out" %}</h1>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
  {% endif %}
  <button class="button-new-blue" type="submit">{% trans 'Sign Out' %}</button>
</form>
</div>


{% endblock %}
