{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{# {% load url from future %} #}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class='medium-6 medium-offset-3 small-6 small-offset-3 columns'>

    <h1>{% trans "Change Password" %}</h1>
    <p>{% trans 'Your password is now changed.' %}</p>
    
</div>
{% endblock %}
