{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{# {% load url from future %} #}
{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class='medium-6 medium-offset-3 small-6 small-offset-3 columns'>
    <h1>{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="button-new-blue" type="submit" name="action" value="{% trans "Set Password" %}"/>
    </form>

</div>
{% endblock %}
