{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account %}
{# {% load url from future %} #}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
 <div class="row container">
     <div class='medium-6 medium-offset-3 small-6 small-offset-3 columns'>
    <h1>{% trans "Changing your password is simple" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% trans "Please enter your email address to get started" %}</p>

     <div class="row">

            <div class="small-12 medium-12 large-12 columns">

                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class='button-new-blue' type="submit" value="{% trans "Continue" %}" />
                </form>

            </div>


     </div>

    
    <!-- <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p> -->
</div>
    </div>
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
