{% extends 'profile/layout.html' %}
{% load crispy_forms_tags %}

{# {% load url from future %} #}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block profile_body %}
        <h1>{% trans "Change Password" %}</h1>

        <form method="POST" action="{% url 'account_change_password_custom' %}" class="password_change">
            {% csrf_token %}
            {{ form|crispy }}
            <button class='button-new-blue' type="submit" name="action">{% trans "Change Password" %}</button>
        </form>
{% endblock %}
