{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{# {% load url from future %} #}
{% load i18n %}

{% block head_title %}{% trans "SignUp" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class='medium-6 medium-offset-3 small-6 small-offset-3 columns'>
        <h1>{% trans "Sign up" %}</h1>

        <p>{% blocktrans %}Already have an account? <a href="{{ login_url }}">Sign in</a>{% endblocktrans %}</p>


        <div class="row">

            <div class="medium-12 columns">

                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button class='button-new-blue' type="submit">{% trans "Sign Up Now" %} &raquo;</button>
                </form>

            </div>

        </div>

    </div>
    </div>
{% endblock %}
