/*h1, .h1 {*/
    /*padding: 20px 0 10px;*/
    /*font-weight: bold;*/
    /*color: #00bcd4 !important;*/
/*}*/


/*.grp-object-tools li a {*/
    /*display: block;*/
    /*padding: 4px 15px;*/
    /*font-weight: bold;*/
    /*-moz-border-radius: 30px;*/
    /*-webkit-border-radius: 30px;*/
    /*border-radius: 30px;*/
    /*color: #fff;*/
    /*border: 1px solid #00BCD4 !important;*/
    /*opacity: 1 !important;*/
    /*background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');*/
    /*background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00BCD4),color-stop(100%, #00BCD4)) !important;*/
    /*background: -moz-linear-gradient(#00BCD4,#00BCD4) !important;*/
    /*background: -webkit-linear-gradient(#00BCD4,#00BCD4) !important;*/
    /*background: linear-gradient(#00BCD4,#00BCD4) !important;*/
/*}*/

/*!*a {*!*/
    /*!*text-decoration: none;*!*/
    /*!*color: #00bcd4 !important;*!*/
/*!*}*!*/


/*.grp-submit-row.grp-fixed-footer>ul>li {*/
    /*margin-bottom: 5px;*/
    /*padding: 5px !important;*/
    /*background: #035883 !important;*/
/*}*/

/*.grp-fixed-footer {*/
    /*position: fixed;*/
    /*z-index: 900;*/
    /*float: left;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*margin: 0;*/
    /*padding: 10px 20px 5px;*/
    /*width: 100%;*/
    /*border: 0;*/
    /*-moz-box-sizing: border-box;*/
    /*-webkit-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    /*color: #fff;*/
    /*background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');*/
    /*background-size: 100%;*/
    /*background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0075bb),color-stop(100%, #044e70)) !important;*/
    /*background-image: -moz-linear-gradient(#0075bb,#044e70) !important;*/
    /*background-image: -webkit-linear-gradient(#0075bb,#044e70) !important;*/
    /*background-image: linear-gradient(#0075bb,#044e70) !important;*/
/*}*/

/*header#grp-header #grp-navigation {*/
    /*position: relative;*/
    /*float: left;*/
    /*clear: both;*/
    /*width: 100%;*/
    /*padding: 0 20px;*/
    /*-moz-box-sizing: border-box;*/
    /*-webkit-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    /*color: #fff;*/
    /*background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');*/
    /*background-size: 100%;*/
    /*background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333),color-stop(100%, #222222));*/
    /*background-image: -moz-linear-gradient(#333333,#222222);*/
    /*background-image: -webkit-linear-gradient(#333333,#222222);*/
    /*background-image: linear-gradient(#044e70,#2199e1);*/
    /*overflow: hidden;*/
    /*overflow: visible;*/
/*}*/



