{%  extends 'base.html' %}
{% load crispy_forms_tags %}
{% crispy form helper %}
{% load static %}

{#{% block profile_body %}#}
{#    {% crispy form %}#}
{#{% endblock %}#}
{##}

{% load static %}

{% block content %}
    <div class="col-md-3">
       {% include "core/units/_menu.html" %}
    </div>
    <div class="col-md-9">
        {% crispy form %}
    </div>


{% endblock %}

{% block scripts %}
    {{ form.media }}

    <script type="text/javascript" src="{% static 'vendor/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-datepicker/css/datepicker3.css' %}"/>

    <script>
    $(document).ready(function() {
        $('.dateinput').datepicker();
        $('input[name=current_indicator]').click(function() {
            var endDate = $('#div_id_end_date');
            if ($(this).is(':checked')) {
                endDate.hide();
            }
            else {
                endDate.show();
            }
        });
    });

    $(function(){
        if ($('.geoposition-search').length) {
            $('input[name="country"], input[name="city"], input[name="address"]').focusout(function() {
                $('.geoposition-search input').val([
                    $('input[name="country"]').val(), $('input[name="city"]').val(), $('input[name="address"]').val(),
                ].join(' ')).trigger('keydown');
            });
        }
    });

    </script>


{% endblock %}