{%  extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="col-md-3">
       {% include "core/units/_menu.html" %}
    </div>

    <div class="col-md-9">
    {% for object in object_list %}
        <h4><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></h4>
        <p>{{ object.description | truncatechars:400 }} </p>

    {% empty %}
        <li>No records found.</li>
    {% endfor %}

     </div>


{% endblock %}
