    <li class="vertical-timeline__item">
		<div class="vertical-timeline__item-inner">
			<div class="vertical-timeline__item-body">
				<h2 class="vertical-timeline__heading">{{ object.date|date:"Y" }}</h2>
            {% include 'cms-extras/timeline_edit.html' %}
				<div class="vertical-timeline__description">
					<p>{% if object.content %}{{ object.content |safe }}{% endif %}</p>
				</div>
			</div>
			<div class="vertical-timeline__img">
				{% if object.img.url %}<img src="{{ object.img.url }}" alt="{{ object.title }}">{% endif %}
			</div>
		</div>
{% if object.ximg.url %}
		<img src="{{ object.ximg.url }}" class="vertical-timeline__spot vertical-timeline__spot--right heritage-microfiber" alt="{{ object.title }}">
{% endif %}
	</li>


