{% extends 'dashboard/layout.html' %}
{% load common_tags %}
{% load crispy_forms_tags %}


{% block content_main %}
    {% if not form.instance.pk %}
        <h1>Add a new job</h1>
    {% else %}
        <h1>Edit a job</h1>
    {% endif %}

    {% crispy form %}
{% endblock %}