{% extends 'dashboard/layout.html' %}
{% load common_tags %}


{% block content_main %}
    <div class="panel margin-bottom-40">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-file-text-o"></i> &nbsp; Job posts</h3>
        </div>
        <div class="panel-body">
            <a href="{% url 'dashboard_job_posts_add' %}" class="btn btn-primary btn-sm pull-right">Add a new job</a>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{% sort_column 'Title' 'title' default='asc' %}</th>
                    <th class="hidden-sm">Location</th>
                    <th>{% sort_column 'Updated' 'updated' default='asc' %}</th>
                    <th>Status</th>
                    <th>Visibility</th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th class="hidden-sm"></th>
                    <th></th>
                    <th>
                        <select name="" id="" class="form-control input-sm list-filter">
                            {% form_filter_option 'all' 'is_opened' %}">
                            {% form_filter_option 'opened' 'is_opened' True %}">
                            {% form_filter_option 'closed' 'is_opened' False %}">
                        </select>
                    </th>
                    <th>
                        <select name="" id="" class="form-control input-sm list-filter">
                            {% form_filter_option 'all' 'is_private' %}">
                            {% form_filter_option 'public' 'is_private' False %}">
                            {% form_filter_option 'private' 'is_private' True %}">
                        </select>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% if page.object_list|length > 0 %}
                {% for job in page.object_list %}
                <tr>
                    <td><a href="{{ job.public_url }}">{{ job.title }}</a></td>
                    <td class="hidden-sm">{% display_list ', ' job.country job.city %}</td>
                    <td>{{ job.updated|date:'m/d/Y' }}</td>
                    <td>
                        {% if job.is_opened %}
                            <span class="label label-success">Opened</span>
                        {% else %}
                            <span class="label label-danger">Closed</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if not job.is_private %}
                            <span class="label label-success">Public</span>
                        {% else %}
                            <span class="label label-warning">Private</span>
                        {% endif %}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <a href="{% url 'dashboard_job_posts_edit' id=job.id %}" type="button"
                               class="btn btn-default btn-xs"><i class="fa fa-pencil"></i> &nbsp; Edit
                            </a>
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-cog"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'dashboard_job_posts_toggle_status' id=job.id %}"
                                       data-id="{{ job.id }}" class="job-list-action">
                                    {% if job.is_opened %}
                                        <i class="fa fa-ban"></i> &nbsp; Close</a>
                                    {% else %}
                                        <i class="fa fa-share"></i> &nbsp; Open</a>
                                    {% endif %}
                                </li>
                                <li><a href="{% url 'dashboard_job_posts_toggle_visibility' id=job.id %}"
                                       data-id="{{ job.id }}" class="job-list-action">
                                    {% if job.is_private %}
                                        <i class="fa fa-unlock"></i> &nbsp; Make public</a>
                                    {% else %}
                                        <i class="fa fa-lock"></i> &nbsp; Make private</a>
                                    {% endif %}
                                </li>
                                <li><a href="{% url 'dashboard_job_posts_delete' id=job.id %}"
                                       data-id="{{ job.id }}" data-confirm="1" class="job-list-action">
                                    <i class="fa fa-trash"></i> &nbsp; Delete</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}

            {% else %}
                <tr>
                    <td colspan="6"><i>No jobs found</i></td>
                </tr>

            {% endif %}
            </tbody>
        </table>

        {% include 'navigation/pagination.html' %}
    </div>

{% endblock %}