{%  extends 'themes/layout.html' %}
{% load humanize %}
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}

{% block sidebar-left %}
    <div class="{% if not object.theme.sidebar_left %} small-12 medium-3 large-3 columns hide {% else %} {{ object.theme.sidebar_left }} {% endif %}">
    {% include "menu/_sidemenu_left.html" %}
    </div>
{% endblock %}

{% block content %}
    <div class="{% if not object.theme.content_center %} small-12 medium-9 large-9 columns {% else %} {{ object.theme.content_center }} {% endif %}">
        <div><h3>{{ object.title }}</h3></div>
    {% if user.is_superuser or user.is_staff  %}
        <div class="content-edit"> {% include "util/revision/_revision.html" %}
        <span class="edit-right"><a href="{%  url 'video_update' object.slug %} " >
            <span class="icon-pencil2"> </span>{% trans "Edit" %}</a></span>
        </div>
    {% endif %}
        <div>
            {% if object.provider == 'youtube' %}
                    {% include 'media_manager/units/_youtube_embed.html' %}
                {% elif object.provider == 'vimeo' %}
                    {% include 'media_manager/units/_vimeo_embed.html' %}
                {% else %}
                    <p>No matching media provider</p>
                {% endif %}
        </div>

    {% if user.is_superuser or user.is_staff  %}
        <br>
        <a href="{%  url 'video_update' object.slug %} " class="button-new-blue">{% trans "Edit" %}</a>
        {% include "util/revision/_revision_audit.html" %}
    {% endif %}
    </div>
{% endblock %}

{% block sidebar-right %}
    <div class="{% if not object.theme.sidebar_right %} small-12 medium-3 large-3 columns {% else %} {{ object.theme.sidebar_right }} {% endif %}">
    {% include "menu/_sidemenu_right.html" %}
    </div>
{% endblock %}



