{%  extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="col-md-3">
    {% include "hostel/units/_menu.html" %}
    </div>
    <div class="col-md-9">
    <div><h3>{{ object.name }}</h3></div>
    <div><label>Keyword: </label> {{ object.slug }}</div>
    <div><label>Hostel Code: </label> {{ object.code }}</div>
    <div><label>Hostel Type: </label> {{ object.type }}</div>
    <div><label>Description: </label> {{ object.description }}</div>
    <div><label>Published: </label> {{ object.publish }}</div>
{#    <div><label>Active: </label> {{ object.active }}</div>#}

        <br>
    <a href="{%  url 'hostel_update' object.id %} " class="btn btn-primary">Edit</a>
    </div>
{% endblock %}



