{%  extends 'themes/layout.html' %}
{% load humanize %}
{% load i18n %}
{% load static %}

{% block title %}{{ object_list.page_title }}{% endblock %}

{% block content %}
    <div class="small-12 columns">
        {% if user.is_superuser or user.is_staff  %}
            <div class="row">
                <div class="small-12 medium-6 large-6 columns">
                    <form  method="GET" role="search" action='{%  url "video_list" %}'>
                        <div class="medium-8 columns">

                            <div >
                                <span class="input-group-addon"><i class="icon-suitcase"></i></span>
                                <input type="text" placeholder="Search for Videos" class="form-control" name="q">
                            </div>
                            <span class="results"><i>{% trans "Result" %}: {{ object_list.count }}   {% if object_list.count > 1  %}{% trans "records" %} {% elif object_list.count < 1 or object_list.count == 1 %}{% trans "record" %}{% endif %}</span>
                        </div>

                        <div class="medium-4 columns">

                            <button type="submit" class="button-new-blue"> Search</button>

                        </div>
                    </form>
                </div>
                <div class="small-12 medium-6 large-6 columns">
                    <div class="create-content">
        <span class="edit-right"> <a class="button-new-blue" href="{%  url 'video_create' %} " >
           <span class="icon-file2"> </span>{% trans "Create New Video" %}</a></span>
                    </div>
                </div>
            </div>
        {% endif %}
        {% for object in object_list %}
            <div class="video-wrapper">
                {% if user.is_superuser or user.is_staff  %}
                    <div class="content-info">
                        <h5><a href="{{ object.get_absolute_url }}"> {{ object.title }}</a></h5>
                        {% include "util/revision/_revision.html" %}
        <span class="edit-right">
            <span><b>{% trans "Status" %}:</b> <i>{% if object.active == True %}{% trans "Active" %} {% elif object.active == False %}{% trans "Inactive" %}{% endif %}</i> </span> |
            <span><b>{% trans "Showing on" %}:</b> <i>{% if object.category %}{{ object.category }}{% endif %}</i>  </span>  |
            <a href="{%  url 'video_update' object.slug %} " >
            <span class="icon-pencil2"> </span>{% trans "Edit" %}</a></span>
                    </div>
                {% endif %}
                {% if object.provider == 'youtube' %}
                    {% include 'media_manager/units/_youtube_embed.html' %}
                {% elif object.provider == 'vimeo' %}
                    {% include 'media_manager/units/_vimeo_embed.html' %}
                {% else %}
                    <p>No matching media provider</p>
                {% endif %}
            </div>



        {% empty %}
            <div class="no-records-found container">{% blocktrans %}No videos found{% endblocktrans %}</div>

        {% endfor %}

    </div>
{% endblock %}