.about-movement-section {
  @include section(inline-block);
  text-align: center;

  .movement-callout {
    @include full-box;
    margin-bottom: $space;

    > div {
      @include full-box;
      font-size: 1.5em;
      line-height: 140%;

      // Secondary Mobile - Phone & Below
      @media screen and (max-width: $phone) {
        font-size: 1.1em;
      } // End Phone & Below
    }

    a {
      color: $brand-alt;
      font-size: 1.1em;
      line-height: 140%;
      text-decoration: underline;
    } // End a

    svg {
      height: 0.7em;
      width: 0.7em;

      & use {
        fill: $default;
      }
    } // End svg
  } // End movement-callout
} // End about-movement
