body.home {
  // Host Section
  .host-section {
    @include section-callout($brand-ter);

    .image-callout {
      @include image-callout($brand-ter, url("../../assets/images/clean-floor.jpg"), 0);
    } // End .image-callout
  } // End .host

  // Join Section
  .join-section {
    @include section-callout($brand-quat);

    .image-callout {
      @include image-callout($brand-quat, url("../../assets/images/child-safety.jpg"));
    } // End .image-callout
  } // End .join

  // About Movement Section
  .about-movement-section {
    @include section-callout($brand-alt);
  } // End .about-movement
} // End body.home
