body.join {
  // Bottom Callout Section
  .bottom-callout-section {
    @include image-callout-section($brand-quat, url("../../assets/images/mom-and-daughter.jpg"));
  }

  // Become a Consultant Section
  .become-a-consultant {
    @include section-callout($brand-alt);
    @include larger;

    h2 {
      margin-bottom: 1em;
    }
  } // End .become-a-consultant

  // Testominial Slider
  .testimonials {
    background-color: $brand-quat;
  }

  // Earnings Section
  .earnings {
    display: inline-block;

    h2 {
      color: $brand-alt;
      margin-bottom: 0.75em;
    }
  } // End earnings

  // Getting Started
  .getting-started {
    @include larger;
    background-image: url("../../assets/images/large-drop-pattern.svg");
    background-position: 80% center;
    background-repeat: no-repeat;
    display: inline-block;

    // Secondary Mobile - Phone & Below
    @media screen and (max-width: $phone) {
      background-image: none;
    } // End Phone & Below

    p {
      font-size: 125%;

      &.note {
        font-family: "Proxima-Nova";
        font-size: 75%;
        margin-top: 2.5%;
        text-align: left;
      }
    }

    h2 {
      margin-bottom: 1em;
    }

    h5 {
      color: $brand;
    }

    .current-specials {
      @include current-specials;
    }

    .brochures {
      background-image: url("../../assets/images/brochures.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      margin: 5% 0 $half-space;
      padding-bottom: 40%;

      // Secondary Mobile - Phone & Below
      @media screen and (max-width: $phone) {
        padding-bottom: 56.25%;
      } // End Phone & Below
    }

    .carousel-container {
      @include carousel-container($brand);

      .carousel {
        &-item {
          &-content {
            &-image {
              &.large-mop-base {
                background-image: url("../../assets/images/starter-kit/mop-base.png");
              }

              &.laundry-detergent {
                background-image: url("../../assets/images/starter-kit/laundry-detergent.png");
              }

              &.carry-all {
                background-image: url("../../assets/images/starter-kit/carry-all.png");
              }

              &.window-cloth {
                background-image: url("../../assets/images/starter-kit/window-cloth.png");
              }

              &.dusting-mitt {
                background-image: url("../../assets/images/starter-kit/dusting-mitt.png");
              }

            } // End &-image
          } // End &-content
        } // End &-item
      } // End .carousel
    } // End .carousel-container
  } // End .getting-started
} // End body.join
