{#{% load common_tags %}#}
{#{% load rules %}#}
{% load i18n %}


<ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
    <li class="list-group-item ">
        <a href="{% url 'locale_list' %}"><i class="fa fa-home"></i> {% trans "Locales" %}</a>
    </li>

    <li class="list-group-item">
        <a href="{% url 'format_list' %}"><i class="fa fa-university"></i> {% trans "Formats" %}</a>
    </li>
{% if user.is_superuser or user.is_staff  %}
       <li class="list-group-item">
        <a href="{% url 'locale_create' %}"><i class="fa fa-cog"></i> {% trans "Create Locales" %}</a>
    </li>

    <li class="list-group-item">
        <a href="{% url 'format_create' %}"><i class="fa fa-cog"></i> {% trans "Create Formats" %}</a>
    </li>

{% endif %}
</ul>