{% extends 'dashboard/layout.html' %}
{% load common_tags %}

{% block content_main %}
    <div class="panel margin-bottom-40">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-file-text-o"></i> &nbsp; Contact requests</h3>
        </div>
        <div class="panel-body">
            {% if page.object_list|length %}
                {% for contact_request in page.object_list %}
                    {% include 'dashboard/units/seeker-contact-request-item.html' %}
                {% endfor %}
            {% else %}
                <div style="margin: 10px 0 0 15px;"><i>No requests sent</i></div>
            {% endif %}

            {% include 'navigation/pagination.html' %}
        </div>
    </div>

{% endblock %}