{% extends 'dashboard/layout.html' %}
{% load common_tags %}

{% block content_main %}
    <div class="table-search-v2 margin-bottom-40">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-inbox"></i> &nbsp; Interview invitations</h3>
        </div>
        <div class="table-responsive">
            {% if page.object_list|length %}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="hidden-sm"></th>
                            <th>Recruiter</th>
                            <th>Company</th>
                            <th>Job</th>
                            <th>Message</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for invitation in page.object_list %}
                            {% include 'dashboard/units/seeker-invitation-item.html' %}
                        {% endfor %}

                        <tr>
                            <td class="hidden-sm" style="border: 0;"></td>
                            <td style="border: 0;"></td>
                            <td style="border: 0;"></td>
                            <td style="border: 0;"></td>
                            <td style="border: 0;"></td>
                            <td style="border: 0;"></td>
                        </tr>
                    </tbody>
                </table>
            {% else %}
                <div style="margin: 10px 0 0 15px;"><i>No interview invitations</i></div>
            {% endif %}

            {% include 'navigation/pagination.html' %}
        </div>
    </div>

{% endblock %}