{%  extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="col-md-3">
    {% include "core/units/_menu.html" %}
    </div>
    <div class="col-md-9">
    <div><h3>{{ object.name }}</h3></div>
    <div><label>Description: </label> {{ object.description|safe }}</div>
    <div><label>Published: </label> {{ object.publish }}</div>
{#    <div><label>Active: </label> {{ object.active }}</div>#}

        <br>
    <a href="{%  url 'locale_update' object.slug %} " class="btn btn-primary">Edit</a>
    </div>
{% endblock %}



