{%  extends 'themes/layout.html' %}
{% load crispy_forms_tags %}
{% crispy form helper %}
{% load humanize %}
{% load i18n %}
{% load static %}


{% load static %}

{% block content %}
    <div class="{% if not object.theme.sidebar_left %} small-12 medium-3 large-3 columns hide {% else %} {{ object.theme.sidebar_left }} {% endif %}">
        {% include "menu/_sidemenu_left.html" %}
    </div>
    <div class="{% if not object.theme.content_center %} small-12 medium-6 large-6 columns {% else %} {{ object.theme.content_center }} {% endif %}">
        {% crispy form %}
    </div>
    <div class="{% if not object.theme.sidebar_right %} small-12 medium-3 large-3 columns {% else %} {{ object.theme.sidebar_right }} {% endif %}">
       {% include "menu/_sidemenu_right.html" %}
    </div>


{% endblock %}

{% block scripts %}
    {{ form.media }}

    <script type="text/javascript" src="{% static 'vendor/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-datepicker/css/datepicker3.css' %}"/>

    <script>
    $(document).ready(function() {
        $('.dateinput').datepicker();
        $('input[name=current_indicator]').click(function() {
            var endDate = $('#div_id_end_date');
            if ($(this).is(':checked')) {
                endDate.hide();
            }
            else {
                endDate.show();
            }
        });
    });

    $(function(){
        if ($('.geoposition-search').length) {
            $('input[name="country"], input[name="city"], input[name="address"]').focusout(function() {
                $('.geoposition-search input').val([
                    $('input[name="country"]').val(), $('input[name="city"]').val(), $('input[name="address"]').val(),
                ].join(' ')).trigger('keydown');
            });
        }
    });

    </script>


{% endblock %}