{%  extends 'themes/layout.html' %}
{% load humanize %}
{% load i18n %}
{% load static %}

{% block title %}{% endblock %}


{% block content %}
    <div class="{% if not object.theme.sidebar_left %} small-12 medium-3 large-3 columns hide {% else %} {{ object.theme.sidebar_left }} {% endif %}">
        {% include "menu/news/_sidemenu_left.html" %}
    </div>
    <div class="{% if not object.theme.content_center %} small-12 medium-9 large-9 columns {% else %} {{ object.theme.content_center }} {% endif %}">
    {% for object in object_list|dictsort:"publish_start" %}
        {% if object.image != None %}
            <div class="small-12 medium-3 large-3 columns">
            <a href="{{ object.get_absolute_url }}"><img src="{{ object.img.url }}"></a>
            <div class="small-12 medium-9 large-9 columns">
        {% else %}
            <div class="small-12 medium-12 large-12 columns">
        {% endif %}
    </div>
    <h5><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h5>
    {% if  object.publish_start %}<div class="created_updated">{% blocktrans %}Published on{% endblocktrans %}: {{ object.publish_start|apnumber }}</div>{% endif %}
    {% if object.content %}<div>{{ object.content | truncatechars:250|safe }}{% if object.content|length > 250 %} <a href="{{ object.get_absolute_url }}">{% blocktrans %}read more{% endblocktrans %}</a>{% endif %}</div>{% endif %}
    </div>

        <hr>
    {% empty %}
        <div class="no-records-found">{% blocktrans %}No calendars found{% endblocktrans %}</div>
    {% endfor %}

</div>
    <div class="{% if not object.theme.sidebar_right %} small-12 medium-3 large-3 columns {% else %} {{ object.theme.sidebar_right }} {% endif %}">
        {% include "menu/news/_sidemenu_right.html" %}
    </div>
{% endblock %}

