{#{% load common_tags %}#}
{#{% load rules %}#}
{% load i18n %}

<div id="sidebar-right">
<ul class="menu vertical">
  <li><a href="{% url 'news_list' %}">{% trans "News" %}</a><i>{{ instance.count }}</i></li>
  <li><a href="{% url 'post_list' %}"> {% trans "Posts" %}</a></li>
  <li><a href="{% url 'event_list' %}"> {% trans "Events" %}</a></li>
  <li><a href="{% url 'event_tag_list' %}"> {% trans "Event Tags" %}</a></li>
  <li><a href="{% url 'calendar_list' %}"> {% trans "Calendars" %}</a></li>
    {% if user.is_superuser or user.is_staff  %}
        <fieldset class="fieldset">
          <legend>{% blocktrans %}Create New Contents{% endblocktrans %}</legend>
            <ul>
                <li><a href="{% url 'news_create' %}"><i class="icon-newspaper"></i> {% trans "News" %}</a></li>
                <li><a href="{% url 'post_create' %}"><i class="icon-file4"></i> {% trans "Post" %}</a></li>
                <li><a href="{% url 'event_create' %}"><i class="icon-bullhorn"></i> {% trans "Event" %}</a></li>
                <li><a href="{% url 'event_tag_create' %}"><i class="icon-tag5"></i> {% trans "Event Tag" %}</a></li>
                <li><a href="{% url 'calendar_create' %}"><i class="icon-calendar"></i> {% trans "Calendar" %}</a></li>
            </ul>

        </fieldset>

    {% endif %}
</ul>
</div>