{%  extends 'themes/layout.html' %}
{% load humanize %}
{% load i18n %}
{% load static %}
{% load cms_extras %}

{% block title %}{% endblock %}

{% block featured %}
<section class="norwex-news container">
		<div class="hero-content-wrap">
			<div class="hero-text-no-circle">
                {% for s in snippet %}
                    {% if s.slug == "news-archive" %}
                        {% include 'cms-extras/snippet_edit.html' %}
				<div class="hero-image-text-surheading">{% if s.label %}{{ s.label }}{% endif %}</div>
				<div class="hero-image-text-heading">{% if s.content %}{{ s.content|striptags|safe }}{% endif %}</div>
                {% endif %}
                {% endfor %}

			</div>
		</div>
	</section>

<section class="section content-page text-left">
	<div class="wrap">
{#		<div class="row">#}
{#			<div class="columns">#}
{#				<h1 class="page-heading">News from Norwex</h1>#}
{#			</div>#}
{#		</div>#}

		<div class="row">
			<div class="medium-8 large-9 columns news-list">
				<div class="row">
                    {% for object in object_list %}
					<article class="article article--news clearfix">
						<div class="medium-4 large-3 columns">
							{% if object.img != None %}
                    <a href="{{ object.get_absolute_url }}"><img src="{{ object.img.url }}"></a>
                {% else %}
                    <a href="{{ object.get_absolute_url }}"><img src="{{ object.news_type.img.url }}"></a>
                {% endif %}
						</div>
						<div class="medium-8 large-9 columns">
							<h5 class="article--news__heading"><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h5>
							<span class="article--news__date">{% if  object.publish_start %}<div class="created_updated">{% blocktrans %}Published on{% endblocktrans %}: {{ object.publish_start|apnumber }}</div>{% endif %}</span>
							<p class="article--news__excerpt">{% if object.content %}<div>{{ object.content | truncatechars:120|safe }}{% if object.content|length > 120 %} <a class="article--news__readmore" href="{{ object.get_absolute_url }}">{% blocktrans %}read more{% endblocktrans %} &raquo;</a>{% endif %}</div>{% endif %} </p>
						</div>
					</article>
                        {% empty %}
            <div class="no-records-found">{% blocktrans %}No news items found{% endblocktrans %}</div>

                    {% endfor %}
				</div>
				<div class="row">
					<div class="small-12 columns">
                        {% if is_paginated %}
            {% include 'util/paginator.html' %}
        {% endif %}
					</div>
				</div>
			</div>
			<div class="medium-4 large-3 columns">
                {% include 'menu/_newsmenu.html' %}
				<div class="news-archive">
                <h2 class="h4 mbs">News Archive</h2>
				<ul class="list-unstyled">
					<li><a href="#">July 2016</a></li>
					<li><a href="#">June 2016</a></li>
					<li><a href="#">May 2016</a></li>
					<li><a href="#">April 2016</a></li>
					<li><a href="#">March 2016</a></li>
					<li><a href="#">February 2016</a></li>
					<li><a href="#">January 2016</a></li>
					<li><a href="#">December 2015</a></li>
					<li><a href="#">November 2015</a></li>
					<li><a href="#">October 2015</a></li>
					<li><a href="#">September 2015</a></li>
					<li><a href="#">August 2015</a></li>
					<li><a href="#">July 2015</a></li>
					<li><a href="#">June 2015</a></li>
					<li><a href="#">May 2015</a></li>
					<li><a href="#">April 2015</a></li>
					<li><a href="#">March 2015</a></li>
					<li><a href="#">February 2015</a></li>
					<li><a href="#">January 2015</a></li>
				</ul>
                </div>
			</div>
		</div>
	</div>
</section>

{% endblock %}


