{#{% load humanize %}#}
{#{% load i18n %}#}
{#{% load static %}#}
{##}
{#    {% if user.is_superuser or user.is_staff  %}#}
{#        <div>#}
{#            <i class="created_updated">{% blocktrans %}Updated {% endblocktrans %} {{ object.updated | naturaltime }} {% trans "by" %} <b>{{ object.updated_by }}</b></i>#}
{#        </div>#}
{#    {% endif %}#}
