{%  extends 'themes/layout.html' %}
{% load humanize %}
{% load i18n %}
{% load static %}

{% block title %}{% endblock %}


{% block content %}
    <div class="{% if not object.theme.sidebar_left %} small-12 medium-3 large-3 columns hide {% else %} {{ object.theme.sidebar_left }} {% endif %}">
        {% include "menu/_sidemenu_left.html" %}
    </div>
    <div class="{% if not object.theme.content_center %} small-12 medium-9 large-9 columns {% else %} {{ object.theme.content_center }} {% endif %}">
        <h1>{{ object.page.title }}</h1>
        {% for object in object_list|dictsort:"sort_order" %}
            <h4><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h4>
            <p>{{ object.content | truncatechars:350|safe }}{% if object.content|length > 350 %} <a href="{{ object.get_absolute_url }}">more</a>{% endif %}</p>
            <hr>
        {% empty %}
            <div class="no-records-found">{% blocktrans %}No records found{% endblocktrans %}</div>
        {% endfor %}

    </div>
    <div class="{% if not object.theme.sidebar_right %} small-12 medium-3 large-3 columns {% else %} {{ object.theme.sidebar_right }} {% endif %}">
        {% include "menu/_sidemenu_right.html" %}
    </div>
{% endblock %}

