/*Custom Overrides*/

.pws-site-header {
    /*height: 135px;*/
    padding: 0 2rem 0 2rem;
}

.consultant-info {
    padding: 0.5rem 0 0.5rem 0;
}

.consultant-name {
    font-size: 14px;
    color: #6f818c;
    font-weight: bold;
}

.consultant-data {
    float: left;
    width: 60%;
    display: block;
}

.consultant-photo .available-photo img {
    border-radius: 0%;
    float: right;
    width: auto;
    display: block;
    height: auto;
    max-width: 30%;
}

.consultant-photo .no-photo img {
    border-radius: 0%;
    float: right;
    width: auto;
    display: block;
    height: auto;
    max-width: 19%;
}

.consultant-data .consultant-role {
    font-size: 12px;
    color: #6f818c;
    margin-right: 2px;
}

.consultant-data .about-me a {
    font-size: 12px;
    color: #5bb941;
}

.about-me a {
    font-size: 12px;
    color: #5bb941;
    text-align: center !important;
}


p {
    font-family: "Proxima-Nova";
}
.title-bar .a.mobile.logo {
    float: none !important;
    margin: 0 5em 0 0;
    padding-top: 0.6em !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

a.logo {
    float: left;
    margin: 0 5em 0 0;
}
.circle-buttons .circle-button-container a.shop {
    display: inline-block;
    position: relative;
    border: 2px solid #00b5bf;
    border-radius: 100%;
    color: #00b5bf;
    font-family: "Proxima-Nova-B";
    font-size: 2em;
    height: 5.5em;
    padding: 1.7em 0.5rem;
    position: relative;
    text-align: center;
    width: 5.5em;
}


.circle-buttons .circle-button-container a.host {
    display: inline-block;
    position: relative;
    border: 2px solid #ffd24f;
    border-radius: 100%;
    color: #ffd24f;
    font-family: "Proxima-Nova-B";
    font-size: 2em;
    height: 5.5em;
    padding: 1.7em 0.5rem;
    position: relative;
    text-align: center;
    width: 5.5em;
}

.circle-buttons .circle-button-container a.join {
    display: inline-block;
    position: relative;
    border: 2px solid #b6b1d8;
    border-radius: 100%;
    color: #b6b1d8;
    font-family: "Proxima-Nova-B";
    font-size: 2em;
    height: 5.5em;
    padding: 1.7em 0.5rem;
    position: relative;
    text-align: center;
    width: 5.5em;
}


.circle-buttons .circle-button-container a.learn {
    display: inline-block;
    position: relative;
    border: 2px solid #62bb46;
    border-radius: 100%;
    color: #62bb46;
    font-family: "Proxima-Nova-B";
    font-size: 2em;
    height: 5.5em;
    padding: 1.7em 0.5rem;
    position: relative;
    text-align: center;
    width: 5.5em;
}


.topbar-wrapper .menu {
    float: right !important;
}
.collection-item {
    font-size: 1rem;
    line-height: 110%;
}

.collective {
    width: 100%;
    text-align: center;
    align-content: center;
    padding: 0 8rem;
}

.carousel-container {
    display: inline-block;
    position: relative;
    clear: both;
    float: none;
    width: 100%;
}

.green {
    color: #9fcc65 !important;
}

.yellow {
    color: #ffd24f !important;
}

.bg-yellow {
    background: #ffd24f !important;
}

.bg-purple {
    background: #b6b1d8 !important;
}

.host.hero-text-container h1 {
    color: #46555f;
    margin-bottom: 2rem;
    font-size: 2em;
    padding: 0 6rem;
}

.join.hero-text-container h1 {
    color: #46555f;
    margin-bottom: 2rem;
    font-size: 2em;
    padding: 0 6rem;
}

.host-yellow, .host-yellow svg use {
    fill: #ffd24f !important;
    stroke: #ffd24f !important;
}

.join-purple, .join-purple svg use {
    fill: #b6b1d8 !important;
    stroke: #b6b1d8 !important;
}

.learn-green, .learn-green svg use {
    fill: #62bb46 !important;
    stroke: #62bb46 !important;
}


.about-blue, .about-blue svg use {
    fill: #00b5bf !important;
    /*stroke: #00b5bf !important;*/
}

.host-square {
    border-radius: 0 !important;
    background: #ffd24f !important;
}

.join-circle {
    border-radius: 100% !important;
    background: #b6b1d8 !important;
}

.purple {
    color: #b6b1d8 !important;
}

.host-image-callout-message {
    display: block;
    position: relative;
    background-color: #ffd24f;
    border-radius: 0em;
    color: #fff;
    height: 30em;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    width: 30em;
}

.why-host-section .wrap .icon-divider-heading .divider-container .icon-container svg use {
    fill: #ffd24f;
    stroke: #ffd24f;
}

.why-host-section .wrap .highlights {
    margin: 30px 0 0;
}

div.styleguide.host .hero-image-text,
body.host .hero-image-text {
    display: inline-block;
    position: relative;
    -webkit-transform: translateX(-50%);
    -khtml-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #ffd24f;
    border-radius: 100%;
    color: #fff;
    height: 24em;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 20.5em !important;
    width: 24em
}

.hero-image-text {
    display: inline-block;
    position: relative;
    -webkit-transform: translateX(-50%);
    -khtml-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #00b5bf;
    border-radius: 100%;
    color: #fff;
    height: 24em;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 20.5em !important;
    width: 24em;
}

body.join .hero-image-text {
    display: inline-block;
    position: relative;
    -webkit-transform: translateX(-50%);
    -khtml-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #b6b1d8;
    border-radius: 100%;
    color: #fff;
    height: 24em;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 20.5em !important;
    width: 24em;
}

.testimonials {
    background-color: #62bb46;
    display: inline-block;
    overflow: hidden;
    padding: 3rem;
}
.testimonials .wrap h2 {
    font-size: 2.5em;
}
/*.section .join.testimonials {*/
    /*background: #b6b1d8;*/
/*}*/

.join.testimonials {
    background-color: #b6b1d8;
    display: inline-block;
    overflow: hidden;
    padding: 4rem 3rem;
}

section {
    display: table;
    position: relative;
    clear: both;
    float: none;
    width: 100%;
    padding: 0rem 0;
    text-align: center;
}

.shop-microfiber.section {
    padding: 2rem;
}

.surheader .global-nav nav .menu-list {
    display: none;
    position: absolute;
    top: 40px;
    left: 145px !important;
    background-color: #fefefe;
    color: #0a0a0a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: left;
}

/*Iconography*/


@font-face {
    font-family: 'Proxima-Nova';
    src: url("../fonts/proximanovaregular-webfont.woff2") format("woff2"), url("../fonts/proximanovaregular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Proxima-Nova-T';
    src: url("../fonts/proximanovathin-webfont.woff2") format("woff2"), url("../fonts/proximanovathin-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Proxima-Nova-TI';
    src: url("../fonts/proximanovathinitalic-webfont.woff2") format("woff2"), url("../fonts/proximanovathinitalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Arial';
    src: url("../fonts/proximanovalight-webfont.woff2") format("woff2"), url("../fonts/proximanovalight-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'ArialI';
    src: url("../fonts/proximanovalightitalic-webfont.woff2") format("woff2"), url("../fonts/proximanovalightitalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Proxima-Nova-I';
    src: url("../fonts/proximanovaregularitalic-webfont.woff2") format("woff2"), url("../fonts/proximanovaregularitalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Proxima-Nova-SB';
    src: url("../fonts/proximanovasemibold-webfont.woff2") format("woff2"), url("../fonts/proximanovasemibold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Proxima-Nova-SBI';
    src: url("../fonts/proximanovasemibolditalic-webfont.woff2") format("woff2"), url("../fonts/proximanovasemibolditalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Proxima-Nova-B';
    src: url("../fonts/proximanovabold-webfont.woff2") format("woff2"), url("../fonts/proximanovabold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Proxima-Nova-BI';
    src: url("../fonts/proximanovabolditalic-webfont.woff2") format("woff2"), url("../fonts/proximanovabolditalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Proxima-Nova-EB';
    src: url("../fonts/proximanovaextrabold-webfont.woff2") format("woff2"), url("../fonts/proximanovaextrabold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Proxima-Nova-EBI';
    src: url("../fonts/proximanovaextrabolditalic-webfont.woff2") format("woff2"), url("../fonts/proximanovaextrabolditalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal
}

h1.thick,
.h1.thick {
    font-family: 'Proxima-Nova-B', Helvetica, Arial, sans-serif;
}

h2,
.h2 {
    color: #00b5bf;
    font-family: "Proxima-Nova", Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    line-height: 110%
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    border: 2px solid #e2e2e2;
    background: white;
    padding: 10px;
    color: #313334;
    height: 47px;
    outline-color: #e2e2e2;
}


.svg {
    max-width: 100%;
    text-align: center
}

.svg--fill {
    width: 120px;
    height: 120px;
    position: relative
}

.svg--gridicon {
    margin-left: 15px
}

.svg--block {
    display: inline-block
}

.svg--centered {
    margin: 0 auto
}

.svg__fill--lightgreen {
    fill: #DAEBBF
}

.svg__fill--green {
    fill: #77BC1F
}

.svg__fill--blue {
    fill: #407CCA
}

.color-block {
    padding: 20px;
    margin-bottom: 10px;
    color: white;
    text-align: center
}

.color-block--primary {
    background: #2199e8
}

.color-block--secondary {
    background: #777
}

.color-block--success {
    background: #3adb76
}

.color-block--warning {
    background: #ffae00
}

.color-block--alert {
    background: #ec5840
}

.color-block--black {
    background: #0a0a0a
}

.color-block--light-gray {
    background: #e6e6e6
}

.color-block--medium-gray {
    background: #cacaca
}

.color-block--dark-gray {
    background: #8a8a8a
}

.color-block--white {
    border: 1px solid #0a0a0a;
    background: #fefefe;
    color: #0a0a0a
}

.color-block--teal {
    background: #00b5bf
}

.color-block--green {
    background: #77c025
}

.color-block--purple {
    background: #939ac6
}

.color-block--yellow {
    background: #ffd24f
}


.divicon-size {
    font-size: 4rem;
}

.divicon-blue {
    color: #00b5bf;
}

.divicon-green {
    color: #62bc46;
}


.hero-text {
    display: table;
    position: relative;
    clear: both;
    float: none;
    width: 100%;
    padding: 3rem 0;
    text-align: center;
    background-color: #fff;
    text-align: center;
}
.hero-text, .hero-text p {
    line-height: 140%;
}


h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
    display: inline-block;
    position: relative;
    clear: both;
    float: none;
    width: 100%;
    line-height: 120%;
    margin-bottom: 1rem
}

h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a {
    border-bottom: 1px solid
}

h1,
.h1 {
    color: #46555f;
    font-family: "Arial", Helvetica, Arial, sans-serif;
    font-size: 2.5em
}

@media screen and (max-width: 680px) {
    h1,
    .h1 {
        font-size: 2.4em
    }
    .hero-text-container h1 {
    color: #00b5bf;
    padding: 0 1em;
    line-height: 1.2em;
}
}

@media screen and (max-width: 680px) {
    h1,
    .h1 {
        font-size: 1.75em
    }
    .hero-text-container h1 {
    color: #00b5bf;
    padding: 1em !important;
    line-height: 1.2em;
}
    .hero-image {
    display: inline-block;
    position: relative;
    clear: both;
    float: none;
    width: 100%;
    /*background-image: url("../img/norwex-hero-1.jpg");*/
    background-position: 38% !important;
    background-repeat: no-repeat;
    background-size: cover;
    height: 614px;
    left: 0;
    position: absolute;
    top: 0;
}

    .h2.massive {
        padding: 0 0.5em 0 0.5em;
        margin: 1rem !important;
    }

    .circle-buttons .circle-button-container {
    display: inline-block;
    position: relative;
    float: left;
    width: 50% !important;
    text-align: center;
    margin-bottom: 2rem;
}

}

h1.thick,
.h1.thick {
    font-family: 'Proxima-Nova-B', Helvetica, Arial, sans-serif;
}

h2,
.h2 {
    color: #00b5bf;
    font-family: "Proxima-Nova", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    line-height: 110%
}

@media screen and (max-width: 1024px) {
    h2,
    .h2 {
        font-size: 2em
    }
}

@media screen and (max-width: 680px) {
    h2,
    .h2 {
        font-size: 1.75em
    }
}

h3,
.h3 {
    font-family: "Arial", Helvetica, Arial, sans-serif;
    font-size: 2.25em
}

@media screen and (max-width: 1024px) {
    h3,
    .h3 {
        font-size: 2em
    }
}

@media screen and (max-width: 680px) {
    h3,
    .h3 {
        font-size: 1.35em
    }
}

h4,
.h4 {
    display: inline-block;
    position: relative;
    background-color: #fff;
    font-size: 1.75em;
    margin-bottom: .75rem;
    z-index: 1
}

h5,
.h5 {
    display: inline-block;
    position: relative;
    font-family: "Proxima-Nova-SB", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    line-height: 120%;
    margin-bottom: .75rem
}

@media screen and (max-width: 1024px) {
    h5,
    .h5 {
        font-size: 1.4em
    }
}

@media screen and (max-width: 680px) {
    h5,
    .h5 {
        font-size: 1.2em
    }
}

.sub-heading {
    color: #5c6f7c;
    font-family: "Arial", Helvetica, Arial, sans-serif;
    font-size: 1.375em;
    line-height: 140%;
    margin: 0 auto 1.25rem;
    max-width: 650px
}

@media screen and (max-width: 1024px) {
    .sub-heading {
        font-size: 1.25em;
        width: 80%
    }
}

@media screen and (max-width: 680px) {
    .sub-heading {
        font-size: 1em;
        width: 90%
    }
}

.sub-heading.alt {
    font-size: 1.125em
}

.sub-heading-container {
    margin-bottom: 2.5rem
}

section>.sub-heading {
    margin-bottom: 6rem
}

.section.content-page {
    padding-top: 0px;
}

.line-heading-container {
    display: inline-block;
    position: relative;
    clear: both;
    float: none;
    width: 100%;
    text-align: center
}

.line-heading-container:after {
    display: inline-block;
    position: relative;
    clear: both;
    float: none;
    width: 100%;
    background-color: #C2D1D4;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 0.5em
}

.page-heading {
        margin-bottom: 1rem;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.created_updated {
    font-size: 12px;
    color: #989595 !important;
    margin-left: 15px;
}

h1.page-heading {
    font-size: 25px !important;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5 {
    margin-bottom: .75rem
}

h1.proxima-nova,
h2.proxima-nova,
h3.proxima-nova,
h4.proxima-nova,
h5.proxima-nova,
.h1.proxima-nova,
.h2.proxima-nova,
.h3.proxima-nova,
.h4.proxima-nova,
.h5.proxima-nova,
p.proxima-nova {
    font-family: 'Proxima-Nova', Helvetica, Arial, sans-serif !important
}

h1.Arial,
h2.Arial,
h3.Arial,
h4.Arial,
h5.Arial,
.h1.Arial,
.h2.Arial,
.h3.Arial,
.h4.Arial,
.h5.Arial,
p.Arial {
    font-family: 'Arial', Helvetica, Arial, sans-serif !important
}

h1.proxima-nova-sb,
h2.proxima-nova-sb,
h3.proxima-nova-sb,
h4.proxima-nova-sb,
h5.proxima-nova-sb,
.h1.proxima-nova-sb,
.h2.proxima-nova-sb,
.h3.proxima-nova-sb,
.h4.proxima-nova-sb,
.h5.proxima-nova-sb,
p.proxima-nova-sb {
    font-family: 'Proxima-Nova-SB', Helvetica, Arial, sans-serif !important
}

h1.proxima-nova-b,
h2.proxima-nova-b,
h3.proxima-nova-b,
h4.proxima-nova-b,
h5.proxima-nova-b,
.h1.proxima-nova-b,
.h2.proxima-nova-b,
.h3.proxima-nova-b,
.h4.proxima-nova-b,
.h5.proxima-nova-b,
p.proxima-nova-b {
    font-family: 'Proxima-Nova-B', Helvetica, Arial, sans-serif !important
}

.article--news__date {
    display: block;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 10px;
}

.article--news__excerpt {
    padding: 0.0rem 0;
}


.testimonials .carousel-container .testimonial-carousel .carousel-item-content {
    color: #fff;
    font-family: "Proxima-Nova-SB", Helvetica, Arial, sans-serif;
    margin-bottom: 1.25rem;
    max-width: 80%;
    padding-top: 1rem;
}

.testimonials .carousel-container .carousel .carousel-item-content {
    display: inline-block;
    position: relative;
    clear: both;
    float: none;
    width: 100%;
    font-family: "Proxima-Nova-SB", Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    line-height: 120%;
    z-index: 1;
}
.host-rewards .host-rewards-container h2 {
    line-height: 100%;
    font-size: 2.5em;
}

.shop-footer {
    min-height: 268px;
}

.icon-divider-heading {
    display: inline-block;
    position: relative;
    clear: both;
    float: none;
    width: 100%;
    text-align: center
}

.icon-divider-heading,
.icon-divider-heading .divider-container {
    margin-bottom: 1em
}

.icon-divider-heading .divider-container {
    display: inline-block;
    position: relative;
    clear: both;
    float: none;
    width: 100%;
    padding: 1em 0
}

.icon-divider-heading .divider-container .icon-divider {
    display: inline-block;
    position: relative;
    clear: both;
    float: none;
    width: 100%;
    background-color: rgba(92, 111, 124, 0.2);
    height: 1px;
    width: 100%
}

.icon-divider-heading .divider-container .icon-container {
    -webkit-transform: translate(-50%, -50%);
    -khtml-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    background-color: #fff;
    padding: 0 1em
}

.icon-divider-heading .divider-container .icon-container svg {
    height: 4em;
    width: 4em
}

.icon-divider-heading .divider-container .icon-container svg use {
    fill: #62bb46;
    stroke: #62bb46
}

.section-callout.with-image-callout {
    padding: 2rem 0 0
}

.section-callout .icon-divider-heading {
    display: inline-block;
    position: relative;
    clear: both;
    float: none;
    width: 100%;
    text-align: center
}

.section-callout .icon-divider-heading,
.section-callout .icon-divider-heading .divider-container {
    margin-bottom: 1em
}

.section-callout .icon-divider-heading .divider-container {
    display: inline-block;
    position: relative;
    clear: both;
    float: none;
    width: 100%;
    padding: 1em 0
}


.section-callout .icon-divider-heading .divider-container .icon-divider {
    display: inline-block;
    position: relative;
    clear: both;
    float: none;
    width: 100%;
    background-color: rgba(92, 111, 124, 0.2);
    height: 1px;
}

.section-callout .icon-divider-heading .divider-container .icon-container {
    -webkit-transform: translate(-50%, -50%);
    -khtml-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    background-color: #fff;
    padding: 0 1em
}

.section-callout .icon-divider-heading .divider-container .icon-container svg {
    height: 4em;
    width: 4em
}

.what-to-expect .icon-divider-heading .divider-container .icon-container svg {
    height: 2.5em;
    width: 4em
}
.section-callout .icon-divider-heading .divider-container .icon-container svg use {
    fill: #00b5bf;
    stroke: #00b5bf
}

.section-callout h2 {
    color: #00b5bf;
    font-family: "Arial", Helvetica, Arial, sans-serif;
    font-size: 3em
}

@media screen and (max-width: 680px) {
    .section-callout h2 {
        font-size: 2.4em
    }
}

@media screen and (max-width: 680px) {
    .section-callout h2 {
        font-size: 1.75em
    }
}

.section-callout h2.massive {
    color: #00b5bf;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    line-height: 110%;
    font-size: 5.25em;
    line-height: 1;
    margin: 4rem 0 1rem;
    color: #00b5bf;
    padding: 0 5%;
    font-weight: bold;
}

@media screen and (max-width: 1024px) {
    .section-callout h2.massive {
        font-size: 2em
    }
}

@media screen and (max-width: 680px) {
    .section-callout h2.massive {
        font-size: 1.75em
    }
}

@media screen and (max-width: 1024px) {
    .section-callout h2.massive {
        font-size: 4em
    }
}

@media screen and (max-width: 680px) {
    .section-callout h2.massive {
        font-size: 2.5em
    }
}

.section-callout h3 {
    max-width: 900px;
    color: #00b5bf
}

.section-callout a {
    color: #00b5bf
}

.section-callout a.cta {
    -webkit-transition: color background-color border-color;
    -khtml-transition: color background-color border-color;
    -moz-transition: color background-color border-color;
    -ms-transition: color background-color border-color;
    -o-transition: color background-color border-color;
    transition: color background-color border-color;
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-touch-callout: none;
    -moz-touch-callout: none;
    -ms-touch-callout: none;
    -o-touch-callout: none;
    touch-callout: none;
    background-color: #00b5bf;
    border: 2px solid #00b5bf;
    color: #fff;
    font-family: "Arial", Helvetica, Arial, sans-serif;
    font-size: 0.875em;
    padding: 0.775em 1em;
    text-transform: uppercase
}

.section-callout a.cta svg {
    display: inline;
    position: relative;
    float: left;
    height: 1em;
    margin-right: .375rem;
    width: 1em
}

.section-callout a.cta svg use {
    fill: #fff
}

.section-callout a.cta:hover {
    color: #fff
}

.shop-section a.cta:hover {
    background: #04a6af !important;
    /*background: #1abcc5 !important;*/
}

.plan-your-party a.cta:hover, .host-section a.cta:hover {
    background: #ecc246 !important;
}

.join-section a.cta:hover, .join-now a.cta:hover {
    background: #9c97bb !important;
}

.image-callout {
    display: table;
    position: relative;
    clear: both;
    float: none;
    width: 100%;
    padding: 4rem 0;
    text-align: center;
    /*background-image: url("../img/products.jpg");*/
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1195px;
    margin: 0 auto
}

@media screen and (max-width: 1024px) {
    .image-callout {
        padding: 2.5rem 0
    }
}

.image-callout.half-section .half-section-content {
    display: inline-block;
    position: relative;
    float: right;
    text-align: left;
    width: 48%
}

@media screen and (max-width: 680px) {
    .image-callout.half-section .half-section-content {
        display: inline-block;
        position: relative;
        clear: both;
        float: none;
        width: 100%
    }
}

.image-callout.half-section .half-section-image {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    float: left;
    left: 0;
    max-width: 560px;
    padding-bottom: 50%;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: -1
}

@media screen and (max-width: 1024px) {
    .image-callout.half-section .half-section-image {
        background-position: center center;
        top: 10%
    }
}

@media screen and (max-width: 680px) {
    .image-callout.half-section .half-section-image {
        display: inline-block;
        position: relative;
        clear: both;
        float: none;
        width: 100%;
        padding-bottom: 66%;
        top: 0;
        width: 66%
    }
}

.image-callout-message {
    display: block;
    position: relative;
    background-color: #00b5bf;
    border-radius: 1000em;
    color: #fff;
    height: 35em;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    width: 35em
}

@media screen and (max-width: 1024px) {
    .image-callout-message {
        font-size: 0.75em
    }
}

@media screen and (max-width: 680px) {
    .image-callout-message {
        font-size: 0.55em
    }
}

.image-callout-message .message-container {
    -webkit-transform: translate(-50%, -50%);
    -khtml-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    padding: 1.7em 3em 0;
}

.image-callout-message .message-container .message {
    color: #fff;
    font-family: "Arial", Helvetica, Arial, sans-serif;
    font-size: 3.5em;
    line-height: 1em;
    margin-bottom: 2rem
}

.sales-container .image-callout-message .message-container {
    padding: 1.7em 7em 0;
}
.sales-container .image-callout-message .message-container .message {
    font-size: 2.5em;
    margin-bottom: 1rem;
}
.sales-container .image-callout-message .message-container .sub-message {
    width: 65%;
    margin-bottom: 1.5em;
}
@media screen and (max-width: 1024px) {
    .image-callout-message .message-container .message {
        margin-bottom: 1rem
    }
}

.image-callout-message a.cta {
    -webkit-transition: color background-color border-color;
    -khtml-transition: color background-color border-color;
    -moz-transition: color background-color border-color;
    -ms-transition: color background-color border-color;
    -o-transition: color background-color border-color;
    transition: color background-color border-color;
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-touch-callout: none;
    -moz-touch-callout: none;
    -ms-touch-callout: none;
    -o-touch-callout: none;
    touch-callout: none;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-family: "Proxima-Nova-B", Helvetica, Arial, sans-serif;
    font-size: 0.875em;
    padding: 0.775em 1em;
    text-transform: uppercase;
    font-size: 1.125em
}

.image-callout-message a.cta svg {
    display: inline;
    position: relative;
    float: left;
    height: 1em;
    margin-right: .375rem;
    width: 1em
}

.image-callout-message a.cta svg use {
    fill: #fff
}

.image-callout-message a.cta:hover {
    color: #fff
}

.hero {
    padding: 52em 0 0;
    max-width: 1600px;
    margin: 0 auto
}

@media screen and (max-width: 680px) {
    .hero {
        padding: 30em 0 0
    }
}

.hero-image {
    display: inline-block;
    position: relative;
    clear: both;
    float: none;
    width: 100%;
    /*background-image: url("../img/norwex-hero-1.jpg");*/
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1024px;
    left: 0;
    position: absolute;
    top: 0
}

@media screen and (max-width: 680px) {
    .hero-image {
        height: 100%;
        max-height: 520px
    }
}

@media screen and (max-width: 1024px) {
    .hero-image {
        height: 100%;
        max-height: 980px
    }
}

/*.hero-content-wrap {*/
    /*min-height: 301px;*/
    /*position: relative;*/
    /*margin-top: 134px*/
/*}*/

@media screen and (max-width: 1024px) {
    .hero-content-wrap {
        min-height: 282px;
        margin-top: 128px
    }
}

@media screen and (max-width: 680px) {
    .hero-content-wrap {
        min-height: 204px;
        margin-top: 66px
    }
}

.hero-text-no-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    width: 80%;
    color: #fefefe
}

@media screen and (max-width: 680px) {
    .hero-text-no-circle {
        font-size: 0.75em
    }
}

.hero-text {
    display: table;
    position: relative;
    clear: both;
    float: none;
    width: 100%;
    padding: 4rem 0;
    text-align: center;
    background-color: #fff;
    text-align: center
}

@media screen and (max-width: 1024px) {
    .hero-text {
        padding: 2.5rem 0
    }
}

.hero-text.half-section .half-section-content {
    display: inline-block;
    position: relative;
    float: right;
    text-align: left;
    width: 48%
}

@media screen and (max-width: 680px) {
    .hero-text.half-section .half-section-content {
        display: inline-block;
        position: relative;
        clear: both;
        float: none;
        width: 100%
    }
}

.hero-text.half-section .half-section-image {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    float: left;
    left: 0;
    max-width: 560px;
    padding-bottom: 50%;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: -1
}

@media screen and (max-width: 1024px) {
    .hero-text.half-section .half-section-image {
        background-position: center center;
        top: 10%
    }
}

@media screen and (max-width: 680px) {
    .hero-text.half-section .half-section-image {
        display: inline-block;
        position: relative;
        clear: both;
        float: none;
        width: 100%;
        padding-bottom: 66%;
        top: 0;
        width: 66%
    }
}

.hero-text p {
    width: 66.66667%;
    float: left;
    padding-left: .625rem;
    padding-right: .625rem;
    margin-left: 16.66667%;
    margin-top: 1.25rem
}

@media screen and (min-width: 40em) {
    .hero-text p {
        padding-left: .9375rem;
        padding-right: .9375rem
    }
}

.hero-text p:last-child:not(:first-child) {
    float: right
}

@media screen and (max-width: 680px) {
    .hero-text p {
        width: 100%;
        float: left;
        padding-left: .625rem;
        padding-right: .625rem;
        margin-left: 0%
    }
}

@media screen and (max-width: 680px) and (min-width: 40em) {
    .hero-text p {
        padding-left: .9375rem;
        padding-right: .9375rem
    }
}

@media screen and (max-width: 680px) {
    .hero-text p:last-child:not(: first-child) {
        float: right
    }
}

.hero-text .post-date {
    display: inline-block;
    position: relative;
    padding: 0 1rem;
    text-align: center;
    font-size: 0.875em;
    margin-bottom: 2rem;
    padding: 0 1.25rem;
    text-transform: uppercase
}

.hero-text .post-date:before,
.hero-text .post-date:after {
    background-color: #fff;
    content: "";
    height: 2px;
    position: absolute;
    top: calc(50% - 1px);
    width: 0.25em
}

.hero-text .post-date:before {
    left: 0
}

.hero-text .post-date:after {
    right: 0
}

.hero-text a.cta {
    font-size: 1.125em;
    margin-bottom: 1.25rem;
    min-width: 200px
}

.hero-text .callout-messaging {
    font-family: "Proxima-Nova-B", Helvetica, Arial, sans-serif;
    color: #46555f;
}

.hero-image-text {
    display: inline-block;
    position: relative;
    -webkit-transform: translateX(-50%);
    -khtml-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #00b5bf;
    border-radius: 100%;
    color: #fff;
    height: 24em;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 12.5em;
    width: 24em
}

@media screen and (max-width: 680px) {
    .hero-image-text {
        right: 0
    }
}

@media screen and (max-width: 680px) {
    .hero-image-text {
        font-size: 0.75em;
        top: 11em
    }
}

.hero-image-text-container {
    -webkit-transform: translate(-50%, -50%);
    -khtml-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    width: 80%
}

.hero-image-text-surheading {
    display: inline-block;
    position: relative;
    padding: 0 1rem;
    text-align: center;
    font-size: 1.875em;
    text-transform: uppercase
}

.hero-image-text-surheading:before,
.hero-image-text-surheading:after {
    background-color: #fff;
    content: "";
    height: 2px;
    position: absolute;
    top: calc(50% - 1px);
    width: 0.25em
}

.hero-image-text-surheading:before {
    left: 0
}

.hero-image-text-surheading:after {
    right: 0
}

.hero-image-text-icon {
    display: inline-block;
    position: relative;
    padding: 0 1rem;
    text-align: center;
    height: 2.813em;
    margin: 0 auto 1.25rem;
    width: 4.5em
}

.hero-image-text-icon:before,
.hero-image-text-icon:after {
    background-color: #fff;
    content: "";
    height: 2px;
    position: absolute;
    top: calc(50% - 1px);
    width: 0.25em
}

.hero-image-text-icon:before {
    left: 0
}

.hero-image-text-icon:after {
    right: 0
}

@media screen and (max-width: 1024px) {
    .hero-image-text-icon {
        margin-bottom: 1.5em;
        padding: 0 0.5em
    }
}

.hero-image-text-icon:before,
.hero-image-text-icon:after {
    top: 65%;
    width: 0.5em
}

.hero-image-text-icon svg {
    height: 100%;
    width: 100%
}

.hero-image-text-icon svg use {
    fill: #fff
}

.hero-image-text-heading {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 2.25em;
    font-weight: bold;
    text-transform: uppercase;
}

.hero-image-text-subheading {
    font-family: arial,Helvetica,sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 120%;
    margin: 0;
}

.hero-image-text-surheading,
.hero-image-text-heading,
.hero-image-text-subheading {
    /* margin-bottom: 0.2em; */
}
.host .hero-image-text-subheading {
    padding: 0 20px 0 0;
}
.video-section .host-rewards .host-rewards-container.current-specials h5 {
}

.icon-seperator [class^="icon-"] {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    transform: translate(-50%, -50%);
    background: #ffffff;
    padding: 0 25px;
    font-size: 50px;
}


.home-landing h2.massive.shop {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 5.25em !important;
}

.shop {
    color: #00b5bf;
}

.home-landing h2.massive {
    color: #00b5bf;
    font-size: 5.25em !important;
}

.host {
    color: #ffd24f;
}
.host. hero-image {
    height: 421px;
}
.host

.learn {
    color: #00b5bf;
}



/*Featured Content Styles*/

.carousel-container .border-carousel {
    border-bottom: 0px solid #C2D1D4;
    border-top: 0px solid #C2D1D4;
    margin-bottom: 1.5em;
}


.circle {
    border-radius: 50%;
}

.hero-text-container h1 {
    color: #00b5bf;
    padding: 0 5em;
    line-height: 1.2em;
}

.home-join-section h2 {
    color: #00b5bf;
    font-family: "Proxima-Nova", Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    line-height: 110%;
    font-size: 5.25em;
    line-height: 1;
    margin-bottom: 1rem;
    color: #b6b1d8;
    padding: 0 5%;
}

.highlight .image-highlight {
    display: inline-block;
    position: relative;
    clear: both;
    float: none;
    width: 100%;
    /*background-image: url("../img/norwex-hero-2.jpg");*/
     background-color: #fff;
    background-position: center 10%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10em 2.5em 2.5em;
    max-height: 368px;
    min-height: 350px;
}

.highlight {
    font-family: Helvetica, Arial, sans-serif;
    padding: 0 1.2em;
    text-align: center;
    margin-bottom: 5rem;
}
.highlight .image-highlight .image-highlight-text {
    height: 8em;
    padding: 1.5rem 1.25rem !important;
}

.video-section h3 {
    font-family: "Proxima-Nova", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    margin-bottom: 2rem;
    margin-top: 2rem;
    max-width: 25em;
}

.hero {
    padding: 39em 0 0;
    max-width: 1600px;
    margin: 0 auto;
}

.hero-text {
    display: table;
    position: relative;
    clear: both;
    float: none;
    width: 100%;
    padding: 0;
    text-align: center;
    background-color: #fff;
    text-align: center;
}
.hero-text, .hero-text p {
    line-height: 140%;
}
.host .hero-text {
    margin-bottom: 30px;
}


.circle-buttons .circle-button-container {
    display: inline-block;
    position: relative;
    float: left;
    width: 25%;
    text-align: center;
    margin-bottom: 2rem;
}

.our-story .hero-image-text {
    display: inline-block;
    position: relative;
    -webkit-transform: translateX(-50%);
    -khtml-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #00b5bf;
    border-radius: 100%;
    color: #fff;
    height: 26em;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 7.5em !important;
    width: 26em;
    padding: 0.7em 3em 0.7em 3em;
}

.host .hero-image-text {
    display: inline-block;
    position: relative;
    -webkit-transform: translateX(-50%);
    -khtml-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #00b5bf;
    border-radius: 100%;
    color: #fff;
    height: 26em;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 7.2em !important;
    width: 26em;
    padding: 0.7em 3em 0.7em 3em;
}

.join .hero-image-text {
    display: inline-block;
    position: relative;
    -webkit-transform: translateX(-50%);
    -khtml-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #00b5bf;
    border-radius: 100%;
    color: #fff;
    height: 26em;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 7.5em !important;
    width: 26em;
    padding: 0.7em 3em 0.7em 3em;
}

.hero-image {
    display: inline-block;
    position: relative;
    clear: both;
    float: none;
    width: 100%;
    /*background-image: url("../img/norwex-hero-1.jpg");*/
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 614px;
    left: 0;
    position: absolute;
    top: 0;
}


/*.hero-image-text {*/
    /*display: inline-block;*/
    /*position: relative;*/
    /*-webkit-transform: translateX(-50%);*/
    /*-khtml-transform: translateX(-50%);*/
    /*-moz-transform: translateX(-50%);*/
    /*-ms-transform: translateX(-50%);*/
    /*-o-transform: translateX(-50%);*/
    /*transform: translateX(-50%);*/
    /*background-color: #00b5bf;*/
    /*border-radius: 100%;*/
    /*color: #fff;*/
    /*height: 24em;*/
    /*left: 50%;*/
    /*position: absolute;*/
    /*text-align: center;*/
    /*top: 2.5em !important;*/
    /*width: 24em;*/
/*}*/

.hero-image-text {
    display: inline-block;
    position: relative;
    -webkit-transform: translateX(-50%);
    -khtml-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #00b5c0;
    border-radius: 0%;
    color: #fff;
    height: 29em;
    left: 70%;
    position: absolute;
    text-align: center;
    top: 6em !important;
    width: 24em;
    padding: 2.8em 3em;
}

.specials-sales .hero{
     padding: 0em 0 0 !important;
    max-width: 1600px;
    margin: 0 auto;
    background: none !important;
}

.leaders-wrap {
    padding: 0.5em 1.5em 0.5em 1.5em;
}
.charitable-partners .hero-content-wrap {
    min-height: 301px;
    position: relative;
    margin-top: 0px;
    display: inline-block;
    position: relative;
    clear: both;
    float: none;
    width: 100%;
    background: #77c025 !important;
    /*background: #00b5bf !important;*/
    background-image: url("../img/shop/blue-shop-hero.png") !important;
    /*background-image: url("../img/norwex-hero-1.jpg") !important;*/
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    /*height: 1024px;*/
    left: 0;
    /*position: absolute;*/
    top: 0;
}

.charitable-partners .hero-intro p {
    font-size: 1.725em !important;
    font-family: "Arial", Helvetica, Arial, sans-serif;
    line-height: 140%;
    margin-bottom: 1.25rem;
}


.leadership-team .hero-content-wrap {
    min-height: 301px;
    position: relative;
    margin-top: 0px;
    display: inline-block;
    position: relative;
    clear: both;
    float: none;
    width: 100%;
    background: #77c025 !important;
    /*background: #00b5bf !important;*/
    background-image: url("../img/leadership/hero-white-floating-houses.png") !important;
    /*background-image: url("../img/norwex-hero-1.jpg") !important;*/
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    /*height: 1024px;*/
    left: 0;
    /*position: absolute;*/
    top: 0;
}



.product-mission .hero-content-wrap {
    min-height: 301px;
    position: relative;
    margin-top: 0px;
    display: inline-block;
    position: relative;
    clear: both;
    float: none;
    width: 100%;
    background: #09b6c0 !important;
    /*background: #00b5bf !important;*/
    background-image: url("../img/blue-droplets-hero.png") !important;
    /*background-image: url("../img/norwex-hero-1.jpg") !important;*/
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    /*height: 1024px;*/
    left: 0;
    /*position: absolute;*/
    top: 0;
}

.norwex-news .hero-content-wrap {
    min-height: 301px;
    position: relative;
    margin-top: 0px;
    display: inline-block;
    position: relative;
    clear: both;
    float: none;
    width: 100%;
    background: #09b6c0 !important;
    /*background: #00b5bf !important;*/
    background-image: url("../img/blue-droplets-hero.png") !important;
    /*background-image: url("../img/norwex-hero-1.jpg") !important;*/
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    /*height: 1024px;*/
    left: 0;
    /*position: absolute;*/
    top: 0;
}



.norwex-microfiber .hero-content-wrap {
    min-height: 301px;
    position: relative;
    margin-top: 0px;
    display: inline-block;
    position: relative;
    clear: both;
    float: none;
    width: 100%;
    background: #09b6c0 !important;
    /*background: #00b5bf !important;*/
    background-image: url("../img/blue-droplets-hero.png") !important;
    /*background-image: url("../img/norwex-hero-1.jpg") !important;*/
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    /*height: 1024px;*/
    left: 0;
    /*position: absolute;*/
    top: 0;
}

.icon-seperator {
    width: 100%;
    min-height: 50px;
    position: relative;
}

.safe-haven-house .hero-content-wrap {
    min-height: 301px;
    position: relative;
    margin-top: 0px;
    display: inline-block;
    position: relative;
    clear: both;
    float: none;
    width: 100%;
    background: #77c025 !important;
    /*background: #00b5bf !important;*/
    background-image: url("../img/leadership/hero-white-floating-houses.png") !important;
    /*background-image: url("../img/norwex-hero-1.jpg") !important;*/
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    /*height: 1024px;*/
    left: 0;
    /*position: absolute;*/
    top: 0;
}


.chemicals-concern-quiz .hero-content-wrap {
    min-height: 301px;
    position: relative;
    margin-top: 0px;
    display: inline-block;
    position: relative;
    clear: both;
    float: none;
    width: 100%;
    background: #00b5bf !important;
    /*background: #00b5bf !important;*/
    background-image: url("../img/leadership/hero-white-floating-houses.png") !important;
    /*background-image: url("../img/norwex-hero-1.jpg") !important;*/
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    /*height: 1024px;*/
    left: 0;
    /*position: absolute;*/
    top: 0;
}

.specials-sales .hero-content-wrap {
    display: inline-block;
    position: relative;
    clear: both;
    float: none;
    width: 100%;
    background: #00b5bf !important;
    background-image: url("../img/shop/blue-shop-hero.png") !important;
    /*background-image: url("../img/norwex-hero-1.jpg") !important;*/
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    /*height: 1024px;*/
    left: 0;
    /*position: absolute;*/
    top: 0;
}

.specials-sales .hero-image {
    display: none;
}

.heritage .hero{
     padding: 0em 0 0 !important;
    max-width: 1600px;
    margin: 0 auto;
    background: none !important;
}

.heritage .hero-content-wrap {
    display: inline-block;
    position: relative;
    clear: both;
    float: none;
    width: 100%;
    background: #00b5bf !important;
    background-image: url("../img/shop/blue-shop-hero.png") !important;
    /*background-image: url("../img/norwex-hero-1.jpg") !important;*/
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    /*height: 1024px;*/
    left: 0;
    /*position: absolute;*/
    top: 0;
}

.heritage .hero-image {
    display: none;
}

.hero-content-wrap {
    min-height: 301px;
    position: relative;
    margin-top: 0px;
    /*background: gray !important;*/
}

.hero-content-wrap-heritage {
    min-height: 301px;
    position: relative;
    margin-top: 0px;
    display: inline-block;
    position: relative;
    clear: both;
    float: none;
    width: 100%;
    background: #77c025 !important;
    background-image: url("../img/shop/blue-shop-hero.png") !important;
    /*background-image: url("../img/norwex-hero-1.jpg") !important;*/
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    /*height: 1024px;*/
    left: 0;
    /*position: absolute;*/
    top: 0;
}

.hero-image-heritage {
    display: inline-block;
    position: relative;
    clear: both;
    float: none;
    width: 100%;
    background: #00b5bf !important;
    background-image: url("../img/shop/blue-shop-hero.png") !important;
    /*background-image: url("../img/norwex-hero-1.jpg") !important;*/
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    /*height: 1024px;*/
    left: 0;
    /*position: absolute;*/
    top: 0;
}

.heritage .row.our-heritage {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.edit-area, .edit-area a {
    padding-bottom: 1px;
    color: #CDDC39 !important;
    /* color: #8BC34A !important; */
    margin-top: 1px;
    font-size: 15px !important;
    text-decoration: none !important;
}

.carousel-item-content div.quoter {
    color: #fff;
    font-size: 18px !important;
    text-align: center !important;
    line-height: 120%;
    margin-bottom: 1.25rem;
    margin-top: 20px !important;
    float: none;
    /*text-indent: 30%;*/
}

.video-section .videos-container .thumbnail-container {
     display: inline !important;
    position: relative;
    clear: both;
    margin: 0% !important;
    width: 100% !important;
}

.section-callout .icon-divider-heading .divider-container .icon-container, body.home .about-movement-section .icon-divider-heading .divider-container .icon-container {
    -webkit-transform: translate(-50%, -50%);
    -khtml-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    background-color: #ffffff !important;
    padding: 0 1em;
}

.content-area {
    margin-top: 5px;
    margin-bottom: 5px;
}

.surheader .global-nav nav .menu-list {
    display: none;
    position: absolute;
    top: 40px;
    left: 261px;
    background-color: #fefefe;
    color: #0a0a0a;
    min-width: 210px !important;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
    padding-right: 17px !important;
}

.icon-container {
    -webkit-transform: translate(-50%, -50%);
    -khtml-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    background-color: #ffffff  !important;
    padding: 0 1em;
}

.square {
    border-radius: 2px;
}

.cta-wrapper {
    margin-left: auto;
    margin-right: auto;
}

.carousel-control.right {
    right: 0;
    left: auto;
     background-image: -webkit-linear-gradient(left,rgba(0, 51, 102, 0) 0,rgba(0, 51, 102, 0) 100%);
    background-image: -o-linear-gradient(left,rgba(0, 51, 102, 0) 0,rgba(0, 51, 102, 0) 100%);
     background-image: -webkit-gradient(linear,left top,right top,from(rgba(0, 51, 102, 0)),to(rgba(0, 51, 102, 0)));
     background-image: linear-gradient(to right,rgba(0, 51, 102, 0) 0,rgba(0, 51, 102, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(0, 51, 102, 0) 0,rgba(0, 51, 102, 0) 100%);
    background-image: -o-linear-gradient(left,rgba(0, 51, 102, 0) 0,rgba(0, 51, 102, 0) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0, 51, 102, 0)),to(rgba(0, 51, 102, 0)));
    background-image: linear-gradient(to right,rgba(0, 51, 102, 0) 0,rgba(0, 51, 102, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}



/*Content Area Styles */
.maintenance-mode {
    background: #f3fdf4;
}

.maintenance-text {
    margin-top: 5%;
}

.maintenance-text h2{
    font-size: 2.0rem !important;
}

.norwex-news-wrapper {
    border-bottom: 1px solid #e2eff7;
    margin-bottom:20px;
}

.social-share-wrapper {
    padding-left: 20px;
    margin-bottom: 20px;
}

.social-share a {
    color: #fff !important;
}

.social-share a {
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
    font-size: 14px;
    float: left !important;
    display: inline-flex;
    background: #02AAB5;
    color: #fff !important;
    padding: 7px 7px;
    height: 28px;
    width: 28px;
    border-radius: 50px;
    margin-left: 8px;
}

.form-group.has-error .help-block{
    color: #ff0c15;
}

.form-group.has-error input{
    border: 1px solid #ff0c15;
}
.profile-image {
    padding: 0;
}

.profile-area {
    float: left;
    margin-right: 20px;
}

.profile-img-wrapper {
    padding:0;
}

.profile-social-share {
    margin-bottom: 15px;
}

.profile-share {
    margin-top: 15px;
}


.leadership-quote {
    color:#00b5bf !important;
    font-size: 18px !important;
    font-style: italic;
    font-family: "Proxima-Nova", Helvetica, Arial, sans-serif;
    font-weight: bold;
    /*margin-top: 20%;*/
}

blockquote, blockquote p {
    line-height: 1.6;
    color: #00b5bf;
}

/*color: #00b5bf;*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*font-style: italic;*/
    /*font-family: "Proxima-Nova";*/
    /*font-size: 1.31em;*/
    /*line-height: 1.2;*/
    /*border: 0;*/

.quote-section .quote-container .blockquote {
    display: inline-block;
    position: relative;
    clear: both;
    float: none;
    width: 100%;
    color: #fff;
    font-family: "Proxima-Nova-SB", Helvetica, Arial, sans-serif;
    font-size: 2vw;
    line-height: 120%;
    margin-bottom: 1.25rem;
}

.profile-quote {
    color:#41C6CD;
    font-size: 18px;
    font-style: italic;
}

.collage>div>div p {
    -webkit-transform: translate(-50%, -50%);
    -khtml-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    color: #fff;
    font-family: "Proxima-Nova", Helvetica, Arial, sans-serif;
    font-size: 1.1vw;
    line-height: 140%;
    padding: 1.25rem;
    position: absolute;
    width: 100%;
}

.section-icon {
    font-size: 43px;
    color: #76be1e;
    background: #fff;
    border: 4px solid #fff;
}

.header .wrap, .outer-container {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
    position: relative;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.body_house {
    background: #ffffff !important;
    font-family: arial;
}

.wrap, .outer-container {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
    position: relative;
    width: 100%;
    padding: 1rem 2rem 0;
}

.profile-icons {
    /*background: rgba(238, 238, 238, 0.21);*/
    background: #fff;
    padding-bottom: 8px;
    font-size: 18px;
}

.icon-border {
    border-right: 1px solid #eee;
    margin-right: 10px;
    padding-right: 11px;
}

.icon-inactive {
    color: #cdcccc;
}


.account-container {
    padding-left: 20px;
    padding-right: 20px;
}

.page-not-found .img-responsive {
    max-width: 100% !important;
    margin-right: auto !important;
    margin-left: auto !important;
    display: block !important;
}

.asteriskField {
    color: #ff0c15;
}

.no-records-found {
    font-style: italic;
    padding: 20px;
}

.icon-bg {
    background-image: url("/static/img/icon-bg.png");
    height: 53px;
    max-width: 1090px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-repeat: repeat;
    background-position: 50px 121px;
    margin-top: 20px;

}

.people-profile .icon-bg {
    background-image: url("/static/img/icon-bg.png");
    height: 53px;
    max-width: 1090px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-repeat: repeat;
    background-position: 50px 121px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.timeline.odd .timeline-img {
    margin-right: 20px;
    display: inline-block;
}

.timeline.even .timeline-img {
    margin-left: 20px;
    display: inline-block;
}

select {
    width: auto;
    min-width: 200px !important;
    border-radius: 0;
    /*height: 2.0375rem !important;*/
}

.callout.secondary {
    background-color: #5bc0de;
    border: none;
    color: #fff;
}

.callout.secondary a {
    color: #fff;
}


.button {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color .25s ease-out,color .25s ease-out;
    vertical-align: middle;
    /*border: 1px solid transparent;*/
    border-radius: 3px;
    padding: .85em 1em;
    margin: 1.5rem 0;
    font-size: .9rem;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.button-corporate {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color .25s ease-out,color .25s ease-out;
    vertical-align: middle;
     border: 2px solid #00B4C0 !important;
    border-radius: 0px;
    padding: .85em 1em;
    margin: 1.5rem 0;
    font-size: .9rem;
    color: #00B4C0 !important;
    background-color: #FFFFFF !important;
    border-color: #00B4C0 !important;
    text-transform: uppercase;
    font-family: "Proxima-Nova-B",  "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
}

.button-corporate:hover {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color .25s ease-out,color .25s ease-out;
    vertical-align: middle;
     border: 2px solid #00B4C0 !important;
    border-radius: 0px;
    padding: .85em 1em;
    margin: 1.5rem 0;
    font-size: .9rem;
    color: #00B4C0 !important;
    background-color: #FFFFFF !important;
    border-color: #00B4C0 !important;
    text-transform: uppercase;
    font-family: "Proxima-Nova-B",  "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.button-new-blue, .btn.btn-primary.button-new-blue {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color .25s ease-out,color .25s ease-out;
    vertical-align: middle;
    /* border: 1px solid transparent; */
    border-radius: 3px;
    padding: .85em 1em;
    margin: 0 0 1rem;
    font-size: .9rem;
    color: #fff;
    background-color: #02AAB5;
    border-color: #02AAB5;
    text-transform: uppercase;
}

.button-new-blue:hover {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color .25s ease-out,color .25s ease-out;
    vertical-align: middle;
    /* border: 1px solid transparent; */
    border-radius: 3px;
    padding: .85em 1em;
    margin: 0 0 1rem;
    font-size: .9rem;
    color: #fff;
    background-color: #00B4C0;
    border-color: #00B4C0;
    text-transform: uppercase;
}


.button-new-success, .btn.btn-primary.button-new-success {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color .25s ease-out,color .25s ease-out;
    vertical-align: middle;
    /* border: 1px solid transparent; */
    border-radius: 3px;
    padding: .85em 1em;
    margin: 0 0 1rem;
    font-size: .9rem;
    color: #fff;
    background-color: #77bc1c;
    border-color: #77bc1c;
    text-transform: uppercase;
}

.button-new-success:hover, .button-new-success:active {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color .25s ease-out,color .25s ease-out;
    vertical-align: middle;
    /* border: 1px solid transparent; */
    border-radius: 3px;
    padding: .85em 1em;
    margin: 0 0 1rem;
    font-size: .9rem;
    color: #fff;
    background-color: #8BC34A;
    border-color: #8BC34A;
    text-transform: uppercase;
}


.button-no-bg, .btn.btn-primary.button-no-bg {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color .25s ease-out,color .25s ease-out;
    vertical-align: middle;
    border: 1px solid  #ffffff !important;
    border-radius: 3px;
    padding: .85em 1em;
    margin: 0 0 1rem;
    font-size: .9rem;
    color: #fff;
    background: none !important;
    text-transform: uppercase;
}

.button-no-bg:hover {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color .25s ease-out,color .25s ease-out;
    vertical-align: middle;
    border: 1px solid  #ffffff !important;
    border-radius: 3px;
    padding: .85em 1em;
    margin: 0 0 1rem;
    font-size: .9rem;
    color: #fff;
    background: none !important;
    text-transform: uppercase;
}

.button--teal.button--semitransparent, button--teal.button--semitransparent {
    border: 1px solid #00b5bf;
    background: rgba(0, 181, 191, 0.5);
    color: #fefefe;
    margin-top: 5rem;
}


.help-block {
    font-size: 12px;
    color: #696969;
    font-style: italic;
    display: block;
}

.specials-intro {
    line-height: 100%;
    text-align: center;
    font-size: 2.25rem;
    font-family: "Arial", Helvetica, sans-serif;
    margin: 1.2em 2rem 2em;
}

#feature_slider {
    height: auto;
    background: #525151;
    z-index: 1;
    border-bottom: 5px solid #FFCC00;
    margin-top: -20px;
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
    min-height: 249px;

}

.edit-right {
    text-align: right;
    float: right;
}

.content-edit {
    font-size: 12px;
    color: #989595 !important;
    background: #fefefe;
    padding: 5px;
    padding-left: 0px;
}

.content-info {
    font-size: 12px;
    color: #989595 !important;
    background: #fff;
    padding: 10px;
}

.results {
    font-size: 12px;
    color: #989595 !important;
    background: #fff;
    padding: 1px;
}

.specials-sales .inner-content {
    display: none !important;
}

.inner-content {
    padding: 0 20px 0 20px;
}

.impersonate {
     margin: 0 0 0;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid hsla(0,0%,4%,.25);
    border-radius: 0;
    position: relative;
    color: #0a0a0a;
    background-color: #e1faea;
    line-height: 230%;
}

.paginator-align {
    float: right;
    font-size: 12px;
    color: #989595;
}

.paginator-align a{
    font-size: 12px;
    color: #989595;
}

.pagination li {
    font-size: 12px;
    color: #989595;
}

.video-wrapper {
    margin: 0 0 20px 0;
}

.banner-wrapper.meet-our-leadership {
    background-image: url("/static/img/backgrounds/leadership_bg.png");
    background-color: #00b4c0;
    background-repeat: repeat;
}

.menu.vertical>li>a {
    display: block;
    padding: .7rem 0.7rem;
    line-height: 1;
}

/*.menu.vertical li a:active {*/
    /*display: block;*/
    /*padding: .7rem 0.7rem;*/
    /*line-height: 1;*/
    /*background: #2199e8;*/
    /*color: white;*/
/*}*/

.news-archive {
    margin-top: 2rem;
}

.news-list {
    margin-top: 2rem;
}

.article--news .created_updated {
    font-size: 12px;
    color: #989595 !important;
     margin-left: 1px;
}
.article--news__excerpt {
    display: none;
}

.news-archive .list-unstyled a, .news-archive h2 {
    display: block;
    padding: 5px 0;
    color: #0075bc;
}
.disclaimer p {
   font-size: 1.125em;
    font-family: "Arial";
    line-height: 140%;
    margin-bottom: 0rem !important;
}

.section.content-page .wrap {
    padding:0 2rem 0 2rem;
}

.content-page .content-area {
    padding: 0;
}

.article__published-on {
    margin-left: 15px;
}

h1.page-heading, h2.page-heading, h3.page-heading {
    font-size: 25px !important;
    color: #5c6f7c;
}


/*Footer Styles*/


footer .pre-footer .h3 {
    margin: 0;
    color: #62bb46;
}


footer .pre-footer {
    background: white;
    /*padding: 20px;*/
    margin-top: -2rem;
    margin-bottom: 1rem;
    text-align: center;
    margin-left: 2rem;
    /* margin-right: 2rem; */
}

footer {
    display: inline-block;
    position: relative;
    clear: both;
    float: none;
    width: 100%;
    background-color: rgb(237, 241, 242);
    border-top: 10px solid #C2D1D4;
    font-size: 0.875em;
    padding: 2rem 0;
}


.social-media, .social-links .social-icon {
    list-style-type: none;
    float: left !important;
    display: inline-flex;
    padding-left: 0px;
    margin-bottom: 2px !important;
    margin-left: 0.3rem;
}

.social-media a, .social-links .social-icon a {
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
    font-size: 14px;
    float: left !important;
    display: inline-flex;
    background: #02AAB5;
    color: #fff !important;
    padding: 7px 7px;
    height: 28px;
    width: 28px;
    border-radius: 50px;
    margin-left: 8px;
}

.social-media a, .social-links .social-icon a{
    color: #fff !important;
}

.share-this {
    margin-top: 20px;
    margin-bottom: 20px;
}

.dual-cta__item {
    /*width: 100%;*/
    display: table-cell;
    vertical-align: middle;
    padding: 60px 0;
    position: relative;
    min-height: 420px;
}

.dual-cta .button {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color .25s ease-out,color .25s ease-out;
    vertical-align: middle;
    /* border: 1px solid transparent; */
    border-radius: 3px;
    padding: .85em 1em;
    margin: 0 0 1rem;
    font-size: .9rem;
    color: #fff;
    background-color: rgba(51, 122, 183, 0);
    border-color: #edf1f2;
    border-width: 3px;
}

.dual-cta .button:hover {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color .25s ease-out,color .25s ease-out;
    vertical-align: middle;
    /* border: 1px solid transparent; */
    border-radius: 3px;
    padding: .85em 1em;
    margin: 0 0 1rem;
    font-size: .9rem;
    color: #fff;
    background-color: rgba(64, 124, 202, 0.4);
    border-color: #edf1f2;
    border-width: 3px;
}

.footerlink ul {
    list-style-type: none;
    float: right;
    display: inline-flex;
    margin-left: 20px;
}

.footerlink li a {
    color: #333;
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
    font-size: 14px;
    float: right;
    display: inline-flex;
    margin-left: 20px;
}

.footer-credits {
    background-color: #27679E;
    color: #fff;
    padding: 10px 10px;
    margin-top: 0px;
    border-radius: 0 0 5px 5px;
    min-height: 30px;
    font-size: 14px;
}

.footer-bottom {
    margin-top: 20px;
}

.footer-cover {
    padding:0px;
}

.social-media .socials a {
    border-radius: 50% !important;
}

.footer-credits a {
    color: #333;
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
    font-size: 13px;
}

.footer_menu {
    margin-left: 1rem;
}




/*Flags*/
.dropdown.menu>li.is-dropdown-submenu-parent>a {
    padding-right: 1.5rem !important;
    position: relative;
}

.flag.flag {
    display: inline-block;
    height: 16px;
    width: 16px;
    vertical-align: text-top;
    line-height: 16px;
    background: url(../img/flags/flags16.png) no-repeat
}

.flag._African_Union {
    background-position: 0 -16px
}

.flag._Arab_League {
    background-position: 0 -32px
}

.flag._ASEAN {
    background-position: 0 -48px
}

.flag._CARICOM {
    background-position: 0 -64px
}

.flag._CIS {
    background-position: 0 -80px
}

.flag._Commonwealth {
    background-position: 0 -96px
}

.flag._England {
    background-position: 0 -112px
}

.flag._European_Union,
.flag.eu {
    background-position: 0 -128px
}

.flag._Islamic_Conference {
    background-position: 0 -144px
}

.flag._Kosovo {
    background-position: 0 -160px
}

.flag._NATO {
    background-position: 0 -176px
}

.flag._Northern_Cyprus {
    background-position: 0 -192px
}

.flag._Northern_Ireland {
    background-position: 0 -208px
}

.flag._Olimpic_Movement {
    background-position: 0 -224px
}

.flag._OPEC {
    background-position: 0 -240px
}

.flag._Red_Cross {
    background-position: 0 -256px
}

.flag._Scotland {
    background-position: 0 -272px
}

.flag._Somaliland {
    background-position: 0 -288px
}

.flag._Tibet {
    background-position: 0 -304px
}

.flag._United_Nations {
    background-position: 0 -320px
}

.flag._Wales {
    background-position: 0 -336px
}

.flag.ad {
    background-position: 0 -352px
}

.flag.ae {
    background-position: 0 -368px
}

.flag.af {
    background-position: 0 -384px
}

.flag.ag {
    background-position: 0 -400px
}

.flag.ai {
    background-position: 0 -416px
}

.flag.al {
    background-position: 0 -432px
}

.flag.am {
    background-position: 0 -448px
}

.flag.ao {
    background-position: 0 -464px
}

.flag.aq {
    background-position: 0 -480px
}

.flag.ar {
    background-position: 0 -496px
}

.flag.as {
    background-position: 0 -512px
}

.flag.at {
    background-position: 0 -528px
}

.flag.au {
    background-position: 0 -544px
}

.flag.aw {
    background-position: 0 -560px
}

.flag.ax {
    background-position: 0 -576px
}

.flag.az {
    background-position: 0 -592px
}

.flag.ba {
    background-position: 0 -608px
}

.flag.bb {
    background-position: 0 -624px
}

.flag.bd {
    background-position: 0 -640px
}

.flag.be {
    background-position: 0 -656px
}

.flag.bf {
    background-position: 0 -672px
}

.flag.bg {
    background-position: 0 -688px
}

.flag.bh {
    background-position: 0 -704px
}

.flag.bi {
    background-position: 0 -720px
}

.flag.bj {
    background-position: 0 -736px
}

.flag.bm {
    background-position: 0 -752px
}

.flag.bn {
    background-position: 0 -768px
}

.flag.bo {
    background-position: 0 -784px
}

.flag.br {
    background-position: 0 -800px
}

.flag.bs {
    background-position: 0 -816px
}

.flag.bt {
    background-position: 0 -832px
}

.flag.bw {
    background-position: 0 -848px
}

.flag.by {
    background-position: 0 -864px
}

.flag.bz {
    background-position: 0 -880px
}

.flag.ca {
    background-position: 0 -896px
}

.flag.en-ca {
    background-position: 0 -896px;
    text-indent: 25px;
}

.flag.fr-ca {
    background-position: 0 -896px;
    text-indent: 25px;
}

.flag.fr {
    background-position: 0 -896px;
    text-indent: 25px;
}

.flag.cg {
    background-position: 0 -912px
}

.flag.cf {
    background-position: 0 -928px
}

.flag.cd {
    background-position: 0 -944px
}

.flag.ch {
    background-position: 0 -960px
}

.flag.ci {
    background-position: 0 -976px
}

.flag.ck {
    background-position: 0 -992px
}

.flag.cl {
    background-position: 0 -1008px
}

.flag.cm {
    background-position: 0 -1024px
}

.flag.cn {
    background-position: 0 -1040px
}

.flag.co {
    background-position: 0 -1056px
}

.flag.cr {
    background-position: 0 -1072px
}

.flag.cu {
    background-position: 0 -1088px
}

.flag.cv {
    background-position: 0 -1104px
}

.flag.cy {
    background-position: 0 -1120px
}

.flag.cz {
    background-position: 0 -1136px
}

.flag.de {
    background-position: 0 -1152px
}

.flag.dj {
    background-position: 0 -1168px
}

.flag.dk {
    background-position: 0 -1184px
}

.flag.dm {
    background-position: 0 -1200px
}

.flag.do {
    background-position: 0 -1216px
}

.flag.dz {
    background-position: 0 -1232px
}

.flag.ec {
    background-position: 0 -1248px
}

.flag.ee {
    background-position: 0 -1264px
}

.flag.eg {
    background-position: 0 -1280px
}

.flag.eh {
    background-position: 0 -1296px
}

.flag.er {
    background-position: 0 -1312px
}

/*.flag.es {*/
    /*background-position: 0 -1328px*/
/*}*/

.flag.et {
    background-position: 0 -1344px
}

.flag.fi {
    background-position: 0 -1360px
}

.flag.fj {
    background-position: 0 -1376px
}

.flag.fm {
    background-position: 0 -1392px
}

.flag.fo {
    background-position: 0 -1408px
}

/*.flag.fr {*/
    /*background-position: 0 -1424px*/
/*}*/

.flag.bl,
.flag.cp,
.flag.mf,
.flag.yt {
    background-position: 0 -1424px
}

.flag.ga {
    background-position: 0 -1440px
}

.flag.gb {
    background-position: 0 -1456px
}

.flag.sh {
    background-position: 0 -1456px
}

.flag.gd {
    background-position: 0 -1472px
}

.flag.ge {
    background-position: 0 -1488px
}

.flag.gg {
    background-position: 0 -1504px
}

.flag.gh {
    background-position: 0 -1520px
}

.flag.gi {
    background-position: 0 -1536px
}

.flag.gl {
    background-position: 0 -1552px
}

.flag.gm {
    background-position: 0 -1568px
}

.flag.gn {
    background-position: 0 -1584px
}

.flag.gp {
    background-position: 0 -1600px
}

.flag.gq {
    background-position: 0 -1616px
}

.flag.gr {
    background-position: 0 -1632px
}

.flag.gt {
    background-position: 0 -1648px
}

.flag.gu {
    background-position: 0 -1664px
}

.flag.gw {
    background-position: 0 -1680px
}

.flag.gy {
    background-position: 0 -1696px
}

.flag.hk {
    background-position: 0 -1712px
}

.flag.hn {
    background-position: 0 -1728px
}

.flag.hr {
    background-position: 0 -1744px
}

.flag.ht {
    background-position: 0 -1760px
}

.flag.hu {
    background-position: 0 -1776px
}

.flag.id {
    background-position: 0 -1792px
}

.flag.mc {
    background-position: 0 -1792px
}

.flag.ie {
    background-position: 0 -1808px
}

.flag.il {
    background-position: 0 -1824px
}

.flag.im {
    background-position: 0 -1840px
}

.flag.in {
    background-position: 0 -1856px
}

.flag.iq {
    background-position: 0 -1872px
}

.flag.ir {
    background-position: 0 -1888px
}

.flag.is {
    background-position: 0 -1904px
}

.flag.it {
    background-position: 0 -1920px
}

.flag.je {
    background-position: 0 -1936px
}

.flag.jm {
    background-position: 0 -1952px
}

.flag.jo {
    background-position: 0 -1968px
}

.flag.jp {
    background-position: 0 -1984px
}

.flag.ke {
    background-position: 0 -2000px
}

.flag.kg {
    background-position: 0 -2016px
}

.flag.kh {
    background-position: 0 -2032px
}

.flag.ki {
    background-position: 0 -2048px
}

.flag.km {
    background-position: 0 -2064px
}

.flag.kn {
    background-position: 0 -2080px
}

.flag.kp {
    background-position: 0 -2096px
}

.flag.kr {
    background-position: 0 -2112px
}

.flag.kw {
    background-position: 0 -2128px
}

.flag.ky {
    background-position: 0 -2144px
}

.flag.kz {
    background-position: 0 -2160px
}

.flag.la {
    background-position: 0 -2176px
}

.flag.lb {
    background-position: 0 -2192px
}

.flag.lc {
    background-position: 0 -2208px
}

.flag.li {
    background-position: 0 -2224px
}

.flag.lk {
    background-position: 0 -2240px
}

.flag.lr {
    background-position: 0 -2256px
}

.flag.ls {
    background-position: 0 -2272px
}

.flag.lt {
    background-position: 0 -2288px
}

.flag.lu {
    background-position: 0 -2304px
}

.flag.lv {
    background-position: 0 -2320px
}

.flag.ly {
    background-position: 0 -2336px
}

.flag.ma {
    background-position: 0 -2352px
}

.flag.md {
    background-position: 0 -2368px
}

.flag.me {
    background-position: 0 -2384px
}

.flag.mg {
    background-position: 0 -2400px
}

.flag.mh {
    background-position: 0 -2416px
}

.flag.mk {
    background-position: 0 -2432px
}

.flag.ml {
    background-position: 0 -2448px
}

.flag.mm {
    background-position: 0 -2464px
}

.flag.mn {
    background-position: 0 -2480px
}

.flag.mo {
    background-position: 0 -2496px
}

.flag.mq {
    background-position: 0 -2512px
}

.flag.mr {
    background-position: 0 -2528px
}

.flag.ms {
    background-position: 0 -2544px
}

.flag.mt {
    background-position: 0 -2560px
}

.flag.mu {
    background-position: 0 -2576px
}

.flag.mv {
    background-position: 0 -2592px
}

.flag.mw {
    background-position: 0 -2608px
}

.flag.mx {
    background-position: 0 -2624px
}

.flag.my {
    background-position: 0 -2640px
}

.flag.mz {
    background-position: 0 -2656px
}

.flag.na {
    background-position: 0 -2672px
}

.flag.nc {
    background-position: 0 -2688px
}

.flag.ne {
    background-position: 0 -2704px
}

.flag.ng {
    background-position: 0 -2720px
}

.flag.ni {
    background-position: 0 -2736px
}

.flag.nl {
    background-position: 0 -2752px
}

.flag.bq {
    background-position: 0 -2752px
}

.flag.no {
    background-position: 0 -2768px
}

.flag.bv,
.flag.nq,
.flag.sj {
    background-position: 0 -2768px
}

.flag.np {
    background-position: 0 -2784px
}

.flag.nr {
    background-position: 0 -2800px
}

.flag.nz {
    background-position: 0 -2816px
}

.flag.om {
    background-position: 0 -2832px
}

.flag.pa {
    background-position: 0 -2848px
}

.flag.pe {
    background-position: 0 -2864px
}

.flag.pf {
    background-position: 0 -2880px
}

.flag.pg {
    background-position: 0 -2896px
}

.flag.ph {
    background-position: 0 -2912px
}

.flag.pk {
    background-position: 0 -2928px
}

.flag.pl {
    background-position: 0 -2944px
}

.flag.pr {
    background-position: 0 -2960px
}

.flag.ps {
    background-position: 0 -2976px
}

.flag.pt {
    background-position: 0 -2992px
}

.flag.pw {
    background-position: 0 -3008px
}

.flag.py {
    background-position: 0 -3024px
}

.flag.qa {
    background-position: 0 -3040px
}

.flag.re {
    background-position: 0 -3056px
}

.flag.ro {
    background-position: 0 -3072px
}

.flag.rs {
    background-position: 0 -3088px
}

.flag.ru {
    background-position: 0 -3104px
}

.flag.rw {
    background-position: 0 -3120px
}

.flag.sa {
    background-position: 0 -3136px
}

.flag.sb {
    background-position: 0 -3152px
}

.flag.sc {
    background-position: 0 -3168px
}

.flag.sd {
    background-position: 0 -3184px
}

.flag.se {
    background-position: 0 -3200px
}

.flag.sg {
    background-position: 0 -3216px
}

.flag.si {
    background-position: 0 -3232px
}

.flag.sk {
    background-position: 0 -3248px
}

.flag.sl {
    background-position: 0 -3264px
}

.flag.sm {
    background-position: 0 -3280px
}

.flag.sn {
    background-position: 0 -3296px
}

.flag.so {
    background-position: 0 -3312px
}

.flag.sr {
    background-position: 0 -3328px
}

.flag.st {
    background-position: 0 -3344px
}

.flag.sv {
    background-position: 0 -3360px
}

.flag.sy {
    background-position: 0 -3376px
}

.flag.sz {
    background-position: 0 -3392px
}

.flag.tc {
    background-position: 0 -3408px
}

.flag.td {
    background-position: 0 -3424px
}

.flag.tg {
    background-position: 0 -3440px
}

.flag.th {
    background-position: 0 -3456px
}

.flag.tj {
    background-position: 0 -3472px
}

.flag.tl {
    background-position: 0 -3488px
}

.flag.tm {
    background-position: 0 -3504px
}

.flag.tn {
    background-position: 0 -3520px
}

.flag.to {
    background-position: 0 -3536px
}

.flag.tr {
    background-position: 0 -3552px
}

.flag.tt {
    background-position: 0 -3568px
}

.flag.tv {
    background-position: 0 -3584px
}

.flag.tw {
    background-position: 0 -3600px
}

.flag.tz {
    background-position: 0 -3616px
}

.flag.ua {
    background-position: 0 -3632px
}

.flag.ug {
    background-position: 0 -3648px
}

.flag.us {
    background-position: 0 -3664px
}

.flag.us {
    background-position: 0 -3664px;
    text-indent: 25px;
}

.flag.en-us {
    background-position: 0 -3664px;
    text-indent: 25px;
}

.flag.en {
    background-position: 0 -3664px;
    text-indent: 25px;
}

.flag.es-us {
    background-position: 0 -3664px;
    text-indent: 25px;
}

.flag.es {
    background-position: 0 -3664px;
    text-indent: 25px;
}


.flag.uy {
    background-position: 0 -3680px
}

.flag.uz {
    background-position: 0 -3696px
}

.flag.va {
    background-position: 0 -3712px
}

.flag.vc {
    background-position: 0 -3728px
}

.flag.ve {
    background-position: 0 -3744px
}

.flag.vg {
    background-position: 0 -3760px
}

.flag.vi {
    background-position: 0 -3776px
}

.flag.vn {
    background-position: 0 -3792px
}

.flag.vu {
    background-position: 0 -3808px
}

.flag.ws {
    background-position: 0 -3824px
}

.flag.ye {
    background-position: 0 -3840px
}

.flag.za {
    background-position: 0 -3856px
}

.flag.zm {
    background-position: 0 -3872px
}

.flag.zw {
    background-position: 0 -3888px
}

.flag.sx {
    background-position: 0 -3904px
}

.flag.cw {
    background-position: 0 -3920px
}

.flag.ss {
    background-position: 0 -3936px
}

.flag.nu {
    background-position: 0 -3952px
}


.carousel-container .carousel .slick-dots li button {
    display: inline-block;
    position: relative;
    clear: both;
    float: none;
    width: 100%;
    background-color: rgba(92, 111, 124, 0.8);
    cursor: pointer;
    height: 0.1em !important;
    text-indent: -9999em;
    padding: 2px 13px;
}

.version {
    padding: 1rem 1rem;
}

a.top-cart {
    display: block;
    padding: .7rem 0.3rem !important;
    line-height: 1;
    padding-right: 12px !important;
}

a.top-checkout {
    display: block;
    padding: .3rem 0.1rem !important;
    line-height: 1;
    padding-left: 0px !important;
}

/*.button, button {*/
    /*font-family: "Proxima-Nova-B";*/
    /*font-size: 18px;*/
    /*text-transform: uppercase;*/
    /*padding: 2px 13px;*/
/*}*/