
/* Small only */

@media screen and (min-width: 0px) and (max-width: 640px) {

    body, body p, label, table tr td {
        font-size: 14px !important;
    }

    #home-grid .grid-container-media .caption h3 {
        font-family: "minion-pro", Georgia, "Times New Roman", Times, serif;
        font-weight: normal;
        font-size: 1.225rem !important;
        color: #78AC41;
        padding-bottom: 10px;
        padding-top: 15px;
        border-bottom: 3px dotted #78AC41;
    }

    #topbarmenu .top-bar-section ul {
         margin-right: 10px;
    }

    .page-wrapper {
        background: #FFF;
        border-right: 1px solid #FCFCFC;
        border-left: 1px solid #FCFCFC;
        border-bottom: 1px solid #FCFCFC;
        border-top: 0px solid #FCFCFC;
        box-shadow: 0px 5px 10px 0px #DBDBDB;
        border-radius: 0px !important;
        -webkit-border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        -o-border-radius: 0px !important;
    }

    footer.row.footer-area {
        width: 100% !important;
        padding: 20px;
        background: #0075bb;
        color: #fff;
        margin-left: auto;
        margin-right: auto;
        max-width: 85.5rem;
        border-radius: 0px !important;
        -webkit-border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        -o-border-radius: 0px !important;
    }

    .consultant-login {
        background: #F7F7F7;
        min-height: 200px !important;
        position: relative;
        -webkit-border-radius: 0.4em;
        -o-border-radius: 0.4em;
        -moz-border-radius: 0.4em;
    }

    .topsocial {
        float: right;
        display: inline-block !important;
        width: 373px !important;
    }

    #home-grid ul li .grid-container-media {
        border: solid 1px #5C6F7C;
        padding: 1.1875rem;
        border-top-width: 4px;
        min-height: 350px !important;
    }
    .pws-order-steps {
      margin: 0px 0 1px !important;
      list-style: none;
  }
    .mobile-pws-order-steps {
        padding:0px;
    }
    li#pws-breadcrumb-checkout.hoveractive {
        color: #fff;
    }

    .jplist-grid-view #product-list-view .list-item.pws-product-display .list-content {
        border: 1px solid #F0F0F0;
        padding: 15px;
        border-radius: 10px 10px 0px 0px;
        /* min-height: 235px; */
        min-height: 300px !important;
    }

    .header-bordered {
        border-bottom: 0px solid #E7E7E7 !important;
        margin-top: 10px !important;
    }

    .mobile-shop-categories {
         padding: 0px;
     }

    .party-select-add {
        padding:0px;
    }

    .jplist-drop-down {
        width: 129px !important;
    }

    .jplist-grid-view #product-list-view .product-view-details {
        text-align: right !important;
        position: absolute;
        top: 4px !important;
        right: 44px !important;
        font-size: 13px !important;
    }

    .jplist-grid-view #product-list-view .list-quantity .pws_prod_qty {
        width: 100px !important;
        border: 1px solid #e4e4e4;
    }
    input[type="number"].pws_prod_qty {
        width: 100% !important;
         margin-left: 0em !important;
    }

    #search-all-products {
        border-radius: 5px !important;
        -moz-border-radius: 5px !important;
        -webkit-border-radius: 5px !important;
        padding: 5px 5px 6px 40px;
    }

    button, .button {
        margin: 0 0 0.75rem !important;
    }

    .custom-combobox-input {
        width: 71% !important;
    }

    .reveal-modal {
         width: 93% !important;
         max-width: 83.5rem;
         left: 0px;
         right: 0px;
         margin: 0px auto;
         min-height: 275px !important;
         padding: 1.875rem 0.8rem 1.875rem 0.8rem !important;
     }

    #partyBalance .reveal-modal {
        width: 93% !important;
        max-width: 83.5rem;
        left: 0px;
        right: 0px;
        margin: 0px auto;
        min-height: 275px !important;
        padding: 1.875rem 0.8rem 1.875rem 0.8rem !important;
    }

    #customer_incentive_offers {
        background: #d8d8d8 none repeat scroll 0 0;
        border-radius: 3px;
        margin-top: 101px !important;
    }

    #footer .container {
    background-color: rgba(0, 51, 102, 0) !important;
     padding: 0px;
}

    .footer-inner {
        padding: 0px !important;
    }

    .footer-space {
    text-align: left !important;
}

    #Modal .reveal-modal.reveal-small, .reveal-modal.reveal-small {
        width: 99% !important;
    }

    a {
        cursor: pointer;
    }

    .pws-order-steps li {
        position: relative;
        display: inline-block;
        padding: 0 5px 0 18px;
        background-color: #D7D7D7;
        font-size: 10px;
    }
    .partySummaryContainer, #partyShipAddressText {
        font-size: 12px !important;
    }

    .party-order-info-table {
        padding: 1px !important;
        margin-right: 5px !important;
    }

    .mobile-corporate .button, .mobile-corporate button, .mobile-corporate button .success, .mobile-corporate button .small-12 {
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -o-border-radius: 3px;
        padding: 0.48889rem 1.47778rem 0.44444rem 1.47778rem;
        width: 100%;
    }

    .mobile-cart-show {
        margin-left: 10px;
        margin-right: 10px;
    }


    #product-image {
        min-height: 500px;
        display: none !important;
    }

    .jplist-panel .jplist-pagination .jplist-pagingprev, .jplist-panel .jplist-pagination .jplist-pagingmid, .jplist-panel .jplist-pagination .jplist-pagingnext {
        float: left;
        margin-top: 10px !important;
    }
    .ae-booking .button, .ae-booking button. .ae-booking button .success, .ae-booking button .small-12 {
        width: 100%;
    }

    .footer-credit {
        margin-bottom: 20px !important;
    }

    .button, button, button .success, button .small-12 {
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -o-border-radius: 3px;
        padding: 0.48889rem 1.47778rem 0.44444rem 1.47778rem;
        width: 100%;
    }

    h1 {
        font-size: 25px !important;
        margin-top: 10px;
    }

    #view-cart-order-summary h4 {
        font-size: 1.0rem !important;
    }

    .prod-detail .sku.orderData {
        padding:0px !important;
    }

    .mobile-order-cart .sku-main, .mobile-order-cart .cart-actions {
        margin-top: 5px;
    }

    .mobile-order-cart .sku-main {
        padding-left: 0px;
    }


    .sidebar-party-details .party-select-add {
        padding-left: 0;
        float: none;
        margin-top: 10px;
    }
    .jplist-pagingmid button, .jplist-pagingnext button, .jplist-pagingprev button {
        width:30px !important;
    }

    .prod-detail-thumbs {
        margin-bottom: 15px;
    }

    /*CMF Updates*/
    .container .inner-content {
        padding: 10px 15px 6px 15px;
    }
    .page-builder-content img {
        width: auto !important;
        display: block !important;
        float:none !important;
    }

    .page-builder-content body, .body.small-12 {
         padding: 0rem 1rem 1rem 1rem;
    }

    .top-bar {
         overflow: visible !important;
        height: 2.8125rem;
        line-height: 2.8125rem;
        position: relative;
        background: #333;
        margin-bottom: 0;
    }

    .top-bar .toggle-topbar.menu-icon a {
        height: 34px;
        line-height: 33px;
        padding: 0 0.5rem 0 0.5375rem;
        color: #0075BB !important;
        position: relative;
        display: none !important;
    }

    h3 {
        font-size: 1.175rem !important;
        color: #008CBA !important;
    }

    .mobile-notifications .header-nco-notifications.icon-bar>a:hover {
        background: #137DBD;
        color: #fff;
    }
    .mobile-notifications .header-nco-notifications.icon-bar .icon-bell, .header-nco-notifications.icon-bar .icon-bubbles4,
    .header-nco-notifications.icon-bar .icon-bullhorn, .header-nco-notifications.icon-bar .icon-envelope {
        color: #77B5DB;
    }

    .reveal-modal.reveal-small {
        width: 93% !important;
    }

    .reveal-modal.reveal-medium {
        width: 95% ;
    }
    .reveal-modal.reveal-large {
        width: 95% ;
    }
    .reveal-modal.reveal-extra-large {
        width: 98% ;
    }
    .reveal-modal.reveal-fullscreen {
        width: 98% !important;
    }

    .party-order-steps li a:before, .enrollment-steps li a:before, .pws-order-steps li a:before {
        content: "";
        border-top: 18px solid transparent;
        border-bottom: 18px solid transparent;
         border-left: 0px solid #fff !important;
        position: absolute;
        left: -1px;
        top: 0;
    }

    .party-order-steps li a:after, .enrollment-steps li a:after, .pws-order-steps li a:after {
        content: "";
        border-top: 18px solid transparent;
        border-bottom: 17px solid transparent;
        border-left: 16px solid #D7D7D7;
        position: absolute;
        right: 0px;
        top: 0;
        z-index: 1;
    }

    .dashboard-party-host {
        margin-top: 0px;
        font-size: 12px;
    }

    .dashboard-party-host-date, .dashboard-party-host-bg, .dashboard-party-host-suba {
        font-size: 12px;
        padding-right:10px !important;
    }

    .dashboard-business-data {
        padding: 0px;
    }

    .commission-buttons .round {
        font-size: 11px;
        color: #ffffff !important;
         font-weight: normal;
    }
    .float-right {
        float: right;
    }
    .commission-buttons  .button, .commission-buttons  button, .commission-buttons  button .success, .commission-buttons  button .small-12 {
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -o-border-radius: 3px;
        padding: 0.28889rem 1.07778rem 0.24444rem 1.07778rem;
    }

    .dashboard_module .header {
        font-weight: normal;
        height: auto;
        padding-top: 0px;
        font-size: 11px;
    }

    .business_details_recruit {
        padding-left: 2px;
        font-weight: normal;
    }

    .business_details_recruit.header {
        padding-left: 2px;
        font-weight: normal !important;
    }

    .business_details_recruit_content {
        font-size: 11px;
    }

    .nco_office_title h1 {
        font-size: 14px !important;
        margin-top: 14px;
    }

    .pws-social-icon {
        font-size: 13px !important;
    }

    .top-bar-section ul {
        padding: 0;
        width: auto !important;
        height: auto;
        display: block;
        font-size: 16px;
        text-align: center;
    }

    .top-bar.main-menu a {
         font-weight: normal !important;
        font-size: 12px !important;
    }

    .jplist-drop-down {
        width: 115px !important;
    }

    .buying-guest-label {
        text-align: left !important;
        padding-top: 8px;
        font-weight: normal !important;
    }

    .buying-guest {
        padding-right: 0px !important;
    }

    .build-order-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 255px;
    }

    .top-margin15 {
        margin-top: 15px;
    }
    .no-padding-left {
        padding-left:0px;
    }


    .no-padding-right {
        padding-right:0px;
    }

    #partyShipAddressText {
        font-size: 14px !important;
    }


    div.dataTables_filter input {
        display: inline-block !important;
        width: 100% !important;
        margin: 0 0 1rem 0 !important;
    }

    div.dataTables_filter label {
        float: left !important;
        margin-bottom: 0;
        width: 100% !important;
    }

    .mobile-text-left {
        text-align: left;
    }

    .mobile-text-right {
        text-align: right;
    }


    .mobile-text-center {
        text-align: center;
    }

    .mobile-no-padding {
        padding:0px !important;
    }

    .no-padding-right {
        padding-right:0px;
    }

    #partyShipAddressText {
        font-size: 14px !important;
    }

    .secondary-ba {
        top: 0px !important;
    }

    #norwex_maxbundle_consultantpreferences_primarybankinfoid {
        margin-top: 15px !important;
    }

    .button-group.stack-for-small>li {
        margin: 0px -1px;
        border-radius: 3px !important;
        margin-bottom: 1px !important;
    }

    .party-order-steps li.active a:after, .enrollment-steps li.active a:after, .pws-order-steps li.active a:after {
        content: "";
        border-top: 18px solid transparent;
        border-bottom: 17px solid transparent;
        border-left: 16px solid #008CBA !important;
        position: absolute;
        right: -15px;
        top: 0;
        z-index: 1;
        /*display:none;*/
    }

    .party-order-steps li a:after, .enrollment-steps li a:after, .pws-order-steps li a:after {
        content: "";
        border-top: 18px solid transparent;
        border-bottom: 17px solid transparent;
        border-left: 0px solid #008CBA !important;
        position: absolute;
        right: -15px;
        top: 0;
        z-index: 1;
        /*display:none;*/
    }

    #customer_incentive_offers h4.header-blue {
        font-size: 15px !important;
        text-align: left !important;
    }

    .button-group.stack-for-small>li {
        margin: 0px -1px;
    }

    #open-parties_wrapper div.dataTables_length select {
        width: 296px !important;
        margin-bottom: 0;
    }

    /*#open-parties_wrapper div.dataTables_filter input {*/
        /*display: block !important;*/
        /*width: 100% !important;*/
        /*margin-bottom: 0;*/
        /*margin-left: 0em;*/
    /*}*/

    h4.header-blue {
        font-size: 1.01rem !important;
        margin-bottom: 25px;
    }

    .build-order-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 309px;
    }

    h1.header-blue.header-bordered, div#controlToggleSummary.left h1, .party-order-review-section-buffer h1 {
        font-size: 18px !important;
    }

    #open-parties .iconav, .party-action-iconav {
        font-size: 23px;
        cursor: pointer;
        margin-right: 0px !important;
    }

    .guestListContainer .guestList .guestItem .guestName {
        float: left;
        padding-top: 8px;
        width: 99px !important;
        font-size: 14px;
        overflow-x: hidden;
    }

    .top-margin15 {
        margin-top: 15px !important;
    }

    .bottom_margin_10 h1 {
        font-size: 18px !important;
    }

    .party-order-review-container {
        border: 1px solid #D3D3D3;
        padding: 10px !important;
        margin-left: 0px !important;
    }

    .party-order-review-container-label {
        float: left;
        background: #fff;
        margin-top: -23px !important;
    }

    #discountToggle {
        padding: 0px;
    }

    .phones-helper-text {
        margin-top: 5px !important;
        margin-bottom: 10px;
        float: left;
    }

    .party-summary-area {
        display:none;
        margin-bottom: 20px;
    }

    .party-summary-group {
        margin-bottom: 20px;
    }

    .form-qty{
        margin-top: 10px;
    }

    div#partyTotals.reveal-modal.open {
        padding: 30px 2px 10px 2px;
    }

    /*#partyTotals { display:block; }*/
    /*@media only screen and (orientation:portrait){*/
        /*#partyTotals {*/
            /*height: 100vw;*/
            /*-webkit-transform: rotate(90deg);*/
            /*-moz-transform: rotate(90deg);*/
            /*-o-transform: rotate(90deg);*/
            /*-ms-transform: rotate(90deg);*/
            /*transform: rotate(90deg);*/
        /*}*/
    /*}*/
    /*@media only screen and (orientation:landscape){*/
        /*#partyTotals {*/
            /*-webkit-transform: rotate(0deg);*/
            /*-moz-transform: rotate(0deg);*/
            /*-o-transform: rotate(0deg);*/
            /*-ms-transform: rotate(0deg);*/
            /*transform: rotate(0deg);*/
        /*}*/
    /*}*/


}



@media screen and (min-width: 641px) and (max-width: 721px) {

    body, body p, label, table tr td {
        font-size: 15px !important;
    }

    a {
        cursor: pointer;
    }


    .container-wrapper .login-area a {
        font-size: 10px;
    }

    .top-bar-section li:not(.has-form) a:not(.button) {
        font-size: 11px;
    }

    .nco_office_title h1 {
        font-size: 14px !important;
        margin-top: 14px;
    }

    .pws-social-icon {
        font-size: 13px !important;
    }

    .top-bar-section ul {
        padding: 0;
        width: auto !important;
        height: auto;
        display: block;
        font-size: 16px;
        text-align: center;
    }
    .top-bar.main-menu a {
        font-weight: normal !important;
        font-size: 11px !important;
    }

    #topbarmenu.top-bar {
        background: #0075BB;
        border-radius: 0px 0px 0px 0px !important;
    }

    #customer_incentive_offers h4.header-blue {
        font-size: 15px !important;
        text-align: left !important;
    }

    .guestName {
        float: left;
        padding-top: 8px;
        width: 98px !important;
        font-size: 14px;
        overflow-x: hidden;
    }

    .check_image {
        margin-top: 35px;
        margin-bottom: 20px;
        display: none !important;
    }

    label.inline {
        margin: 0 0 1rem 0;
        padding: 0.5625rem 0;
        float: left !important;
    }

    td.partydate {
        width: 100% !important;
    }

    #open-parties .iconav, .party-action-iconav {
        font-size: 23px;
        cursor: pointer;
        margin-right: 0px !important;
    }

}



@media screen and (min-width: 375px) and (max-width: 736px) {

    .dashboard_module {
        margin-top: 1.4rem;
        font-size: 11px !important;
    }

    a {
        cursor: pointer;
    }

    .dashboard_title {
        font-size: 12px !important;
        padding-bottom: 4px;
        font-family: Georgia, serif;
        margin: 0px 0 .6em;
        color: #008CBA;
        border-bottom: 1px solid #ccc;
    }

    .topsocial.inline-list {
        margin-left: 40px !important;
    }

    .header-social {
        margin-top: 7px;
        padding-right: 24px;
    }

    .consultant-area h1 {
        font-family: Georgia, serif;
        font-size: 1em !important;
        color: #5EBA44;
        position: relative;
        text-transform: capitalize;
    }

    #customer_incentive_offers h4.header-blue {
        font-size: 15px !important;
        text-align: left !important;
    }

    .guestName {
        float: left;
        padding-top: 8px;
        width: 98px !important;
        font-size: 14px;
        overflow-x: hidden;
    }

    #topbarmenu.top-bar {
        background: #0075BB;
        border-radius: 0px !important;
    }

    #open-parties .iconav, .party-action-iconav {
        font-size: 23px;
        cursor: pointer;
        margin-right: 0px !important;
    }


    /*.secondary-ba {*/
        /*top: -40px !important;*/
    /*}*/

    /*.primary-ba {*/
        /*top: 20px;*/
    /*}*/

    /*.sec_menu.button, .sec_menu.button, .sec_menu button button .success, .sec_menu button button .small-12 {*/
        /*border-radius: 3px;*/
        /*-moz-border-radius: 3px;*/
        /*-webkit-border-radius: 3px;*/
        /*-o-border-radius: 3px;*/
        /*padding: 0.28889rem 1.07778rem 0.24444rem 1.07778rem !important;*/
    /*}*/

    /*#shopnow.button, .sec_menu.button {*/
        /*border-style: solid;*/
        /*border-width: 0;*/
        /*cursor: pointer;*/
        /*font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;*/
        /*font-weight: normal;*/
        /*line-height: normal;*/
        /*margin: 0 0 1.25rem;*/
        /*position: relative;*/
        /*text-decoration: none;*/
        /*text-align: center;*/
        /*-webkit-appearance: none;*/
        /*-moz-appearance: none;*/
        /*border-radius: 0;*/
        /*display: inline-block;*/
        /*padding: 0.28889rem 1.07778rem 0.24444rem 1.07778rem !important;*/
        /*font-size: 12px !important;*/
        /*background-color: #008CBA;*/
        /*border-color: #007095;*/
        /*color: #fff;*/
        /*transition: background-color 300ms ease-out;*/
    /*}*/


}


@media screen and (min-width: 721px) and (max-width: 960px) {
    #home-grid .grid-container-media .caption h3 {
        font-family: "minion-pro", Georgia, "Times New Roman", Times, serif;
        font-weight: normal;
        font-size: 1.325rem !important;
        color: #78AC41;
        padding-bottom: 10px;
        padding-top: 15px;
        border-bottom: 3px dotted #78AC41;
    }

    a {
        cursor: pointer;
    }

    .topsocial {
        float: right;
        display: inline-block !important;
        width: 573px !important;
    }

    .nco_office_title h1 {
        font-size: 14px !important;
        margin-top: 14px;
    }

    .pws-social-icon {
        font-size: 13px !important;
    }

    .top-bar-section ul {
        padding: 0;
         width: auto !important;
        height: auto;
        display: block;
        font-size: 16px;
        text-align: center;
    }

    .jplist-grid-view #product-list-view .list-item.pws-product-display .list-content {
        border: 1px solid #F0F0F0;
        padding: 15px;
        border-radius: 10px 10px 0px 0px;
        /* min-height: 235px; */
        min-height: 300px !important;
    }

    .header-bordered {
        border-bottom: 0px solid #E7E7E7 !important;
        margin-top: 25px;
    }
    .top-bar.main-menu a {
        font-weight: normal !important;
        font-size: 12px !important;
    }
    .topsocial.inline-list {
        margin-left: 40px !important;
    }

    #customer_incentive_offers h4.header-blue {
        font-size: 15px !important;
        text-align: left !important;
    }

    #open-parties .iconav, .party-action-iconav {
        font-size: 23px;
        cursor: pointer;
        margin-right: 0px !important;
    }


}




@media screen and (min-width: 768px) and (max-width: 1024px) {

    body, body p, label, table tr td {
        font-size: 14px !important;
    }

    .baag-header {
        padding-left: 5px;
    }

    a {
        cursor: pointer;
    }

    .sec_menu .button, button,.sec_menu button .success, .sec_menu button .small-12 {
        padding: 0.28889rem 0.67778rem 0.24444rem 0.67778rem;
    }

    .guestListContainer {
        position: relative;
        max-height: 245px;
        min-width: 239px;
    }

    #topbarmenu.top-bar {
        background: #0075BB;
        border-radius: 0px 0px 0px 0px !important;
    }

    .container-wrapper .login-area a {
        font-size: 13px !important;
    }

    .topsocial.inline-list {
        margin-left: 95px !important;
    }

    .reveal-modal.reveal-small {
        width: 82% !important;
    }

    .top-bar-section .has-dropdown>a:after {
        border: inset 5px;
        content: "";
        display: block;
        height: 0;
        width: 0;
        border-color: rgba(255,255,255,0.4) transparent transparent transparent;
        border-top-style: solid;
        margin-top: -2.5px;
        top: 1.40625rem;
        right: -19px !important;
    }
    .top-bar-section .has-dropdown .dropdown li.has-dropdown>a:after {
        right: 1px !important;
    }

    .top-bar-section li:not(.has-form) a:not(.button) {
        padding: 0 0.9375rem;
        line-height: 2.8125rem;
        background: rgba(0, 117, 187, 0) !important;
    }

    .top-bar-section .dropdown li:not(.has-form):not(.hover) > a:not(.button) {
        color: #0075BB;
        background: #ECECEC !important;
    }

    /*.top-bar-section li:not(.has-form) a:not(.button) {*/
        /*padding: 0 0.9375rem;*/
        /*line-height: 2.8125rem;*/
        /*background: rgba(0, 117, 187, 0) !important;*/
    /*}*/



    /*.guestName {*/
        /*float: left;*/
        /*width: 75px !important;*/
        /*padding-left: 2px;*/
        /*white-space: nowrap;*/
        /*overflow: hidden;*/
        /*text-overflow: ellipsis;*/
    /*}*/

    .guestName {
        float: left;
        width: 68px !important;
        padding-left: 2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    .top-bar.main-menu a {
        font-weight: normal !important;
        font-size: 12px !important;
    }

    .header-logo {
        padding-top: 15px;
        padding-bottom: 0px;
        padding-left: 10px;
    }

    .dashboard_module {
        margin-top: 1.4rem;
        font-size: 11px !important;
    }

    .dashboard_module .header {
        font-weight: normal !important;
        height: auto;
        padding-top: 0px;
        font-size: 11px !important;
        padding-left: 0.3375rem;
        padding-right: 0.9375rem;
    }
    #cke_biography #cke_16, #cke_biography #cke_17, #cke_biography #cke_23, #cke_biography #cke_31,
    #cke_biography #cke_36, #cke_biography #cke_54, #cke_biography #cke_68, #cke_biography #cke_72, #cke_biography #cke_82,
    #cke_biography #cke_81,#cke_biography #cke_85,#cke_biography #cke_88, #cke_biography #cke_90 {
        display:none;
    }

    .button.round {
        font-size: 9px;
        color: #ffffff !important;
        font-weight: normal;
        padding: 6px !important;
    }

    .margin-left21 {
        margin-left: 21px;
        width:104px;
    }

    .guestListContainer .guestList {
        clear: both;
        width: 229px !important;
        max-height: 201px;
        padding: 3px;
        border: 1px solid #D3D3D3;
        overflow-y: scroll;
    }

    .guestName {
        float: left;
        width: 65px !important;
        padding-left: 2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #open-parties_wrapper div.dataTables_length select {
        width: 52px;
        margin-bottom: 0;
    }

    #open-parties_wrapper select {
        width: 130px;
    }

    #customer_incentive_offers h4.header-blue {
        font-size: 15px !important;
        text-align: left !important;
    }

    #table_id_wrapper input[type="file"], #table_id_wrapper input[type="checkbox"], #table_id_wrapper input[type="radio"], #table_id_wrapper select {
        margin: 0 0 1rem 0;
        margin-left: 22px;
        width: 92px;
    }

    input[name="orderTypeFilter"] {
        margin: 0 0 1rem 0;
        width: 110px;
        margin-left: 20px;
    }

    .mobile-top-margin21 {
        margin-top: 21px !important;
    }

    .consultant-area h1 {
        font-family: Georgia, serif;
        font-size: 1.2em;
        color: #5EBA44;
        position: relative;
        text-transform: capitalize;
    }

}


@media screen and (min-width: 960px) and (max-width: 1020px) {
    #home-grid .grid-container-media .caption h3 {
        font-family: "minion-pro", Georgia, "Times New Roman", Times, serif;
        font-weight: normal;
        font-size: 1.325rem !important;
        color: #78AC41;
        padding-bottom: 10px;
        padding-top: 15px;
        border-bottom: 3px dotted #78AC41;
    }

    .topsocial {
        float: right;
        display: inline-block !important;
        width: 570px !important;
    }

    .consultant-login {
        background: #F7F7F7;
        min-height: 401px !important;
        position: relative;
        -webkit-border-radius: 0.4em;
        -o-border-radius: 0.4em;
        -moz-border-radius: 0.4em;
    }
}

@media screen and (min-width: 1021px) and (max-width: 1175px) {
    .norwex-corporate, .corporate-icon {
        display: none;
    }

    .topsocial {
        float: right;
        display: inline-block !important;
        width: 570px !important;
    }
}

@media screen and (min-width: 0px) and (max-width: 1340px) {
    .corporate-icon.icon-home2, .corporate-icon, .norwex-corporate {
        display: none;
    }
}



/* Medium and up */
@media screen and (min-width: 40em) {

}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {
    .jplist-grid-view #product-list-view .list-item.pws-product-display .list-content {
        border: 1px solid #F0F0F0;
        padding: 15px;
        border-radius: 10px 10px 0px 0px;
        /* min-height: 235px; */
        min-height: 330px !important;
    }

    .topsocial {
        float: right;
        display: inline-block !important;
        width: 570px !important;
    }
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
    .jplist-grid-view #product-list-view .list-item.pws-product-display .list-content {
        border: 1px solid #F0F0F0;
        padding: 15px;
        border-radius: 10px 10px 0px 0px;
        /* min-height: 235px; */
        min-height: 330px !important;
    }

    .topsocial {
        float: right;
        display: inline-block !important;
        width: 570px !important;
    }
}
