/*Offcanvas*/

#nwx-mobile-logo {
    width: 120px;
    margin-top: -3px;
}

a.right-off-canvas-toggle.icon-cart4 {
    color: #ffffff;
    font-size: 32px;
    text-decoration: none;
    line-height: inherit;
    margin-left: 7px;
}

a.right-off-canvas-toggle.icon-nwxguest, a.right-off-canvas-toggle.icon-switch, a.right-off-canvas-toggle.icon-dashboard, a.right-off-canvas-toggle.icon-info, a.right-off-canvas-toggle.icon-enter2,
a.right-off-canvas-toggle.icon-enter3, a.right-off-canvas-toggle.icon-enter {
    color: #ffffff;
    font-size: 25px;
    text-decoration: none;
    line-height: inherit;
    margin-left: 7px;
}

.tab-bar h1, .tab-bar h2, .tab-bar h3, .tab-bar h4 {
    font-size: 1.025rem;
    color: #fff;
    font-weight: bold;
    line-height: 2.8125rem;
    margin: 0;
    font-family: "myriad-pro",Arial,Helvetica,sans-serif !important;
}

.top-bar.expanded .title-area {
    background: #0075BB !important;
}

.account-menu{
    color: rgba(255,255,255,0.7);
}

.account-menu-item {
    color: rgba(255,255,255,0.7);
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 14px;
}

.right-off-canvas-menu {
    -webkit-backface-visibility: hidden;
    width: 15.625rem;
    top: 0;
    bottom: 0;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    background: #0075bb !important;
    z-index: 1001;
    box-sizing: content-box;
    transition: transform 500ms ease 0s;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -ms-transform: translate(100%, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    right: 0;
}

.left-off-canvas-menu {
    -webkit-backface-visibility: hidden;
    width: 15.625rem;
    top: 0;
    bottom: 0;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    background: #0075bb !important;
    z-index: 1001;
    box-sizing: content-box;
    transition: transform 500ms ease 0s;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -ms-transform: translate(-100%, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    left: 0;
}

.right-off-canvas-menu li {
    color: rgba(255,255,255,0.7) !important;
}

ul.off-canvas-list li a {
    display: block;
    padding: 0.66667rem;
    color: rgba(255,255,255,0.7);
    border-bottom: 1px solid #0168A6 !important;
    transition: background 300ms ease;
}

ul.off-canvas-list li a:hover {
    background: #066FAE !important;
}

section.middle.tab-bar-section, section.left-small, section.right-small {
    background: #066FAE !important;
}

.right-small {
    width: 2.8125rem;
    height: 2.8125rem;
    position: absolute;
    top: 0;
    border-left: solid 1px #0168A6 !important;
    right: 0;
}

.left-small {
    width: 2.8125rem;
    height: 2.8125rem;
    position: absolute;
    top: 0;
    border-right: solid 1px #0168A6 !important;
    left: 0;
}

ul.off-canvas-list li label {
    display: block;
    padding: 0.83rem 0.9375rem !important;
    color: rgba(255,255,255,0.7) !important;
    text-transform: none !important;
    font-size: 0.75rem;
    font-weight: bold;
    background: #0168A6 !important;
    border-top: 1px solid #5e5e5e;
    border-bottom: none;
    margin: 0;
    height: 45px;
}

#mobile-cart {
    padding-left: 10px;
}

#mobile-cart #shopping-cart-link-mobile-sidebar-menu a, #mobile-cart #shopping-cart-link-mobile-sidebar-menu {
    color: #fff;
    font-size: 13px;
    margin-top: 3px;
}

#mobile-cart label {
    color: rgba(255,255,255,0.7);
    font-size: 15px;
    margin-top:0px;
    margin-bottom: 10px;
    border-bottom: 1px solid #0168A6;
    padding-bottom:3px;
    font-weight: bold;
}

#mobilecart-shopnow {
    margin-top: 13px;
    padding-right: 0px;
    text-align: right;
    margin-left: 0px;
}

#mobile-consultant-info label {
    color: rgba(255,255,255,0.7);
    font-size: 15px;
    margin-top:20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #0168A6;
    padding-bottom:3px;
    font-weight: bold;
    text-align: center;
}

#mobile-consultant-info {
    margin-bottom: 25px;
}

.mobile-consultant-cart {
    margin-top: 25px;
}


#mobile-consultant-info .consultant-photo img {
    border-radius: 10%;
    -o-border-radius: 10%;
    -moz-border-radius: 10%;
    -webkit-border-radius: 10%;
}

#mobile-consultant-info .consultant-name {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

#mobile-consultant-info .consultant-title {
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    text-align: center;
}

#mobile-consultant-info .consultant-detail {
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
}

#mobile-cart-show .consultant-detail-area {
    margin-bottom: 20px;
    margin-left:10px;
}

.consultant-detail-area {
    margin-bottom: 20px;
}

.header-wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 100% !important;
}

.menu-wrapper > ul {
    margin-bottom: 0px !important;
}

.empty-cart {
    color: #fff;
    font-size: 12px;
    font-weight: normal;
}

.mobilecart-ofc.badge {
    top: 9px;
    position: absolute;
    right: 12px;
}

.badge.success {
    background:#5BB941;
    color:#fff;
}
.badge.success.multiple {
    background:#5BB941;
    color:#fff;
    font-size: 7px !important;
    padding: 3px;
    right: 10px;
}

.mobilecart-ofc.badge.danger {
    right: 11px;
}

.badge.danger {
    background: #ff0000;
    color:#fff;
}

.mobile-corporate {
    padding-left:10px;
    padding-right: 10px;
}

#language-container {
    margin: 10px;
}

.mobile-menu-container .top-bar-section li:not(.has-form) a:not(.button){
    text-align: left !important;
    padding-left: 20px !important;
    width: 250px !important;
}

/*.has-dropdown.not-click.moved, .has-dropdown.not-click.hover.moved {*/
    /*background: red !important;*/
/*}*/

.top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button) {
    color: #0075BB !important;
    /*background-color: #555;*/
    background: rgb(226, 226, 226) !important;
    font-size: 14px;
}

/*.top-bar-section .has-dropdown>a:after {*/
    /*border: inset 5px;*/
    /*content: "";*/
    /*display: block;*/
    /*height: 0;*/
    /*width: 0;*/
    /*border-color: transparent transparent transparent #5CA4D0 !important;*/
    /*border-left-style: solid;*/
    /*margin-right: 0.9375rem;*/
    /*margin-top: -4.5px;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*right: 0;*/
/*}*/

.mobile-breadcrumb-icon {
    font-size: 22px;
}
.mobile-notifications {
    margin-right: 15px;
}

.mobile-notifications label {
    color: rgba(255,255,255,0.7);
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #0168A6;
    padding-bottom: 3px;
    font-weight: bold;
    text-align: center;
}

.mobile-notifications .header-nco-notifications.icon-bar {
    background-color: #0075BB;
    color: #FFF;
    height: 105px;
}

.mobile-notifications .header-nco-notifications.icon-bar label {
    color: #F7F7F7;
    font-family: sans-serif;
    font-size: 10px;
    margin-top: 2px;
    border-bottom: 0px solid #0168A6;
}
