{% load static %}
{% load crispy_forms_tags %}
{% block messages %}
    {% if messages %}
        <div class="row">
            <div class="small-12 columns">
            {% for message in messages %}
                <div data-alert class="{{ message.tags }} callout" data-closable="slide-out-right">
                    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                        <span aria-hidden="true">&times;</span>
                    </button>
{#                    <button type="button-new-blue" class="close" data-dismiss="alert" aria-label="Close">#}
{#                        <span aria-hidden="true">&times;</span></button>#}
                    {{ message }}
                </div>
            {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}