{% load crispy_forms_field %}

<div id="div_{{ field.auto_id }}" class="form-group{% if field.errors %} has-error{% endif %}">
    <label for="{{ field.id_for_label }}" class="control-label{% if field.field.required %} requiredField{% endif %} {{ label_class }}">
        {{ field.label|safe }}</label>

    <div class="controls {{ field_class }}">
        {% crispy_field field 'class' 'checkbox' %}
        {% if field.errors %}
            {% for error in field.errors %}
                <span id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="help-block"><strong>{{ error }}</strong></span>
            {% endfor %}
        {% endif %}
    </div>
</div>