{% load crispy_forms_field %}

{% if field.is_hidden %}
  {{ field }}
{% else %}
    {% if field|is_checkbox %}
        <div id="div_{{ field.auto_id }}" class="checkbox{% if field.errors %} has-error{% endif %}">
            <label for="{{ field.id_for_label }}" class="control-label{% if field.field.required %} requiredField{% endif %}">
                {% crispy_field field 'class' 'checkbox' %}
                {{ field.label|safe }}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <span id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="help-block"><strong>{{ error }}</strong></span>
                    {% endfor %}
                {% endif %}
            </label>
        </div>
    {% else %}
        <div id="div_{{ field.auto_id }}" class="form-group{% if field.errors %} has-error{% endif %}">
            <label for="{{ field.id_for_label }}" class="control-label{% if field.field.required %} requiredField{% endif %}">
                {{ field.label|safe }}
            </label>
            {% crispy_field field 'placeholder' field.label %}
            {% if field.errors %}
                {% for error in field.errors %}
                    <span id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="help-block"><strong>{{ error }}</strong></span>
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}


{% endif %}
