{#{% load common_tags %}#}
{#{% load rules %}#}
{% load i18n %}

<div id="sidebar-right">
{% block cta-right-top %}
    {{ object.menu_manager.menu }}
{% endblock %}
<ul class="menu vertical">
  <li><a href="{% url 'page_list' %}">{% trans "Pages" %}</a><i>{{ instance.count }}</i></li>
  <li><a href="{% url 'resource_list' %}"> {% trans "Resources" %}</a></li>
  <li><a href="{% url 'dashboard_list' %}"> {% trans "Dashboards" %}</a></li>
  <li><a href="{% url 'email_list' %}"> {% trans "Emails" %}</a></li>
  <li><a href="{% url 'specials_list' %}"> {% trans "Specials" %}</a></li>
  <li><a href="{% url 'incentives_list' %}"> {% trans "Incentives" %}</a></li>
  <li><a href="{% url 'tag_list' %}"> {% trans "Tags" %}</a></li>
  <li><a href="{% url 'category_list' %}"> {% trans "Categories" %}</a></li>
    {% if user.is_superuser or user.is_staff  %}
        <fieldset class="fieldset">
          <legend>{% blocktrans %}Create New Contents{% endblocktrans %}</legend>
            <ul>
                <li><a href="{% url 'page_create' %}"><i class="icon-file4"></i> {% trans "Page" %}</a></li>
                <li><a href="{% url 'resource_create' %}"><i class="icon-wrench"></i> {% trans "Resource" %}</a></li>
                <li><a href="{% url 'dashboard_create' %}"><i class="icon-dashboard"></i> {% trans "Dashboard" %}</a></li>
                <li><a href="{% url 'email_create' %}"><i class="icon-envelope"></i> {% trans "Email" %}</a></li>
                <li><a href="{% url 'specials_create' %}"><i class="icon-balloon"></i> {% trans "Specials" %}</a></li>
                <li><a href="{% url 'incentives_create' %}"><i class="icon-coins"></i> {% trans "Incentives" %}</a></li>
                <li><a href="{% url 'tag_create' %}"><i class="icon-tag5"></i> {% trans "Tags" %}</a></li>
                <li><a href="{% url 'category_create' %}"><i class="icon-cabinet"></i> {% trans "Categories" %}</a></li>
            </ul>

        </fieldset>

    {% endif %}
</ul>
</div>