{% load humanize %}
{% load i18n %}
{% load static %}
{% load cms_extras %}

<div class="section">
		<div class="row">
            {% if user.is_superuser or user.is_staff  %}
        <div class="content-edit"> {% include "util/revision/_revision.html" %}
        <span class="edit-right"><a href="{%  url 'people_update' people.slug %}" >
            <span class="icon-pencil3"> </span>{% trans "Edit" %}</a></span>
        </div>
    {% endif %}
			<div class="small-12 medium-push-8 medium-4 large-push-8 large-4 columns">
				<img src="{{ people.img.url }}" alt="{% if people.first_name %}{{ people.first_name }}  {{ people.last_name }}{% endif %}">
			</div>
			<div class="small-12 medium-8 medium-pull-4 large-4 large-push-0 columns">
				<h1 class="thick xs-ptl">{% if people.first_name %}{{ people.first_name }}  {{ people.last_name }}{% endif %}</h1>
				<h2>{% if people.position %} {{ people.position }}{% endif %}</h2>
				<p>{% if people.content %}
                    {{ people.content|safe }}
                {% endif %}</p>
{#				<nav class="social-share"></nav>#}
                {% include 'hr/units/_people_social.html' %}
			</div>
			<div class="small-12 medium-12 large-pull-8 large-4 columns">
				<blockquote>
					{% for quote in people.quote.all %}
                    {% if quote.content %}
                        <div class="leadership-quote {{ people.slug }}">{{ quote.content|safe }}</div>
                    {% endif %}
                {% endfor %}
				</blockquote>
			</div>
		</div>
	</div>

