<div class="people-social">
    <div class="social-share profile-share">
        {% if people.facebook %}
        <span>
            <a href="{{ people.facebook }}">
            <span class="icon-facebook"></span></a>
        </span>
        {% endif %}

        {% if people.twitter %}
        <span>
            <a href="{{ people.twitter }}">
            <span class="icon-twitter"></span></a>
        </span>
        {% endif %}

        {% if people.linkedin %}
        <span>
            <a href="{{ people.linkedin }}">
            <span class="icon-linkedin"></span></a>
        </span>
        {% endif %}
    </div>
</div>