{%  extends 'themes/layout.html' %}
{% load humanize %}
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}


{% block featured %}
    <!-- Hero -->
    <section class="chemicals-concern-quiz container">
        <div class="hero-content-wrap">
            <div class="hero-text-no-circle">
                {% for s in snippet %}
                    {% if s.slug == "products-faq" and s.active == True %}
                        {% include 'cms-extras/snippet_edit.html' %}
                        <div class="hero-image-text-surheading">{% if s.label %}{{ s.label }}{% endif %}</div>
                        <div class="hero-image-text-heading">{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}</div>

                        <div class="small-12 medium-6 columns">
                            <div class="filters">
                                <div class="sub-filter drop">
                                    <select id="categories">
                                        <option value="all">SELECT A CATEGORY</option>
                                        <option value="faq-bathroom">Bathroom</option>
                                        <option value="faq-floor-systems">Floor Systems</option>
                                        <option value="faq-guarantees-and-warranties">Guarantees &amp; Warranties</option>
                                        <option value="faq-kitchen">Kitchen</option>
                                        <option value="faq-laundry">Laundry</option>
                                        <option value="faq-microfiber">Microfiber</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="small-12 medium-6 columns">
                            {#                            <div class="sub-filter">#}
                            {#                                <input type="text" placeholder="SEARCH" id="search-criteria"/>#}
                            {#                            </div>#}

                            <form  method="GET" role="search" action='{%  url "product_faq_list" %}'>
                                <div class="medium-8 columns">

                                    <div >
                                        <span class="input-group-addon"><i class="icon-suitcase"></i></span>
                                        <input type="text" placeholder="SEARCH" class="form-control" name="q">
                                    </div>
                                </div>

                                <div class="medium-4 columns">

                                    <button type="submit" class="button-new-corporate"> Search</button>

                                </div>
                            </form>
                            <div class="clear">&nbsp;</div>
                        </div>
                        </div>
                        </div>
                    {% endif %}
                {% endfor %}
    </section>
{% endblock %}

{% block content %}
    <div class="small-12 medium-12 large-12 columns faq-content-area">
        <div><h3>{{ object.title }}</h3></div>
    {% if user.is_superuser or user.is_staff  %}
        <div class="content-edit"> {% include "util/revision/_revision.html" %}
        <span class="edit-right"><a href="{%  url 'faq _question_update' object.slug %} " >
            <span class="icon-pencil2"> </span>{% trans "Edit" %}</a></span>
        </div>
    {% endif %}
        <div>{{ object.answer|safe }}</div>
    {% block social-share %}
            <div class="share-this"> {% include "util/social/_social_share.html" %}</div>
    {% endblock %}

    {% if user.is_superuser or user.is_staff  %}
        <br>
        <a href="{%  url 'faq_question_update' object.slug %} " class="button-new-blue">{% trans "Edit" %}</a>
        {% include "util/revision/_revision_audit.html" %}
    {% endif %}
    </div>

{% endblock %}




