{%  extends 'themes/layout.html' %}
{% load humanize %}
{% load i18n %}
{% load static %}

{% block title %}{% endblock %}


{#{% block content %}#}
{#    <div class="{% if not object.theme.content_center %} small-12 medium-12 large-12 columns {% else %} {{ object.theme.content_center }} {% endif %}">#}
{#        <h1>{{ object.page.title }}</h1>#}
{#        {% for object in object_list|dictsort:"sort_order" %}#}
{#            <h5><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h5>#}
{#            {% if object.answer %}<div>{{ object.answer | truncatechars:120|safe }}{% if object.answer|length > 120 %} <a href="{{ object.get_absolute_url }}">read more</a>{% endif %}</div>{% endif %}#}
{#            <div class="qa-meta">{% if object.category %}<span class="text-muted">Category: {{ object.category.title }}</span>{% endif %}</div>#}
{#            <hr>#}
{#        {% empty %}#}
{#            <div class="no-records-found">{% blocktrans %}No records found{% endblocktrans %}</div>#}
{#        {% endfor %}#}
{#    </div>#}
{#{% endblock %}#}


{% block featured %}
<body class="faq">
<!-- Hero -->
	<section class="hero">
		<div class="hero-image-text">
			<div class="hero-image-text-container">
				<div class="hero-image-text-surheading">Product FAQs </div>
				<div class="hero-image-text-heading">
					<div class="filters">
						<div class="sub-filter drop">
							<select id="categories">
								<option value="all">SELECT A CATEGORY</option>
								<option value="faq-bathroom">Bathroom</option>
								<option value="faq-floor-systems">Floor Systems</option>
								<option value="faq-guarantees-and-warranties">Guarantees &amp; Warranties</option>
								<option value="faq-kitchen">Kitchen</option>
								<option value="faq-laundry">Laundry</option>
								<option value="faq-microfiber">Microfiber</option>
							</select>
						</div>
						<div class="sub-filter">
							<input type="text" placeholder="SEARCH" id="search-criteria"/>
						</div>
						<div class="clear">&nbsp;</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Hero -->
	<section class="faq-section faq-bathroom">
		<div class="faq-wrap">
			<!-- Icon Divider -->
			<div class="icon-divider-heading">
				<div class="divider-container">
					<div class="icon-divider"></div>
					<div class="icon-container">
						<h2>Bathroom</h2>
					</div>
				</div>
				<!-- End divider-container -->
			</div>
			<!-- End icon-divider-heading -->
			<div class="faq-questions">
				<div class="faq-group">
					<h4>Descaler</h4>
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> How long should I leave Descaler on before washing it off?</p>
						<p class="faq-answer"><span class="faq-q">A.</span> Norwex Descaler is an effective and environmentally friendly product for cleaning and removing lime. Spray the liquid on the surface, and let it work for up to 5 minutes. The sprayed surface should not be allowed to dry before washing it off with a moist Enviro Cloth or the Bathroom Scrub Mitt.</p>
					</div>
				</div>
				<div class="faq-group">
					<h4>Sanria Toilet System</h4>
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> What are some of the special benefits of the Sanria Toilet Brush System?</p>
						<p class="faq-answer"><span class="faq-q">A.</span> The Sanira Toilet Brush System is a product that is environmentally friendly, all parts are recyclable, and the soap and descaler agents are biodegradable. The soap is made from vegetable sources and has properties that prevent bacteria growth. In addition, you need to use only a very small amount of the cleaning agent in the toilet making it last for a very long time. It's a great product for saving you money and saving the environment. The system’s toilet brush is made in one piece, with channels in the bristles, preventing the growth of bacteria and making it easy to keep the system clean.</p>
					</div>
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> Will the Sanria Toilet Brush System remove rust stains?</p>
						<p class="faq-answer"><span class="faq-q">A.</span> The Sanira Toilet Brush System is great to clean the toilet, but it is not formulated to remove rust or calcium.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="faq-section faq-floor-systems">
		<div class="faq-wrap">
			<!-- Icon Divider -->
			<div class="icon-divider-heading">
				<div class="divider-container">
					<div class="icon-divider"></div>
					<div class="icon-container">
						<h2>Floor Systems</h2>
					</div>
				</div>
				<!-- End divider-container -->
			</div>
			<!-- End icon-divider-heading -->
			<div class="faq-questions">
				<div class="faq-group">
					<h4>Mops</h4>
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> Is there a proper way to clean with the mop?</p>
						<p class="faq-answer"><span class="faq-q">A.</span> Always dry mop with the Dry Mop Pad or Dry Superior Mop Pad prior to using the Wet Mop Pad. The yellow mop pads are for "dry" cleaning, and the blue mop pads which are antibacterial are for "wet" cleaning. Be sure to move the mop in a wide figure-8 pattern from left to right in front of you, bringing the mop towards you as you back up so that you will be moving the dirt and debris in one direction. When wet mopping, moisten the mop with clean water before using. If the mop is too wet, wring it out prior to use.</p>
					</div>
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> What is the difference between the Dry Mop Pad and the Dry Superior Mop Pad?</p>
						<p class="faq-answer"><span class="faq-q">A.</span> The Dry Mop Pad is made of 100% polyester while the Dry Superior Mop Pad is made of 100% Norwex microfiber and boasts all the benefits of microfiber in its ability to pickup and hold the smallest particles of dust, pet hair, micro particles and debris and hold water.</p>
					</div>
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> How do I use the mop to clean my windows and polish hard to reach areas?</p>
						<p class="faq-answer"><span class="faq-q">A.</span> Attach the Mop Base Brackets onto the top side of the Mop Base and fasten the Window Cloth, EnviroCloth™ or Car Cloth in place by wrapping it around the Mop Base and firmly pressing the cloth into the rubber grommet slits on the Mop Base Brackets. Lock the base by pushing the green lever until it locks into position.</p>
					</div>
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> How do I assemble the mop?</p>
						<p class="faq-answer"><span class="faq-q">A.</span> Loosen the Telescopic Mop Handle by twisting the upper blue handle to the left. Pull gently to nose height. Tighten the handle by gently twisting to the right. To attach the Mop Base to the Telescopic Mop Handle, depress the green bumps on the Mop Base and slide the Telescopic Handle over until the green bumps fit into the holes. To lock the base for doing walls and ceilings, push the blue lever until it locks into position. Attach the Wet Mop Pad, Dry Mop Pad, Dry Superior Mop Pad, or the Tile Mop Pad to the Mop Base.</p>
					</div>
				</div>
				<div class="faq-group">
					<h4>Carpet Stain Buster</h4>
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> Can Carpet Stain Buster be used on upholstery?</p>
						<p class="faq-answer"><span class="faq-q">A.</span> Yes Carpet Stain Buster may be used on upholstery but only if it is not Scotch Guarded. Always check with the manufacturer and test in an inconspicuous spot before use.</p>
					</div>
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> How does the Carpet Stain Buster work?</p>
						<p class="faq-answer"><span class="faq-q">A.</span> The Carpet Stain Buster uses a naturally derived surfactant (soap) derived from Yucca (a plant) - this helps to break down soil/dirt etc.  It also contains orange extract which gives it its fresh aroma and powerful clean.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="faq-section faq-guarantees-and-warranties">
		<div class="faq-wrap">
			<!-- Icon Divider -->
			<div class="icon-divider-heading">
				<div class="divider-container">
					<div class="icon-divider"></div>
					<div class="icon-container">
						<h2>Guarantees & Warranties</h2>
					</div>
				</div>
				<!-- End divider-container -->
			</div>
			<!-- End icon-divider-heading -->
			<div class="faq-questions">
				<div class="faq-group">
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> How long are your products guaranteed for?</p>
						<p class="faq-answer"><span class="faq-q">A.</span> Norwex backs its commitment to quality with a 60 day, 100% satisfaction Guarantee. If for any reason you are unhappy with your purchase, simply return the item within 60 days from the date of purchase and you will receive a refund, less the shipping fees. Norwex will also replace or exchange any merchandise you receive that is damaged or defective to your complete satisfaction with a receipt.</p>
					</div>
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> How do I send back my products that are still under warranty?</p>
						<p class="faq-answer"><span class="faq-q">A.</span> Your Norwex Consultant will be happy to help you with your return accompanied with your receipt.</p>
					</div>
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> What is the Norwex Microfiber warranty?</p>
						<p class="faq-answer"><span class="faq-q">A.</span> At Norwex we are proud of our unique, high quality microfiber and want you to be as thrilled as we are with the product.  We are happy to assist you with any item that did not meet your expectations.  Our 2-year microfiber warranty covers any problem you may encounter outside of normal wear and tear.  If you are not pleased with how a microfiber product has worn or performed you may contact your Consultant to have the item replaced, at no additional charge, through <i>Norwex Customer Service Returns</i>.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="faq-section faq-kitchen">
		<div class="faq-wrap">
			<!-- Icon Divider -->
			<div class="icon-divider-heading">
				<div class="divider-container">
					<div class="icon-divider"></div>
					<div class="icon-container">
						<h2>Kitchen</h2>
					</div>
				</div>
				<!-- End divider-container -->
			</div>
			<!-- End icon-divider-heading -->
			<div class="faq-questions">
				<div class="faq-group">
					<h4>Cleaning Paste</h4>
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> Can you use the Cleaning Paste on brushed stainless steel?</p>
						<p class="faq-answer"><span class="faq-q">A.</span> We do not endorse the use of Cleaning Paste on brushed stainless steel.</p>
					</div>
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> Can Cleaning Paste be used on grout?</p>
						<p class="faq-answer"><span class="faq-q">A.</span> Yes you can, only if the grout is sealed. The Cleaning Paste is a water soluble paste and so is grout.</p>
					</div>
				</div>
			</div>
			<div class="faq-group">
				<h4>Spirinetts</h4>
				<div class="faq-question">
					<p class="faq-question-text"><span class="faq-q">Q.</span> What is the difference between Norwex Spirinetts and the steel scrubbers you can buy in stores?</p>
					<p class="faq-answer"><span class="faq-q">A.</span> Norwex Spirinetts are made from a high quality stainless steel that does not rust or deteriorate.</p>
				</div>
			</div>
			<div class="faq-group">
				<h4>Super Jet</h4>
				<div class="faq-question">
					<p class="faq-question-text"><span class="faq-q">Q.</span> Why can't you use the Super Jet Dishwasher Detergent in a stainless steel dishwasher?</p>
					<p class="faq-answer"><span class="faq-q">A.</span> Super Jet Dishwasher Detergent may create a chemical reaction with certain water types. This will cause the interior of your stainless steel dishwasher to have dark spots.</p>
				</div>
			</div>
			<div class="faq-group">
				<h4>Spirisponge</h4>
				<div class="faq-question">
					<p class="faq-question-text"><span class="faq-q">Q.</span> What is in the SpiriSponge?</p>
					<p class="faq-answer"><span class="faq-q">A.</span> The SpiriSponge is a scrubber covered in plastic and polyester and is safe for use on scratch sensitive surfaces. As with any cleaner or scrubber, you should always test in an inconspicuous spot.</p>
				</div>
				<div class="faq-question">
					<p class="faq-question-text"><span class="faq-q">Q.</span> Does the SpiriSponge have silver in it?</p>
					<p class="faq-answer"><span class="faq-q">A.</span> The SpiriSponge does not contain silver.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="faq-section faq-laundry">
		<div class="faq-wrap">
			<!-- Icon Divider -->
			<div class="icon-divider-heading">
				<div class="divider-container">
					<div class="icon-divider"></div>
					<div class="icon-container">
						<h2>Laundry</h2>
					</div>
				</div>
				<!-- End divider-container -->
			</div>
			<!-- End icon-divider-heading -->
			<div class="faq-questions">
				<div class="faq-group">
					<h4>Dryer Balls</h4>
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> How do the Dryer Balls work?</p>
						<p class="faq-answer"><span class="faq-q">A.</span> The unique design of the Dryer Balls lifts and separates laundry while softening fabrics. This reduces drying time, static cling and wrinkles, naturally without the use of harmful chemicals.</p>
					</div>
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> Why did my Dryer Balls split or crack in the dryer?</p>
						<p class="faq-answer"><span class="faq-q">A.</span> Dryer balls may crack as a result of exposure to varied temperatures through the dryer vent. Because of this, we recommend removing them from the dryer between loads. Also, make sure the holes in the Dryer Balls are poked through so air comes out. The Dryer Balls have a one year warranty and can be returned within this period of time.</p>
					</div>
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> Why are the nubs on my Dryer Balls black?</p>
						<p class="faq-answer"><span class="faq-q">A.</span> This is from the dye in your clothes. This will not affect the ability of your Dryer Balls.</p>
					</div>
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> If I have been using dryer sheets, what can I do to eliminate the waxy build-up in my dryer?</p>
						<p class="faq-answer"><span class="faq-q">A.</span> We recommend washing the inside of your dryer with an EnviroCloth™ to remove any build-up left behind from the fabric softener.</p>
					</div>
				</div>
				<div class="faq-group">
					<h4>Magnet Ball</h4>
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> Why do you use less detergent when using the Magnet Ball?</p>
						<p class="faq-answer"><span class="faq-q">A.</span> The Magnet Ball prevents calcium molecules from building up in the dishwasher and washing machines, resulting in softer water. When using the Magnet Ball you should use 50-70% less soap. Do not use in front-loading washing machines.</p>
					</div>
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> How do you clean the center of the Magnet Ball?</p>
						<p class="faq-answer"><span class="faq-q">A.</span> Pull a cloth through the center of the Magnet Ball to clean the inside and run it under the tap until the water runs clear. This should be done on a regular basis.</p>
					</div>
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> Can you use the Magnet Ball in the back of your toilet tank?</p>
						<p class="faq-answer"><span class="faq-q">A.</span> Norwex does not endorse placing the Magnet Ball in the tank. Water needs to flow through the magnet ball in order for it to be effective.</p>
					</div>
				</div>
				<div class="faq-group">
					<h4>Mattress Cleaner</h4>
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> Is the Mattress Cleaner safe to use around children and pets?</p>
						<p class="faq-answer"><span class="faq-q">A.</span> The Mattress Cleaner is safe for children and pets because there is nothing in it different from what is around us on a daily basis. We are surrounded by a micro-world of bacteria and other microbes that keep each other in balance, and this same micro world exists on our skin, in our mouth, and throughout our body. The Mattress Spray does not contain acids, alkalis, or solvents; however it is important to use this product correctly.</p>
					</div>
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> How do you use the Mattress cleaner?</p>
						<p class="faq-answer"><span class="faq-q">A.</span> Shake the Mattress Cleaner before using. Spray once or twice on the pillow, 5-6 sprays on a single bed, 7-8 on a double bed, 9-10 on a queen bed and 10-12 on a king size bed. Allow to air dry for four hours before making bed with clean sheets. If too much product is used (more than the mattress can absorb) it is possible that an allergy-sensitive person may react. Treat bed once a month for the first three months, then every second month for allergy sufferers, otherwise every three months.</p>
					</div>
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> What is the shelf life of the Mattress Cleaner?</p>
						<p class="faq-answer"><span class="faq-q">A.</span> The Mattress Cleaner has a two year shelf life and should be stored closed, in a cool place. This 2-year period of time starts from the moment oxygen is introduced to the product by pumping or opening the bottle.</p>
					</div>
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> Where can Mattress Cleaner be used?</p>
						<p class="faq-answer"><span class="faq-q">A.</span> The Mattress Cleaner can be used on beds, pillows, comforters, fluffy toys, upholstery, vehicle seats, pet beds, sofas, anywhere organic material collects.</p>
					</div>
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> Will the Mattress cleaner kill bed bugs?</p>
						<p class="faq-answer"><span class="faq-q">A.</span> The Mattress Cleaner will not destroy bed bugs. It will only eliminate any organic material.</p>
					</div>
				</div>
				<div class="faq-group">
					<h4>Odour Eliminator</h4>
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> How does the Odour Eliminator work?</p>
						<p class="faq-answer"><span class="faq-q">A.</span> The Odour Eliminator contains dormant bacteria that work by consuming the organic matter that is causing the odor. They do this by releasing enzymes to break down the organic matter.</p>
					</div>
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> Can you put the Odour Eliminator in your washing machine for scent in your cloths?</p>
						<p class="faq-answer"><span class="faq-q">A.</span> Yes, Odour Eliminator is recommended to eliminate odors from laundry.</p>
					</div>
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> What is different between Odour Eliminator and SPORTzyme? Do they have the same enzyme?</p>
						<p class="faq-answer"><span class="faq-q">A.</span> The primary difference between Odour Eliminator and SPORTzyme is in the type and numbers of microbes that they contain. Each enzyme based product is specifically designed for the substrate it will target.</p>
					</div>
				</div>
				<div class="faq-group">
					<h4>Ultra Power Plus</h4>
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> How many loads can the Ultra POWER Plus(TM) laundry detergent wash?</p>
						<p class="faq-answer"><span class="faq-q">A.</span> Because Ultra POWER Plus™ is highly concentrated, one 1 Kg (2.2 lb) bag can wash 40 or more loads of laundry. When used with the Norwex Magnet Ball it can wash up to double the number of loads.</p>
					</div>
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> How much Ultra POWER Plus(TM) do you use for each load of laundry?</p>
						<p class="faq-answer"><span class="faq-q">A.</span> When using Ultra Power Plus(tm) in an HE machine use 1/3 to 1 scoop per load depending on how soiled the clothes are, and the softness/hardness of your water.<br/>
							For conventional machines, use twice these amounts.<br/>
							We also suggest using the Magnet Ball to further decrease the amount of detergent that is required. The Magnet Ball is not recommended for front loading washing machines as not enough water passes through the Magnet Ball and given the rapid and vertical spin of these systems, use of the Magnet Ball in them may result in damage.
						</p>
					</div>
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> What are some of the other benefits of Norwex Ultra POWER Plus(TM)?</p>
						<p class="faq-answer"><span class="faq-q">A.</span> Norwex laundry detergent is highly concentrated, biodegradable, and contains no fillers. Ultra Power Plus™ is quick dissolving, low foaming, fast acting against stains, cold water compatible and non corrosive to metals, rubbers and any other machine parts.</p>
					</div>
				</div>
				<div class="faq-group">
					<h4>Personal Care Line</h4>
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> How do you recommend using the Personal Care line face creams?</p>
						<p class="faq-answer"><span class="faq-q">A.</span> The simplest way is to help determine the best choice of skincare line for the condition of your skin is to review the details on the following two Regimen Charts: Naturally Timeless and the Marine Organics. To provide moisture to youthful looking skin: apply the Face & Neck Gel morning and night. For skin that requires more moisturizer apply the Face & Neck Gel followed by the Day or Night Cream. For skin beginning to show the signs of aging apply the Face & Neck Gel, followed by the Lifting Serum and the Day or Night Cream.</p>
					</div>
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> What does it mean that your personal care line is ECOCERT® Organic?</p>
						<p class="faq-answer"><span class="faq-q">A.</span> ECOCERT® is a highly credible organization in Europe setting the standards for natural and organic cosmetics for consumers. We are proud to be one of the few North American companies marketing ECOCERT® certified organic personal care. The ECOCERT certification means that Norwex organic personal care products are free from the following: Mineral oils and silicon, emulsifiers such as PEG (polyethylene glycol), viscosity controlling agents such as carbomer, preservatives such as phenoxyethanol, parabens or formaldehyde releasers, synthetic perfumes, synthetic dyes, synthetic solvent such as propylene glycol. All Swiss Alpine plants used by our producers in Israel are approved and certified by Bio Suisse.</p>
					</div>
				</div>
				<div class="faq-group">
					<h4>Crystal Deodorant</h4>
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> What is the Crystal Deodorant made of?</p>
						<p class="faq-answer"><span class="faq-q">A.</span> The Norwex Crystal Deodorant is made from crystallized natural mineral salts which kill odor causing bacteria. It contains no harmful chemicals, oils, perfumes or emulsifiers. It's just pure and natural! To use simply wet the crystal and generously apply to underarm area.</p>
					</div>
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> Why does my Crystal Deodorant have a smell?</p>
						<p class="faq-answer"><span class="faq-q">A.</span> Rinse the Crystal Deodorant after each time you apply it. If the odor does not go away, dilute a little Odour Eliminator and rinse the Crystal Deodorant using this solution, which will help to break down the odor.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="faq-section faq-microfiber">
		<div class="faq-wrap">
			<!-- Icon Divider -->
			<div class="icon-divider-heading">
				<div class="divider-container">
					<div class="icon-divider"></div>
					<div class="icon-container">
						<h2>Microfiber</h2>
					</div>
				</div>
				<!-- End divider-container -->
			</div>
			<!-- End icon-divider-heading -->
			<div class="faq-questions">
				<div class="faq-group">
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> What are the benefits of cleaning with Norwex Microfiber?</p>
						<p class="faq-answer"><span class="faq-q">A.</span> Microfiber cloths are environmentally friendly. They may reduce the consumption of cleaning chemicals in your home up to 90% while at the same time reducing your exposure to toxic fumes. This can make a big difference for anyone with allergies and chemical sensitivities. Microfiber cloths are very durable and can withstand the rigors of everyday use.</p>
					</div>
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> What makes Norwex Microfiber a preferred choice?</p>
						<p class="faq-answer"><span class="faq-q">A.</span> Norwex microfiber is a blend of polyester and polyamide. This fiber is 1/200th the size of a strand of human hair. When this high-quality microfiber is combined with the right knitting process, it creates an extremely effective cleaning material. This material can hold up to seven times its weight in matter. Used dry the static effect created enhances the microfiber’s ability to attract dirt and dust particles. As you lightly wipe the surface, the microfiber attracts and draws up even the smallest particles of dust, trapping them in the fibers. Used wet the microfibers work together to give an excellent cleaning effect. Wet, wring and wipe away dirt and debris from all washable surfaces. For spot removing, spray water on the surface being cleaned. Norwex microfiber is backed with an exceptional Warranty of 2 years or 500 washings.</p>
					</div>
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> What is Norwex antibacterial Microfiber?</p>
						<p class="faq-answer"><span class="faq-q">A.</span> Our antibacterial microfiber is one of the most innovative products in the industry! Norwex has developed a unique technology that combines an antibacterial silver-based agent with our microfiber. The antibacterial agent is actually embedded inside the tiny microfiber. The agent is solely designed to inhibit bacterial odor, mold, and/or mildew growth within the cloth.<br/>
							Why is the antibacterial agent in Norwex Microfiber an important feature?<br/>
							The silver antibacterial fiber has self purification properties. The agent is solely designed to inhibit bacterial odor, mold, and/or mildew growth within the cloth.
						</p>
					</div>
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> Why is Norwex Microfiber made in China?</p>
						<div class="faq-answer">
							<span class="faq-q">A.</span>
							<ul>
								<li>China is known to be a world leader in the textile industry. Some of the best and comprehensive home textile and microfiber production in the world is from China.</li>
								<li>If you are going to create the best microfiber in the world you go to the best microfiber manufacturers.</li>
								<li>Norwex owns the factory in China and has a very strict quality control system in place.</li>
								<li>Norwex China is committed to follow the guidelines of the UN Global Compact on how they treat and manage staff involved in the production of microfiber, including our suppliers.</li>
								<li>All factory staff members are Norwex employees and enjoy all the benefits associated with being part of the Norwex Team.</li>
								<li>Norwex has stringent requirements, which control everything from the raw material requirements to conformance levels and each production is evaluated strictly according to our standards.</li>
								<li>Testing is continuously done to ensure a quality product.</li>
								<li>Any microfiber product not meeting Norwex standards are recycled.</li>
							</ul>
						</div>
					</div>
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> What are the proper washing and care instructions for Norwex Microfiber?</p>
						<div class="faq-answer">
							<span class="faq-q">A.</span>
							<p>To save the environment and reduce the use of detergents, we suggest that slightly dirty cloths and mops be washed with a little Dishwashing Liquid under warm running water and used again before laundering.</p>
							<ul>
								<li>Launder microfiber with other lint-free laundry</li>
								<li>Use only Norwex Ultra POWER Plus&trade; or another environmentally friendly detergent without fillers and bleach to clean our products</li>
								<li>Do not use bleach or fabric softener on microfiber. Bleach and fabric softeners destroy the product's ability to clean effectively</li>
								<li>To deep clean, remove stubborn stain or to remove odors from cloths, Norwex microfiber can be boiled for 10 minutes to allow fibers to swell and release the debris</li>
								<li>Do not use on anti-glare coated surfaces</li>
								<li>Use our Rubber Brush to remove dirt and debris from the mop pads between laundering</li>
							</ul>
						</div>
					</div>
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> Where can I use Norwex Microfiber?</p>
						<p class="faq-answer"><span class="faq-q">A.</span> The Norwex cleaning system can be used most anywhere cleaning is required – home, office, vehicles, recreation equipment and even personal care.</p>
					</div>
					<div class="faq-question">
						<p class="faq-question-text"><span class="faq-q">Q.</span> Why do Microfiber cloths sometimes smell?</p>
						<p class="faq-answer"><span class="faq-q">A.</span> Microfiber cloths may smell if the proper care instructions are not followed or if the water in your home or office is hard and high in mineral content. Only use environmentally friendly soaps without fillers when you are laundering to prevent the microfiber pores from being clogged and causing odor. If your cloths smell we recommend trying one of the following suggestions: washing them in hot water, soaking overnight in Norwex Ultra POWER Plus&trade; laundry detergent and washing in hot water, or boiling for 10 minutes to remove any build-up on the fibers.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
{% endblock %}
