{%  extends 'themes/layout.html' %}
{% load humanize %}
{% load i18n %}
{% load static %}
{% load cms_extras %}

{% block title %}{% endblock %}


{% block featured %}
    <!-- Hero -->
    <section class="chemicals-concern-quiz container">
        <div class="hero-content-wrap">
            <div class="hero-text-no-circle">
                {% for s in snippet %}
                    {% if s.slug == "products-faq" and s.active == True %}
                        {% include 'cms-extras/snippet_edit.html' %}
                        <div class="hero-image-text-surheading">{% if s.label %}{{ s.label }}{% endif %}</div>
                        <div class="hero-image-text-heading">{% if cta.hero_text %}{{ cta.hero_text|striptags|safe }}{% endif %}</div>

                        <div class="small-12 medium-6 columns">
                            <div class="filters">
                                <div class="sub-filter drop">
                                    {% faq_category_list %}
                                </div>
                            </div>
                        </div>
                        <div class="small-12 medium-6 columns">
                            {#                            <div class="sub-filter">#}
                            {#                                <input type="text" placeholder="SEARCH" id="search-criteria"/>#}
                            {#                            </div>#}

                            <form  method="GET" role="search" action='{%  url "product_faq_list" %}'>
                                <div class="medium-8 columns">

                                    <div >
                                        <span class="input-group-addon"><i class="icon-suitcase"></i></span>
                                        <input type="text" placeholder="{% trans "SEARCH" %}" class="form-control" name="q">
                                    </div>
                                </div>

                                <div class="medium-4 columns">

                                    <button type="submit" class="button-new-corporate"> {% trans "Search" %}</button>

                                </div>
                            </form>
                            <div class="clear">&nbsp;</div>
                        </div>
                        </div>
                        </div>
                    {% endif %}
                {% endfor %}
    </section>
{% endblock %}




{% block content %}
    <div class="small-12 medium-12 large-12 columns">
    <br>
    <div class="search-results">
        <i>{% trans "Result" %}: {{ object_list.count }}   {% if object_list.count > 1  %}{% trans "records" %}</i> {% elif object_list.count < 1 or object_list.count == 1 %}{% trans "record" %}{% endif %}</div>
    <section class="faq-section">
        <div class="faq-wrap">
            {% for object in object_list %}
                    <div class="banner-wrapper" style="margin-top:{{ object.margin_top }}px; margin-bottom:{{ object.margin_bottom }}px">
                        <div class="content-info">
                            <div class="faq-question">
                                {#<p class="faq-question-text"><span class="faq-q">Q.</span><a href="{{ object.get_absolute_url }}"> {{ object.title }}</a></p>#}
                                <div class="faq-question-text"><span class="faq-q">Q.</span><a > {{ object.title|striptags|safe }}</a></div>
                                <div class="faq-answer"><span class="faq-a">A. </span> <span> {{ object.answer|striptags|safe }}</span></div>
                            </div>


                        </div>
                    </div>
            {% empty %}
                <div class="no-records-found container">{% blocktrans %}No matching records found{% endblocktrans %}</div>

            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block script %}

    <script>
    var foo = 'foo=bar';
$('select.option').attr('href', function(index, attr) {
    return attr + '?' + foo;
});
    </script>

{% endblock %}
