{% extends "admin/base.html" %}
{% load i18n admin_static %}

{% block title %}{{ title }} | {{ site_title|default:_('Norwex CMF') }}{% endblock %}
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}
{#{% static "admin/css/base.css" %}#}
{% static "admin/css/custom-base.css" %}
{% endblock %}" />
{#<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />#}
{% block extrastyle %}{% endblock %}
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="
{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}

{% load i18n %}

{% block branding %}

<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Norwex CMF') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
 {% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
    {% endblock %}
