{#{% load common_tags %}#}
{#{% load rules %}#}
{% load i18n %}


<ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
    <li class="list-group-item ">
        <a href="{% url 'room_list' %}"><i class="fa fa-home"></i> {% trans "Rooms" %}</a>
    </li>

    <li class="list-group-item">
        <a href="{% url 'hostel_list' %}"><i class="fa fa-university"></i> {% trans "Hostels" %}</a>
    </li>
{% if user.is_superuser or user.is_staff  %}
    <li class="list-group-item">
        <a href="{% url 'hostel_type_list' %}"><i class="fa fa-cog"></i> {% trans "Hostel Types" %}</a>
    </li>

    <li class="list-group-item">
        <a href="{% url 'hostel_type_create' %}"><i class="fa fa-cog"></i> {% trans "Create Hostel Type" %}</a>
    </li>

    <li class="list-group-item">
        <a href="{% url 'hostel_create' %}"><i class="fa fa-cog"></i> {% trans "Create Hostels" %}</a>
    </li>

    <li class="list-group-item">
        <a href="{% url 'room_create' %}"><i class="fa fa-cog"></i> {% trans "Create New Room" %}</a>
    </li>

{% endif %}
</ul>