/*body {*/
    /*background: #e2e2e2;*/
/*}*/

/*Generic Styles*/
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    /* background: #f9f9f9; */
    background: #E2E2E2;
    margin-top: 0px;
    /* background: #eee; */
    /* background-color: #efefef; */
}

.maintenance-mode {
    background: #f3fdf4;
}

.maintenance-text {
    margin-top: 5%;
}

.maintenance-text h2{
    font-size: 2.0rem !important;
}

/*body h1, body h2, body h3, body h4, body h5, body h6, body .h1, body .h2, body .h3, body .h4, body .h5, body .h6 {*/
    /*font-family: 'Lato', sans-serif !important;*/
    /*font-weight: normal;*/
    /*color: #585f69;*/
    /*text-rendering: optimizelegibility;*/
/*}*/

/*body h1 {*/
    /*font-size: 29px;*/
/*}*/

hr {
    max-width: 75rem;
    height: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #f1f1f1 !important;
    border-left: 0;
    margin: 1.25rem auto;
    clear: both;
}

/*.h1, .h2, .h3, h1, h2, h3 {*/
    /*margin-top: 10px;*/
    /*margin-bottom: 4px;*/
/*}*/

/*h3 {*/
    /*font-size: 1.2375rem;*/
/*}*/

/*h2 {*/
    /*font-size: 1.2rem !important;*/
/*}*/

/*h5 {*/
    /*font-size: 1.1rem;*/
/*}*/

.norwex-news-wrapper {
    border-bottom: 1px solid #e2eff7;
    margin-bottom:20px;
}

/*h1 {*/
    /*margin: .67em 0;*/
    /*font-size: 2em;*/
/*}*/


#sidebar-right ul li, #sidebar-right fieldset ul li, #sidebar-right, #sidebar-left ul li, #sidebar-left fieldset ul li, #sidebar-left {
    text-transform: none !important;
}


/*Top Bar Styles*/
.topbar-wrapper {
    background: #6F818C !important;
}

.topbar-wrapper a {
    color: #fff !important;
    text-transform: uppercase;
    font-size: 12px;
}



/*Navigation Styles*/
.nav.nav-pills li {
    list-style: none;
}

.vertical.menu a {
    margin-bottom: 0;
    color: #1373B5;
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
    text-transform: none;
}

.menu.vertical li:first-child {
    display: block;
    border-top: 1px solid #e2eff7;
}

.menu.vertical li {
    display: block;
    border-bottom: 1px solid #e2eff7;
}

.off-canvas-content {
    min-height: 100%;
    background: #fbfbfb;
    /*background: #E2E2E2;*/
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1;
    padding-bottom: 1px;
    box-shadow: 0 0 10px hsla(0,0%,4%,.5);
}

.dropdown.menu>li.opens-right>.is-dropdown-submenu {
   right: auto;
   left: 0;
   top: 100%;
   border: 0px;
}

.top-bar, .top-bar ul, .top-bar ul a {
    background-color: #FFFFFF !important;
    color: #6F818C !important;
    text-transform: uppercase;
}

.top-bar, .top-bar ul {
    background-color: #1373b5;
    /*background-color: #5BC0DE;*/
    color: #fff;
}

.is-submenu-item.is-dropdown-submenu-item  {
    color: #fff;
}

#sidebar-right {

}

#sidebar-left {

}


#sidebar-right .fieldset{
    border: 1px solid #e2eff7 !important;
    padding: 1.25rem;
    margin: 1.125rem 0;
}

#sidebar-left .fieldset{
    border: 1px solid #e2eff7;
    padding: 1.25rem;
    margin: 1.125rem 0;
}


#sidebar-right .fieldset legend {
    background: #fefefe;
    padding: 0 .1875rem;
    margin: 0;
    margin-left: -.1875rem;
    text-transform: none !important;
    font-weight: bold;
    color: #02aab5;
}

#sidebar-left .fieldset legend {
    background: #fefefe;
    padding: 0 .1875rem;
    margin: 0;
    margin-left: -.1875rem;
    text-transform: none !important;
    font-weight: bold;
    color: #02aab5;
}

#sidebar-left .fieldset ul li, #sidebar-right .fieldset ul li {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}


/*Featured Content Styles*/

.circle {
    border-radius: 50%;
}

.square {
    border-radius: 2px;
}

.cta-wrapper {
    margin-left: auto;
    margin-right: auto;
}

.carousel-control.right {
    right: 0;
    left: auto;
     background-image: -webkit-linear-gradient(left,rgba(0, 51, 102, 0) 0,rgba(0, 51, 102, 0) 100%);
    background-image: -o-linear-gradient(left,rgba(0, 51, 102, 0) 0,rgba(0, 51, 102, 0) 100%);
     background-image: -webkit-gradient(linear,left top,right top,from(rgba(0, 51, 102, 0)),to(rgba(0, 51, 102, 0)));
     background-image: linear-gradient(to right,rgba(0, 51, 102, 0) 0,rgba(0, 51, 102, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(0, 51, 102, 0) 0,rgba(0, 51, 102, 0) 100%);
    background-image: -o-linear-gradient(left,rgba(0, 51, 102, 0) 0,rgba(0, 51, 102, 0) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0, 51, 102, 0)),to(rgba(0, 51, 102, 0)));
    background-image: linear-gradient(to right,rgba(0, 51, 102, 0) 0,rgba(0, 51, 102, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}




/*Content Area Styles */

.social-share-wrapper {
    padding-left: 20px;
    margin-bottom: 20px;
}

.social-share a {
    color: #fff !important;
}

.social-share a {
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
    font-size: 14px;
    float: left !important;
    display: inline-flex;
    background: #02AAB5;
    color: #fff !important;
    padding: 7px 7px;
    height: 28px;
    width: 28px;
    border-radius: 50px;
    margin-left: 8px;
}

.form-group.has-error .help-block{
    color: #ff0c15;
}

.form-group.has-error input{
    border: 1px solid #ff0c15;
}

.page-title {
    margin-top: .875rem;
    font-size: 2.625rem;
    color: #4ea8b4;
    font-family: "minion-pro",Georgia,"Times New Roman",Times,serif;
    padding-bottom: 1.5rem;
    font-weight: normal;
}

.profile-image {
    padding: 0;
}

.profile-area {
    float: left;
    margin-right: 20px;
}

.profile-img-wrapper {
    padding:0;
}

.profile-social-share {
    margin-bottom: 15px;
}

.profile-share {
    margin-top: 15px;
}

.header-block{
    min-height: 120px;
    padding: 20px;
    color: #fff;
    vertical-align: baseline;
}

.header-block.leadership-team, .header-block.our-heritage{
    background: #76BE1E;
    vertical-align: baseline;
}

.header-block-title {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.header-block-slogan {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.footer-block, .row.footer-block{
    min-height: 240px;
    padding: 0px;
    color: #fff;
    vertical-align: baseline;
    margin-top: 50px;
}

.footer-block .footerblock-left{
    min-height: 240px;
    background: #76BE1E;
    vertical-align: baseline;
    padding: 25px;
}

.footer-block .footerblock-right{
    min-height: 240px;
    background: #00B4C0;
    vertical-align: baseline;
    padding: 25px;
}

.leadership-quote {
    color:#41C6CD;
    font-size: 18px;
    font-style: italic;
    margin-top: 20%;
}

.profile-quote {
    color:#41C6CD;
    font-size: 18px;
    font-style: italic;
}

.section-icon {
    font-size: 43px;
    color: #76be1e;
    background: #fff;
    border: 4px solid #fff;
}

.profile-icons {
    /*background: rgba(238, 238, 238, 0.21);*/
    background: #fff;
    padding-bottom: 8px;
    font-size: 18px;
}

.icon-border {
    border-right: 1px solid #eee;
    margin-right: 10px;
    padding-right: 11px;
}

.icon-inactive {
    color: #cdcccc;
}

a {
    color: #0075bc;
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
}

.account-container {
    padding-left: 20px;
    padding-right: 20px;
}

.page-not-found .img-responsive {
    max-width: 100% !important;
    margin-right: auto !important;
    margin-left: auto !important;
    display: block !important;
}

.asteriskField {
    color: #ff0c15;
}

.no-records-found {
    font-style: italic;
    padding: 20px;
}

.icon-bg {
    background-image: url("/static/img/icon-bg.png");
    height: 53px;
    max-width: 1090px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-repeat: repeat;
    background-position: 50px 121px;
    margin-top: 20px;

}

.people-profile .icon-bg {
    background-image: url("/static/img/icon-bg.png");
    height: 53px;
    max-width: 1090px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-repeat: repeat;
    background-position: 50px 121px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.created_updated {
    font-size: 12px;
    color: #989595 !important;
}

.timeline.odd .timeline-img {
    margin-right: 20px;
    display: inline-block;
}

.timeline.even .timeline-img {
    margin-left: 20px;
    display: inline-block;
}

/*.error_1_id_title .help-block, .error_1_id_slug .help-block, .error_1_id_content .help-block {*/
    /*color: #ff0c15 !important;*/
/*}*/

.top-margin {
    margin-top: 20px;
}

.btn-u.btn-u-dark {
    background: #337AB7;
}


.text-muted {
    color: #777;
    font-style: italic;
}

#address {
    padding:4px;
}

.go-right {
    float:right;
}

.header-lang li {
    list-style-type: none;
}

.menu .dropdown-toggle .icobutton {
    text-transform: uppercase !important;
}



.inner-wrap {
    position: relative;
    width: 100%;
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -ms-transition: -ms-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
}

.list-group-item {
    border-bottom: 1px solid rgba(10, 118, 183, 0.12);
}

#page-wrapper {
    max-width:1195px;
    margin: 0 auto;
    box-shadow: 0px 3px 24px 1px #9A9797;
    -moz-box-shadow: 0px 3px 24px 1px #9A9797;
    -webkit-box-shadow: 0px 3px 24px 1px #9A9797;
    background: #E2E2E2;
    /* border-radius: 10px 10px 0px 0px; */
    /* -moz-border-radius: 10px 10px 0px 0px; */
    /* -webkit-border-radius: 10px 10px 0px 0px; */
    /* box-shadow: 0px 3px 24px 1px #E6E5E5; */
    /* -moz-box-shadow: 0px 3px 24px 1px #E6E5E5; */
    /* -webkit-box-shadow: 0px 3px 24px 1px #E6E5E5; */
    /* background: #fff; */
}

/*.page-wrapper {*/
   /*margin: 0 auto;*/
   /*box-shadow: 0px 3px 24px 1px #9A9797;*/
   /*-moz-box-shadow: 0px 3px 24px 1px #9A9797;*/
   /*-webkit-box-shadow: 0px 3px 24px 1px #9A9797;*/
   /*background: #E2E2E2;*/
   /* border-radius: 10px 10px 0px 0px; */
   /* -moz-border-radius: 10px 10px 0px 0px; */
   /* -webkit-border-radius: 10px 10px 0px 0px; */
   /* box-shadow: 0px 3px 24px 1px #E6E5E5; */
   /* -moz-box-shadow: 0px 3px 24px 1px #E6E5E5; */
   /* -webkit-box-shadow: 0px 3px 24px 1px #E6E5E5; */
   /* background: #fff; */
/*}*/

.is-dropdown-submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 200px;
    z-index: 1;
    background: #fefefe;
    border: 1px solid #e6e5e5;
}


.is-submenu-item.is-dropdown-submenu-item {
    color: #fff;
    background: #7C909C;
}

.home-container-area {
    margin-top:0px;
}


.page-wrapper {
    background: #FFF;
    border-right: 0px solid #FCFCFC;
    border-left: 0px solid #FCFCFC;
    border-bottom: 0px solid #FCFCFC;
    border-top: 0px solid #FCFCFC;
    box-shadow: 0px 5px 10px 0px #DBDBDB;
    border-radius: 0px;
    /*-webkit-border-radius: 15px 15px 15px 15px;*/
    /*-moz-border-radius: 15px 15px 15px 15px;*/
    /*-o-border-radius: 15px 15px 15px 15px;*/
}

.row.featured-cta, .featured-cta {
    padding:0 !important;
    margin: 0px 0 20px 0;
}

.dropdown.menu>li.is-dropdown-submenu-parent>a:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 5px inset;
    border-color: #A0CC65 transparent transparent !important;
    border-top-style: solid;
    border-bottom-width: 0;
    right: 5px;
    margin-top: -2px;
}

.container, .nav-container, .slide {
    max-width:1195px;
    margin-right: auto;
    margin-left: auto;
}

select {
    width: auto;
    min-width: 200px !important;
    border-radius: 0;
    /*height: 2.0375rem !important;*/
}

.callout.secondary {
    background-color: #5bc0de;
    border: none;
    color: #fff;
}

.callout.secondary a {
    color: #fff;
}

.menu {
    text-transform: uppercase !important;
}

.hero-text, .hero-text p {
    line-height: 140%;
}

.banner-grid4-caption {
    max-width: 80%;
    font-size: 16px;
    text-align: center;
    width: 50%;
    margin: auto;
    color: #777777;
}

.banner-caption {
    max-width: 80%;
    font-size: 20px;
    text-align: center;
    width: 50%;
    margin: auto;
    color: #777777;
}

.banner-title {
    max-width: 80%;
    font-size: 25px;
    text-align: center;
    width: 50%;
    margin: auto;
    color: #00B4C0;
}

.banner-title.what-expect-your-norwex-party {
    color: #71C059;
}

.dropdown.menu .menuitem li:active {
    text-decoration: underline;
    color: #a0cc65 !important;
}

.container-wrapper {
    padding: 30px;
}


.banner-left-grid {
    max-width: 100%;
    font-size: 16px;
    text-align: left;
    width: 100%;
    margin: auto;
    color: #777777;
}

.banner-right-grid {
    max-width: 100%;
    font-size: 16px;
    text-align: left;
    width: 100%;
    margin: auto;
    color: #777777;
}

.button {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color .25s ease-out,color .25s ease-out;
    vertical-align: middle;
    /*border: 1px solid transparent;*/
    border-radius: 3px;
    padding: .85em 1em;
    margin: 0 0 1rem;
    font-size: .9rem;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.button-corporate {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color .25s ease-out,color .25s ease-out;
    vertical-align: middle;
     border: 1px solid #00B4C0 !important;
    border-radius: 0px;
    padding: .85em 1em;
    margin: 1rem 0 1rem;
    font-size: .9rem;
    color: #00B4C0 !important;
    background-color: #FFFFFF !important;
    border-color: #00B4C0 !important;
    text-transform: uppercase;
}

.button-new-blue, .btn.btn-primary.button-new-blue {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color .25s ease-out,color .25s ease-out;
    vertical-align: middle;
    /* border: 1px solid transparent; */
    border-radius: 3px;
    padding: .85em 1em;
    margin: 0 0 1rem;
    font-size: .9rem;
    color: #fff;
    background-color: #02AAB5;
    border-color: #02AAB5;
    text-transform: uppercase;
}

.button-new-blue:hover, .button-new-success:active {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color .25s ease-out,color .25s ease-out;
    vertical-align: middle;
    /* border: 1px solid transparent; */
    border-radius: 3px;
    padding: .85em 1em;
    margin: 0 0 1rem;
    font-size: .9rem;
    color: #fff;
    background-color: #00B4C0;
    border-color: #00B4C0;
    text-transform: uppercase;
}


.button-new-success, .btn.btn-primary.button-new-success {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color .25s ease-out,color .25s ease-out;
    vertical-align: middle;
    /* border: 1px solid transparent; */
    border-radius: 3px;
    padding: .85em 1em;
    margin: 0 0 1rem;
    font-size: .9rem;
    color: #fff;
    background-color: #77bc1c;
    border-color: #77bc1c;
    text-transform: uppercase;
}

.button-new-success:hover {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color .25s ease-out,color .25s ease-out;
    vertical-align: middle;
    /* border: 1px solid transparent; */
    border-radius: 3px;
    padding: .85em 1em;
    margin: 0 0 1rem;
    font-size: .9rem;
    color: #fff;
    background-color: #8BC34A;
    border-color: #8BC34A;
    text-transform: uppercase;
}

.button-new-white {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color .25s ease-out,color .25s ease-out;
    vertical-align: middle;
    /* border: 1px solid transparent; */
    border-radius: 3px;
    padding: .85em 1em;
    margin: 0 0 1rem;
    font-size: .9rem;
    color: #8a8a8a;
    background-color: #fefefe;
    border-color: #dbdbdb;
    text-transform: uppercase;
}

.button-new-white:hover {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color .25s ease-out,color .25s ease-out;
    vertical-align: middle;
    /* border: 1px solid transparent; */
    border-radius: 3px;
    padding: .85em 1em;
    margin: 0 0 1rem;
    font-size: .9rem;
    color: #8a8a8a;
    background-color: #f4f4f4;
    border-color: #dbdbdb;
    text-transform: uppercase;
}


.button-no-bg, .btn.btn-primary.button-no-bg {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color .25s ease-out,color .25s ease-out;
    vertical-align: middle;
    border: 1px solid  #ffffff !important;
    border-radius: 3px;
    padding: .85em 1em;
    margin: 0 0 1rem;
    font-size: .9rem;
    color: #fff;
    background: none !important;
    text-transform: uppercase;
}

.button-no-bg:hover {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color .25s ease-out,color .25s ease-out;
    vertical-align: middle;
    border: 1px solid  #ffffff !important;
    border-radius: 3px;
    padding: .85em 1em;
    margin: 0 0 1rem;
    font-size: .9rem;
    color: #fff;
    background: none !important;
    text-transform: uppercase;
}

.help-block {
    font-size: 12px;
    color: #696969;
    font-style: italic;
    display: block;
}

.row {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#page-wrapper {
    max-width:1195px;
    margin: 0 auto;
    box-shadow: 0px 3px 24px 1px #E6E5E5;
    -moz-box-shadow: 0px 3px 24px 1px #E6E5E5;
    -webkit-box-shadow: 0px 3px 24px 1px #E6E5E5;
    background: #fff;
}

.page-home .content-area {
    padding: 0px 0px 0px 0px !important;
    /*max-width: 100% !important;*/
}

#page-wrapper .content-area {
    padding: 0px 10px 20px 10px;

}

.content-area {
    padding-top: 0.93rem;
    padding-bottom: 0.93rem;
    padding-right: 0.93rem !important;
    padding-left: 0.93rem !important;

}

#page-wrapper .profile.container.content {
    padding: 20px 10px 20px 10px;
}

.z-index-top {
  position: relative;
  z-index: 1 !important;
  }


.header-wrapper {
    background: #fff;
    border-bottom: 0px solid #ccc;
    position: relative;
    width: 100%;
    z-index: 1001;
    font-size: 12px;
    margin-bottom: 0;
    height: 120px;
    padding-top:10px;
 }

.top-bar-left .menu a, .top-bar-left .menu button, .top-bar-left .menu input {
    margin-bottom: 0;
    color: #FFFFFF;
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
}

.top-logo {
    /*position: absolute;*/
    /*top: 22px;*/
    /*margin-left: -20px;*/
    /*height: 74px;*/
}


.client-focus-wrapper .container {
    background-color: none !important;
}

#page-wrapper .container.content-area {
    background: #ffffff;
    width: 100% !important;
}

#page-wrapper .container {
    width: 100% !important;
}

#start-free-trial {
    margin-top: 8px;
}

#start-free-trial{
    color: #fff;
}


#top-search {
    margin-top: -2px;
}

.account-menu-avatar {
   border-radius: 30px;
}


#feature_slider {
    height: auto;
    background: #525151;
    z-index: 1;
    border-bottom: 5px solid #FFCC00;
    margin-top: -20px;
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
    min-height: 249px;

}

.edit-right {
    text-align: right;
    float: right;
}

.content-edit {
    font-size: 12px;
    color: #989595 !important;
    background: #fefefe;
    padding: 5px;
    padding-left: 0px;
}

.content-info {
    font-size: 12px;
    color: #989595 !important;
    background: #fff;
    padding: 10px;
}

.results {
    font-size: 12px;
    color: #989595 !important;
    background: #fff;
    padding: 1px;
}

.inner-content {
    padding: 16px 22px 16px 22px;
}

.impersonate {
     margin: 0 0 0;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid hsla(0,0%,4%,.25);
    border-radius: 0;
    position: relative;
    color: #0a0a0a;
    background-color: #e1faea;
    line-height: 230%;
}

.paginator-align {
    float: right;
    font-size: 12px;
    color: #989595;
}

.paginator-align a{
    font-size: 12px;
    color: #989595;
}

.pagination li {
    font-size: 12px;
    color: #989595;
}

.video-wrapper {
    margin: 0 0 20px 0;
}

.banner-wrapper.meet-our-leadership {
    background-image: url("/static/img/backgrounds/leadership_bg.png");
    background-color: #00b4c0;
    background-repeat: repeat;
}


/*Footer Styles*/
.page-home #footer {
    min-height: auto;
    background-color: #fff;
    color: #fff;
    padding-top: 0px;
    border-top: 0px solid #BBBCBD;
    margin-top: 0px;
}

#footer {
    background-color: #EDF1F2;
    color: #333;
    /*padding-top: 20px;*/
    /*border-top: 10px solid #C2D1D4;*/
    min-height: 125px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 40px;
}

.footer-links h5 {
    font-family: 'Lato', sans-serif !important;
    font-weight: normal;
    color: #FFFFFF;
    text-rendering: optimizelegibility;
}


/*#footer ul li a {*/
    /*color: #333 !important;*/
/*}*/


/*#footer {*/
    /*min-height: auto;*/
    /*background-color: #fff;*/
    /*color: #fff;*/
    /*padding-top: 15px;*/
    /*border-top: 0px solid #BBBCBD;*/
    /*margin-top: 0px;*/
/*}*/

/*#footer {*/
    /*background-color: #337AB7;*/
    /*color: #fff;*/
    /*padding-top: 20px;*/
    /*border-top: 10px solid #337AB7;*/
    /*margin-top: 0px;*/
    /*min-height: 240px;*/
/*}*/


#footer .container {
    background-color: rgba(0, 51, 102, 0) !important;
    padding: 0px 1px 0px 1px;
}

.footer-logo img {
    margin-left: 0px;
    position: absolute;
}

.footer-space {
    float:right;
    text-align: right;
}

#footer .container {
    background-color: none !important;
}

.page-home #footer {
    margin-top: 0px;
}

.social-media ul {
    list-style-type: none;
    float: left !important;
    display: inline-flex;
    padding-left: 0px;
    margin-bottom: 2px !important;
    margin-left: 0.3rem;
}

.social-media li a {
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
    font-size: 14px;
    float: left !important;
    display: inline-flex;
    background: #02AAB5;
    color: #fff !important;
    padding: 7px 7px;
    height: 28px;
    width: 28px;
    border-radius: 50px;
    margin-left: 8px;
}

.social-media ul li a {
    color: #fff !important;
}

.share-this {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footerlink ul {
    list-style-type: none;
    float: right;
    display: inline-flex;
    margin-left: 20px;
}

.footerlink li a {
    color: #333;
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
    font-size: 14px;
    float: right;
    display: inline-flex;
    margin-left: 20px;
}

.footer-credits {
    background-color: #27679E;
    color: #fff;
    padding: 10px 10px;
    margin-top: 0px;
    border-radius: 0 0 5px 5px;
    min-height: 30px;
    font-size: 14px;
}

.footer-credits a {
    color: #333;
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
    font-size: 13px;
}
