@font-face {
  font-family: 'icomoon';
  src:  url('https://i.icomoon.io/public/b547b50391/NorwexWeb/icomoon.eot?4lvlc6');
  src:  url('https://i.icomoon.io/public/b547b50391/NorwexWeb/icomoon.eot?4lvlc6#iefix') format('embedded-opentype'),
    url('https://i.icomoon.io/public/b547b50391/NorwexWeb/icomoon.woff2?4lvlc6') format('woff2'),
    url('https://i.icomoon.io/public/b547b50391/NorwexWeb/icomoon.ttf?4lvlc6') format('truetype'),
    url('https://i.icomoon.io/public/b547b50391/NorwexWeb/icomoon.woff?4lvlc6') format('woff'),
    url('https://i.icomoon.io/public/b547b50391/NorwexWeb/icomoon.svg?4lvlc6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nwx-logo:before {
  content: "\e945";
}
.icon-nwx-user:before {
  content: "\e947";
}
.icon-nwx-circle:before {
  content: "\e943";
}
.icon-play:before {
  content: "\e93d";
}
.icon-bullet-square:before {
  content: "\e93c";
}
.icon-nwx-plant2:before {
  content: "\e903";
}
.icon-nwxadd:before {
  content: "\e904";
}
.icon-nwxaddall:before {
  content: "\e905";
}
.icon-nwxarrow-down:before {
  content: "\e90b";
}
.icon-nwxarrow-up:before {
  content: "\e90c";
}
.icon-nwx-bag:before {
  content: "\e90d";
}
.icon-nwx-beaker:before {
  content: "\e90e";
}
.icon-nwx-beakers:before {
  content: "\e90f";
}
.icon-nwxbooking:before {
  content: "\e910";
}
.icon-nwx-box:before {
  content: "\e911";
}
.icon-nwx-bug:before {
  content: "\e912";
}
.icon-nwx-bulb:before {
  content: "\e913";
}
.icon-nwx-bulb2:before {
  content: "\e914";
}
.icon-nwx-bulb3:before {
  content: "\e915";
}
.icon-nwx-calendar:before {
  content: "\e916";
}
.icon-nwx-care:before {
  content: "\e917";
}
.icon-nwx-cleaner:before {
  content: "\e918";
}
.icon-nwxconfirmation:before {
  content: "\e919";
}
.icon-nwx-dollar:before {
  content: "\e91a";
}
.icon-nwxdown:before {
  content: "\e91b";
}
.icon-nwxdownload:before {
  content: "\e91c";
}
.icon-nwx-drop:before {
  content: "\e91d";
}
.icon-nwx-earth:before {
  content: "\e91e";
}
.icon-nwx-earth2:before {
  content: "\e91f";
}
.icon-nwxedit:before {
  content: "\e920";
}
.icon-nwx-family:before {
  content: "\e921";
}
.icon-nwxfinish:before {
  content: "\e922";
}
.icon-nwx-grow:before {
  content: "\e923";
}
.icon-nwx-grow2:before {
  content: "\e924";
}
.icon-nwxguest2:before {
  content: "\e925";
}
.icon-nwx-home:before {
  content: "\e926";
}
.icon-nwx-home2:before {
  content: "\e946";
}
.icon-nwx-home-leaflet:before {
  content: "\e928";
}
.icon-nwx-info:before {
  content: "\e929";
}
.icon-nwx-lab-droplet:before {
  content: "\e92a";
}
.icon-nwx-labs:before {
  content: "\e92b";
}
.icon-nwx-leaflet:before {
  content: "\e92c";
}
.icon-nwxminus:before {
  content: "\e92d";
}
.icon-nwx-money:before {
  content: "\e92e";
}
.icon-nwxnoicon:before {
  content: "\e92f";
}
.icon-nwxnoicon2:before {
  content: "\e930";
}
.icon-nwx-plant22:before {
  content: "\e944";
}
.icon-nwx-plant3:before {
  content: "\e931";
}
.icon-nwxplus:before {
  content: "\e932";
}
.icon-nwxscissors2:before {
  content: "\e933";
}
.icon-nwxship2:before {
  content: "\e934";
}
.icon-nwx-sun:before {
  content: "\e935";
}
.icon-nwx-testdrop:before {
  content: "\e936";
}
.icon-nwx-test-tube:before {
  content: "\e937";
}
.icon-nwx-test-tubes:before {
  content: "\e938";
}
.icon-nwx-tree:before {
  content: "\e939";
}
.icon-nwx-tree2:before {
  content: "\e93a";
}
.icon-nwxup:before {
  content: "\e93b";
}
.icon-nwx-housepeople:before {
  content: "\e927";
}
.icon-nwx-recycle:before {
  content: "\e942";
}
.icon-nwx-machine:before {
  content: "\e93f";
}
.icon-nwx-pot:before {
  content: "\e940";
}
.icon-nwx-wetcloth:before {
  content: "\e941";
}
.icon-nwx-cloth:before {
  content: "\e93e";
}
.icon-signin:before {
  content: "\e902";
}
.icon-youtube:before {
  content: "\e901";
}
.icon-linkedin:before {
  content: "\e900";
}
.icon-presentation:before {
  content: "\e909";
}
.icon-board:before {
  content: "\e909";
}
.icon-presentation2:before {
  content: "\e90a";
}
.icon-board2:before {
  content: "\e90a";
}
.icon-art-board:before {
  content: "\e90a";
}
.icon-chart:before {
  content: "\e90a";
}
.icon-pack:before {
  content: "\e908";
}
.icon-eye-plus:before {
  content: "\e906";
}
.icon-eye-minus:before {
  content: "\e907";
}
.icon-home:before {
  content: "\e000";
}
.icon-newspaper:before {
  content: "\e00c";
}
.icon-camera3:before {
  content: "\e036";
}
.icon-new:before {
  content: "\e061";
}
.icon-connection:before {
  content: "\e062";
}
.icon-connection3:before {
  content: "\e067";
}
.icon-book2:before {
  content: "\e071";
}
.icon-file2:before {
  content: "\e079";
}
.icon-file3:before {
  content: "\e07a";
}
.icon-file4:before {
  content: "\e07b";
}
.icon-file5:before {
  content: "\e07c";
}
.icon-file6:before {
  content: "\e07d";
}
.icon-files:before {
  content: "\e07e";
}
.icon-file-plus:before {
  content: "\e07f";
}
.icon-file-minus:before {
  content: "\e080";
}
.icon-file-download:before {
  content: "\e081";
}
.icon-file7:before {
  content: "\e085";
}
.icon-file-download2:before {
  content: "\e089";
}
.icon-file-upload2:before {
  content: "\e08a";
}
.icon-file9:before {
  content: "\e08d";
}
.icon-stack2:before {
  content: "\e096";
}
.icon-stack3:before {
  content: "\e097";
}
.icon-cart:before {
  content: "\e0c1";
}
.icon-coin:before {
  content: "\e0d3";
}
.icon-phone2:before {
  content: "\e0db";
}
.icon-phone3:before {
  content: "\e0dc";
}
.icon-notebook:before {
  content: "\e0ea";
}
.icon-envelope:before {
  content: "\e0eb";
}
.icon-envelope2:before {
  content: "\e0ec";
}
.icon-mail-send:before {
  content: "\e0ed";
}
.icon-envelope3:before {
  content: "\e0ef";
}
.icon-location:before {
  content: "\e0f1";
}
.icon-calendar2:before {
  content: "\e113";
}
.icon-calendar3:before {
  content: "\e114";
}
.icon-calendar4:before {
  content: "\e115";
}
.icon-print:before {
  content: "\e117";
}
.icon-print3:before {
  content: "\e119";
}
.icon-keyboard:before {
  content: "\e11e";
}
.icon-screen:before {
  content: "\e120";
}
.icon-screen2:before {
  content: "\e121";
}
.icon-screen3:before {
  content: "\e122";
}
.icon-screen4:before {
  content: "\e123";
}
.icon-laptop:before {
  content: "\e124";
}
.icon-mobile:before {
  content: "\e125";
}
.icon-mobile2:before {
  content: "\e126";
}
.icon-tablet:before {
  content: "\e127";
}
.icon-mobile3:before {
  content: "\e128";
}
.icon-drawer3:before {
  content: "\e12e";
}
.icon-download:before {
  content: "\e132";
}
.icon-upload:before {
  content: "\e133";
}
.icon-bubble2:before {
  content: "\e153";
}
.icon-bubbles4:before {
  content: "\e155";
}
.icon-bubble9:before {
  content: "\e162";
}
.icon-bubble12:before {
  content: "\e167";
}
.icon-user:before {
  content: "\e185";
}
.icon-users:before {
  content: "\e186";
}
.icon-users4:before {
  content: "\e198";
}
.icon-quotes-left:before {
  content: "\e19f";
}
.icon-quotes-right:before {
  content: "\e1a0";
}
.icon-spinner3:before {
  content: "\e1a9";
}
.icon-spinner8:before {
  content: "\e1ae";
}
.icon-zoomin2:before {
  content: "\e1bc";
}
.icon-zoomout2:before {
  content: "\e1bd";
}
.icon-expand3:before {
  content: "\e1c8";
}
.icon-contract3:before {
  content: "\e1c9";
}
.icon-lock4:before {
  content: "\e1d3";
}
.icon-unlocked:before {
  content: "\e1d4";
}
.icon-cog2:before {
  content: "\e1e1";
}
.icon-leaf:before {
  content: "\e22c";
}
.icon-leaf2:before {
  content: "\e22d";
}
.icon-paw:before {
  content: "\e231";
}
.icon-lab:before {
  content: "\e240";
}
.icon-lamp3:before {
  content: "\e24d";
}
.icon-lamp4:before {
  content: "\e24e";
}
.icon-remove2:before {
  content: "\e250";
}
.icon-shield3:before {
  content: "\e280";
}
.icon-clipboard3:before {
  content: "\e297";
}
.icon-grid:before {
  content: "\e2a0";
}
.icon-grid2:before {
  content: "\e2a1";
}
.icon-grid3:before {
  content: "\e2a2";
}
.icon-grid4:before {
  content: "\e2a3";
}
.icon-grid5:before {
  content: "\e2a4";
}
.icon-grid6:before {
  content: "\e2a5";
}
.icon-menu:before {
  content: "\e2a9";
}
.icon-menu2:before {
  content: "\e2aa";
}
.icon-menu6:before {
  content: "\e2af";
}
.icon-menu7:before {
  content: "\e2b0";
}
.icon-menu8:before {
  content: "\e2b1";
}
.icon-menu9:before {
  content: "\e2b2";
}
.icon-download5:before {
  content: "\e2be";
}
.icon-upload5:before {
  content: "\e2bf";
}
.icon-download6:before {
  content: "\e2c0";
}
.icon-upload6:before {
  content: "\e2c1";
}
.icon-globe:before {
  content: "\e2c4";
}
.icon-earth:before {
  content: "\e2c7";
}
.icon-network:before {
  content: "\e2c8";
}
.icon-link4:before {
  content: "\e2cd";
}
.icon-flag:before {
  content: "\e2d1";
}
.icon-attachment:before {
  content: "\e2d7";
}
.icon-attachment2:before {
  content: "\e2d8";
}
.icon-eye:before {
  content: "\e2d9";
}
.icon-bookmarks:before {
  content: "\e2e5";
}
.icon-temperature:before {
  content: "\e2ea";
}
.icon-temperature2:before {
  content: "\e2eb";
}
.icon-star:before {
  content: "\e2fc";
}
.icon-star2:before {
  content: "\e2fd";
}
.icon-star3:before {
  content: "\e2fe";
}
.icon-heart3:before {
  content: "\e304";
}
.icon-heart4:before {
  content: "\e305";
}
.icon-heart5:before {
  content: "\e307";
}
.icon-heart6:before {
  content: "\e308";
}
.icon-warning:before {
  content: "\e355";
}
.icon-warning2:before {
  content: "\e356";
}
.icon-notification:before {
  content: "\e357";
}
.icon-notification2:before {
  content: "\e358";
}
.icon-plus-circle:before {
  content: "\e35e";
}
.icon-plus-circle2:before {
  content: "\e35f";
}
.icon-minus-circle:before {
  content: "\e360";
}
.icon-minus-circle2:before {
  content: "\e361";
}
.icon-info:before {
  content: "\e362";
}
.icon-close:before {
  content: "\e36b";
}
.icon-close2:before {
  content: "\e36c";
}
.icon-close3:before {
  content: "\e36d";
}
.icon-close4:before {
  content: "\e36e";
}
.icon-checkmark:before {
  content: "\e370";
}
.icon-checkmark2:before {
  content: "\e371";
}
.icon-minus:before {
  content: "\e375";
}
.icon-plus:before {
  content: "\e376";
}
.icon-loop:before {
  content: "\e3a5";
}
.icon-loop3:before {
  content: "\e3a7";
}
.icon-loop4:before {
  content: "\e3a8";
}
.icon-arrow-first:before {
  content: "\e3ae";
}
.icon-arrow-right:before {
  content: "\e3af";
}
.icon-arrow-up:before {
  content: "\e3b0";
}
.icon-arrow-right2:before {
  content: "\e3b1";
}
.icon-arrow-down:before {
  content: "\e3b2";
}
.icon-arrow-left:before {
  content: "\e3b3";
}
.icon-arrow-up2:before {
  content: "\e3b4";
}
.icon-arrow-right3:before {
  content: "\e3b5";
}
.icon-arrow-down2:before {
  content: "\e3b6";
}
.icon-arrow-left2:before {
  content: "\e3b7";
}
.icon-arrow-up10:before {
  content: "\e3f9";
}
.icon-arrow-right12:before {
  content: "\e3fb";
}
.icon-arrow-down10:before {
  content: "\e3fd";
}
.icon-arrow-left11:before {
  content: "\e3ff";
}
.icon-arrow-up14:before {
  content: "\e40c";
}
.icon-arrow-right16:before {
  content: "\e40d";
}
.icon-arrow-down14:before {
  content: "\e40e";
}
.icon-arrow-left15:before {
  content: "\e40f";
}
.icon-menu10:before {
  content: "\e418";
}
.icon-menu11:before {
  content: "\e419";
}
.icon-menu-close:before {
  content: "\e41a";
}
.icon-menu-close2:before {
  content: "\e41b";
}
.icon-tab:before {
  content: "\e422";
}
.icon-transmission:before {
  content: "\e423";
}
.icon-transmission2:before {
  content: "\e424";
}
.icon-sort:before {
  content: "\e425";
}
.icon-sort2:before {
  content: "\e426";
}
.icon-checkbox-checked2:before {
  content: "\e435";
}
.icon-checkbox-unchecked3:before {
  content: "\e436";
}
.icon-radio-checked:before {
  content: "\e438";
}
.icon-radio-unchecked:before {
  content: "\e439";
}
.icon-filter:before {
  content: "\e443";
}
.icon-filter2:before {
  content: "\e444";
}
.icon-filter3:before {
  content: "\e445";
}
.icon-filter4:before {
  content: "\e446";
}
.icon-share:before {
  content: "\e47b";
}
.icon-newtab:before {
  content: "\e47c";
}
.icon-newtab2:before {
  content: "\e47d";
}
.icon-popout:before {
  content: "\e47e";
}
.icon-embed:before {
  content: "\e47f";
}
.icon-code:before {
  content: "\e480";
}
.icon-share2:before {
  content: "\e48c";
}
.icon-mail:before {
  content: "\e48e";
}
.icon-mail2:before {
  content: "\e48f";
}
.icon-mail4:before {
  content: "\e491";
}
.icon-googleplus2:before {
  content: "\e493";
}
.icon-googleplus:before {
  content: "\e496";
}
.icon-facebook2:before {
  content: "\e498";
}
.icon-facebook:before {
  content: "\e49b";
}
.icon-twitter2:before {
  content: "\e49d";
}
.icon-twitter:before {
  content: "\e49f";
}
.icon-feed:before {
  content: "\e4a2";
}
.icon-vimeo:before {
  content: "\e4a7";
}
.icon-linkedin2:before {
  content: "\e4cf";
}
.icon-pinterest:before {
  content: "\e4d6";
}
.icon-file-pdf:before {
  content: "\e4e2";
}
.icon-file-openoffice:before {
  content: "\e4e3";
}
.icon-file-word:before {
  content: "\e4e4";
}
.icon-file-excel:before {
  content: "\e4e5";
}
.icon-file-zip:before {
  content: "\e4e6";
}
.icon-file-powerpoint:before {
  content: "\e4e7";
}
.icon-file-xml:before {
  content: "\e4e8";
}
.icon-file-css:before {
  content: "\e4e9";
}

