/*body {*/
    /*background: #e2e2e2;*/
/*}*/

/*Generic Styles*/
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    /* background: #f9f9f9; */
    background: #E2E2E2;
    margin-top: 0px;
    /* background: #eee; */
    /* background-color: #efefef; */
}

.maintenance-mode {
    background: #f3fdf4;
}

.maintenance-text {
    margin-top: 5%;
}

.maintenance-text h2{
    font-size: 2.0rem !important;
}

body h1, body h2, body h3, body h4, body h5, body h6, body .h1, body .h2, body .h3, body .h4, body .h5, body .h6 {
    font-family: 'Lato', sans-serif !important;
    font-weight: normal;
    color: #585f69;
    text-rendering: optimizelegibility;
}

body h1 {
    font-size: 29px;
}

hr {
    max-width: 75rem;
    height: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #f1f1f1 !important;
    border-left: 0;
    margin: 1.25rem auto;
    clear: both;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 4px;
}


h2 {
    font-size: 1.2rem !important;
}

h3 {
    font-size: 1.2375rem;
}

h5 {
    font-size: 1.1rem;
}

h1 {
    margin: .67em 0;
    font-size: 2em;
}


.norwex-news-wrapper {
    border-bottom: 1px solid #e2eff7;
    margin-bottom:20px;
}

#sidebar-right ul li, #sidebar-right, #sidebar-left ul li, #sidebar-left {
    text-transform: none !important;
}


/*Top Bar Styles*/
.topbar-wrapper {
    background: #6F818C !important;
}

.topbar-wrapper a {
    color: #fff !important;
    text-transform: uppercase;
    font-size: 12px;
}



/*Navigation Styles*/
.nav.nav-pills li {
    list-style: none;
}

.vertical.menu a {
    margin-bottom: 0;
    color: #1373B5;
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
    text-transform: none;
}

.menu.vertical li:first-child {
    display: block;
    border-top: 1px solid #e2eff7;
}

.menu.vertical li {
    display: block;
    border-bottom: 1px solid #e2eff7;
}

.off-canvas-content {
    min-height: 100%;
    background: #E2E2E2;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1;
    padding-bottom: 1px;
    box-shadow: 0 0 10px hsla(0,0%,4%,.5);
}

.dropdown.menu>li.opens-right>.is-dropdown-submenu {
   right: auto;
   left: 0;
   top: 100%;
   border: 0px;
}

.top-bar, .top-bar ul, .top-bar ul a {
    background-color: #FFFFFF !important;
    color: #6F818C !important;
    text-transform: uppercase;
}

.top-bar, .top-bar ul {
    background-color: #1373b5;
    /*background-color: #5BC0DE;*/
    color: #fff;
}

.is-submenu-item.is-dropdown-submenu-item  {
    color: #fff;
}

#sidebar-right {

}

#sidebar-left {

}


#sidebar-right .fieldset{
    border: 1px solid #e2eff7 !important;
    padding: 1.25rem;
    margin: 1.125rem 0;
}

#sidebar-left .fieldset{
    border: 1px solid #e2eff7;
    padding: 1.25rem;
    margin: 1.125rem 0;
}


#sidebar-right .fieldset legend {
    background: #fefefe;
    padding: 0 .1875rem;
    margin: 0;
    margin-left: -.1875rem;
    text-transform: none !important;
    font-weight: bold;
    color: #02aab5;
}

#sidebar-left .fieldset legend {
    background: #fefefe;
    padding: 0 .1875rem;
    margin: 0;
    margin-left: -.1875rem;
    text-transform: none !important;
    font-weight: bold;
    color: #02aab5;
}

#sidebar-left .fieldset ul li, #sidebar-right .fieldset ul li {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}


/*Featured Content Styles*/
.circle {
    border-radius: 50%;
}

.square {
    border-radius: 2px;
}

.cta-wrapper {
    margin-left: auto;
    margin-right: auto;
}

.carousel-control.right {
    right: 0;
    left: auto;
     background-image: -webkit-linear-gradient(left,rgba(0, 51, 102, 0) 0,rgba(0, 51, 102, 0) 100%);
    background-image: -o-linear-gradient(left,rgba(0, 51, 102, 0) 0,rgba(0, 51, 102, 0) 100%);
     background-image: -webkit-gradient(linear,left top,right top,from(rgba(0, 51, 102, 0)),to(rgba(0, 51, 102, 0)));
     background-image: linear-gradient(to right,rgba(0, 51, 102, 0) 0,rgba(0, 51, 102, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(0, 51, 102, 0) 0,rgba(0, 51, 102, 0) 100%);
    background-image: -o-linear-gradient(left,rgba(0, 51, 102, 0) 0,rgba(0, 51, 102, 0) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0, 51, 102, 0)),to(rgba(0, 51, 102, 0)));
    background-image: linear-gradient(to right,rgba(0, 51, 102, 0) 0,rgba(0, 51, 102, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}




/*Content Area Styles */

.social-share-wrapper {
    padding-left: 20px;
    margin-bottom: 20px;
}

.social-share a {
    color: #fff !important;
}

.social-share a {
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
    font-size: 14px;
    float: left !important;
    display: inline-flex;
    background: #02AAB5;
    color: #fff !important;
    padding: 7px 7px;
    height: 28px;
    width: 28px;
    border-radius: 50px;
    margin-left: 8px;
}

.form-group.has-error .help-block{
    color: #ff0c15;
}

.form-group.has-error input{
    border: 1px solid #ff0c15;
}

.page-title {
    margin-top: .875rem;
    font-size: 2.625rem;
    color: #4ea8b4;
    font-family: "minion-pro",Georgia,"Times New Roman",Times,serif;
    padding-bottom: 1.5rem;
    font-weight: normal;
}

.profile-image {
    /* border: 1px solid #eee; */
    text-align: center;
    padding: 1px 10px 10px 10px;
    float: right;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 1px;
}

.profile-img-wrapper {
    text-align: center;
    padding: 1px 10px 10px 10px;
    float: right;
    margin: 21px;
}

.profile-icons {
    /*background: rgba(238, 238, 238, 0.21);*/
    background: #fff;
    padding-bottom: 8px;
    font-size: 18px;
}

.icon-border {
    border-right: 1px solid #eee;
    margin-right: 10px;
    padding-right: 11px;
}

.icon-inactive {
    color: #cdcccc;
}

a {
    color: #0075bc;
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
}

.account-container {
    padding-left: 20px;
    padding-right: 20px;
}

.page-not-found .img-responsive {
    max-width: 100% !important;
    margin-right: auto !important;
    margin-left: auto !important;
    display: block !important;
}

.asteriskField {
    color: #ff0c15;
}

.no-records-found {
    font-style: italic;
    padding: 20px;
}

.icon-bg {
    background-image: url("/static/img/icon-bg.png");
    height: 53px;
    max-width: 1090px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-repeat: repeat;
    background-position: 50px 121px;
    margin-top: 20px;

}

.created_updated {
    font-size: 12px;
    color: #989595 !important;
}

/*.error_1_id_title .help-block, .error_1_id_slug .help-block, .error_1_id_content .help-block {*/
    /*color: #ff0c15 !important;*/
/*}*/

.top-margin {
    margin-top: 20px;
}

.btn-u.btn-u-dark {
    background: #337AB7;
}


.text-muted {
    color: #777;
    font-style: italic;
}

#address {
    padding:4px;
}

.go-right {
    float:right;
}

.header-lang li {
    list-style-type: none;
}

.menu .dropdown-toggle .icobutton {
    text-transform: uppercase !important;
}



.inner-wrap {
    position: relative;
    width: 100%;
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -ms-transition: -ms-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
}

.list-group-item {
    border-bottom: 1px solid rgba(10, 118, 183, 0.12);
}

#page-wrapper {
    max-width:1195px;
    margin: 0 auto;
    box-shadow: 0px 3px 24px 1px #9A9797;
    -moz-box-shadow: 0px 3px 24px 1px #9A9797;
    -webkit-box-shadow: 0px 3px 24px 1px #9A9797;
    background: #E2E2E2;
    /* border-radius: 10px 10px 0px 0px; */
    /* -moz-border-radius: 10px 10px 0px 0px; */
    /* -webkit-border-radius: 10px 10px 0px 0px; */
    /* box-shadow: 0px 3px 24px 1px #E6E5E5; */
    /* -moz-box-shadow: 0px 3px 24px 1px #E6E5E5; */
    /* -webkit-box-shadow: 0px 3px 24px 1px #E6E5E5; */
    /* background: #fff; */
}

/*.page-wrapper {*/
   /*margin: 0 auto;*/
   /*box-shadow: 0px 3px 24px 1px #9A9797;*/
   /*-moz-box-shadow: 0px 3px 24px 1px #9A9797;*/
   /*-webkit-box-shadow: 0px 3px 24px 1px #9A9797;*/
   /*background: #E2E2E2;*/
   /* border-radius: 10px 10px 0px 0px; */
   /* -moz-border-radius: 10px 10px 0px 0px; */
   /* -webkit-border-radius: 10px 10px 0px 0px; */
   /* box-shadow: 0px 3px 24px 1px #E6E5E5; */
   /* -moz-box-shadow: 0px 3px 24px 1px #E6E5E5; */
   /* -webkit-box-shadow: 0px 3px 24px 1px #E6E5E5; */
   /* background: #fff; */
/*}*/

.is-dropdown-submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 200px;
    z-index: 1;
    background: #fefefe;
    border: 1px solid #e6e5e5;
}


.is-submenu-item.is-dropdown-submenu-item {
    color: #fff;
    background: #7C909C;
}

.home-container-area {
    margin-top:0px;
}


.page-wrapper {
    background: #FFF;
    border-right: 0px solid #FCFCFC;
    border-left: 0px solid #FCFCFC;
    border-bottom: 0px solid #FCFCFC;
    border-top: 0px solid #FCFCFC;
    box-shadow: 0px 5px 10px 0px #DBDBDB;
    border-radius: 0px;
    /*-webkit-border-radius: 15px 15px 15px 15px;*/
    /*-moz-border-radius: 15px 15px 15px 15px;*/
    /*-o-border-radius: 15px 15px 15px 15px;*/
}

.row.featured-cta, .featured-cta {
    padding:0 !important;
    margin: 0px 0 20px 0;
}

.dropdown.menu>li.is-dropdown-submenu-parent>a:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 5px inset;
    border-color: #A0CC65 transparent transparent !important;
    border-top-style: solid;
    border-bottom-width: 0;
    right: 5px;
    margin-top: -2px;
}

.container, .nav-container, .slide {
    max-width:1195px;
    margin-right: auto;
    margin-left: auto;
}

select {
    width: auto;
    min-width: 200px !important;
    border-radius: 0;
    /*height: 2.0375rem !important;*/
}

.callout.secondary {
    background-color: #5bc0de;
    border: none;
    color: #fff;
}

.callout.secondary a {
    color: #fff;
}

.menu {
    text-transform: uppercase !important;
}

.hero-text, .hero-text p {
    line-height: 140%;
}

.banner-grid4-caption {
    max-width: 80%;
    font-size: 16px;
    text-align: center;
    width: 50%;
    margin: auto;
    color: #777777;
}

.banner-caption {
    max-width: 80%;
    font-size: 20px;
    text-align: center;
    width: 50%;
    margin: auto;
    color: #777777;
}

.banner-title {
    max-width: 80%;
    font-size: 25px;
    text-align: center;
    width: 50%;
    margin: auto;
    color: #00B4C0;
}

.banner-title.what-expect-your-norwex-party {
    color: #71C059;
}

.dropdown.menu .menuitem li:active {
    text-decoration: underline;
    color: #a0cc65 !important;
}

.container-wrapper {
    padding: 30px;
}

.banner-left-grid {
    max-width: 100%;
    font-size: 16px;
    text-align: left;
    width: 100%;
    margin: auto;
    color: #777777;
}

.banner-right-grid {
    max-width: 100%;
    font-size: 16px;
    text-align: left;
    width: 100%;
    margin: auto;
    color: #777777;
}

.button {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color .25s ease-out,color .25s ease-out;
    vertical-align: middle;
    /*border: 1px solid transparent;*/
    border-radius: 3px;
    padding: .85em 1em;
    margin: 0 0 1rem;
    font-size: .9rem;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.button-corporate {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color .25s ease-out,color .25s ease-out;
    vertical-align: middle;
     border: 1px solid #00B4C0 !important;
    border-radius: 0px;
    padding: .85em 1em;
    margin: 1rem 0 1rem;
    font-size: .9rem;
    color: #00B4C0 !important;
    background-color: #FFFFFF !important;
    border-color: #00B4C0 !important;
    text-transform: uppercase;
}

.button-new-blue, .btn.btn-primary.button-new-blue {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color .25s ease-out,color .25s ease-out;
    vertical-align: middle;
    /* border: 1px solid transparent; */
    border-radius: 3px;
    padding: .85em 1em;
    margin: 0 0 1rem;
    font-size: .9rem;
    color: #fff;
    background-color: #02AAB5;
    border-color: #02AAB5;
    text-transform: uppercase;
}

.button-new-blue:hover {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color .25s ease-out,color .25s ease-out;
    vertical-align: middle;
    /* border: 1px solid transparent; */
    border-radius: 3px;
    padding: .85em 1em;
    margin: 0 0 1rem;
    font-size: .9rem;
    color: #fff;
    background-color: #00B4C0;
    border-color: #00B4C0;
    text-transform: uppercase;
}


.button-new-success, .btn.btn-primary.button-new-success {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color .25s ease-out,color .25s ease-out;
    vertical-align: middle;
    /* border: 1px solid transparent; */
    border-radius: 3px;
    padding: .85em 1em;
    margin: 0 0 1rem;
    font-size: .9rem;
    color: #fff;
    background-color: #77bc1c;
    border-color: #77bc1c;
    text-transform: uppercase;
}

.button-new-success:hover {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color .25s ease-out,color .25s ease-out;
    vertical-align: middle;
    /* border: 1px solid transparent; */
    border-radius: 3px;
    padding: .85em 1em;
    margin: 0 0 1rem;
    font-size: .9rem;
    color: #fff;
    background-color: #8BC34A;
    border-color: #8BC34A;
    text-transform: uppercase;
}

.button-no-bg, .btn.btn-primary.button-no-bg {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color .25s ease-out,color .25s ease-out;
    vertical-align: middle;
    border: 1px solid  #ffffff !important;
    border-radius: 3px;
    padding: .85em 1em;
    margin: 0 0 1rem;
    font-size: .9rem;
    color: #fff;
    background: none !important;
    text-transform: uppercase;
}

.button-no-bg:hover {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color .25s ease-out,color .25s ease-out;
    vertical-align: middle;
    border: 1px solid  #ffffff !important;
    border-radius: 3px;
    padding: .85em 1em;
    margin: 0 0 1rem;
    font-size: .9rem;
    color: #fff;
    background: none !important;
    text-transform: uppercase;
}

.help-block {
    font-size: 12px;
    color: #696969;
    font-style: italic;
    display: block;
}

.row {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#page-wrapper {
    max-width:1195px;
    margin: 0 auto;
    box-shadow: 0px 3px 24px 1px #E6E5E5;
    -moz-box-shadow: 0px 3px 24px 1px #E6E5E5;
    -webkit-box-shadow: 0px 3px 24px 1px #E6E5E5;
    background: #fff;
}

.page-home .content-area {
    padding: 0px 0px 0px 0px !important;
    /*max-width: 100% !important;*/
}

#page-wrapper .content-area {
    padding: 0px 10px 20px 10px;

}

.content-area {
    padding-top: 0.93rem;
    padding-bottom: 0.93rem;
    padding-right: 0.93rem !important;
    padding-left: 0.93rem !important;

}

#page-wrapper .profile.container.content {
    padding: 20px 10px 20px 10px;
}

.z-index-top {
  position: relative;
  z-index: 1 !important;
  }


.header-wrapper {
    background: #fff;
    border-bottom: 0px solid #ccc;
    position: relative;
    width: 100%;
    z-index: 1001;
    font-size: 12px;
    margin-bottom: 0;
    height: 120px;
    padding-top:10px;
 }

.top-bar-left .menu a, .top-bar-left .menu button, .top-bar-left .menu input {
    margin-bottom: 0;
    color: #FFFFFF;
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
}

.top-logo {
    /*position: absolute;*/
    /*top: 22px;*/
    /*margin-left: -20px;*/
    /*height: 74px;*/
}


.client-focus-wrapper .container {
    background-color: none !important;
}

#page-wrapper .container.content-area {
    background: #ffffff;
    width: 100% !important;
}

#page-wrapper .container {
    width: 100% !important;
}

#start-free-trial {
    margin-top: 8px;
}

#start-free-trial{
    color: #fff;
}


#top-search {
    margin-top: -2px;
}

.account-menu-avatar {
   border-radius: 30px;
}


#feature_slider {
    height: auto;
    background: #525151;
    z-index: 1;
    border-bottom: 5px solid #FFCC00;
    margin-top: -20px;
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
    min-height: 249px;

}

.edit-right {
    text-align: right;
    float: right;
}


.content-edit {
    font-size: 12px;
    color: #989595 !important;
    background: #fefefe;
    padding: 5px;
    padding-left: 0px;
}

.content-info {
    font-size: 12px;
    color: #989595 !important;
    background: #fff;
    padding: 10px;
}

.results {
    font-size: 12px;
    color: #989595 !important;
    background: #fff;
    padding: 1px;
}

.inner-content {
    padding: 16px 22px 16px 22px;
}

.impersonate {
     margin: 0 0 0;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid hsla(0,0%,4%,.25);
    border-radius: 0;
    position: relative;
    color: #0a0a0a;
    background-color: #e1faea;
    line-height: 230%;
}


.paginator-align {
    float: right;
    font-size: 12px;
    color: #989595;
}

.paginator-align a{
    font-size: 12px;
    color: #989595;
}

.pagination li {
    font-size: 12px;
    color: #989595;
}

.banner-wrapper.meet-our-leadership {
    background-image: url("/static/img/backgrounds/leadership_bg.png");
    background-color: #00b4c0;
    background-repeat: repeat;
}

/*Footer Styles*/
.page-home #footer {
    min-height: auto;
    background-color: #fff;
    color: #fff;
    padding-top: 0px;
    border-top: 0px solid #BBBCBD;
    margin-top: 0px;
}

#footer {
    background-color: #EDF1F2;
    color: #333;
    padding-top: 20px;
    border-top: 10px solid #C2D1D4;
    min-height: 200px;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-bottom: 40px;
}

.footer-links h5 {
    font-family: 'Lato', sans-serif !important;
    font-weight: normal;
    color: #FFFFFF;
    text-rendering: optimizelegibility;
}

.video-wrapper {
    margin: 0 0 20px 0;
}


/*#footer ul li a {*/
    /*color: #333 !important;*/
/*}*/


/*#footer {*/
    /*min-height: auto;*/
    /*background-color: #fff;*/
    /*color: #fff;*/
    /*padding-top: 15px;*/
    /*border-top: 0px solid #BBBCBD;*/
    /*margin-top: 0px;*/
/*}*/

/*#footer {*/
    /*background-color: #337AB7;*/
    /*color: #fff;*/
    /*padding-top: 20px;*/
    /*border-top: 10px solid #337AB7;*/
    /*margin-top: 0px;*/
    /*min-height: 240px;*/
/*}*/


#footer .container {
    background-color: rgba(0, 51, 102, 0) !important;
    padding: 0px 1px 0px 1px;
}

.footer-logo img {
    margin-left: 0px;
    position: absolute;
}

.footer-space {
    float:right;
    text-align: right;
}

#footer .container {
    background-color: none !important;
}

.page-home #footer {
    margin-top: 0px;
}

.social-media ul {
    list-style-type: none;
    float: left !important;
    display: inline-flex;
    padding-left: 0px;
    margin-bottom: 2px !important;
    margin-left: 0.3rem;
}

.social-media li a {
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
    font-size: 14px;
    float: left !important;
    display: inline-flex;
    background: #02AAB5;
    color: #fff !important;
    padding: 7px 7px;
    height: 28px;
    width: 28px;
    border-radius: 50px;
    margin-left: 8px;
}

.social-media ul li a {
    color: #fff !important;
}

.footerlink ul {
    list-style-type: none;
    float: right;
    display: inline-flex;
    margin-left: 20px;
}

.footerlink li a {
    color: #333;
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
    font-size: 14px;
    float: right;
    display: inline-flex;
    margin-left: 20px;
}

.footer-credits {
    background-color: #27679E;
    color: #fff;
    padding: 10px 10px;
    margin-top: 0px;
    border-radius: 0 0 5px 5px;
    min-height: 30px;
    font-size: 14px;
}

.footer-credits a {
    color: #333;
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
    font-size: 13px;
}


/**
 * Base
 */
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  color: #000;
}
body {
  color: #444;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-weight: 300;
  line-height: 1.4em;
}
pre {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  color: #666;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  white-space: pre;
  word-wrap: normal;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
pre > code {
  background-color: transparent;
  color: #666;
}
code {
  background-color: #fff0f0;
  color: #dd2200;
}
/**
 * Layout
 */
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 1em 2em;
}
i {
  margin-right: 5px;
}
a.pure-button {
  text-decoration: none !important;
}
.gh-btns {
  min-width: 340px;
}
blockquote {
  border-left: 8px solid #ddd;
  margin: 0 !important;
  padding: 1em 40px;
  font-size: 0.94em;
}
@media screen and (max-width: 48em) {
  .container {
    padding: 0.5em 1em !important;
  }
  .gh-btns {
    display: none;
  }
}
/**
 * Header module
 */
header,
header a,
header .pure-menu a {
  line-height: 3em;
}
header .container {
  padding: 0 2em;
}
header .brand {
  font-size: 110%;
  line-height: 3.2em;
  text-decoration: none;
}
header .brand,
header .brand:link,
header .brand:visited {
  color: #222;
  text-decoration: none;
}
header .brand:hover,
header .brand:active,
header .brand:visited:hover {
  color: #361752;
}
header .nav-toggle {
  float: right;
  z-index: 2;
}
header .nav-toggle .pure-button {
  background-color: transparent;
  border: 1px solid #ddd;
  margin: 0;
}
header .nav-toggle .pure-button i {
  margin: 0;
}
@media screen and (max-width: 48em) {
  header .container {
    padding: 0;
  }
}
/**
 * Navigation module
 */
@media screen and (max-width: 48em) {
  nav.pure-menu {
    height: 0;
    overflow: hidden;
  }
  nav.pure-menu.pure-menu-horizontal > ul {
    display: block;
    margin: 0 -1em;
  }
  nav.pure-menu-horizontal li {
    display: block;
    border-top: 1px solid #eee;
  }
  nav.pure-menu.active {
    height: auto;
    overflow: visible;
  }
}
/**
 * Main module
 */
main a,
main a:link,
main a:visited {
  color: #777;
  text-decoration: underline;
}
main a:hover,
main a:active,
main a:visited:hover {
  color: #000;
  text-decoration: underline;
}
main article {
  padding: 1em;
}
main [class*="pure-u-"]:first-child article {
  padding-left: 0;
}
main [class*="pure-u-"]:last-child article {
  padding-right: 0;
}
@media screen and (max-width: 48em) {
  main article {
    padding: 0 !important;
  }
}
.main-example {
  margin: 0 auto;
  width: 355px;
}
.main-example .countdown-container {
  height: 130px;
}
.main-example .time {
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
  display: inline-block;
  text-align: center;
  position: relative;
  height: 95px;
  width: 65px;

  -webkit-perspective: 479px;
  -moz-perspective: 479px;
  -ms-perspective: 479px;
  -o-perspective: 479px;
  perspective: 479px;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.main-example .count {
  background: #202020;
  color: #f8f8f8;
  display: block;
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  line-height: 2.4em;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  top: 0;
  width: 100%;

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  -webkit-transform-style: flat;
  -moz-transform-style: flat;
  -ms-transform-style: flat;
  -o-transform-style: flat;
  transform-style: flat;
}
.main-example .count.top {
  border-top: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.1);
  border-radius: 5px 5px 0 0;
  height: 50%;

  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.main-example .count.bottom {
  background-image: linear-gradient(rgba(255,255,255,0.1), transparent);
  background-image: -webkit-linear-gradient(rgba(255,255,255,0.1), transparent);
  background-image: -moz-linear-gradient(rgba(255,255,255,0.1), transparent);
  background-image: -ms-linear-gradient(rgba(255,255,255,0.1), transparent);
  background-image: -o-linear-gradient(rgba(255,255,255,0.1), transparent);
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-radius: 0 0 5px 5px;
  line-height: 0;
  height: 50%;
  top: 50%;

  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
.main-example .count.next {
}
.main-example .label {
  font-size: normal;
  margin-top: 5px;
  display: block;
  position: absolute;
  top: 95px;
  width: 100%;
}
/* Animation start */
.main-example .count.curr.top {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  z-index: 3;
}
.main-example .count.next.bottom {
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
  z-index: 2;
}
/* Animation end */
.main-example .flip .count.curr.top {
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;

  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
.main-example .flip .count.next.bottom {
  -webkit-transition: all 250ms ease-in-out 250ms;
  -moz-transition: all 250ms ease-in-out 250ms;
  -ms-transition: all 250ms ease-in-out 250ms;
  -o-transition: all 250ms ease-in-out 250ms;
  transition: all 250ms ease-in-out 250ms;

  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
@media screen and (max-width: 48em) {
  .main-example {
    width: 100%;
  }
  .main-example .countdown-container {
    height: 100px;
  }
  .main-example .time {
      height: 70px;
      width: 48px;
  }
  .main-example .count {
    font-size: 1.5em;
    line-height: 70px;
  }
  .main-example .label {
    font-size: 0.8em;
    top: 72px;
  }
}
/**
 * Footer module
 */
footer {
  border-top: 1px solid #eee;
  color: #777;
  line-height: 1.8;
  font-size: small;
  text-align: center;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer li {
  display: inline-block;
}
footer li:after {
  content: "   |  ";
}
footer li:last-child:after {
  content: "";
}
footer a,
footer a:link,
footer a:visited {
  color: #444;
  text-decoration: underline;
}
footer a:hover,
footer a:active,
footer a:visited:hover {
  color: #000;
  text-decoration: underline;
}
/**
 * Home module
 */
.home-welcome {
  background-image: linear-gradient(45deg, #361752, #B31B67);
  background-image: -webkit-linear-gradient(45deg, #361752, #B31B67);
  background-image: -moz-linear-gradient(45deg, #361752, #B31B67);
  background-image: -ms-linear-gradient(45deg, #361752, #B31B67);
  background-image: -o-linear-gradient(45deg, #361752, #B31B67);
  color: white;
  padding: 2em 0 2em;
  font-size: 125%;
}
.home-welcome h1 {
  color: white;
  line-height: 1em;
}
.home-welcome .pure-button {
  background-color: transparent;
  border-radius: 3px;
  border: 2px solid white;
  color: white !important;
  padding: 20px;
  font-size: 125%;
  margin-right: 20px;
  text-decoration: none;
}
.home-welcome .pure-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.home-welcome .pure-button:active {
  background-color: rgba(255, 255, 255, 0.2);
}
.home-content .lead {
  font-size: 110%;
}
.home-get-involved {
  line-height: 1.6em;
}
.home-get-involved dd {
  margin: 0;
  padding: 0;
}
.home-get-involved i {
  text-align: center;
  width: 16px;
}
.home-video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  margin: 0 auto;
  max-width: 854px;
  max-height: 510px;
  overflow: hidden;
}
.home-video-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-countdown-example{
    border: 1px solid #cccccc;
    margin-bottom: 20px;
    padding: 10px 0;
    text-align: center;
}
.home-countdown-example span{
    background-color: #333333;
    border-radius: 2px;
    color: #ffffff;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    line-height: 25px;
    padding: 5px;
}
@media screen and (max-width: 48em) {
  .home-welcome {
    padding: 0;
  }
  .home-welcome h1 {
    display: none;
  }
  .home-welcome .pure-button {
    display: block;
    margin-top: 20px;
    margin-right: 0;
  }
  .home-content .download,
  .home-video-container {
    display: none;
  }
}
/**
 * Content module
 */
.content-header {
  background-image: linear-gradient(45deg, #361752, #B31B67);
  background-image: -webkit-linear-gradient(45deg, #361752, #B31B67);
  background-image: -moz-linear-gradient(45deg, #361752, #B31B67);
  background-image: -ms-linear-gradient(45deg, #361752, #B31B67);
  background-image: -o-linear-gradient(45deg, #361752, #B31B67);
  color: white;
}
.content-header h1 {
  color: white;
  margin: 0;
  padding: 0.5em 0;
}
/**
 * Docs module
 */
.docs article {
  padding-top: 0 !important;
}
.docs h2 {
  border-bottom: 1px solid #eee;
  margin-top: 1.2em;
  padding-bottom: 0.5em;
}
@media screen and (min-width: 48em) {
  .docs h2:first-of-type {
    margin-top: 0 !important;
  }
}
.docs h2 small {
  color: #777;
}
.docs a[id]:after {
  content: ".";
  font-size: 0;
  line-height: 0;
}
/**
 * TOC module
 */
.toc a {
  text-decoration: none !important;
}
.toc .active {
  background-color: #eee;
}
.toc .active a {
  color: black;
}
.toc.affix {
  position: fixed;
  top: 20px;
  width: auto;
}
@media screen and (max-width: 48em) {
  .toc.affix {
    position: static !important;
  }
}
/**
 * Examples module
 */
.examples-list-index .pure-g-r {
  border-top: 1px solid #ddd;
}
.examples-list-index article {
  padding: 1em !important;
}
.examples-list-index .pure-button,
.examples-list-index .pure-button:hover {
  background-color: #361752;
  color: white !important;
}
.examples-list .pure-menu-selected {
  background-color: #eee;
}
@media screen and (max-width: 48em) {
  .examples-list-index .pure-g-r {
    border-top-style: none;
  }
  .examples-list-index [class*="pure-u-"] {
    border-top: 1px solid #ddd;
  }
  .examples-list a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
/**
 * Example module
 */
.example-base,
.example-blocks,
.example-coupon,
.example-multiple {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

  background-color: #ddd;
  border: 1px solid transparent;
  border-radius: 1px;
  color: #444;
  margin: 20px 0;
  text-align: center;
  padding: 20px;
}
.example-base span {
  display: block;
  line-height: 2em;
  font-size: 2em;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.example-base .header {
  background-color: white;
  border: 1px solid #ccc;
  margin: -21px -21px 20px -21px;
  padding: 20px;
}
.example-blocks div {
  margin-top: 10px;
}
.example-blocks span {
  display: inline-block;
  font-size: 2em;
  line-height: 2em;
  padding: 0 10px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.example-coupon span {
  display: block;
  line-height: 1.4em;
  font-size: 1.4em;
}
.example-base.disabled,
.example-coupon.disabled {
  background: #eee;
  color: #666;
  font-size: 1.4em;
}
.example-multiple {
  border-right: 1px solid white;
  text-align: center;
  padding: 10px;
}
.example-selector {
  margin-bottom: 10px;
  text-align: center;
}
.example-selector select {
  display: block;
  font-size: 1.4em;
  width: 100%;
}
.example-bootstrap {
  border: 1px solid #B7B7B7;
  overflow: hidden;
  position: relative;
  padding-bottom: 66.66%;
  height: 0;
}
.example-bootstrap iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
.example-bootstrap-expand {
  margin-top: 5px;
  text-align: right;
}

@media screen and (max-width: 48em) {
  .example-base span {
    font-size: 1.2em;
    line-height: 1.2em;
  }
  .example-selector select {
    font-size: 1em;
  }
}
/**
 * Carbon Ad
 */
.ad {
  margin-bottom: 10px;
}
#carbonads {
  color: #444;
  font-size: 12px;
  max-width: 400px;
  min-height: 100px;
  padding: 15px;
  border: 1px solid #ccc;
  background-color: white;
  margin: 0 auto;
  line-height: inherit;
}
.carbon-img {
  margin-right: 15px;
  float: left;
}
.carbon-poweredby {
  font-size: 75%;
}
.carbon-text {
  display: block;
  padding: 8px 0;
}
