/*.affix {*/
    /*position: fixed;*/
    /*top: 0px;*/
/*}*/


.topbar-wrapper {
    background: #999 !important;
}


/*Buttons*/
.label-corporate {
    background-color: #00BCD4;
}

.label-negative {
    background-color: #e74c3c;
}

a {
    color: #1373B5;
    text-decoration: none;
}

.btn-corporate {
    color: #fff;
    background-color: #1373B5;
    /*background-color: #00BCD4;*/
    border-color: #1373B5;
}

.blog_sidebar_right h2 {
    font-size: 21.5px;
    padding: 4px;
}



body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    /*background: #f9f9f9;*/
    background: #E2E2E2;
    margin-top:0px;
    /*background: #eee;*/
    /*background-color: #efefef;*/
}

.home-container-area {
    margin-top:0px;
}

#page-wrapper {
    max-width: 1170px;
    margin: 0 auto;
    box-shadow: 0px 3px 24px 1px #9A9797;
    -moz-box-shadow: 0px 3px 24px 1px #9A9797;
    -webkit-box-shadow: 0px 3px 24px 1px #9A9797;
    background: #E2E2E2;
    /*border-radius: 10px 10px 0px 0px;*/
    /*-moz-border-radius: 10px 10px 0px 0px;*/
    /*-webkit-border-radius: 10px 10px 0px 0px;*/
    /*box-shadow: 0px 3px 24px 1px #E6E5E5;*/
    /*-moz-box-shadow: 0px 3px 24px 1px #E6E5E5;*/
    /*-webkit-box-shadow: 0px 3px 24px 1px #E6E5E5;*/
    /*background: #fff;*/
}

#page-wrapper .job-container {
    padding: 0px !important;

}

.margin-bottom-60 {
     margin-bottom: 10px !important;
}

.profile .profile-body > h1, .profile .profile-body form > h1 {
    margin: 20px 0 30px !important;
}

.page-home .content-area {
    padding: 0px 0px 0px 0px !important;
    /*max-width: 100% !important;*/
}

#page-wrapper .content-area {
    padding: 0px 10px 20px 10px;

}

h2 .posted-info {
    font-size: 15px;
}
#page-wrapper .job-container {
    padding: 0px !important;

}

#page-wrapper .profile.container.content {
    padding: 20px 10px 20px 10px;
}

.z-index-top {
  position: relative;
  z-index: 1 !important;
  }

.navbar-header {
    float: none;
}

.header-wrapper {
    background: #fff;
    border-bottom: 0px solid #ccc;
    height: auto;
    position: relative;
    width: 100%;
    z-index: 1001;
    font-size: 12px;
    margin-bottom: 0;
    height: 70px;
    /*border-radius: 10px 10px 0px 0px;*/
    /*-moz-border-radius: 10px 10px 0px 0px;*/
    /*-webkit-border-radius: 10px 10px 0px 0px;*/
 }

.top-logo {
    /*position: absolute;*/
    /*top: 22px;*/
    /*margin-left: -20px;*/
    /*height: 74px;*/
}

.job-search-area {
    float: right;
    margin-top: 5px;
    margin-left: 20px;
}


.logo-wrapper {
    /*max-height: 70px !important;*/
    /*max-width: 70px !important;*/
    /*margin-top: -20px;*/
}

.navbar.navbar-inverse .nav > li.active {
    background-color: #1373B5 !important;
}

.navbar.navbar-inverse .nav > li:hover {
    background-color: #1373B5 !important;
}

.navbar-brand {
    float: left;
    padding: 0px 0px 5px 0px;
    font-size: 18px;
    line-height: 20px;
}

.navbar .container .collapse .nav .dropdown .dropdown-menu {
    background: #1373B5;
    -webkit-border-radius: 0px 0px 7px 7px;
    -moz-border-radius: 0px 0px 7px 7px;
     border-radius: 0px 0px 7px 7px;
     margin-top: 0px;
    border: 0px;
}

.navbar .container .collapse .nav .dropdown .dropdown-menu > li > a:hover {
    background-color: #1A78B9;
}


.client-focus-wrapper .container {
    background-color: none !important;
}

#page-wrapper .container.content-area {
    background: #ffffff;
    width: 100% !important;
}

#page-wrapper .container {
    max-width: 100% !important;
}

#start-free-trial {
    margin-top: 8px;
}

#start-free-trial{
    color: #fff;
}


#top-search {
    margin-top: -2px;
}

.account-menu-avatar {
   border-radius: 30px;
}

/*#feature_slider {*/
    /*height: auto;*/
    /*background: #525151;*/
    /*z-index: 1;*/
    /*border-bottom: 5px solid #FFCC00;*/
    /*margin-top: -20px;*/
    /*margin-bottom: 0;*/
    /*min-height: 320px;*/
/*}*/

#feature_slider {
    height: auto;
    background: #525151;
    z-index: 1;
    border-bottom: 0px solid #FFCC00;
    margin-top: 0px;
    margin-bottom: 0;
    /*min-height: 320px;*/
    min-height: 390px;
    overflow: hidden;
    position: relative;
    background: url(../img/job-home.jpg) 18% 33% no-repeat;
}

.job-description {
    margin: 40px 0 10px;
    padding: 10px 0;
    position: relative;
    background: #FFFFFF;
}

.job-description .content .row.job-description-row {
     margin-right: 0px !important;
}

.job-description .content .row.job-description-row {
    margin-right: 0px !important;
}

.job-description .content {
    padding: 10px 10px;
}

.job-detail-sidebar {
    background: rgba(245, 245, 245, 0.22);
    padding-top: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.sectional-content {
    border-bottom: 1px solid rgba(226, 226, 226, 0.65);
    padding-bottom: 10px;
}

.sectional-content-sidebar {
    border-bottom: 1px solid rgba(226, 226, 226, 0.08);
    padding-bottom: 10px;
}


@media (min-width: 1200px)
.container {
    width: 100% !important;
}
    .navbar-nav {
    /*float: right !important;*/
    margin: 0;
    /*margin-left: 160px;*/
}
@media (min-width: 992px)
.container {
    width: 100% !important;
}
    .navbar-nav {
    /*float: right !important;*/
    margin: 0;
    /*margin-left: 160px;*/
}
@media (min-width: 768px)
.container {
    width: 1170px !important;
}

    @media screen and (min-width: 768px)
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: 30px;
}

.profile .profile-body {
    padding: 0px;
    /*background: #fefefe !important;*/
    background: #ffffff !important;
    max-width: 1170px !important;
    min-height: 580px;
}

/*.job-home-img {*/
    /*overflow: hidden;*/
    /*position: relative;*/
    /*min-height: 300px;*/
    /*background: url(../../img/bg/11.jpg) 70% 40% no-repeat;*/
/*}*/

.profile .panel-heading {
    color: #585f69;
    background: #fff;
    padding: 7px 15px;
    border-bottom: solid 1px #f7f7f7;
}

.top-margin {
    margin-top: 20px;
}

.page-home #footer {
    min-height: auto;
    background-color: #337AB7;
    color: #fff;
    padding-top: 0px;
    /*border-top: 10px solid #CACACA;*/
    border-top: 10px solid #5BC0DE;
    margin-top: 0px;
}


#footer {
    min-height: auto;
    /*background-color: #808080;*/
    background: #337AB7;
    color: #fff;
    padding-top: 15px;
    /*border-top: 10px solid #CACACA;*/
    border-top: 10px solid #F9F9F9;
    margin-top: 0px;
}

#footer .container {
    background-color: rgba(0, 51, 102, 0) !important;
    padding: 0px 15px 0px 30px;
}

.client-focus-wrapper {
    /*background: #717070;*/
    background: #27679E;
    padding: 10px;
    color: #fff;
}

.client-focus-inner a:hover, .client-focus a:focus {
    color: #CACACA;
    padding-right: 10px;
    padding-left: 10px;
}

.text-green {
    color: #72C02C;
}

.footer-logo img {
    margin-left: 0px;
    position: absolute;
}

.footer-space {
    float:right;
    text-align: right;
}

#footer .container {
    background-color: none !important;
}

#sigin-slider {
    margin-top: 25px;
}

.row.job-content {
    margin:0px;
    background: #5BC0DE;
}

.page-home #footer {
    margin-top: 0px;
}

.resauth-network {
    background: #5BC0DE;
    color: #fff;
    padding: 10px;
}

.resauth-network h3{
    color: #fff;
    border-bottom: 1px dashed #fff;
    padding-bottom: 7px;
}

.resauth-network p {
    color: #fff;
}

.for-job-seekers {
    background: #ffdd5e;
    color: #fff;
    padding: 10px;
    border-radius: 0px 0px 0px 15px;
    -moz-border-radius: 0px 0px 0px 15px;
    -webkit-border-radius: 0px 0px 0px 15px;
}

.for-job-seekers h3{
    color: #444;
    border-bottom: 1px dashed #444;
    padding-bottom: 7px;
}

.for-job-seekers p {
    color: #444;
}

.for-job-seekers ul li {
    color: #444;
}


.for-employers {
    background: #337AB7;
    color: #fff;
    padding: 10px;
    border-radius: 0px 0px 15px 0px;
    -moz-border-radius: 0px 0px 15px 0px;
    -webkit-border-radius: 0px 0px 15px 0px;
}

.for-employers p {
    color: #fff;
}

.for-employers h3{
    color: #fff;
    border-bottom: 1px dashed #6CBBFF;
    padding-bottom: 7px;
}

.resauth-network, .for-job-seekers, .for-employers {
    min-height: 300px;
}

.btn-u.btn-u-dark {
    background: #337AB7;
}

.carousel-control.right {
    right: 0;
    left: auto;
     background-image: -webkit-linear-gradient(left,rgba(0, 51, 102, 0) 0,rgba(0, 51, 102, 0) 100%);
    background-image: -o-linear-gradient(left,rgba(0, 51, 102, 0) 0,rgba(0, 51, 102, 0) 100%);
     background-image: -webkit-gradient(linear,left top,right top,from(rgba(0, 51, 102, 0)),to(rgba(0, 51, 102, 0)));
     background-image: linear-gradient(to right,rgba(0, 51, 102, 0) 0,rgba(0, 51, 102, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(0, 51, 102, 0) 0,rgba(0, 51, 102, 0) 100%);
    background-image: -o-linear-gradient(left,rgba(0, 51, 102, 0) 0,rgba(0, 51, 102, 0) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0, 51, 102, 0)),to(rgba(0, 51, 102, 0)));
    background-image: linear-gradient(to right,rgba(0, 51, 102, 0) 0,rgba(0, 51, 102, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}

.text-muted {
    color: #777;
    font-style: italic;
}

#job-search-field {
    min-width: 250px;
    margin-bottom: 20px;
    padding:5px;
}

#address {
    padding:4px;
}

.go-right {
    float:right;
}

.jobpost-jobtitle h1 {
    padding:0px;
    margin: 0px;
}

.job-search-field-area {
    padding: 10px;
    height: 70px;
    border-bottom: 1px solid#eee;
    margin-bottom: 13px;
}

.home-slider {
    padding-left:0px;
}

.home-job-search {
    padding-top: 20px;
}

.home-banner-search-area {
    background: #fff;
}
