{#{%  extends 'base.html' %}#}
{% load humanize %}
{% load i18n %}
{% load static %}
{% load cms_extras %}

{#{% block topbar %}#}
{#    {% include "topbar.html" %}#}
{#{% endblock %}#}
{#{% block header %}#}
{#    {% include "header.html" %}#}
{#    {% block messages %}#}
{#        {% include "widgets/messages.html" %}#}
{#    {% endblock %}#}
{#{% endblock %}#}
{% block featured %}

        {% for object in object_list %}
            {% if object.layout %}
              {% include object.layout.template %}
            {% else %}
                <h4>{% blocktrans %}No custom layout found. Please create a layout and assign it to this banner then try again{% endblocktrans %}</h4>
            {% endif %}
        {% empty %}
            <div class="no-records-found container">{% blocktrans %}No records found{% endblocktrans %}</div>

        {% endfor %}


{% endblock %}

