{%  extends 'themes/layout.html' %}
{% load humanize %}
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}


{% block content %}
    <div class="small-12 medium-12 large-12 columns">
        <div><h3>{{ object.title }}</h3></div>
    {% if user.is_superuser or user.is_staff  %}
        <div class="content-edit"> {% include "util/revision/_revision.html" %}
        <span class="edit-right"><a href="{%  url 'cta_update' object.slug %} " >
            <span class="icon-pencil2"> </span>{% trans "Edit" %}</a></span>
        </div>
    {% endif %}
        <div>{{ object.hero_text|safe }}</div>
        <div>{{ object.sub_text|safe }}</div>

    {% if user.is_superuser or user.is_staff  %}
        <br>
        <a href="{%  url 'cta_update' object.slug %} " class="button-new-blue">{% trans "Edit" %}</a>
        {% include "util/revision/_revision_audit.html" %}
    {% endif %}
    </div>
{% endblock %}




