{%  extends 'themes/layout.html' %}
{% load humanize %}
{% load i18n %}
{% load static %}

{% block title %}{% endblock %}


{% block featured %}
    <div class="small-12 columns">
        {% for object in object_list %}
            {% if object.layout == 'cta-right' %}
                {% include 'featured/cta/cta-right.html' %}
            {% elif object.layout == 'cta-left' %}
                {% include 'featured/cta/cta-left.html' %}
            {% elif object.layout == 'cta-center' %}
                {% include 'featured/cta/cta-center.html' %}
            {% elif object.layout == 'cta-center-subtext-below' %}
                {% include 'featured/cta/cta-center-subtext-below.html' %}
            {% elif object.layout == 'hero-text-center' %}
                {% include 'featured/cta/hero-text-center.html' %}
            {% elif object.layout == 'grid-3-cta-caption-top' %}
                {% include 'featured/cta/grid-3-cta-caption-top.html' %}
            {% elif object.layout == 'grid-4-cta-caption-top' %}
                {% include 'featured/cta/grid-4-cta-caption-top.html' %}
            {% elif object.layout == 'grid-2-image-left-cta-right' %}
                {% include 'featured/cta/grid-2-image-left-cta-right.html' %}
            {% elif object.layout == 'grid-2-cta-left-image-right' %}
                {% include 'featured/cta/grid-2-cta-left-image-right.html' %}
            {% elif object.layout == 'grid-2-cta-quote-left-image-right' %}
                {% include 'featured/cta/grid-2-cta-quote-left-image-right.html' %}
            {% elif object.layout == 'grid-2-text-left-text-right' %}
                {% include 'featured/cta/grid-2-text-left-text-right.html' %}
            {% elif object.layout == 'hero-text-center-button' %}
                {% include 'featured/cta/hero-text-center-button.html' %}
            {% elif object.layout == 'hero-text-center-button-subtext-below' %}
                {% include 'featured/cta/hero-text-center-button-subtext-below.html' %}
            {% elif object.layout == 'meet-leadership' %}
                {% include 'featured/cta/meet-leadership.html' %}
            {% elif object.layout == 'grid-3-cta-image-subtext-inside' %}
                {% include 'featured/cta/grid-3-cta-image-subtext-inside.html' %}
            {% elif object.layout == 'custom-layout' %}
                {% include 'featured/cta/custom-layout.html' %}
            {% else %}
                <div class="banner-wrapper" style="margin-top:{{ object.margin_top }}; margin-bottom:{{ object.margin_bottom }}">
                    {% if object.icon %}
                        <div class="icon-bg"><span class="{{ object.icon.icon_class }}" style="color:{{ object.icon.icon_color }}; font-size:{{ object.icon.size }} !important; border-left:solid {{ object.icon.icon_bg_color }} 20px; border-right: solid {{ object.icon.icon_bg_color }} 20px; background: {{ object.icon.icon_bg_color }}"></span></div>
                    {% endif %}
                    {% if object.img.url %}
                        <img src="{{object.img.url}}">
                    {% endif %}
                    {{object.cta.name}}
                </div>

            {% endif %}



        {% empty %}
            <div class="no-records-found container">{% blocktrans %}No records found{% endblocktrans %}</div>

        {% endfor %}

    </div>
{% endblock %}

