{% load static %}
{% load i18n %}
{#{% load url from future %}#}
{#{% load rules %}#}
{#{% load common_tags %}#}

<ul class="dropdown menu" data-dropdown-menu >
{#    <li><a href="{% url 'about_banner_list' %}">{% blocktrans %}Our Story{% endblocktrans %}</a></li>#}
    <li class="dropdown">
        <a href="{% url 'about_banner_list' %}" data-toggle="dropdown" class="dropdown-toggle">{% trans "Our Story" %}</a>

        <ul class="menu">
            <li class="our-story-menu">
                <a href="{% url 'leadership_team_list' %}" class="lng-change">{% blocktrans %}Our Leadership Team{% endblocktrans %}</a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="{% url 'shop_banner_list' %}" data-toggle="dropdown" class="dropdown-toggle">{% trans "Shop" %}</a>

        <ul class="menu" data-url="#">
            <li class="product-menu">
                <a href="{% url 'shop_banner_list' %}" class="lng-change"
                   data-code="/shop">{% blocktrans %}New Products{% endblocktrans %}</a>
            </li>
            <li class="product-menu">
                <a href="{% url 'shop_banner_list' %}" class="lng-change"
                   data-code="{% url 'shop_banner_list' %}">{% blocktrans %}Shop Online{% endblocktrans %}</a>
            </li>
        </ul>
    </li>
    <li><a href="{% url 'host_banner_list' %}">{% blocktrans %}Host A Party{% endblocktrans %}</a></li>
    <li><a href="{% url 'join_banner_list' %}">{% trans "Join" %}</a></li>
    <li><a href="{% url 'all_news_list' %}">{% trans "News" %}</a></li>
</ul>