{% if page.paginator.num_pages > 1 %}
    <div class="paging_simple_numbers text-right">
        <ul class="pagination">
            <li class="paginate_button next {% if not page.has_previous %}disabled{% endif %}">
                <a href="{% if page.has_previous %}{{ request.path }}?page=1{{ page.query }}{% endif %}">&laquo;</a>
            </li>

            <li class="paginate_button previous {% if not page.has_previous %}disabled{% endif %}">
                <a href="{% if page.has_previous %}{{ request.path }}?page={{ page.previous_page_number }}{{ page.query }}{% endif %}">Previous</a>
            </li>

            {% for n in page.visible_links %}
                <li class="paginate_button {% if page.number == n %}active{% endif %}">
                    {% if n == 0 %}
                    <span>...</span>
                    {% else %}
                    <a href="{{ request.path }}?page={{ n }}{{ page.query }}">{{ n }}</a>
                    {% endif %}
                </li>
            {% endfor %}

            <li class="paginate_button next {% if not page.has_next %}disabled{% endif %}">
                <a href="{% if page.has_next %}{{ request.path }}?page={{ page.next_page_number }}{{ page.query }}{% endif %}">Next</a>
            </li>

            <li class="paginate_button next {% if not page.has_next %}disabled{% endif %}">
                <a href="{% if page.has_next %}{{ request.path }}?page={{ page.paginator.num_pages }}{{ page.query }}{% endif %}">&raquo;</a>
            </li>
        </ul>
    </div>
{% endif %}