{% load humanize %}
{% load i18n %}
{% load static %}

<select id="categories">
    <option value="all">{% blocktrans %}SELECT A CATEGORY{% endblocktrans %}</option>
    {% for q in faq_category_list %}
        <option value="faq-category" class="form-control" name="{{ q.category }}">{{ q.category }}</option>
    {% endfor %}
</select>