footer {
  @include full-box;
  background-color: $background-tert;
  border-top: 6px solid $background-alt;
  font-size: 0.875em;
  padding: $space 0;

  nav {
    @include better-box;
    float: left;
    font-family: "Proxima-Nova-B";

    // Primary Mobile - Tablet & Below
    @media screen and (max-width: $tablet) {
      width: 50%;
    } // End Tablet & Below

    // Secondary Mobile - Phone & Below
    @media screen and (max-width: $phone) {
      padding: $half-space 0;
      width: 100%;
    } // End Phone & Below

    h3 {
      margin-bottom: $nano-space;
    }

    &.social-links {
      @include better-box;
      clear: right;
      float: right;
      margin-top: $half-space;
      text-align: right;

      // Secondary Mobile - Phone & Below
      @media screen and (max-width: $phone) {
        margin-top: 0;
        text-align: left;
      } // End Phone & Below

      > a {
        @include social-link;
      } // End > a
    } // End .social-links

    a {
      @include better-box;
      color: $default;
      padding: $nano-space $micro-space $nano-space 0;

      // Primary Mobile - Tablet & Below
      @media screen and (max-width: $tablet) {
        @include full-box;
      } // End Tablet & Below

      &:hover {
        color: $brand;
      } // End &:hover
    } // End a
  } // End nav

  a.consultant-login {
    @include cta($brand, $background);
    clear: right;
    float: right;
    font-size: 1.15em;

    // Secondary Mobile - Phone & Below
    @media screen and (max-width: $phone) {
      float: left;
    } // End Phone & Below
  } // End a.consultant-login

  .sub-footer {
    @include better-box;
    float: left;
    font-size: 0.875em;
    padding: $half-space 0;

    div {
      font-size: 0.875em;
      line-height: 140%;
    } // End div
  } // End .sub-footer
} // End footer
