body {
  background-color: $background;
  color: $default;
  font-family: $font-stack;
  font-size: $base;

  // Primary Mobile - Tablet & Below
  @media screen and (max-width: $tablet){
    font-size: $tablet-base;
  } // End Tablet & Below

  // Secondary Mobile - Phone & Below
  @media screen and (max-width: $phone){
    font-size: $phone-base;
  } // End Phone & Below
} // End body

p {
  @include larger;
  font-family: "Proxima-Nova-L";
  line-height: 140%;
  margin-bottom: $minor-space;
} // End p

strong {
  font-family: "Proxima-Nova-B";

  em {
    font-family: "Proxima-Nova-BI";
  }
}

em {
  font-family: "Proxima-Nova-I";

  strong {
    font-family: "Proxima-Nova-BI";
  }
}

nav {
	&.social-links-circles {
		display: block;

		> a {
			display: inline-block;
			position: relative;
			margin-left: -2px;
			margin-right: 10px;
			background: teal;
			color: #ffffff;
			width: 25px;
			height: 25px;
			text-decoration: none;

			svg {
				width: 20px;
				height: 20px;
				color: #ffffff;
			}
		} // End > a
	} // End .social-links-circles
} // End nav

blockquote {
	color: $teal;
	padding: 0;
	margin: 0;
	font-style: italic;
	font-family: "Proxima-Nova";
	font-size: 1.31em;
	line-height: 1.2;
	border: 0;
}

// Default Link Style
@mixin link {
  color: $brand;

  &:hover {
    color: $brand-alt;
  }
}

.content {
  text-align: left;

  img {
    @include better-box;
    height: auto;
    margin-bottom: $minor-space;
    max-width: 380px;

    // Secondary Mobile - Phone & Below
    @media screen and (max-width: $phone){
      @include full-box;
    } // End Phone & Below

    &.aligncenter {
      @include full-box(block);
      margin: 0 auto $minor-space;
    }

    &.alignleft {
      float: left;
      margin-right: $half-space;

      // Secondary Mobile - Phone & Below
      @media screen and (max-width: $phone){
        margin-right: 0;
      } // End Phone & Below
    }

    &.alignright {
      float: right;
      margin-left: $half-space;

      // Secondary Mobile - Phone & Below
      @media screen and (max-width: $phone){
        margin-left: 0;
      } // End Phone & Below
    }
  }

  ul, ol {
    @include full-box;
    margin-bottom: $minor-space;

    &, li {
      @include better-box(list-item);
      line-height: 160%;
      width: auto;

      > ul {
        margin: $micro-space 0;

        li {
          list-style-type: circle;

          a {
            @include link;
          }
        } // End li
      } // End > ul
    } // End &, li

    li {
      margin-bottom: $micro-space;
      margin-left: $space;

      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
    }
  } // End ul, ol

  ol {
    li {
      list-style: decimal;
    }
  } // End ol

  ul {
    li {
      list-style: disc;
    }
  } // End ul

  table {
    @include better-box(table);
    background-color: $background;
    margin-bottom: $minor-space;

    thead {
      background-color: $brand-alt;
      color: $background;
    }

    tr {
      @include better-box(table-row);
    }

    th, td {
      border: 1px solid $default;
      padding: $nano-space $micro-space;
    }

  }

  code {
    background-color: $background-alt;
    border: 1px solid $border-color;
    border-radius: 0.25em;
    padding: 0 0.25em;
  }

  pre {
    &, code {
      @include full-box;
    }

    code {
      padding: 0.25em;
    }
  } // End pre
} // End .content
