h1, h2, h3, h4 {
  @include full-box;
  line-height: 120%;
  margin-bottom: $half-space;

	a {
		border-bottom: 1px solid;
	}
}

@mixin h1($color: darken($default, 10%)) {
  color: $color;
  font-family: "Proxima-Nova-L";
  font-size: 3em;

  // Big Phone
  @media screen and (max-width: $big-phone){
    font-size: 2.4em;
  } // End Big Phone

  // Secondary Mobile - Phone & Below
  @media screen and (max-width: $phone){
    font-size: 1.75em;
  } // End Phone & Below
}

h1 {
	@include h1;

	&.thick {
		font-family: 'Proxima-Nova-B';
	}
}

@mixin massive-heading {
	font-size: 5.25em;
	line-height: 1;
	margin-bottom: $half-space;

	// Primary Mobile - Tablet & Below
	@media screen and (max-width: $tablet){
		font-size: 4em;
	} // End Tablet & Below

	// Secondary Mobile - Phone & Below
	@media screen and (max-width: $phone){
		font-size: 2.5em;
	} // End Phone & Below
} // End massive-heading

@mixin h2($color: $brand) {
	color: $color;
	font-family: "Proxima-Nova";
	font-size: 2.5em;
	line-height: 110%;

	// Primary Mobile - Tablet & Below
	@media screen and (max-width: $tablet){
		font-size: 2em;
	} // End Tablet & Below

	// Secondary Mobile - Phone & Below
	@media screen and (max-width: $phone){
		font-size: 1.75em;
	} // End Phone & Below
} // End h2

h2 {
	@include h2;
} // End h2

h3 {
	font-family: "Proxima-Nova-L";
	font-size: 2.25em;

	// Primary Mobile - Tablet & Below
	@media screen and (max-width: $tablet) {
		font-size: 2em;
	}
	// End Tablet & Below

	// Secondary Mobile - Phone & Below
	@media screen and (max-width: $phone) {
		font-size: 1.35em;
	} // End Phone & Below
}

h4 {
	@include better-box;
	background-color: $background;
	font-size: 1.75em;
	margin-bottom: $space;
	z-index: 1;
}

h5 {
	@include better-box;
	font-family: "Proxima-Nova-SB";
	font-size: 1.5em;
	line-height: 120%;
	margin-bottom: $micro-space;

	// Primary Mobile - Tablet & Below
	@media screen and (max-width: $tablet) {
		font-size: 1.4em;
	} // End Tablet & Below

	// Secondary Mobile - Phone & Below
	@media screen and (max-width: $phone) {
		font-size: 1.2em;
	} // End Phone & Below
} // End h5

// Sub Headings
.sub-heading {
	color: $default;
	font-family: "Proxima-Nova-L";
	font-size: 1.375em;
	line-height: 140%;
	margin: 0 auto $minor-space;
	max-width: 580px;

	// Primary Mobile - Tablet & Below
	@media screen and (max-width: $tablet) {
		font-size: 1.25em;
		width: 80%;
	}
	// End Tablet & Below

	// Secondary Mobile - Phone & Below
	@media screen and (max-width: $phone) {
		font-size: 1em;
		width: 90%;
	}
	// End Phone & Below

	&.alt {
		@include larger;
	}
}

// End .sub-heading

.sub-heading-container {
	margin-bottom: $double-minor-space;
}

section {
	> .sub-heading {
		margin-bottom: $double-space;
	}
}

.line-heading-container {
  @include full-box;
  text-align: center;

  &:after {
    @include full-box;
    background-color: $background-alt;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 0.5em;
  }
} // End line-heading-container

.content {
	h1, h2, h3, h4, h5 {
		margin-bottom: $micro-space;
	}
}
