a.mobile-menu-button {
  background-color: transparent;
  cursor: pointer;
  display: none;
  float: left;
  padding: 3.65em 0 3em;
  transition: all 0.3s ease 0s;
  z-index: 9;

  // Secondary Mobile - Phone & Below
  @media screen and (max-width: $phone) {
    @include better-box;
    padding: 2em 2em 2em 0;
  } // End Phone & Below

  &.open {
    .lines {
      background-color: transparent;

      &:before, &:after {
        top: 0;
      }

      &:before {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &:after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    } // END .lines
  } // END .menu-button.open

  $lines: 5px;
  $width: 30px;

  .lines {
    background-color: $brand;
    display: block;
    height: $lines;
    position: relative;
    transition: all 0.3s ease 0s;
    width: $width;

    &:before, &:after {
      background-color: $brand;
      content: '';
      display: inline-block;
      height: $lines;
      left: 0;
      position: absolute;
      transition: 0.3s;
      width: $width;
    }

    &:before {
      top: 10px;
    }

    &:after {
      top: -10px;
    }
  } // END .lines
} // END .menu-button
