.nav-bar {
  @include animate;
  @include full-box(table);
  background-color: $background;
  z-index: 1;

  a {
    &.logo {
      @include better-box;
      float: left;
      margin-right: 2.5em;
      padding: 1.4em 0;

      // Secondary Mobile - Phone & Below
      @media screen and (max-width: $phone) {
        left: 0;
        margin: 0 20%;
        padding: 1em 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 60%;
      } // End Phone & Below

      svg {
        height: 2.8em;
        width: 11em;

        // Secondary Mobile - Phone & Below
        @media screen and (max-width: $phone) {
          height: 2.3em;
          width: 10em;
        } // End Phone & Below

        & use {
          fill: $logo-brand;
        }
      } // End svg
    } // End &.logo

    &.cta {
      @include better-box;
      @include cta(transparent, $brand, $brand);
      float: right;
      margin: 2em 0;

      // Primary Mobile - Tablet & Below
      @media screen and (max-width: $tablet) {
        display: none;
      } // End Tablet & Below
    } // End cta
  } // End a

  nav {
    float: left;

    &, ul, li, a {
      @include better-box;
    }

    // Secondary Mobile - Phone & Below
    @media screen and (max-width: $phone) {
      display: none;
    } // End Phone & Below

    ul {
      > li {
        &.menu-item-has-children {
          > a {
            padding-right: 1.35em;

            &:after {
              border-left: 0.3em solid transparent;
              border-right: 0.3em solid transparent;
              border-top: 0.3em solid $brand-alt;
              content: "";
              height: 0;
              position: absolute;
              right: 0.5em;
              top: 3em;
              width: 0;
            } // End &:after
          } // End > a

          // Submenu
          > ul {
            background-color: $background;
            border-bottom: 6px solid $background-alt;
            display: none;
            left: -$micro-space;
            position: absolute;
            top: 6.85em;
            width: 17em;

            li, a {
              @include full-box;
            }

            li {
              a {
                letter-spacing: 0;
                padding: $nano-space $minor-space;
                text-transform: none;

                &:hover {
                  color: $brand-alt;
                } // End &:hover

                &:after {
                  content: none;
                }
              } // End a

              > .sub-menu {
                @include full-box;
                top: 0;
                left: 0;
                border: none;
                margin: 0;
                padding: 0;

                a {
                  &, &:last-of-type {
                    padding: $nano-space $minor-space $nano-space $space;
                  }
                } // End a
              } // End sub-menu

              &:last-of-type {
                a {
                  padding-bottom: $minor-space;
                }
              }
            } // End li
          } // End > ul
        } // End &.menu-item-has-children

        &:last-of-type {
          > ul {
            width: 15em;
          }
        } // End &:last-of-type

        > a {
          color: $default;
          letter-spacing: 0.04em;
          padding: 2.6em $micro-space;
          text-transform: uppercase;

          // Primary Mobile - Tablet & Below
          @media screen and (max-width: $tablet){
            letter-spacing: 0.02em;
          } // End Tablet & Below

          &.current {
            // border-bottom: 3px solid $brand;
            color: $brand-alt;

            &:after {
              background-color: $brand;
              bottom: 2em;
              content: "";
              height: 3px;
              left: 0.75rem;
              position: absolute;
              width: calc(100% - 1.5rem);
            }
          } // End &.current
        } // End > a
      } // End > li
    } // End ul
  } // End nav
} // End .nav-bar
