.surheader {
  @include full-box(table);
  background-color: rgba($default, 0.85);
  color: $background;

  // Secondary Mobile - Phone & Below
  @media screen and (max-width: $phone) {
    display: none;
  } // End Phone & Below
  
  .wrap {
    // Primary Mobile - Tablet & Below
    @media screen and (max-width: $tablet) {
      width: 100%;
    } // End Tablet & Below

    // Secondary Mobile - Phone & Below
    @media screen and (max-width: $phone) {
      width: 90%;
    } // End Phone & Below
  } // End wrap

  .global-nav {
    @include better-box;
    float: right;
    font-size: 0.9em;

    span, nav, img {
      @include better-box;
      float: left;
      padding-left: $nano-space;

      // Secondary Mobile - Phone & Below
      @media screen and (max-width: $phone){
        padding-left: $nano-space / 3;
      } // End Phone & Below
    }

    img {
      height: 1.45em;
      width: auto;
    }

    span {
      line-height: 170%;

      &.mobile-kill {
        // Secondary Mobile - Phone & Below
        @media screen and (max-width: $phone){
          display: none;
        } // End Phone & Below
      }
    } // End > span

    nav {
      margin-left: $half-space;

      // Secondary Mobile - Phone & Below
      @media screen and (max-width: $phone){
        margin-left: 0;
      } // End Phone & Below

      a {
        @include better-box;
        color: $background;
        cursor: pointer;
        float: left;
        font-family: "Proxima-Nova-SB";
        font-size: 0.875em;
        padding: $micro-space;
        // text-decoration: underline;
        text-transform: uppercase;
        
        // Secondary Mobile - Phone & Below
        @media screen and (max-width: $phone) {
          padding: $nano-space;
        } // End Phone & Below
        
        &:after {
          content: "|";
          opacity: 0.5;
          position: absolute;
          right: -0.15em;
        }
        
        &:last-child {
          padding-right: 0;
          
          &:after {
            content: "";
          }
        } // End last-child
      } // End a
    } // End nav
    
    a {
      &.cta {
        background-color: $brand;
        border: none;
        display: none;
        margin-left: $micro-space;
        padding: $micro-space;
        
        // Primary Mobile - Tablet & Below
        @media screen and (max-width: $tablet) {
          display: inline-block;
        } // End Tablet & Below
      } // End cta
    }
  } // End .global-nav
} // End .surheader
