<div class="banner-wrapper {{object.slug }}" style="margin-top:{{ object.margin_top }}; margin-bottom:{{ object.margin_bottom }}">
    {% if object.icon %}<div class="icon-bg {{object.slug }}"><span class="{{ object.icon.icon_class }}"></span></div>{% endif %}
    {% if object.title %}<div class="banner-title {{object.slug }}"> {{object.title }}</div>{% endif %}
    <div class="row container-wrapper {{object.slug }}">
        <div class="custom-wrapper" >
            {% for cta in object.cta.all %}
                {% if cta.hero_text %}<div class="hero-text {{ cta.slug }}">{{ cta.hero_text|safe }}</div>{% endif %}
                {% if cta.sub_text %}<div class="sub-text {{cta.slug }}" >{{ cta.sub_text|safe }}</div>{% endif %}
                {% if cta.link %}<div class="cta-btn {{object.slug }}"> <a href="{{ cta.link }}" class="button-new-success {{cta.slug }}"> {{ cta.link_label }}</a></div>{% endif %}
            {% endfor %}
        </div>
        <div class="banner-caption {{object.slug }}">{% if object.caption %}{{object.caption}}{% endif %}</div>
        <div class="banner-img {{object.slug }}">{% if object.img %}<img src="{{object.img.url}}">{% endif %}</div>
    </div>
</div>