<div class="banner-wrapper {{object.slug }}" style="margin-top:{{ object.margin_top }}; margin-bottom:{{ object.margin_bottom }}">
    {% if object.icon %}
        <div class="icon-bg"><span class="{{ object.icon.icon_class }}" style="color:{% if object.icon_color_override %}{{ object.icon_color_override }}{% else %}{{ object.icon.icon_color }}{% endif %}; font-size:{{ object.icon.size }} !important; border-left:solid {{ object.icon.icon_bg_color }} 20px; border-right: solid {{ object.icon.icon_bg_color }} 20px; background: {{ object.icon.icon_bg_color }}"></span></div>
    {% endif %}
    <div class="row" data-equalizer data-equalize-on="medium" style="background: url('{{object.img.url}}') no-repeat; min-height: {{object.img.height}}px; background-size:contain; background-position:center;">
        {% if object.title %}<div class="banner-title {{ object.slug }}">{{ object.title }}</div>{% endif %}
        {% if object.caption %}<div class="banner-grid4-caption {{ object.slug }}">{{ object.caption|safe }}</div>{% endif %}
        {% for cta in object.cta.all %}
        <div class="cta-wrapper small-12 medium-3 large-3 columns" data-equalizer-watch>
            <div class="{{ cta.shape|dictsort:"sort_order" }} {{ cta.shape_color }}" style="width:{{ cta.width }}; height:{{ cta.height }}; padding: {{ cta.padding }};  background: {{ cta.shape_color }}; position: {{ cta.position }}; margin-top: {{ cta.margin_top }}; text-align: {{ object.placement }}; margin-left: auto; margin-right: auto" >
                <div style="text-align: {{ object.placement }}">
                    {% if cta.hero_icon %}<span class="{{ cta.hero_icon.icon_class }}" style="color:{{ cta.hero_icon.icon_color }}; font-size:{{ cta.hero_icon.size }} !important; border-left:solid {{ cta.shape_color }} 20px; border-right: solid {{ cta.shape_color }} 20px; background: {{ cta.shape_color }}"></span>{% endif %}
                    {% if cta.hero_text %}<div class="hero-text {{ cta.slug }}" style="color:{{ cta.hero_text_color }}; font-size: {{ cta.hero_text_size }};">{{ cta.hero_text|safe }}</div>{% endif %}
                    {% if cta.sub_text %}<div class="sub-text" style="color:{{ cta.sub_text_color }}; font-size: {{ cta.sub_text_size }};">{{ cta.sub_text|safe }}</div>{% endif %}
                    {% if cta.link %}<a href="{{ cta.link }}" style="color: {{ cta.link_color }}"> {{ cta.link_label }}</a>{% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>