<div class="banner-wrapper {{object.slug }}" style="margin-top:{{ object.margin_top }}; margin-bottom:{{ object.margin_bottom }}">
    {% if object.icon %}
        <div class="icon-bg"><span class="{{ object.icon.icon_class }}" style="color:{% if object.icon_color_override %}{{ object.icon_color_override }}{% else %}{{ object.icon.icon_color }}{% endif %}; font-size:{{ object.icon.size }} !important; border-left:solid {{ object.icon.icon_bg_color }} 20px; border-right: solid {{ object.icon.icon_bg_color }} 20px; background: {{ object.icon.icon_bg_color }}"></span></div>
    {% endif %}
{#    {% if object.title %}<div class="banner-title"> {{object.title }}</div>{% endif %}#}
    <div class="row container-wrapper">
        <div class="cta-wrapper small-12 medium-6 large-6 columns" >
            {% for cta in object.cta.all %}
                {% if cta.hero_text %}<div class="hero-text {{ cta.slug }}" style="color:{{ cta.hero_text_color }}; font-size: {{ cta.hero_text_size }};">{{ cta.hero_text|safe }}</div>{% endif %}
                {% if cta.sub_text %}<div class="sub-text" style="color:{{ cta.sub_text_color }}; font-size: {{ cta.sub_text_size }};">{{ cta.sub_text|safe }}</div>{% endif %}
                {% if cta.link %}<a href="{{ cta.link }}" class="button-new-success"> {{ cta.link_label }}</a>{% endif %}
            {% endfor %}
        </div>
        <div class="small-12 medium-6 large-6 columns">
            <div class="banner-img {{object.slug}}"> {% if object.img %}<img src="{{object.img.url}}">{% endif %}</div>
        </div>
    </div>
</div>