body.host {
  // Bottom Callout Section
  .bottom-callout-section {
    @include image-callout-section($brand-ter, url("../../assets/images/norwex-party.jpg"));
  }

  // Why host section
  .why-host-section {
    h2 {
      margin-bottom: 1em;
    }

    .highlights {
      .highlight {
        padding: 0 1em;

        &:nth-child(1) {
          .image-highlight {
            @include image-highlight(url("../../assets/images/norwex-party.jpg"));
          }
        } // End &:nth-child(1)

        &:nth-child(2) {
          .image-highlight {
            @include image-highlight(url("../../assets/images/norwex-hero-2.jpg"));
          }
        } // End &:nth-child(1)

        &:nth-child(3) {
          .image-highlight {
            @include image-highlight(url("../../assets/images/enviro-cloths.jpg"));
          }
        } // End &:nth-child(1)

      } // End .highlight
    } // End .highlights
  } // End .why-host-section

  // What to Expect
  .what-to-expect {
    @include section-callout($brand-alt);

    h2 {
      margin-bottom: 1em;
    }
  } // End .what-to-expect
} // End body.host
