{%  extends 'news/layout.html' %}
{% load humanize %}
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}

{% block featured %}

    <div class="small-12 medium-9 columns">
    <section class="section content-page text-left">
        <div class="wrap">
            <div class="row">
                <div class="columns">
                    <h1 class="page-heading">{{ object.title }}</h1>
                </div>
                {% if user.is_superuser or user.is_staff  %}
                    <div class="content-edit"> {% include "util/revision/_revision.html" %}
        <span class="edit-right"><a href="{%  url 'news_update' object.slug %} " >
            <span class="icon-pencil2"> </span>{% trans "Edit" %}</a></span>
                    </div>
                {% endif %}
            </div>

            <div class="row">
                <div class="container">
                    <article class="article">
                        {% if object.img.url %}
                            <img src="{{ object.img.url }}" alt="{{ object.title }}">
                        {% else %}
{#                            <img src="http://placehold.it/1200x200" alt="{{ object.title }}">#}
                        {% endif %}
                        <br>
                        <div class="content-area">
                            {{ object.content|safe }}
                        </div>
                        <p class="article__published-on">{% blocktrans %}Published on{% endblocktrans %}: <span>{{ object.publish_start|apnumber }}</span></p>
                    </article>

                <div class="share-this"> {% include "util/social/_social_share.html" %}</div>


                    {% if user.is_superuser or user.is_staff  %}
                        <br>
                        <a href="{%  url 'news_update' object.slug %} " class="button-new-blue">{% trans "Edit" %}</a>
                        {% include "util/revision/_revision_audit.html" %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    </div>
    <div class="small-12 medium-3 large-3 columns">
                {% include 'menu/_newsmenu.html' %}
				<div class="news-archive">
                <h2 class="h4 mbs">News Archive</h2>
				<ul class="list-unstyled">
					<li><a href="#">July 2016</a></li>
					<li><a href="#">June 2016</a></li>
					<li><a href="#">May 2016</a></li>
					<li><a href="#">April 2016</a></li>
					<li><a href="#">March 2016</a></li>
					<li><a href="#">February 2016</a></li>
					<li><a href="#">January 2016</a></li>
					<li><a href="#">December 2015</a></li>
					<li><a href="#">November 2015</a></li>
					<li><a href="#">October 2015</a></li>
					<li><a href="#">September 2015</a></li>
					<li><a href="#">August 2015</a></li>
					<li><a href="#">July 2015</a></li>
					<li><a href="#">June 2015</a></li>
					<li><a href="#">May 2015</a></li>
					<li><a href="#">April 2015</a></li>
					<li><a href="#">March 2015</a></li>
					<li><a href="#">February 2015</a></li>
					<li><a href="#">January 2015</a></li>
				</ul>
                </div>
			</div>

{% endblock %}








