{%  extends 'news/layout.html' %}
{% load crispy_forms_tags %}
{% crispy form helper %}
{% load humanize %}
{% load i18n %}
{% load static %}


{% load static %}


{% block featured %}
    <section class="section content-page text-left">
        <div class="wrap">
            <div class="row">
                <div class="columns">
                    <h1 class="page-heading">{% blocktrans %}Create news item{% endblocktrans %}</h1>
                </div>
            </div>

            <div class="row">
                <div class="columns">
                   {% crispy form %}
                </div>
            </div>
        </div>
    </section>

    {{ form.media }}

    <script type="text/javascript" src="{% static 'vendor/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-datepicker/css/datepicker3.css' %}"/>

    <script>
    $(document).ready(function() {
        $('.dateinput').datepicker();
        $('input[name=current_indicator]').click(function() {
            var endDate = $('#div_id_end_date');
            if ($(this).is(':checked')) {
                endDate.hide();
            }
            else {
                endDate.show();
            }
        });
    });

    $(function(){
        if ($('.geoposition-search').length) {
            $('input[name="country"], input[name="city"], input[name="address"]').focusout(function() {
                $('.geoposition-search input').val([
                    $('input[name="country"]').val(), $('input[name="city"]').val(), $('input[name="address"]').val(),
                ].join(' ')).trigger('keydown');
            });
        }
    });

    </script>

{% endblock %}
