{%  extends 'news/layout.html' %}
{% load humanize %}
{% load i18n %}
{% load static %}

{% block title %}{% endblock %}

{% block featured %}

<section class="section content-page text-left">
	<div class="wrap">
		<div class="row">
			<div class="columns">
				<h1 class="page-heading">News from Norwex</h1>
			</div>
		</div>

		<div class="row">
			<div class="medium-8 large-9 columns">
				<div class="row">
					<article class="article article--news clearfix">
						<div class="medium-4 large-3 columns">
							<img src="http://placehold.it/500x400" alt="" class="article--news__image">
						</div>
						<div class="medium-8 large-9 columns">
							<h5 class="article--news__heading"><a href="#">US Only: Out Of Stock Notice</a></h5>
							<span class="article--news__date">Published on : Jul 27, 2016</span>
							<p class="article--news__excerpt">The Large Towel,Taupe (309000) and Bath Towel Trio, Taupe (1308) are no longer available. These are discontinued items&hellip; <a class="article--news__readmore" href="#">Read More &raquo;</a></p>
						</div>
					</article>
					<article class="article article--news clearfix">
						<div class="medium-4 large-3 columns">
							<img src="http://placehold.it/500x400" alt="" class="article--news__image">
						</div>
						<div class="medium-8 large-9 columns">
							<h5 class="article--news__heading"><a href="#">US Only: Out Of Stock Notice</a></h5>
							<span class="article--news__date">Published on : Jul 27, 2016</span>
							<p class="article--news__excerpt">The Large Towel,Taupe (309000) and Bath Towel Trio, Taupe (1308) are no longer available. These are discontinued items&hellip; <a class="article--news__readmore" href="#">Read More &raquo;</a></p>
						</div>
					</article>
					<article class="article article--news clearfix">
						<div class="medium-4 large-3 columns">
							<img src="http://placehold.it/500x400" alt="" class="article--news__image">
						</div>
						<div class="medium-8 large-9 columns">
							<h5 class="article--news__heading"><a href="#">US Only: Out Of Stock Notice</a></h5>
							<span class="article--news__date">Published on : Jul 27, 2016</span>
							<p class="article--news__excerpt">The Large Towel,Taupe (309000) and Bath Towel Trio, Taupe (1308) are no longer available. These are discontinued items&hellip; <a class="article--news__readmore" href="#">Read More &raquo;</a></p>
						</div>
					</article>
					<article class="article article--news clearfix">
						<div class="medium-4 large-3 columns">
							<img src="http://placehold.it/500x400" alt="" class="article--news__image">
						</div>
						<div class="medium-8 large-9 columns">
							<h5 class="article--news__heading"><a href="#">US Only: Out Of Stock Notice</a></h5>
							<span class="article--news__date">Published on : Jul 27, 2016</span>
							<p class="article--news__excerpt">The Large Towel,Taupe (309000) and Bath Towel Trio, Taupe (1308) are no longer available. These are discontinued items&hellip; <a class="article--news__readmore" href="#">Read More &raquo;</a></p>
						</div>
					</article>
					<article class="article article--news clearfix">
						<div class="medium-4 large-3 columns">
							<img src="http://placehold.it/500x400" alt="" class="article--news__image">
						</div>
						<div class="medium-8 large-9 columns">
							<h5 class="article--news__heading"><a href="#">US Only: Out Of Stock Notice</a></h5>
							<span class="article--news__date">Published on : Jul 27, 2016</span>
							<p class="article--news__excerpt">The Large Towel,Taupe (309000) and Bath Towel Trio, Taupe (1308) are no longer available. These are discontinued items&hellip; <a class="article--news__readmore" href="#">Read More &raquo;</a></p>
						</div>
					</article>
				</div>
				<div class="row">
					<div class="small-12 columns">
						<ul class="pagination">
							<li class="arrow unavailable"><a href="">«</a></li>
							<li class="current"><a href="">1</a></li>
							<li><a href="">2</a></li>
							<li><a href="">3</a></li>
							<li><a href="">4</a></li>
							<li class="unavailable"><a href="">…</a></li>
							<li><a href="">12</a></li>
							<li><a href="">13</a></li>
							<li class="arrow"><a href="">»</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="medium-4 large-3 columns">
				<h2 class="h4 mbs">News Archive</h2>
				<ul class="list-unstyled">
					<li><a href="#">July 2016</a></li>
					<li><a href="#">June 2016</a></li>
					<li><a href="#">May 2016</a></li>
					<li><a href="#">April 2016</a></li>
					<li><a href="#">March 2016</a></li>
					<li><a href="#">February 2016</a></li>
					<li><a href="#">January 2016</a></li>
					<li><a href="#">December 2015</a></li>
					<li><a href="#">November 2015</a></li>
					<li><a href="#">October 2015</a></li>
					<li><a href="#">September 2015</a></li>
					<li><a href="#">August 2015</a></li>
					<li><a href="#">July 2015</a></li>
					<li><a href="#">June 2015</a></li>
					<li><a href="#">May 2015</a></li>
					<li><a href="#">April 2015</a></li>
					<li><a href="#">March 2015</a></li>
					<li><a href="#">February 2015</a></li>
					<li><a href="#">January 2015</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>


{#{% block content %}#}
{#    <div class="{% if not object.theme.sidebar_left %} small-12 medium-3 large-3 columns hide {% else %} {{ object.theme.sidebar_left }} {% endif %}">#}
{#        {% include "menu/news/_sidemenu_left.html" %}#}
{#    </div>#}
{#    <div class="{% if not object.theme.content_center %} small-12 medium-9 large-9 columns {% else %} {{ object.theme.content_center }} {% endif %}">#}
{#        <h1>{{ object.page.title }}</h1>#}
{#        {% for object in object_list|dictsort:"sort_order" %}#}
{#            <h5><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h5>#}
{#            <p>{{ object.content | truncatechars:60|safe }}{% if object.content|length > 60 %} <a href="{{ object.get_absolute_url }}">more</a>{% endif %}</p>#}
{#            <hr>#}
{#        {% empty %}#}
{#            <div class="no-records-found">{% blocktrans %}No records found{% endblocktrans %}</div>#}
{#        {% endfor %}#}
{##}
{#    </div>#}
{#    <div class="{% if not object.theme.sidebar_right %} small-12 medium-3 large-3 columns {% else %} {{ object.theme.sidebar_right }} {% endif %}">#}
{#        {% include "menu/news/_sidemenu_right.html" %}#}
{#    </div>#}
{#    #}




{% endblock %}

