{%  extends 'news/layout.html' %}
{% load humanize %}
{% load i18n %}
{% load static %}

{% block title %}{% endblock %}


{% block content %}
    <div class="{% if not object.theme.sidebar_left %} small-12 medium-3 large-3 columns hide {% else %} {{ object.theme.sidebar_left }} {% endif %}">
        {% include "menu/news/_sidemenu_left.html" %}
    </div>
    <div class="{% if not object.theme.content_center %} small-12 medium-9 large-9 columns {% else %} {{ object.theme.content_center }} {% endif %}">
        <h1>{{ object.title }}</h1>
        {% for object in object_list %}
            <h4><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h4>
            <p>{{ object.description | truncatechars:200|safe }} </p>
        {% empty %}
            <div class="no-records-found">{% blocktrans %}No records found{% endblocktrans %}</div>
        {% endfor %}

    </div>
    <div class="{% if not object.theme.sidebar_right %} small-12 medium-3 large-3 columns {% else %} {{ object.theme.sidebar_right }} {% endif %}">
        {% include "menu/news/_sidemenu_right.html" %}
    </div>
{% endblock %}


