
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% if LANGUAGE_CODE == "en-us" %}
    <a href="https://norwex.biz/en_US/consultant/login" title="Login">{% blocktrans %}Consultant Login{% endblocktrans %}<span class="arrow"></span></a>
{% elif LANGUAGE_CODE == "es-us" %}
    <a href="https://norwex.biz/es_US/consultant/login" title="Login">{% blocktrans %}Consultant Login{% endblocktrans %}<span class="arrow"></span></a>
{% elif LANGUAGE_CODE == "en-ca" %}
    <a href="https://norwex.biz/en_CA/consultant/login" title="Login">{% blocktrans %}Consultant Login{% endblocktrans %}<span class="arrow"></span></a>
{% elif LANGUAGE_CODE == "fr-ca" %}
    <a class="cta" href="https://norwex.biz/fr_CA/consultant/login">{% blocktrans %}Consultant Login{% endblocktrans %}</a>
{% endif %}