{% load static %}
{% load i18n %}
{% load hijack_tags %}
{% get_current_language as LANGUAGE_CODE %}

{% if LANGUAGE_CODE == "en-us" %}
    <a href="https://norwex.biz/en_US/consultant/logout" title="Consultant Logout">{% blocktrans %}Consultant Logout{% endblocktrans %}<span class="arrow"></span></a>
{% elif LANGUAGE_CODE == "es-us" %}
    <a href="https://norwex.biz/es_US/consultant/logout" title="Consultant Logout">{% blocktrans %}Consultant Logout{% endblocktrans %}<span class="arrow"></span></a>
{% elif LANGUAGE_CODE == "en-ca" %}
    <a href="https://norwex.biz/en_CA/consultant/logout" title="Consultant Logout">{% blocktrans %}Consultant Logout{% endblocktrans %}<span class="arrow"></span></a>
{% elif LANGUAGE_CODE == "fr-ca" %}
    <a class="cta" href="https://norwex.biz/fr_CA/consultant/logout" title="Consultant Logout">{% blocktrans %}Consultant Logout{% endblocktrans %}</a>
{% endif %}