{% load static %}
{% load i18n %}

<div class="row column">
   <p class="lead">Find a Consultant</p>
</div>
<div class="row small-up-1 medium-up-2 large-up-3">
   <div class="column">
      <div class="callout">
         <p>Jennifer Lawson</p>
         <p><img src="http://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
         <p class="lead">Executive Sales Rep</p>
         <p class="subheader">Find Earth-like planets life outside the Solar System</p>
      </div>
   </div>
   <div class="column">
      <div class="callout">
         <p>Pegasi B</p>
         <p><img src="http://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
         <p class="lead">Copernican Revolution caused an uproar</p>
         <p class="subheader">Find Earth-like planets life outside the Solar System</p>
      </div>
   </div>
   <div class="column">
      <div class="callout">
         <p>Pegasi B</p>
         <p><img src="http://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
         <p class="lead">Copernican Revolution caused an uproar</p>
         <p class="subheader">Find Earth-like planets life outside the Solar System</p>
      </div>
   </div>
   <div class="column">
      <div class="callout">
         <p>Pegasi B</p>
         <p><img src="http://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
         <p class="lead">Copernican Revolution caused an uproar</p>
         <p class="subheader">Find Earth-like planets life outside the Solar System</p>
      </div>
   </div>
   <div class="column">
      <div class="callout">
         <p>Pegasi B</p>
         <p><img src="http://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
         <p class="lead">Copernican Revolution caused an uproar</p>
         <p class="subheader">Find Earth-like planets life outside the Solar System</p>
      </div>
   </div>
   <div class="column">
      <div class="callout">
         <p>Pegasi B</p>
         <p><img src="http://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
         <p class="lead">Copernican Revolution caused an uproar</p>
         <p class="subheader">Find Earth-like planets life outside the Solar System</p>
      </div>
   </div>
</div>
<div class="row column">
   <a class="button hollow expanded">Load More</a>
</div>