{% load static %}
{% load i18n %}

<div class="row column">
   <p class="lead">Shop Online</p>
</div>
<div class="row small-up-1 medium-up-2 large-up-3">
   <div class="column">
      <div class="callout">
         <p>Microfiber cloth</p>
         <p><img src="http://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
         <p class="lead">Microfiber cloth</p>
         <p class="subheader">Find Earth-like planets life outside the Solar System</p>
      </div>
   </div>
   <div class="column">
      <div class="callout">
         <p>Dryer balls</p>
         <p><img src="http://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
         <p class="lead">Copernican Revolution caused an uproar</p>
         <p class="subheader">Find Earth-like planets life outside the Solar System</p>
      </div>
   </div>
   <div class="column">
      <div class="callout">
         <p>Scarf multi</p>
         <p><img src="http://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
         <p class="lead">Copernican Revolution caused an uproar</p>
         <p class="subheader">Find Earth-like planets life outside the Solar System</p>
      </div>
   </div>
   <div class="column">
      <div class="callout">
         <p>Dust Mits</p>
         <p><img src="http://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
         <p class="lead">Copernican Revolution caused an uproar</p>
         <p class="subheader">Find Earth-like planets life outside the Solar System</p>
      </div>
   </div>
   <div class="column">
      <div class="callout">
         <p>Pegasi B</p>
         <p><img src="http://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
         <p class="lead">Copernican Revolution caused an uproar</p>
         <p class="subheader">Find Earth-like planets life outside the Solar System</p>
      </div>
   </div>
   <div class="column">
      <div class="callout">
         <p>Pegasi B</p>
         <p><img src="http://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
         <p class="lead">Copernican Revolution caused an uproar</p>
         <p class="subheader">Find Earth-like planets life outside the Solar System</p>
      </div>
   </div>
</div>
<div class="row column">
   <a class="button hollow expanded">Load More</a>
</div>