{% extends 'dashboard/layout.html' %}
{% load common_tags %}

{% block content_main %}
    <div class="table-search-v2 margin-bottom-40">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-envelope-o"></i> &nbsp; Sent interview invitations</h3>
        </div>
        <div class="table-responsive">
            {% if page.object_list|length %}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="hidden-sm"></th>
                            <th>User</th>
                            <th>Company</th>
                            <th>Job</th>
                            <th>Message</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for invitation in page.object_list %}
                            {% include 'dashboard/units/recruiter-invitation-item.html' %}
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div style="margin: 10px 0 0 15px;"><i>No interview invitations sent</i></div>
            {% endif %}

            {% include 'navigation/pagination.html' %}
        </div>
    </div>

{% endblock %}