{% extends 'dashboard/layout.html' %}
{% load common_tags %}

{% block content_main %}
    <div class="panel margin-bottom-40">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-inbox"></i> &nbsp; Incoming job applications</h3>
        </div>
        <div class="panel-body">
            {% if page.object_list|length %}
                {% for application in page.object_list %}
                    {% include 'dashboard/units/recruiter-job-application_item.html' %}
                {% endfor %}
            {% else %}
                <div style="margin: 10px 0 0 15px;"><i>No incoming job applications</i></div>
            {% endif %}

            {% include 'navigation/pagination.html' %}
        </div>
    </div>

{% endblock %}