.leaf-background {
  position: relative;

  .background-leaves-container {
    @include full-box;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: -1;

    .leaf-container {
      @include better-box;
      position: absolute;

      &:nth-child(1) {
        @include browser-prefix(transform, rotate(-22deg) scaleX(-1));
        height: 6.5em;
        left: 5em;
        margin-top: -200px;
        width: 4.5em;
      }

      &:nth-child(2) {
        @include browser-prefix(filter, blur(6px));
        @include browser-prefix(transform, rotate(-28deg) scaleX(-1));
        height: 5em;
        left: 25%;
        margin-top: -100px;
        width: 4em;
      }

      &:nth-child(3) {
        @include browser-prefix(filter, blur(3px));
        height: 25em;
        left: 80%;
        margin: -300px 0 0;
        width: 18em;
      }

      &:nth-child(4) {
        @include browser-prefix(filter, blur(16px));
        @include browser-prefix(transform, rotate(-28deg));
        height: 18em;
        left: 0;
        margin-top: -140px;
        width: 13em;
      }

      &:nth-child(5) {
        @include browser-prefix(transform, rotate(28deg));
        height: 4em;
        left: 10%;
        margin-top: 80px;
        width: 3em;
      }

      &:nth-child(6) {
        @include browser-prefix(filter, blur(5px));
        @include browser-prefix(transform, rotate(36deg) scaleX(-1));
        height: 7em;
        left: 94%;
        width: 5em;
      }

      svg {
        display: block;
        height: 100%;
        margin: 0 auto;
        padding: 10%;
        width: 100%;

        & use {
          fill: rgba(adjust-hue($brand-alt, -15%), 0.4);
        }
      } // End svg

      // Secondary Mobile - Phone & Below
      @media screen and (max-width: $phone){
        display: none;
      } // End Phone & Below
    } // End leaf-container
  } // End background-leaves-container
} // End leaf-background

body.safari {
  .leaf-background {
    .background-leaves-container {
      .leaf-container {
        filter: none;
        
        &:nth-child(2) {
          opacity: 0.5;
        }
        
        &:nth-child(3) {
          opacity: 0.7;
        }
        
        &:nth-child(4) {
          opacity: 0.2;
        }
        
        &:nth-child(6) {
          opacity: 0.4;
        }
      } // End leaf-container
    } // End background-leaves-container
  } // End leaf-background
} // End body.safari
