@mixin carousel-container($arrow-fill: $brand-alt) {
  @include full-box;
  position: relative;

  .slick-prev, .slick-next {
    height: 2em;
    position: absolute;
    top: calc(50% - 1rem);
    width: 4em;
    z-index: 1;

    svg {
      height: 100%;
      width: 100%;

      & use {
        fill: $arrow-fill;
      }
    } // End svg
  } // End slick-prev, slick-next

  .slick-prev {
    @include browser-prefix(transform, rotate(90deg));
    left: -3em;
  }

  .slick-next {
    @include browser-prefix(transform, rotate(-90deg));
    right: -3em;
  }

  .carousel {
    @include full-box;
    overflow: hidden;

    .carousel-item {
      @include better-box;
      float: left;
      padding: 2em;
      text-align: center;

      // Secondary Mobile - Phone & Below
      @media screen and (max-width: $phone) {
        padding: 1.5em;
      } // End Phone & Below

      &-content {
        @include full-box;
        font-family: "Proxima-Nova-L";
        font-size: 3em;
        line-height: 120%;
        z-index: 1;

        // Primary Mobile - Tablet & Below
        @media screen and (max-width: $tablet){
          font-size: 2em;
        } // End Tablet & Below

        // Secondary Mobile - Phone & Below
        @media screen and (max-width: $big-phone) {
          font-size: 1.4em;
        } // End Phone & Below

        > * {
          float: left;
        }

        h3 {
          color: $brand;
          font-family: "Proxima-Nova";
          font-size: 0.68em;
          margin-bottom: 0.5em;
          text-transform: uppercase;
        }

        .slide-half {
          @include better-box;
          padding: 0.5em;
          width: 50%;

          // Secondary Mobile - Phone & Below
          @media screen and (max-width: $phone) {
            width: 100%;
          } // End Phone & Below

          h2 {
            font-size: 1.8em;
            line-height: 1;
            margin: 0;
          }

          .subheading {
            font-size: 0.5em;
            font-family: "Proxima-Nova";
          }
        } // End slide-half

        &-image {
          @include full-box;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
          padding-bottom: 56.25%;
        }

        &-description {
          font-size: 0.3em;
          text-align: center;
          width: 100%;

          // Primary Mobile - Tablet & Below
          @media screen and (max-width: $tablet) {
            font-size: 0.5em;
          } // End Tablet & Below

          // Secondary Mobile - Phone & Below
          @media screen and (max-width: $phone) {
            font-size: 0.7em;
          } // End Phone & Below
        }

        span {
          color: $brand;
          font-family: "Proxima-Nova-B";
        }
      } // End &-content

      .quoter {
        margin: 0 auto;
        max-width: 80%
      }
    } // End carousel-item

    .slick-dots {
      @include full-box;
      text-align: center;
      margin-bottom: 2em;

      // Secondary Mobile - Phone & Below
      @media screen and (max-width: $phone) {
        margin-bottom: 1.5em;
      } // End Phone & Below

      li {
        @include better-box;
        margin: 0 0.5em;
        max-width: 4.6em;
        width: 7%;

        button {
          @include full-box;
          background-color: rgba($default, 0.8);
          cursor: pointer;
          height: 0.6em;
          text-indent: -9999em;

          &:hover {
            background-color: $default;
          }
        } // End button

        &.slick-active {
          button {
            background-color: $brand-alt;
          }
        } // End &.slick-active
      } // li
    } // End slick-dots
  } // End carousel
} // End carousel-container mixin

.carousel-container {
  @include carousel-container;

  .border-carousel {
    border-bottom: 1px solid $border-color;
    border-top: 1px solid $border-color;
    margin-bottom: 1.5em;
  }
} // End carousel-container
