@mixin circle-button($color: $brand) {
  @include better-box;
  border: 2px solid $color;
  border-radius: 100%;
  color: $color;
  font-family: "Proxima-Nova-B";
  font-size: 3em;
  height: 3.7em;
  padding: 1em 0.5rem;
  position: relative;
  text-align: center;
  width: 3.7em;

  span {
    @include full-box;
  }

  svg {
    @include animate;
    @include full-box;
    height: 1.2em;
    width: 1.2em;

    & use {
      fill: rgba($color, 0.5);
    }
  } // End svg

  &.right {
    margin-bottom: $minor-space;

    // Secondary Mobile - Phone & Below
    @media screen and (max-width: $phone){
      margin-bottom: $nano-space;
    } // End Phone & Below

    span, svg {
      font-size: 0.775em;
    }

    span {
      @include absolute-center();
    }

    svg {
      height: 1.25em;
      position: absolute;
      right: 7%;
      top: 37.5%;
      width: 0.7em;
    }
  } // End &.right

  &:hover {
    background-color: $color;
    color: $background;

    svg {
      @include animate;

      & use {
        fill: rgba($background, 0.5);
      }
    }
  } // End &:hover
} // End circle-button

.circle-buttons {
  text-align: center;

  // Big Phone
  @media screen and (max-width: $big-phone){
    font-size: 0.8em;
  } // End Big Phone

  // Secondary Mobile - Phone & Below
  @media screen and (max-width: $phone){
    padding-top: 0;
    font-size: 0.7em;
  } // End Phone & Below

  .circle-button-container {
    @include better-box;
    float: left;
    width: 25%;
    text-align: center;

    // Secondary Mobile - Phone & Below
    @media screen and (max-width: $phone){
      margin-bottom: $minor-space;
      width: 50%;
    } // End Phone & Below

    &:nth-child(3) {
      // Secondary Mobile - Phone & Below
      @media screen and (max-width: $phone){
        clear: left;
      } // End Phone & Below
    }

    a {
      &.shop {
        @include circle-button();
      }

      &.host {
        @include circle-button($brand-ter);
      }

      &.join {
        @include circle-button($brand-quat);
      }

      &.learn {
        @include circle-button($brand-alt);
      }
    } // End a

    .explanation {
      font-size: 1.55em;
      line-height: 120%;
      margin: 0 auto;
      max-width: 220px;
      padding: 0 $nano-space;
    }
  } // End .circle-button-container
} // End .circle-buttons
