.collage {
  @include full-box;
  margin-bottom: $double-space;

  div {
    @include better-box(table);
    float: left;
    overflow: hidden;
  }

  > div {
    border: none;
    float: right;
    width: 50%;

    // Primary Mobile - Tablet & Below
    @media screen and (max-width: $tablet){
      @include full-box(table);
    } // End Tablet & Below

    &:nth-child(2) {
      // Primary Mobile - Tablet & Below
      @media screen and (max-width: $tablet){
        @include full-box(none);
      } // End Tablet & Below
    }

    > div {
      background-color: rgba($default, 0.3);
      background-image: url("../../assets/images/child-safety.jpg");
      background-size: cover;
      border: 2px solid $background;
      height: 0;
      padding-bottom: calc(100% / 3);
      width: calc(100% / 3);

      &:nth-child(1) {
        background-image: url("../../assets/images/clean-floor.jpg");
      } // End &:first-child(1)

      &:nth-child(2) {
        background-image: url("../../assets/images/products.jpg");
      } // End &:first-child(1)

      &:nth-child(3) {
        background-image: url("../../assets/images/norwex-hero-1.jpg");
      } // End &:first-child(1)

      &:nth-child(4) {
        background-image: url("../../assets/images/norwex-hero-2.jpg");
        clear: left;
      } // End &:first-child(1)

      &:nth-child(8) {
        background-image: url("../../assets/images/clean-floor.jpg");
      } // End &:first-child(1)

      &.tall {
        background-color: $brand-alt;
        background-image: none;
        padding-bottom: calc(100% / 3 * 2 + 3.99px);
      }

      &.large-image {
        width: calc(100% / 3 * 2);
      }

      p {
        @include absolute-center;
        color: $background;
        font-family: "Proxima-Nova";
        font-size: 1.5vw;
        line-height: 140%;
        padding: $minor-space;
        position: absolute;
        width: 100%;

        // Primary Mobile - Tablet & Below
        @media screen and (max-width: $tablet){
          font-size: 2.7vw;
        } // End Tablet & Below

        // Secondary Mobile - Phone & Below
        @media screen and (max-width: $phone){
          font-size: 3vw;
        } // End Phone & Below

        span {
          @include full-box;
          margin-top: $half-space;
        }
      } // End p
    } // End > div
  } // End > div
} // End .collage
