.earn-commission-callout {
  @include better-box;
  min-height: 20em;
  text-align: center;

  h3 {
    font-family: "Proxima-Nova-SB";
    line-height: 1;
    margin-bottom: 0;
    top: 2em;

    // Secondary Mobile - Phone & Below
    @media screen and (max-width: $phone) {
      top: 4.5em;
    } // End Phone & Below

    .massive-heading {
      @include full-box;
      font-family: "Proxima-Nova-B";
      font-size: 4em;
      color: $brand-ter;
    }
  }

  .icon-container {
    @include absolute-center();
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  svg {
    height: 100%;
    width: 100%;

    & use {
      fill: rgba($brand-alt, 0.1);
    }
  } // End svg
} // End .earn-commisssion-callout
