body.faq {
  
  .faq-wrap {
    @media screen and (min-width: $tablet){
      width: 48%;
    }    
    
    @media screen and (max-width: $tablet) {
      width: 80%;
    } 

    margin-left: auto;
    margin-right: auto;
    text-align:left;
  }

  /* Dropdown and input */ 
  select {
      color: #00b5bf;
      height:47px;
      outline-color: #00b5bf;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #00b5bf;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #00b5bf;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #00b5bf;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #00b5bf;
  }

  select option { 
    color: $default;
    outline-width: 15px;
    //padding: 20px 0;
  }

  select option:first-child {
    color: #00b5bf;
  }

  input[type="text"] {
    height:47px;
  }

  .faq-question {
    font-size: 22px;
  
    .faq-question-text:hover {
      cursor: pointer;
    }
    .faq-question-text {
     //text-decoration: underline;
    }
    .faq-answer {
      display: none;
      padding-left: 3%;
      font-size: 20px;
    }
  }

  .faq-q {
    font-weight:bold;
    color: #73be1d;
  }

  .filters {
    display: inline-block;
    width: 100%;

    .sub-filter {
      @media screen and (min-width: $tablet){
        float:left;
        width:48%;
        margin-right:10px;
      }
    }

    .drop {
      margin-top: -4px;
    }
  }

  .clear {
    clear:both;
  }

} // End body.faq
