@mixin short-hero {
	.hero {
		padding: 20em 0 0;
	} // End .hero
} // End short-hero

@mixin full-hero($background-image: url("../../assets/images/norwex-hero-1.jpg")) {
	padding: 40em 0 0;

	// Secondary Mobile - Phone & Below
	@media screen and (max-width: $phone) {
		padding: 30em 0 0;
	}
	// End Phone & Below

	&-image {
		@include full-box;
		background-image: $background-image;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
	} // End &-image
} // End full-hero

@mixin hero-image-text($background-color: $brand, $border-radius: 100%, $dimensions: 24em) {
	@include better-box;
	@include browser-prefix(transform, translateX(-50%));
	background-color: $background-color;
	border-radius: $border-radius;
	color: $background;
	height: $dimensions;
	left: 50%;
	position: absolute;
	text-align: center;
	top: 12.5em;
	width: $dimensions;

	// Big-Phone & Below
	@media screen and (max-width: $big-phone) {
		right: 0;
	}
	// End Big-Phone & Below

	// Secondary Mobile - Phone & Below
	@media screen and (max-width: $phone) {
		font-size: 0.75em;
		top: 11em;
	}
	// End Phone & Below

	&-container {
		@include absolute-center;
		width: 80%;
	}

	&-surheading {
		@include better-box;
		@include short-divider;
		font-size: 1.875em;
		text-transform: uppercase;
	}

	&-icon {
		@include better-box;
		@include short-divider;
		height: 2.813em;
		margin: 0 auto $minor-space;
		width: 4.5em;

		// Primary Mobile - Tablet & Below
		@media screen and (max-width: $tablet) {
			margin-bottom: 1.5em;
			padding: 0 0.5em;
		}
		// End Tablet & Below

		&:before, &:after {
			top: 65%;
			width: 0.5em;
		}

		svg {
			height: 100%;
			width: 100%;

			& use {
				fill: $background;
			}
		}
		// End svg
	}
	// End &-icon

	&-heading {
		font-family: "Proxima-Nova-B";
		font-size: 2.438em;
		line-height: 110%;
		text-transform: uppercase;
	}

	&-subheading {
		font-family: "Proxima-Nova-SB";
		font-size: 1.563em;
		line-height: 120%;
		margin: 0;
	}

	&-surheading, &-heading, &-subheading {
		margin-bottom: $minor-space;

		// Primary Mobile - Tablet & Below
		@media screen and (max-width: $tablet) {
			margin-bottom: 0.5em;
		}	// End Tablet & Below
	}
} // End hero-image-text

.hero {
	@include full-hero;

	&-text-no-circle {
		position: absolute;
		top: 50%;
		max-width: 90%;
		color: $white;
		margin: 4.5em auto 0 auto;
		left: 0;
		right: 0;
		transform: translateY(-50%);

		@media screen and (max-width: $phone) {
			margin-top: 2.9em;
			font-size: 0.75em;
		}
	}

	&-text {
		@include section;
		background-color: $background;
		text-align: center;

		p {
			@include inner-wrap;
			margin-top: $minor-space;
		}

		.post-date {
			@include better-box;
			@include short-divider;
			font-size: 0.875em;
			margin-bottom: $space;
			padding: 0 $minor-space;
			text-transform: uppercase;
		}

		a.cta {
			@include larger;
			margin-bottom: $minor-space;
			min-width: 200px;
		}

		.callout-messaging {
			font-family: "Proxima-Nova-B";
		}
	} // End &-text

	&-image-text {
		@include hero-image-text;
	} // End &-image-text
} // End hero

// Specifics
body {
	&.single, &.home, &.error404 {
		.hero {
			&-text {
				h1 {
					margin-bottom: $space;
				}
			} // End &-text
		} // End .hero
	} // End &.single, &.home

	&.single {
		.hero {
			&-text {
				.hero-text-container {
					@include inner-wrap;
				}
			} // End &-text
		} // End hero
	} // End &.single

	&.search, &.archive, &.blog, &.error404 {
		@include short-hero;
	}

	&.page-template {
		&, &-default {
			@include short-hero;
		}
	} // End &.page-template

	&.home {
		.hero {
			@include full-hero(url("../../assets/images/norwex-hero-1.jpg"));

			&-image-text {
				@include hero-image-text($brand, 0, auto);
				@include browser-prefix(transform, none);
				left: auto;
				margin-right: 0;
				max-width: 360px;
				padding: $space;
				position: absolute;
				right: 15%;
				top: 12em;
				width: 50%;

				// Secondary Mobile - Phone & Below
				@media screen and (max-width: $phone) {
					font-size: 0.7em;
					padding: $minor-space;
					top: 12.5em;
					width: 240px;
				}
				// End Phone & Below
			}

			&-text {
				h1 {
					color: $brand;
				}
			}
			// End &-text
		}
		// End .hero
	}
	// End &.home

	&.our-story {
		.hero {
			@include full-hero(url("../../assets/images/norwex-hero-2.jpg"));

			&-text-container {
				@include inner-wrap;
			}
		}
		// End .hero
	}
	// End &.our-story

	&.leadership-team {
		.hero {
			@include full-hero(url("../../assets/images/leadership/hero-white-floating-houses.png"));
			background-color: $green;
			padding: 25em 0 0 0;

			@media screen and (max-width: $phone) {
				padding: 18em 0 0 0;
			}
		}
		// End .hero
	} // End &.our-story

	&.host {
		.hero {
			@include full-hero(url("../../assets/images/norwex-hero-3.jpg"));

			&-image-text {
				@include hero-image-text($brand-ter);
			}

			&-text {
				h1 {
					margin-bottom: $double-space;

					// Primary Mobile - Tablet & Below
					@media screen and (max-width: $tablet) {
						margin-bottom: $space;
					}
					// End Tablet & Below
				} // End h1

				.cta {
					@include cta($brand);
					@include larger;
				}
			} // End &-text
		} // End hero
	} // End &.host

  &.join {
		.hero {
			@include full-hero(url("../../assets/images/norwex-hero-5.jpg"));

			&-image-text {
				@include hero-image-text($brand-quat);
			}

			&-text {
				h1 {
					margin-bottom: $double-space;

					// Primary Mobile - Tablet & Below
					@media screen and (max-width: $tablet) {
						margin-bottom: $space;
					}
					// End Tablet & Below
				} // End h1

				.cta {
					@include cta($brand);
					@include larger;
				}
			} // End &-text
		} // End hero
	} // End &.join
} // End body
