@mixin highlight($color: $brand-ter) {
  font-family: "Proxima-Nova-L";
  padding: 0 2em;
  text-align: center;

  // Primary Mobile - Tablet & Below
  @media screen and (max-width: $tablet) {
    font-size: 0.8em;
  } // End Tablet & Below

  // Secondary Mobile - Phone & Below
  @media screen and (max-width: $phone){
    @include full-box;
    margin-bottom: 2em;
  } // End Phone & Below

  .highlight-icon, .highlight-heading {
    margin-bottom: $minor-space;
  }

  .highlight-icon {
    @include better-box;
    height: 5.5em;
    width: 5.5em;

    svg {
      height: 100%;
      width: 100%;

      & use {
        fill: $color;
      }
    } // End svg
  } // End &-icon

  .highlight-heading {
    font-size: 2em;
  }

  .highlight-body {
    font-size: 1.125em;
    line-height: 135%;
    margin: 0 auto $minor-space;
    max-width: 460px;
  }

  .highlight-footer {
    a {
      @include full-box;
      color: $brand;
      font-family: "Proxima-Nova-B";
      font-size: 1.125em;
      margin-bottom: $micro-space;
      text-decoration: underline;
    } // End a
  } // End &-footer
} // End highlight

@mixin image-highlight($background-image: url("../../assets/images/norwex-hero-2.jpg")) {
  @include full-box;
  background-image: $background-image;
  background-color: green;
  background-position: center 10%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10em 2.5em 2.5em;

  // Primary Mobile - Tablet & Below
  @media screen and (max-width: $tablet) {
    padding: 8em 1.5em 1.5em;
  } // End Tablet & Below

  .image-highlight-text {
    @include full-box;
    background-color: $brand;
    color: $background;
    padding: $minor-space;

    // Primary Mobile - Tablet & Below
    @media screen and (max-width: $tablet) {
      max-width: 280px;
    } // End Tablet & Below

    p {
      font-family: "Proxima-Nova-B";
      margin-bottom: 0;
    } // End p
  } // End .image-highlight-text
} // End image-highlight

.highlight {
  @include highlight;

  .image-highlight {
    @include image-highlight;
  }
}
