@mixin icon-divider-heading($icon-color: $brand-alt) {
  @include full-box;
  text-align: center;

  &, .divider-container {
    margin-bottom: 1em;
  }

  .divider-container {
    @include full-box;
    padding: 1em 0;

    .icon-divider {
      @include full-box;
      background-color: rgba($default, 0.2);
      height: 1px;
      width: 100%;
    }

    .icon-container {
      @include absolute-center;
      background-color: $background;
      padding: 0 1em;

      svg {
        height: 3em;
        width: 4em;

        & use {
          fill: $icon-color;
          stroke: $icon-color;
        }
      }
    } // End leaf-container
  } // End divider-container
} // End icon-divider-heading

.icon-divider-heading {
  @include icon-divider-heading;
}
