.quote-section {
  background-color: $brand;
  margin: $space 0;
  padding: ($double-space * 2) 0;
  text-align: left;

  // Primary Mobile - Tablet & Below
  @media screen and (max-width: $tablet) {
    font-size: 0.8em;
  } // End Tablet & Below

  // Secondary Mobile - Phone & Below
  @media screen and (max-width: $phone) {
    padding: $double-space 0 ($double-space * 2);
  } // End Phone & Below

  &:before {
    background-image: url('../../assets/images/drops-pattern.svg');
    background-size: 50%;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.075;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &:after {
    background-image: url('../../assets/images/bjorn.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    content: "";
    display: inline-block;
    height: 90%;
    position: absolute;
    right: 0;
    width: 40%;

    // Secondary Mobile - Phone & Below
    @media screen and (max-width: $phone) {
      height: 70%;
    } // End Phone & Below
  }

  .quote-container {
    @include full-box;
    padding: 0 34% 0 15%;

    // Secondary Mobile - Phone & Below
    @media screen and (max-width: $phone) {
      padding: 0;
    } // End Phone & Below

    .blockquote {
      @include full-box;
      color: $background;
      font-family: "Proxima-Nova-SB";
      font-size: 3vw;
      line-height: 120%;
      margin-bottom: $minor-space;

      // Secondary Mobile - Phone & Below
      @media screen and (max-width: $phone) {
        font-size: 2em;
      } // End Phone & Below

      &:before, &:after {
        font-family: "Proxima-Nova-SBI";
        font-size: 10em;
        opacity: 0.4;
        position: absolute;
      }

      &:before {
        content: "\201c";
        left: -0.5em;
        top: 35%;

        // Secondary Mobile - Phone & Below
        @media screen and (max-width: $phone){
          font-size: 5em;
          top: 9%;
        } // End Phone & Below
      }

      &:after {
        content: "\201d";
        left: 0.95em;
        top: 130%;

        // Secondary Mobile - Phone & Below
        @media screen and (max-width: $phone) {
          display: none;
        } // End Phone & Below
      }
    } // End blockquote
  } // End quote-container
} // End quote-section
