// Section Callout
@mixin section-callout($color: $brand) {
  &.with-image-callout {
    padding: $double-space 0 0;
  }

  .icon-divider-heading {
    @include icon-divider-heading($color);
  }

  h2 {
    @include h1($color);

    &.massive {
      @include h2;
      @include massive-heading;
      color: $color;
      padding: 0 5%;
    }
  } // End h2

  h3 {
    max-width: 900px;
    color: $color;
  }

  a {
    color: $color;

    &.cta {
      @include cta($color);
    }
  } // End a
} // End section-callout

.section-callout {
  @include section-callout();
}

// Image Callout Message
// This is a centered messaging mixin used within image-callouts.
@mixin image-callout-message($background-color: $brand, $border-radius: 1000em) {
  @include better-box(block);
  background-color: $background-color;
  border-radius: $border-radius;
  color: $background;
  height: 30em;
  margin: 0 auto;
  padding: $space;
  text-align: center;
  width: 30em;

  // Primary Mobile - Tablet & Below
  @media screen and (max-width: $tablet){
    font-size: 0.75em;
  } // End Tablet & Below

  // Secondary Mobile - Phone & Below
  @media screen and (max-width: $phone){
    font-size: 0.55em;
  } // End Phone & Below

  .message-container {
    @include absolute-center();
    padding: 0 3em;

    .message {
      color: $background;
      font-family: "Proxima-Nova-L";
      font-size: 3.5em;
      margin-bottom: $space;

      // Primary Mobile - Tablet & Below
      @media screen and (max-width: $tablet) {
        margin-bottom: $half-space;
      } // End Tablet & Below
    } // End .message
  } // End .message-container

  a.cta {
    @include cta(transparent, $background, $background);
    @include larger;
  }
} // End image-callout-message

// Image Callout Base
// This is a simple full width section with a background image that features callout messaging.
@mixin image-callout($color: $brand, $image: url("../../assets/images/products.jpg"), $border-radius: 1000em) {
  @include section;
  background-image: $image;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &-message {
    @include image-callout-message($color, $border-radius);
  } // End image-callout-message
} // End image-callout

.image-callout {
  @include image-callout();
} // End .image-callout

// Image Callout Alternate Section
// Use this for a full width section with a background-image that features centered callout messaging, The callout messaging features an absolutely centered message-container.
@mixin image-callout-section($color: $brand, $image: url("../../assets/images/products.jpg"), $border-radius: 1000em) {
  .image-callout {
    @include image-callout($color, $image, $border-radius);

    a {
      @include better-box;
      @include browser-prefix(transform, none);
      margin-bottom: $minor-space;

      // Primary Mobile - Tablet & Below
      @media screen and (max-width: $tablet) {
        margin-bottom: $micro-space;
      } // End Tablet & Below
    } // End a

    .callout-messaging {
      font-family: "Proxima-Nova-B";
      font-size: 1.125em;
      line-height: 120%;
      margin: 0 auto;
      max-width: 52%;
      position: relative;
    }
  } // End image-callout
} // End image-callout-section
