.stat-callout-container {
  @include full-box;

  .stat-callout {
    @include better-box;
    @include larger;
    float: left;
    padding: 0 1em;
    width: 25%;

    // Primary Mobile - Tablet & Below
    @media screen and (max-width: $tablet){
      margin-bottom: $minor-space;
      width: 50%;
    } // End Tablet & Below

    // Secondary Mobile - Phone & Below
    @media screen and (max-width: $phone){
      @include full-box;
      padding: 0;
    } // End Phone & Below

    .front, .back {
      color: $background;
      left: 0;
      padding: 2em 1.5em;
      text-shadow: 0 2px 2px rgba(darken($default, 10%), 0.2);
      top: 0;

      // Secondary Mobile - Phone & Below
      @media screen and (max-width: $phone){
        padding: $minor-space $half-space;
      } // End Phone & Below

      &:before {
        background-position: center center;
        background-size: 150% auto;
        content: "";
        height: 100%;
        left: 0;
        opacity: 0.1;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
      } // End &:before

      p {
        font-size: 1em;
        margin-bottom: 0;
      }
    } // End .front, .back

    .front {
      background-color: $default;

      &:before {
        background-image: url("../../assets/images/chemical-pattern.svg");
      }
    }

    .back {
      background-color: $brand;
      position: absolute;

      &:before {
        background-image: url("../../assets/images/drops-pattern.svg");
      }
    }

    svg {
      height: $double-minor-space;
      margin: 0 auto $minor-space;
      width: 50%;

      // Secondary Mobile - Phone & Below
      @media screen and (max-width: $phone){
        margin-bottom: $micro-space;
      } // End Phone & Below

      & use {
        fill: $background;
      }
    } // End svg
  } // End .stat-callout
} // End .stat-callout-container
