.testimonials {
  background-color: $brand-alt;
  display: inline-block;
  overflow: hidden;

  &:before {
    background-image: url('../../assets/images/drops-pattern.svg');
    background-size: 50%;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.075;
    position: absolute;
    top: 0;
    width: 100%;
  }

  h2 {
    color: $background;
    display: block;
    margin-bottom: $space;
    text-align: center;

    // Big Phone & Below
    @media screen and (max-width: $big-phone) {
      margin: 0 auto $micro-space;
      max-width: 80%;
    } // End Big Phone & Below
  } // End h2

  .carousel-container {
    @include carousel-container(rgba($background, 0.5));

    .testimonial-carousel {
      .carousel-item {
        padding: 0;

        &-content {
          color: $background;
          font-family: "Proxima-Nova-SB";
          margin-bottom: $minor-space;
          max-width: 80%;

          // Secondary Mobile - Phone & Below
          @media screen and (max-width: $phone) {
            font-size: 1.1em;
          } // End Phone & Below
        } // End &-content
      } // End carousel-item
    } // End testimonial-carousel
  } // End carousel-container
} // End testimonials
