.video-section {
  h3 {
    font-family: "Proxima-Nova";
    font-size: 1.5em;
    margin-bottom: $space;
    max-width: 25em;

    // Secondary Mobile - Phone & Below
    @media screen and (max-width: $phone) {
      font-size: 0.9em;
      margin-bottom: $minor-space;
    } // End Phone & Below
  } // End h3

  .videos-container {
    @include full-box;
    margin-bottom: $double-space;

    .video-container {
      @include full-box;
      background-color: invert($background);
      margin-bottom: $space;

      // Secondary Mobile - Phone & Below
      @media screen and (max-width: $phone) {
        margin-bottom: $micro-space;
      } // End Phone & Below

      &:before {
        @include aspect-ratio-before;
      }

      iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    } // End video-container

    .thumbnail-container {
      @include mw(1%);

      a {
        @include modbox(20%, 1%);
        background-color: rgba($default, 0.4);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        &:before {
          @include aspect-ratio-before;
        }
      } // End a
    } // End thumbnail-container
  } // End videos-container

  .host-rewards {
    @include mw;

    a.cta {
      @include cta($brand);
    }

    h5 {
      color: $brand;
    }

    .host-rewards-container {
      @include modbox(50%);
      text-align: left;

      // Secondary Mobile - Phone & Below
      @media screen and (max-width: $phone) {
        @include modbox(100%);
      } // End Phone & Below

      &.current-specials {
        @include current-specials;
        padding: 5em 0 5em 24%;

        // Primary Mobile - Tablet & Below
        @media screen and (max-width: $tablet) {
          padding: 4em 0 4em 25%;
        } // End Tablet & Below

        // Secondary Mobile - Phone & Below
        @media screen and (max-width: $phone) {
          padding-left: 55%;
        } // End Phone & Below

        &:before {
          width: 50%;
        }
      } // End current-specials

      p {
        font-size: 140%;
      }
    } // End host-rewards-container
  } // End host-rewards
} // End video-section
