{% extends 'base.html' %}
{% load humanize %}
{% load i18n %}
{% load static %}

{% block content %}

    <div class="medium-12 large-12 columns ">

    <div id="content-area">
            <div class="container">
                <div class="container content-area" >
                        <h4>{% blocktrans %}Page not found{% endblocktrans %}</h4>
                        <div class="page-not-found">
                          <img class="img-responsive center" src="{% static "img/PageNotFound.jpg" %}" >
                        </div>

                </div>

            </div>
    </div>


    </div>

{% endblock %}