{% spaceless %}
    {% load staticfiles %}
    {% load humanize %}
    {% load i18n %}
    {% load cms_extras %}
    <!doctype html>

    <html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% for item in siteconfig %}
                {% if item.sitename %}{{ item.sitename }}{% endif %}
            {% endfor %}
            {% block title %}{% endblock %}
        </title>
        <link rel="stylesheet" href="{% static "css/foundation.min.css" %}" />
        <link rel="stylesheet" href="{% static "css/ofc.css" %}" />
        <link rel="stylesheet" href="{% static "css/icostyle.css" %}" />
        <link rel="stylesheet" href="{% static "css/icostyle-reloaded.css" %}" />
        <link rel="stylesheet" href="{% static "css/app.css" %}" />
        <link rel="stylesheet" href="{% static "css/hybrid.css" %}" />
        <link rel="stylesheet" href="{% static "css/custom.css" %}" />
        <link rel="stylesheet" href="{% static "css/menu.css" %}" />
    </head>
    <body>
    {% include 'svg.html' %}

    <div class="off-canvas-wrapper">
        <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
            <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
                <button class="close-button" aria-label="Close menu" type="button" data-close>
                    <span aria-hidden="true">&times;</span>
                </button>
                {% include 'menu/mobile_menu.html' %}
            </div>
            <div class="off-canvas-content" data-off-canvas-content>
                <div class="title-bar show-for-small-only">
                    <div class="title-bar-left">
                        <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
                        <a class="mobile-logo show-on-small-only" href="/" title="Norwex">
                            <svg>
                                <use xlink:href="#norwex-logo" />
                            </svg>
                        </a>
                        {#                    <span class="title-bar-title">Norwex</span>#}
                    </div>
                </div>
                <div class="container page-wrapper">
                    {% block topbar %}
                        {% include "topbar.html" %}
                    {% endblock %}

                    {% block topheader %}
                        <div class="new-header">
                            {% get_language_info_list for LANGUAGES as languages %}

                            <div class="site-header row">
                                <div class="row">
                                    <div class="container">
                                        <div class="logo hide-for-small-only medium-3 columns">
                                            {% if user.is_authenticated %}
                                                <a class="logo" href="/" title="Norwex">
                                                    <svg>
                                                        <use xlink:href="#norwex-logo" />
                                                    </svg>
                                                </a>
                                            {% else %}
                                                <a class="logo" href="{% url 'home_banner_list' %}" title="Norwex">
                                                    <svg>
                                                        <use xlink:href="#norwex-logo" />
                                                    </svg>
                                                </a>
                                            {% endif %}
                                        </div>

                                        <div class="account-info small-12 medium-6 columns hide-for-small-only">
                                            {% block navigation %}
                                                {% include "navigation.html" %}
                                            {% endblock %}

                                        </div>
                                        <div class="account-info small-12 medium-3 columns">

                                            {% if request.subdomain %}
                                                {% show_consultant_info %}
                                            {% else %}
                                                <a href="{{ 'find-a-consultant'|maxify }}" class="button-corporate">{% blocktrans %}Connect with a consultant{% endblocktrans %}</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                    {% block header %}
{#                        {% include "header.html" %}#}
                        {% block messages %}
                            {% include "widgets/messages.html" %}
                        {% endblock %}
                    {% endblock %}
                    {% block featured %}

                    {% endblock %}
                    {% block headerblock %}{% endblock %}
                    <div class="row">
                        {% block outer_content %}{% endblock %}
                        <div class="container inner-content">


                            {% block sidebar-left %}
                                {% block cta-left-top %}{% endblock %}
                                {% block sidenav-left %}{% endblock %}
                                {% block cta-left-bottom %}{% endblock %}
                            {% endblock %}
                            {% block content %}
                                {% block content-top %}{% endblock %}
                                {% block content-main %}{% endblock %}
                                {% block content-bottom %}
                                    {% block social-share %}{% endblock %}
                                {% endblock %}
                            {% endblock %}
                            {% block sidebar-right %}
                                {% block cta-right-top %}{% endblock %}
                                {% block sidenav-right %}{% endblock %}
                                {% block cta-right-bottom %}{% endblock %}
                            {% endblock %}
                        </div>
                    </div>
                    {% block footerblock %}{% endblock %}
                    <footer>
                        {% block footer %}
                            {% block footer-top %}{% endblock %}
                            {% block footer-main %}
                                {% include "footer.html" %}
                            {% endblock %}
                            {% block footer-bottom %}{% endblock %}
                        {% endblock footer %}
                    </footer>
                    {% block scripts %}
                        <script src="{% static 'js/vendor/jquery.min.js' %}" ></script>
{#                        <script src="{% static 'js/vendor/what-input.min.js' %}" ></script>#}
                        <script src="{% static 'js/foundation.min.js' %}" ></script>
                        <script src="{% static 'js/app.js' %}" ></script>
                        <script src="{% static 'js/common.js' %}" ></script>
                        <script src="{% static 'js/build.min.js' %}" ></script>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    </body>
    </html>
{% endspaceless %}