{% load staticfiles %}
{% load humanize %}
{% load i18n %}
<!doctype html>
<html class="no-js" lang="en">
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>
         {% block title %}
         {% blocktrans %}Norwex USA{% endblocktrans %} | {% trans "Welcome" %}
         {% endblock %}
      </title>
      <link rel="stylesheet" href="{% static "css/foundation.min.css" %}" />
      <link rel="stylesheet" href="{% static "css/mq.css" %}" />
      <link rel="stylesheet" href="{% static "css/ofc.css" %}" />
      <link rel="stylesheet" href="{% static "css/icostyle.css" %}" />
      <link rel="stylesheet" href="{% static "css/app.css" %}" />
   </head>
   <body>
      <div class="off-canvas-wrapper">
         <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
            <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
               <button type="button" class="button" data-toggle="offCanvas">Open Menu</button>
            </div>
            <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-position="right">
               <button type="button" class="button" data-toggle="offCanvas">Open Menu</button>
            </div>
            <div class="off-canvas-content" data-off-canvas-content>
               <div class="container page-wrapper">
                  {% block topbar %}
                    {% include "topbar.html" %}
                  {% endblock %}
                  {% block header %}
                    {% include "header.html" %}
                  {% endblock %}
                   {% block featured %}
{#                    {% include "featured.html" %}#}
                  {% endblock %}
                  <div class="row">
                  {% block messages %}
                    {% include "widgets/messages.html" %}
                  {% endblock %}
                     {% block outer_content %}{% endblock %}
                     <div class="container">
                        {% block sidebar-left %}
                            {% block cta-left-top %}{% endblock %}
                            {% block sidenav-left %}{% endblock %}
                            {% block cta-left-bottom %}{% endblock %}
                        {% endblock %}
                        {% block content %}
                            {% block content-top %}{% endblock %}
                            {% block content-main %}{% endblock %}
                            {% block content-bottom %}{% endblock %}
                        {% endblock %}
                        {% block sidebar-right %}
                            {% block cta-right-top %}{% endblock %}
                            {% block sidenav-right %}{% endblock %}
                            {% block cta-right-bottom %}{% endblock %}
                        {% endblock %}
                     </div>
                  </div>
                  <footer>
                     {% block footer %}
                         {% block footer-top %}{% endblock %}
                         {% block footer-main %}
                             {% include "footer.html" %}
                         {% endblock %}
                         {% block footer-bottom %}{% endblock %}
                     {% endblock footer %}
                  </footer>
                  {% block scripts %}
                      <script src="{% static 'js/vendor/jquery.min.js' %}" ></script>
                      <script src="{% static 'js/vendor/what-input.min.js' %}" ></script>
                      <script src="{% static 'js/foundation.min.js' %}" ></script>
                      <script src="{% static 'js/app.js' %}" ></script>
                      <script src="{% static 'js/common.js' %}" ></script>
                      <script src="{% static 'js/pinit.js' %}" ></script>
                  {% endblock %}
               </div>
            </div>
         </div>
      </div>
   </body>
</html>