{% load i18n %}
{% load staticfiles %}
{% load cms_extras %}
{% get_language_info_list for LANGUAGES as languages %}


<div id="footer">
    <div class="container footer-inner">
        <div class="row credits">
            <div class="medium-12 columns">
                <div class="footer-links">
                    <div class="row">
                        {% for s in snippet %}
        {% if s.slug == "real-people-real-impact" and s.active == True %}
						<div class="pre-footer">
							<span class="h3 green bold proxima-nova-b">{% if s.label %}{{ s.label|striptags|safe }}{% endif %}</span> <span class="subline proxima-nova-b">{% if s.content %}{{ s.content|striptags|safe }}{% endif %}{% if s.link %}<a href="{{ s.link }}">{{ s.link_label|striptags|safe }}</a>{% endif %}</span>
						</div>
                        {% endif %}
                        {% endfor %}
					</div>
                    <div class="footer_menu medium-12 columns">
                        {% include 'menu/_footer_menu.html' %}

                    </div>
                    {% if user.is_authenticated %}
                        <div class="row">
                        <div class="medium-12 columns">
                            <div class="medium-12 columns">
                                <div class="medium-8 columns">
                                    <div>
                                        © {% now "Y" %}.
                                        {% for item in siteconfig %}
                                            {% if item.sitename %}<span>{{ item.sitename|safe }}</span>{% endif %}
                                            {% if item.copyright %}. <span>{{ item.copyright|safe }}</span>{% endif %}
                                            {% if item.attribution %}<div>{{ item.attribution|safe }}</div>{% endif %}
                                        {% endfor %}
                                    </div>
                                    {% include 'util/social/_social_icons.html' %}
                                </div>

                                <div class="medium-4 columns">
                                    <ul class="inline-list right">
                                    <a href="{{ 'consultant/logout'|maxify }}" class="button-new-blue"><span class="icobutton icon-enter2"></span> {% blocktrans %}Consultant Logout{% endblocktrans %}</a>
                                    </ul>
                                </div>
                            {% for item in siteconfig %}
                                {% if item.version %}
                                    <div class="container">
                                        <i>{{ item.version }}</i>
                                    </div>{% endif %}
                            {% endfor %}
                            </div>
                        </div>

                    {% else %}

                        <div class="row">
                        <div class="medium-12 columns">
                            <div class="medium-12 columns footerlink">

{#                                    {% include 'menu/_footer_menu.html' %}#}
                            </div>

                            <div class="medium-12 columns">
                                <div class="medium-8 columns">
                                    <div>
                                        © {% now "Y" %}.
                                        {% for item in siteconfig %}
                                            {% include 'cms-extras/snippet_edit.html' %}
                                            {% if item.sitename %}<span>{{ item.sitename|safe }}</span>{% endif %}
                                            {% if item.copyright %}. <span>{{ item.copyright|safe }}</span>{% endif %}
                                            {% if item.attribution %}<div>{{ item.attribution|safe }}</div>{% endif %}
                                        {% endfor %}
                                    </div>
                                    {% include 'util/social/_social_icons.html' %}
                                </div>

                                <div class="medium-4 columns">
                                    <ul class="inline-list right">
                                        <a href="{{ 'consultant/login'|maxify }}" class="button-new-blue"><span class="icobutton icon-enter2"></span> {% blocktrans %}Consultant Login{% endblocktrans %}</a>
                                    </ul>
                                </div>
                            {% for item in siteconfig %}
                                {% if item.version %}
                                    <div class="container">
                                        <i>{{ item.version }}</i>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            </div>
                        </div>

                    {% endif %}
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






