{% load static %}
{% load i18n %}
{#{% load common_tags %}#}
{#{% load rules %}#}
{#{% load inbox %}#}
{#{% load avatar_tags %}#}
{% load hijack_tags %}
{% load cms_extras %}



{% get_language_info_list for LANGUAGES as languages %}

<div class="pws-site-header row">
    <div class="row">
        <div class="container">
            <div class="logo hide-for-small-only medium-3 columns">
                {% if user.is_authenticated %}
                    <a class="logo" href="/" title="Norwex">
								<svg>
									<use xlink:href="#norwex-logo" />
								</svg>
							</a>
                {% else %}
                    <a class="logo" href="{% url 'home_banner_list' %}" title="Norwex">
								<svg>
									<use xlink:href="#norwex-logo" />
								</svg>
							</a>
                {% endif %}
            </div>

            <div class="account-info small-12 medium-6 columns hide-for-small-only">
                {% block navigation %}
                    {% include "navigation.html" %}
                {% endblock %}

            </div>
            <div class="account-info small-12 medium-3 columns">

{#            {% if request.subdomain %}#}
{#                {% show_consultant_info %}#}
{#            {% else %}#}
                <a href="{{ 'find-a-consultant'|maxify }}" class="button-corporate">{% blocktrans %}Connect with a consultant{% endblocktrans %}</a>
{#            {% endif %}#}
            </div>
        </div>
    </div>
</div>
