{% extends 'base_home.html' %}
{% load static %}
{% load i18n %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/compiled/index.css' %}"/>
{% endblock %}

{% block outer_content %}

{#    {% include "featured/home.html" %}#}


<div class="row column">
   <p class="lead">Find a Consultant</p>
</div>
<div class="row small-up-1 medium-up-2 large-up-3">
   <div class="column">
      <div class="callout">
         <p>Software Engineer</p>
         <p><img src="http://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
         <p class="lead">Lead Software Engineer, Apple</p>
         <p class="subheader">Find Earth-like planets life outside the Solar System</p>
      </div>
   </div>
   <div class="column">
      <div class="callout">
         <p>Pegasi B</p>
         <p><img src="http://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
         <p class="lead">Copernican Revolution caused an uproar</p>
         <p class="subheader">Find Earth-like planets life outside the Solar System</p>
      </div>
   </div>
   <div class="column">
      <div class="callout">
         <p>Pegasi B</p>
         <p><img src="http://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
         <p class="lead">Copernican Revolution caused an uproar</p>
         <p class="subheader">Find Earth-like planets life outside the Solar System</p>
      </div>
   </div>
   <div class="column">
      <div class="callout">
         <p>Pegasi B</p>
         <p><img src="http://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
         <p class="lead">Copernican Revolution caused an uproar</p>
         <p class="subheader">Find Earth-like planets life outside the Solar System</p>
      </div>
   </div>
   <div class="column">
      <div class="callout">
         <p>Pegasi B</p>
         <p><img src="http://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
         <p class="lead">Copernican Revolution caused an uproar</p>
         <p class="subheader">Find Earth-like planets life outside the Solar System</p>
      </div>
   </div>
   <div class="column">
      <div class="callout">
         <p>Pegasi B</p>
         <p><img src="http://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
         <p class="lead">Copernican Revolution caused an uproar</p>
         <p class="subheader">Find Earth-like planets life outside the Solar System</p>
      </div>
   </div>
</div>
<div class="row column">
   <a class="button hollow expanded">Load More</a>
</div>

<div id="showcase">
        <div class="container home-banner-search-area">
            <div class="row feature_wrapper">
                <!-- Features Row -->
                <div class="features_op1_row">

                    <div class="container">

                    </div>
                    <div class="container content-area" >


                    </div>


            </div>
        </div>
    </div>
</div>

{% endblock %}


