{% load staticfiles %}
{% load humanize %}
{% load i18n %}
{% load cms_extras %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Norwex | Site under maintenance </title>
</head>
<body class="maintenance-mode" style="margin-top: 10%; background: rgba(2, 170, 181, 0.07); ">
<script src="{% static 'js/vendor/jquery.min.js' %}" ></script>
<script src="{% static 'js/vendor/what-input.min.js' %}" ></script>
<script src="{% static 'js/foundation.min.js' %}" ></script>
<script src="{% static 'js/app.js' %}" ></script>
<script src="{% static 'js/common.js' %}" ></script>
<script src="{% static 'js/pinit.js' %}" ></script>
<script src="{% static 'js/jquery_countdown/jquery.countdown.min.js' %}" ></script>
<link rel="stylesheet" href="{% static "css/foundation.min.css" %}" />
<link rel="stylesheet" href="{% static "css/icostyle.css" %}" />
<link rel="stylesheet" href="{% static "css/custom.css" %}" />


<div class="maintenance-text" align="center">
    <p><span style="font-size: 60px; color: #02AAB5;" class="maintenance-icon icon-tools large"></span></p>
    <h2>{% blocktrans %}Sorry, we're down for maintenance.{% endblocktrans %}</h2>
    <h5>{% blocktrans %}We'll be back shortly.{% endblocktrans %}</h5>
                <div class="home-countdown-example" style="width: 40%; border: none; font-size: 16px;" id="goLive"></div>
            <script type="text/javascript">
        var goLive = "2016/07/25";
        $("#goLive").countdown(goLive, function(event) {
{#            $(this).html(event.strftime('%-w weeks %-d days %Hh %Mm %Ss'));#}
            $(this).html(event.strftime('%-d day(s) %Hh %Mm %Ss'));
        });
    </script>
{#<p><span style="font-size: 25px; color: #02AAB5;" class="maintenance-icon icon-nwx-home-leaflet large"></span><span style="font-size: 25px; color: #02AAB5; font-family: cursive;">{% trans "PoshCMS" %}</span></p>#}
<div align="center"><a class="button-new-blue" href="/en-us/status/dashboard/">
    <span class="icon-health"></span> {% blocktrans %}Check PoshCMS System Status{% endblocktrans %}</a></div>

</div>
</body>





</html>
