<!-- SVG Sprite -->
		<svg class="hide">

			<!-- Norwex Logo -->
			<symbol id="norwex-logo" viewBox="0 0 390.9 64.8">
				<path class="svg__fill--lightgreen" d="M119.5,41.8l-18-21l-18,21c0,0-2.7,2.4-2.7,4.2v18c0,1.4,0.8,2.6,1.9,3c0.2,0.1,0.5,0.1,0.7,0.1h4.3h26.8
				c0.1,0,0.1-0.1,0.2-0.1c2.4-1.3,5-3.4,7.4-5.9V46C122.2,44.3,119.5,41.8,119.5,41.8"/>
				<path class="svg__fill--green" d="M74.7,40.6l24.7-28.8c0.6-0.7,1.3-1,2-1.1h0.3c0.7,0.1,1.4,0.4,2,1.1l24.6,28.8c1.1,1.3,1.2,3.4,0.2,4.5
				c-1,1.2-2.7,1.1-3.9-0.3l-23.1-27.1L78.4,44.9c-1.1,1.3-2.9,1.5-3.9,0.3C73.4,44,73.5,41.9,74.7,40.6"/>
				<path class="svg__fill--green" d="M79,8.2c-1.5,2.6-3.3,6.4-2.1,10.5c1.6,5.2,6.7,6.8,8.4,6.8c-0.6-1.4-2.4-3.9-3.4-6.6
				c-2.3-6.2-0.5-11.6-0.4-12.1l0,0.4c0,0.3,0,0.6,0.1,1.1c0.2,2.2,0.7,6.2,2,9.6c1.2,3.1,1.9,3.7,2.8,6.4c0.4-0.5,1-1.4,1.5-2.4
				c1.4-2.5,2.3-6.4-1.4-10.7c-2.5-2.9-3.5-5.1-3.8-6.4c-0.1-0.3-0.3-0.8-0.5-0.7c-0.3,0-0.8,0.5-1.4,1.2C80.2,6.1,79.6,7,79,8.2"/>
				<path class="svg__fill--blue" d="M101.5,22.2c0,0-2.4,6.5-6.2,13.2c-3.2,5.8-7.5,11.5-7.2,16.6c0.7,11.6,9.8,12.5,13.9,12.5
				c4,0,12.9-2.1,13-12.3c0.1-5.8-3.4-10-7-16.7C105.3,30.7,102.9,25.6,101.5,22.2"/>
				<path class="svg__fill--green" d="M109.8,44.8c1.4,3,4,7,2.3,11.2c-0.8,1.9-1.8,3.4-2.9,4.4c-1.8,1.5-3.9,2-5.7,1.9c0.6-1.5,2.2-3.4,3.5-5.8
				c3.1-6.2,0-13.4-0.3-13.2c0,0,0,1,0,1.5c0.1,2.3,0.3,5.8-1.8,10.3c-1.4,3.1-3.3,4.2-4.3,7.1c-3.1-0.4-4.4-2-4.9-3.1
				c-0.8-1.4-1.1-3.8-0.3-6.2c0.9-2.8,2.6-4.7,4.1-5.8c1.3-0.9,2.6-2.2,3.3-3.2c0.9-1.3,1.2-2.4,1.3-3c0.6-2.4,0.2-4.7,0.7-4.4
				c1.8,2.1,2.8,4.1,3.3,4.9C108.7,42.4,109.2,43.6,109.8,44.8"/>
				<path class="svg__fill--blue" d="M55.6,0h16.1v76.9H55.6L24.3,32.5v44.5H8.2V9.6L2.9,1.1V0h19l33.7,49V0z M171.5,20.7c-6.3,0-10.6,3.1-13.3,7.2
				v-6.1h-15.4v55.1h15.4V45.5c0.3-6,4.4-9.1,9.6-10.7c2.6-0.8,6.4-0.5,9.3,0l-4.2-14.1C172.4,20.7,171.9,20.7,171.5,20.7z M292.3,64.3
				c7,0,14-2,19.1-5.3v14.8c-5,2.6-12.2,4.4-20.4,4.4c-16.7,0-29.1-11.9-29.1-29.4c0-16.5,11.9-29.3,28.2-29.3
				c16.3,0,26.4,12.2,26.4,26.8c0,2.4-0.5,5.5-0.9,7.4h-38.2C278.8,60.1,284.4,64.3,292.3,64.3z M277.4,42h24.3
				c-0.2-5.8-5.1-9.7-11.7-9.7C283.3,32.2,278.2,36.7,277.4,42z M350.3,20.6l-10,16.6l-10.1-16.6h-17.9l18.6,28.2l-18.6,28.2h17.9
				l10.1-16.7l10,16.7h18l-18.4-28.2l18.4-28.2H350.3z M248.2,20.6L238.4,58l-13.1-37.4H210l2.7,7.7l-10,29.8l-10-37.4h-16l16.6,56.3
				h16.2L220.1,46l11.2,30.9h16.1l16.7-56.3H248.2z M132.4,23.8c-3-2.3-10.6-7.3-23.8-2.9c-1.6,0.5-2.6,1.7,0.9,1.9
				c6,0.3,15,2,19.1,9.3c5.6,10.1,0.4,21.5-6.4,28.9c-2.4,2.6-5,4.6-7.4,6c-0.1,0-0.1,0.1-0.2,0.1c-5.4,2.9-16.6,7.8-26.8,0h-4.3
				c-0.3,0-0.5,0-0.7-0.1c2.6,5.6,8.5,12,21.3,11c0,0,18.8-0.2,30.8-19C146.9,40.1,136,26.6,132.4,23.8z M390.3,15.6
				c0,4.7-3.8,8.5-8.5,8.5c-4.7,0-8.5-3.8-8.5-8.5c0-4.7,3.8-8.5,8.5-8.5C386.6,7.1,390.3,10.9,390.3,15.6z M388.9,15.6
				c0-4-3.2-7.1-7.1-7.1c-3.9,0-7.1,3.1-7.1,7.1c0,3.9,3.2,7.1,7.1,7.1C385.8,22.7,388.9,19.5,388.9,15.6z M383.3,16.6l2.6,3.9h-1.8
				l-2.5-3.8H380v3.8h-1.5v-9.7h4c1.6,0,3.3,1.2,3.3,3C385.8,15.9,383.9,16.6,383.3,16.6z M382.5,15.3c0.8,0,1.8-0.6,1.8-1.6
				c0-1.1-0.9-1.7-1.8-1.7H380v3.4H382.5z"/>
			</symbol>
			<!-- Leaf -->
			<symbol id="leaf" viewBox="0 0 34.4 50">
				<path d="M28.9,16.1c2.7,5.7,7.7,13.6,4.5,21.7c-1.5,3.7-3.4,6.6-5.6,8.5c-3.4,3-7.6,3.8-11,3.8c1.2-3,4.4-6.6,6.7-11.3
					c6.1-12,0-26-0.7-25.6c0,0-0.1,2,0,3c0.1,4.5,0.6,11.2-3.5,19.9c-2.7,5.9-6.4,8.2-8.3,13.8c-6-0.8-8.5-3.9-9.6-6
					c-1.6-2.8-2.1-7.3-0.6-12c1.7-5.5,5-9.1,8-11.2c2.6-1.8,5-4.2,6.4-6.2c1.8-2.5,2.3-4.7,2.6-5.8c1.1-4.7,0.4-9.2,1.3-8.5
					c3.4,4,5.4,7.9,6.3,9.4C26.8,11.4,27.7,13.7,28.9,16.1" />
			</symbol>
			<symbol id="green-house" viewBox="0 0 17.11 19.47">
				<path d="M.28,11.28,7.9,2.37A.91.91,0,0,1,8.51,2h.1a.93.93,0,0,1,.62.33l7.61,8.91a1.12,1.12,0,0,1,.07,1.4.76.76,0,0,1-1.2-.08L8.56,4.24,1.42,12.6a.76.76,0,0,1-1.2.08,1.11,1.11,0,0,1,.07-1.4" />
				<path d="M1.62,1.27A4.17,4.17,0,0,0,1,4.51a3.09,3.09,0,0,0,2.6,2.11c-.18-.45-.74-1.2-1.06-2A6.11,6.11,0,0,1,2.39.84V1c0,.08,0,.19,0,.34a12.65,12.65,0,0,0,.61,3c.36,1,.6,1.13.88,2a4.12,4.12,0,0,0,.48-.74A2.65,2.65,0,0,0,4,2.19a5.2,5.2,0,0,1-1.18-2C2.74.14,2.68,0,2.61,0s-.26.17-.43.38a5.94,5.94,0,0,0-.56.89" />
				<path d="M14.14,11.66,8.58,5.17,3,11.66s-.83.75-.83,1.29V18.5a1,1,0,0,0,.6.93.71.71,0,0,0,.23,0H14a1,1,0,0,0,1-1V12.95C15,12.41,14.14,11.66,14.14,11.66Zm-5.4,7c-1.25,0-4.08-.3-4.28-3.87-.1-1.59,1.22-3.34,2.22-5.14a33.13,33.13,0,0,0,1.9-4.08c.43,1,1.18,2.61,2,4.11,1.13,2.09,2.19,3.39,2.18,5.17A3.77,3.77,0,0,1,8.74,18.7Z" />
				<path d="M11.13,12.59c.43.91,1.22,2.18.71,3.46a3.44,3.44,0,0,1-.89,1.35A2.57,2.57,0,0,1,9.2,18c.19-.47.69-1.05,1.07-1.8a4.59,4.59,0,0,0-.11-4.09s0,.32,0,.48a6.3,6.3,0,0,1-.55,3.18c-.44.94-1,1.31-1.32,2.2a1.85,1.85,0,0,1-1.53-1,2.48,2.48,0,0,1-.1-1.91A3.42,3.42,0,0,1,7.94,13.3a4.72,4.72,0,0,0,1-1,2.5,2.5,0,0,0,.42-.92c.17-.74.07-1.47.21-1.36a9.27,9.27,0,0,1,1,1.51c.19.29.34.67.53,1" />
			</symbol>
			<!-- Right Arrow -->
			<symbol id="right-arrow" viewBox="0 0 101.3 216">
				<path d="M99,101.8L17,3.5C13.6-0.6,7.5-1.2,3.5,2.2c-4.1,3.4-4.6,9.5-1.2,13.5L79.1,108L2.2,200.2c-3.4,4.1-2.8,10.1,1.2,13.5
					c4.1,3.4,10.1,2.9,13.5-1.2l82-98.4c1.5-1.8,2.2-4,2.2-6.2C101.3,105.8,100.5,103.6,99,101.8z" />
			</symbol>
			<!-- Social -->
			<!-- Facebook -->
			<symbol id="facebook-icon" viewBox="0 0 266.9 266.9">
				<path d="M151,246.7V143.4h34.7l5.2-40.3H151V77.4c0-11.7,3.2-19.6,20-19.6l21.3,0v-36c-3.7-0.5-16.4-1.6-31.1-1.6
					c-30.8,0-51.8,18.8-51.8,53.2v29.7H74.6v40.3h34.8v103.4L151,246.7L151,246.7z" />
			</symbol>
			<!-- Pinterest -->
			<symbol id="pinterest-icon" viewBox="0 0 56.7 56.7">
				<path d="M29.5,3.5c-13.6,0-20.4,9.7-20.4,17.9c0,4.9,1.9,9.3,5.9,10.9c0.7,0.3,1.2,0,1.4-0.7c0.1-0.5,0.4-1.8,0.6-2.3
					c0.2-0.7,0.1-1-0.4-1.6c-1.2-1.4-1.9-3.1-1.9-5.6c0-7.2,5.4-13.7,14.1-13.7c7.7,0,11.9,4.7,11.9,11c0,8.2-3.6,15.2-9.1,15.2
					c-3,0-5.2-2.5-4.5-5.5c0.9-3.6,2.5-7.5,2.5-10.1c0-2.3-1.3-4.3-3.9-4.3c-3.1,0-5.5,3.2-5.5,7.4c0,2.7,0.9,4.5,0.9,4.5
					S18,39.7,17.4,42.1c-1.1,4.6-0.2,10.3-0.1,10.9c0,0.3,0.5,0.4,0.7,0.2c0.3-0.4,3.9-4.9,5.2-9.4c0.4-1.3,2-7.9,2-7.9
					c1,1.9,3.9,3.6,7,3.6c9.2,0,15.4-8.4,15.4-19.6C47.6,11.4,40.4,3.5,29.5,3.5z" />
			</symbol>
			<!-- Google Plus -->
			<symbol id="google-plus-icon" viewBox="0 0 39.7 39.7">
				<path d="M23.2,23.9c-0.6-0.8-1.2-1.4-2-2c-0.7-0.6-1.6-1.1-2.1-1.9c-1.1-1.8,1.3-3.2,2.3-4.4c2.4-2.6,1.7-7.5-1.3-9.4
					c0.7,0,1.8,0.2,2.5,0c0.8-0.2,1.7-1,2.4-1.4h-7.7c-2.4,0-4.9,0.3-6.8,1.9c-2.2,1.8-3.3,4.7-2.4,7.5c1,3.2,4.4,4.6,7.5,4.2
					c-0.2,0.7-0.5,1.2-0.4,1.9c0.1,0.9,0.6,1.7,1.1,2.4c-2.8,0.1-6.2,0.6-8.5,2.5c-2.1,1.8-2.8,5-0.9,7.2c2,2.3,5.6,2.7,8.4,2.5
					c2.5-0.2,4.9-1,6.7-2.7c2.3-2.3,3.1-5.7,1.3-8.2C23.3,24,23.2,23.9,23.2,23.9z M16.2,17.4c-5.1,0-7.4-11.3-1.5-11.3
					c2.9,0,4.2,3.2,4.7,5.7C19.8,14.2,19.3,17.4,16.2,17.4z M21.2,30.9c-1.7,2.9-6.4,2.6-9,1.5c-2.7-1.2-4.1-4.7-1.6-7
					c1.1-1,2.7-1.4,4.1-1.6c0.8-0.1,1.6-0.2,2.4-0.1c0.6,0.1,0.9,0.4,1.4,0.7C20.6,25.9,22.8,28.2,21.2,30.9z M33.9,8.8v2h-4v4h-2v-4h-4
					v-2h4v-4h2v4H33.9z" />
			</symbol>
			<!-- YouTube Icon -->
			<symbol id="youtube-icon" viewBox="0 0 24 24">
				<path d="M4.7,0.2h1.4l1,3.7L8,0.2h1.4L7.8,5.6v3.7H6.4V5.6L4.7,0.2z M11.3,2.5c-1.1,0-1.8,0.7-1.8,1.8v3.3c0,1.2,0.6,1.8,1.8,1.8
					c1,0,1.8-0.7,1.8-1.8V4.3C13.1,3.2,12.3,2.5,11.3,2.5z M11.8,7.6c0,0.4-0.2,0.6-0.5,0.6c-0.3,0-0.5-0.3-0.5-0.6V4.4
					c0-0.4,0.2-0.6,0.5-0.6c0.4,0,0.6,0.3,0.6,0.6C11.8,4.4,11.8,7.6,11.8,7.6z M16.4,2.5v5.1c-0.2,0.2-0.5,0.5-0.7,0.5
					c-0.3,0-0.3-0.2-0.3-0.5V2.5h-1.3v5.6c0,0.7,0.2,1.2,0.9,1.2c0.4,0,0.9-0.2,1.4-0.8v0.7h1.3V2.5H16.4z M18.6,16.2
					c-0.4,0-0.5,0.3-0.5,0.8v0.7h1.1V17C19.1,16.6,19.1,16.2,18.6,16.2z M14,16.3c-0.1,0-0.2,0.1-0.2,0.2v4c0.1,0.1,0.2,0.2,0.3,0.2
					c0.2,0.1,0.5,0.1,0.6-0.1c0.1-0.1,0.1-0.2,0.1-0.4v-3.3c0-0.2,0-0.4-0.1-0.5C14.5,16.2,14.2,16.2,14,16.3z M18.7,11.1
					C16.2,11,7.8,11,5.3,11.1c-2.8,0.2-3.1,1.9-3.1,6.3c0,4.4,0.3,6.1,3.1,6.3c2.6,0.2,10.9,0.2,13.5,0c2.8-0.2,3.1-1.9,3.1-6.3
					C21.9,13,21.5,11.3,18.7,11.1z M6.6,21.7H5.2v-7.4H3.8V13H8v1.3H6.6L6.6,21.7L6.6,21.7z M11.4,21.7h-1.2V21
					c-0.2,0.3-0.4,0.5-0.7,0.6C8.8,22,8,21.9,8,20.6v-5.4h1.2v4.9c0,0.3,0.1,0.4,0.3,0.4c0.2,0,0.6-0.3,0.7-0.5v-4.9h1.2L11.4,21.7
					L11.4,21.7z M16,20.4c0,0.8-0.3,1.4-1.1,1.4c-0.4,0-0.8-0.2-1.1-0.6v0.5h-1.2V13h1.2v2.8c0.3-0.3,0.6-0.6,1.1-0.6
					c0.9,0,1.2,0.7,1.2,1.6L16,20.4L16,20.4z M20.4,18.6h-2.3v1.2c0,0.5,0,0.9,0.5,0.9c0.5,0,0.5-0.3,0.5-0.9v-0.4h1.2v0.5
					c0,1.2-0.5,2-1.8,2c-1.1,0-1.7-0.8-1.7-2V17c0-1.1,0.7-1.9,1.8-1.9c1.1,0,1.7,0.7,1.7,1.9L20.4,18.6L20.4,18.6z" />
			</symbol>
			<!-- Twitter -->
			<symbol id="twitter-icon" viewBox="0 0 512 512">
				<path d="M511.7,97.6c-18.8,8.4-39.1,14-60.3,16.4c21.8-13.1,38.2-33.4,46.3-58.2
					c-20.3,11.9-42.7,20.9-66.6,25.4c-19.1-20.3-46.6-33.1-76.7-33.1c-57.9,0-105.1,47.2-105.1,105.1c0,8.4,0.9,16.1,2.7,23.9
					c-87.2-4.5-164.8-46.3-216.4-109.9c-9,15.5-14.3,33.4-14.3,52.8c0,36.4,18.5,68.7,46.9,87.5c-17.3-0.6-33.4-5.4-47.5-13.1
					c0,0.3,0,0.9,0,1.2c0,50.8,36.1,93.4,84.2,103c-9,2.4-18.2,3.6-27.8,3.6c-6.9,0-13.4-0.6-19.7-1.8c13.4,41.8,52.2,72.2,98.2,72.8
					c-35.8,28.1-81.2,45.1-130.5,45.1c-8.4,0-16.7-0.6-25.1-1.5c46.6,29.9,101.8,47.2,160.9,47.2c193.2,0,298.8-160,298.8-298.8
					c0-4.5,0-9-0.3-13.7c20.6-14.9,38.2-33.4,52.5-54.3L511.7,97.6z " />
			</symbol>
			<!-- Twitter Reply -->
			<symbol id="twitter-reply" viewBox="0 0 65 72">
				<path d="M41 31h-9V19c0-1.14-.647-2.183-1.668-2.688-1.022-.507-2.243-.39-3.15.302l-21 16C5.438 33.18 5 34.064 5 35s.437 1.82 1.182 2.387l21 16c.533.405 1.174.613 1.82.613.453 0 .908-.103 1.33-.312C31.354 53.183 32 52.14 32 51V39h9c5.514 0 10 4.486 10 10 0 2.21 1.79 4 4 4s4-1.79 4-4c0-9.925-8.075-18-18-18z" />
			</symbol>
			<!-- Twitter Retweet -->
			<symbol id="twitter-retweet" viewBox="0 0 75 72">
				<path d="M70.676 36.644C70.166 35.636 69.13 35 68 35h-7V19c0-2.21-1.79-4-4-4H34c-2.21 0-4 1.79-4 4s1.79 4 4 4h18c.552 0 .998.446 1 .998V35h-7c-1.13 0-2.165.636-2.676 1.644-.51 1.01-.412 2.22.257 3.13l11 15C55.148 55.545 56.046 56 57 56s1.855-.455 2.42-1.226l11-15c.668-.912.767-2.122.256-3.13zM40 48H22c-.54 0-.97-.427-.992-.96L21 36h7c1.13 0 2.166-.636 2.677-1.644.51-1.01.412-2.22-.257-3.13l-11-15C18.854 15.455 17.956 15 17 15s-1.854.455-2.42 1.226l-11 15c-.667.912-.767 2.122-.255 3.13C3.835 35.365 4.87 36 6 36h7l.012 16.003c.002 2.208 1.792 3.997 4 3.997h22.99c2.208 0 4-1.79 4-4s-1.792-4-4-4z" />
			</symbol>
			<!-- Twitter Like -->
			<symbol id="twitter-like" viewBox="0 0 54 72">
				<path d="M38.723,12c-7.187,0-11.16,7.306-11.723,8.131C26.437,19.306,22.504,12,15.277,12C8.791,12,3.533,18.163,3.533,24.647 C3.533,39.964,21.891,55.907,27,56c5.109-0.093,23.467-16.036,23.467-31.353C50.467,18.163,45.209,12,38.723,12z" />
			</symbol>
			<!-- RSS -->
			<symbol id="rss-icon" viewBox="0 0 512 512">
				<path d="M100.4,354.9c-31.1,0-56.4,25.4-56.4,56.3c0,31.1,25.3,56.2,56.4,56.2c31.2,0,56.5-25.1,56.5-56.2
					C157,380.3,131.7,354.9,100.4,354.9z M44.1,188.1v81.2c52.9,0,102.7,20.7,140.1,58.2c37.4,37.4,58.1,87.4,58.1,140.5h81.7
					C323.9,313.6,198.4,188.1,44.1,188.1z M44.2,44v81.3c188.7,0,342.3,153.8,342.3,342.7H468C468,234.3,277.9,44,44.2,44z" />
			</symbol>
			<!-- Login  -->
			<symbol id="login-icon" viewBox="0 0 438.5 438.5">
				<path d="M414.4,60.7c-16.1-16.1-35.4-24.1-58.1-24.1H265c-2.5,0-4.4,0.6-5.9,1.9c-1.4,1.2-2.4,3.1-2.9,5.6c-0.5,2.5-0.8,4.7-0.9,6.7
					c-0.1,2-0.1,4.5,0.1,7.6c0.2,3,0.3,4.9,0.3,5.7c0.6,1.5,0.8,2.8,0.6,3.9c-0.2,1,0.5,1.9,2,2.6c1.5,0.7,2.3,1.2,2.3,1.6
					s1.1,0.7,3.3,0.9c2.2,0.2,3.3,0.3,3.3,0.3h3.7h3.1h82.2c12.6,0,23.3,4.5,32.3,13.4c9,8.9,13.4,19.7,13.4,32.3v201
					c0,12.6-4.5,23.3-13.4,32.3c-8.9,8.9-19.7,13.4-32.3,13.4H265c-2.5,0-4.4,0.6-5.9,1.9c-1.4,1.2-2.4,3.1-2.9,5.6
					c-0.5,2.5-0.8,4.7-0.9,6.7c-0.1,2-0.1,4.5,0.1,7.6c0.2,3,0.3,4.9,0.3,5.7c0,2.5,0.9,4.6,2.7,6.4c1.8,1.8,3.9,2.7,6.4,2.7h91.4
					c22.6,0,42-8,58.1-24.1c16.1-16.1,24.1-35.4,24.1-58.1v-201C438.5,96.1,430.5,76.8,414.4,60.7z M338,219.3c0-4.9-1.8-9.2-5.4-12.9
					L177.3,51.1c-3.6-3.6-7.9-5.4-12.8-5.4s-9.2,1.8-12.9,5.4c-3.6,3.6-5.4,7.9-5.4,12.9v82.2H18.3c-5,0-9.2,1.8-12.9,5.4
					c-3.6,3.6-5.4,7.9-5.4,12.9v109.6c0,4.9,1.8,9.2,5.4,12.8c3.6,3.6,7.9,5.4,12.9,5.4h127.9v82.2c0,4.9,1.8,9.2,5.4,12.8
					c3.6,3.6,7.9,5.4,12.9,5.4c4.9,0,9.2-1.8,12.8-5.4l155.3-155.3C336.2,228.5,338,224.2,338,219.3z" />
			</symbol>
			<!-- Down Arrow -->
			<symbol id="down-arrow" viewBox="0 0 72 33.8">
				<path d="M38.1,33L70.8,5.7c1.4-1.1,1.5-3.2,0.4-4.5c-1.1-1.4-3.2-1.5-4.5-0.4L36,26.4L5.3,0.7C3.9-0.4,1.9-0.2,0.7,1.2
					c-1.1,1.4-1,3.4,0.4,4.5L33.9,33c0.6,0.5,1.3,0.7,2.1,0.7C36.7,33.8,37.5,33.5,38.1,33z" />
			</symbol>
			<symbol id="external-link" viewBox="0 0 592.8 508.1">
				<path id="g3027" transform="matrix(1,0,0,-1,30.372881,1426.9492)" d="M435.4,1120v-105.9c0-26.2-9.3-48.7-28-67.3s-41.1-28-67.3-28
					H64.9c-26.2,0-48.7,9.3-67.3,28s-28,41.1-28,67.3v275.2c0,26.2,9.3,48.7,28,67.3c18.6,18.6,41.1,28,67.3,28h232.9c3.1,0,5.6-1,7.6-3
					s3-4.5,3-7.6v-21.2c0-3.1-1-5.6-3-7.6s-4.5-3-7.6-3H64.9c-14.6,0-27-5.2-37.4-15.5c-10.4-10.4-15.5-22.8-15.5-37.4v-275.2
					c0-14.6,5.2-27,15.5-37.4s22.8-15.5,37.4-15.5h275.2c14.6,0,27,5.2,37.4,15.5s15.5,22.8,15.5,37.4V1120c0,3.1,1,5.6,3,7.6
					s4.5,3,7.6,3h21.2c3.1,0,5.6-1,7.6-3S435.4,1123,435.4,1120z M562.4,1405.8v-169.4c0-5.7-2.1-10.7-6.3-14.9
					c-4.2-4.2-9.2-6.3-14.9-6.3s-10.7,2.1-14.9,6.3l-58.2,58.2L252.5,1064c-2.2-2.2-4.7-3.3-7.6-3.3c-2.9,0-5.4,1.1-7.6,3.3l-37.7,37.7
					c-2.2,2.2-3.3,4.7-3.3,7.6s1.1,5.4,3.3,7.6l215.7,215.7l-58.2,58.2c-4.2,4.2-6.3,9.2-6.3,14.9c0,5.7,2.1,10.7,6.3,14.9
					c4.2,4.2,9.2,6.3,14.9,6.3h169.4c5.7,0,10.7-2.1,14.9-6.3C560.3,1416.5,562.4,1411.5,562.4,1405.8z" />
			</symbol>
			<!-- Norwex Icons -->
			<!-- Shopping Bag -->
			<symbol id="shopping-bag" viewBox="0 0 216 216">
				<path d="M143.5,25.4c-1.8-3.5-3.2-7.1-5-9.8c-1.4-2.3-4.4-8.2-9.5-14.2c-1.4-1-0.4,5.8-2,12.8c-0.4,1.6-1.2,4.9-3.9,8.7
					c-2.2,3-5.8,6.6-9.7,9.3c-4.5,3.2-9.4,8.5-12.1,16.8c-0.1,0.4-0.2,0.8-0.3,1.2c-0.1-0.1-0.2-0.2-0.3-0.3C92.2,39.8,89,32.5,87.7,28
					c-0.2-1-1-2.7-1.8-2.5c-0.9,0-2.9,1.9-4.7,4.2c-2,2.6-4.3,6-6.3,9.9c-5,8.9-11.4,22-7.1,35.9c5.4,17.6,23.1,23.4,28.8,23.4
					c-2-4.9-8.2-13.3-11.7-22.6c-7.9-21.1-1.6-39.5-1.3-41.4l0.1,1.3c0,0.9,0.2,2.1,0.3,3.7c0.7,7.4,2.5,21.3,6.8,32.9
					c3.9,10.8,6.6,12.5,9.7,21.7c1.5-1.8,3.5-4.7,5.3-8.2c2-3.4,3.6-7.6,4.1-12.3c1.9,0.9,4.2,1.6,7,2c2.8-8.3,8.3-11.8,12.4-20.7
					c6.1-13.1,5.4-23.2,5.2-29.9c0-1.4,0.1-4.5,0.1-4.5c1-0.5,10.2,20.4,1,38.5c-3.6,7.1-8.4,12.5-10.1,17c5,0.1,11.3-1.2,16.5-5.6
					c3.3-2.9,6.2-7.1,8.4-12.7C155,45.9,147.6,34,143.5,25.4z" />
				<path d="M188.5,83.8l-17-25.8c-1.2-1.8-3.1-2.8-5.2-2.8h-7.1c-0.2,2.8-0.9,5-1.8,7h4.8c1.1,0,2.1,0.6,2.6,1.5l8.8,15.5
					c1.1,2-0.3,4.5-2.6,4.5H46.5c-2.3,0-3.7-2.4-2.6-4.4l8.4-15.5c0.5-1,1.5-1.6,2.6-1.6h8.3c-0.2-2.3-0.4-4.7-0.4-7H51.5
					c-2.1,0-4.1,1.1-5.3,2.9L29.8,83.8c-0.6,1-1,2.2-1,3.4v121.3c0,3.4,2.8,6.2,6.2,6.2h148.2c3.4,0,6.2-2.8,6.2-6.2V87.2
					C189.5,86,189.1,84.8,188.5,83.8z M142.3,122.3c0,18.5-15.1,33.6-33.6,33.6s-33.6-15.1-33.6-33.6v-13.4c0-3.2,2.6-5.8,5.8-5.8
					s5.8,2.6,5.8,5.8v13.4c0,12.1,9.8,21.9,21.9,21.9s21.9-9.8,21.9-21.9v-13.4c0-3.2,2.6-5.8,5.8-5.8s5.8,2.6,5.8,5.8V122.3z" />
			</symbol>
			<!-- Norwex Party -->
			<symbol id="party-icon" viewBox="0 0 216 216">
				<path d="M131,145c0.3,2.1-1.1,4.1-3.2,4.4c-2.1,0.3-4.1-1.1-4.4-3.2l-4.5-26.9h-2.1l5.9,37.7h-3.9v34.3c0,3.3-2.2,6-4.8,6
					s-4.8-2.7-4.8-6v-34.3h-2.4v34.3c0,3.3-2.2,6-4.8,6s-4.8-2.7-4.8-6v-34.3h-3.9l5.9-37.7h-2.1l-4.5,26.9c-0.3,2.1-2.3,3.5-4.4,3.2
					c-2.1-0.3-3.5-2.3-3.2-4.4l5.3-32.2c0,0,0-0.1,0-0.1c0.2-3.6,3.1-6.5,6.7-6.5h21.8c3.6,0,6.5,2.9,6.7,6.5c0,0,0,0.1,0,0.1L131,145z
					M71.4,146c0-4.2-3.5-7.7-7.7-7.7c-4.2,0-7.7,3.5-7.7,7.7c0,4.2,3.5,7.7,7.7,7.7C67.9,153.7,71.4,150.3,71.4,146z M116.9,94.5
					c0-4.9-4-8.9-8.9-8.9c-4.9,0-8.9,4-8.9,8.9c0,4.9,4,8.9,8.9,8.9C112.9,103.4,116.9,99.4,116.9,94.5z M78.9,161.9c0,0,0-0.1,0-0.1
					c-0.2-3.1-2.7-5.6-5.8-5.6H54.3c-3.1,0-5.6,2.5-5.8,5.6c0,0,0,0.1,0,0.1l-4.6,27.8c-0.3,1.8,0.9,3.5,2.7,3.8
					c1.8,0.3,3.5-0.9,3.8-2.7l3.9-23.2h1.8L51,200.2h25.5l-5.1-32.6h1.8l3.9,23.2c0.3,1.8,2,3,3.8,2.7c1.8-0.3,3-2,2.7-3.8L78.9,161.9z
					M193.9,122.5l-79-92.5c-1.8-2.1-4.2-3.3-6.4-3.4h-1c-2.3,0.2-4.5,1.3-6.3,3.4l-79,92.5c-3.6,4.3-4,10.8-0.7,14.6
					c3.2,3.9,8.8,3.5,12.5-0.8L108,49.4l74.1,86.8c3.7,4.3,9.2,4.7,12.5,0.8C197.8,133.3,197.5,126.7,193.9,122.5z M162.6,146
					c0-4.2-3.5-7.7-7.7-7.7c-4.2,0-7.7,3.5-7.7,7.7c0,4.2,3.5,7.7,7.7,7.7C159.2,153.7,162.6,150.3,162.6,146z M170.2,161.9
					c0,0,0-0.1,0-0.1c-0.2-3.1-2.7-5.6-5.8-5.6h-18.9c-3.1,0-5.6,2.5-5.8,5.6c0,0,0,0.1,0,0.1l-4.6,27.8c-0.3,1.8,0.9,3.5,2.7,3.8
					c1.8,0.3,3.5-0.9,3.8-2.7l3.9-23.2h1.8l-5.1,32.6h11.7h2.1h11.7l-5.1-32.6h1.8l3.9,23.2c0.3,1.8,2,3,3.8,2.7c1.8-0.3,3-2,2.7-3.8
					L170.2,161.9z" />
				<path d="M175.2,210.8H41.7c-1.9,0-3.5-1.6-3.5-3.5v-28.6c0-1.9,1.6-3.5,3.5-3.5h133.4c1.9,0,3.5,1.6,3.5,3.5v28.6
					C178.6,209.3,177.1,210.8,175.2,210.8z" />
				<path class="st0" d="M36,18.4c-4.7,8.3-10.7,20.6-6.7,33.6c5,16.6,21.6,21.9,27,21.9c-1.8-4.6-7.7-12.5-11-21.2
					c-7.4-19.8-1.5-37.1-1.2-38.8l0.1,1.2c0,0.8,0.2,2,0.3,3.5c0.7,6.9,2.3,20,6.4,30.9c3.7,10.1,6.2,11.7,9.1,20.4
					c1.4-1.7,3.3-4.4,5-7.7c4.6-8.1,7.5-20.4-4.6-34.2c-8.1-9.3-11.2-16.2-12.3-20.4c-0.2-1-0.9-2.6-1.7-2.4c-0.8,0-2.7,1.7-4.4,4
					C39.9,11.7,37.8,14.8,36,18.4" />
			</symbol>
			<!-- Norwex Join -->
			<symbol id="join" viewBox="0 0 216 216">
				<path class="st0" d="M19,124.7l81.9-95.9c1.9-2.2,4.2-3.4,6.6-3.6h1c2.3,0.2,4.7,1.4,6.7,3.6l81.9,95.9c3.7,4.4,4.1,11.2,0.7,15.1
					c-3.4,4-9.1,3.6-12.9-0.8l-76.8-90l-76.8,90c-3.8,4.4-9.6,4.8-12.9,0.8C14.9,135.9,15.2,129.1,19,124.7" />
				<path class="st0" d="M33.3,17c-4.9,8.6-11.1,21.4-6.9,34.8c5.2,17.1,22.4,22.7,27.9,22.7c-1.9-4.8-7.9-12.9-11.4-22
					c-7.7-20.5-1.6-38.4-1.3-40.2l0.1,1.2c0,0.9,0.2,2.1,0.3,3.6c0.7,7.2,2.4,20.7,6.6,32C52.4,59.6,55,61.3,58,70.2
					c1.4-1.7,3.4-4.5,5.1-7.9c4.8-8.4,7.8-21.1-4.7-35.5C50,17.2,46.9,10,45.7,5.7c-0.2-1-0.9-2.7-1.7-2.5c-0.9,0-2.8,1.8-4.6,4.1
					C37.4,9.9,35.2,13.2,33.3,17" />
				<g>
					<g>
						<path class="st1" d="M168.1,128.8l-59.8-69.9l-59.8,69.9c0,0-8.9,8.1-8.9,13.8v59.7c0,4.8,2.7,8.8,6.5,10c0.8,0.3,1.6,0.4,2.5,0.4
							h118c5.8,0,10.5-4.7,10.5-10.5v-59.6C177,136.8,168.1,128.8,168.1,128.8z M109.9,204.5c-13.4,0-43.9-3.2-46.1-41.6
							c-1-17.1,13.1-35.9,23.9-55.3c12.4-22.3,20.4-43.9,20.4-43.9c4.6,11.1,12.7,28.1,21.5,44.3c12.1,22.5,23.6,36.5,23.4,55.7
							C152.8,197.5,123.3,204.5,109.9,204.5z" />
					</g>
				</g>
				<path class="st0" d="M135.6,138.7c4.6,9.8,13.2,23.4,7.7,37.3c-2.5,6.4-5.8,11.2-9.6,14.5c-5.9,5.1-13.1,6.6-18.8,6.4
					c2-5.1,7.5-11.3,11.6-19.4c10.5-20.6-0.1-44.6-1.2-44c0,0-0.1,3.5-0.1,5.1c0.2,7.7,1,19.3-6,34.2c-4.7,10.1-11,14.1-14.2,23.6
					c-10.2-1.3-14.6-6.7-16.4-10.3c-2.8-4.8-3.6-12.6-1.1-20.5c3-9.5,8.6-15.6,13.8-19.2c4.4-3.2,8.5-7.2,11-10.7c3.1-4.3,4-8.1,4.5-9.9
					c1.9-8,0.8-15.8,2.3-14.6c5.9,6.8,9.2,13.5,10.8,16.2C132,130.6,133.6,134.7,135.6,138.7" />
			</symbol>
			<!-- Light Bulb -->
			<symbol id="light-bulb" viewBox="0 0 216 216">
				<path d="M131.8,173.5H84c-2.4,0-4.7,1.5-4.8,3.9c0,0.7,0.2,1.1,0.4,1.7c0.7,1.9,1.5,3.7,2.2,5.8l3.3,14.5l0.2,0.7
					c2.2,6.1,8.2,10.6,14.7,10.6h6.7h0.9h0.9h7.6c6.5,0,12.3-4.3,14.7-10.2c0,0,2.4-10.4,3.7-16c0.4-1.7,0.9-3.2,1.7-4.7
					c0.4-0.7,0.6-1.5,0.6-2.4C136.7,174.8,134.4,173.5,131.8,173.5z M122,197.5c-0.9,2.4-3.3,3.9-6,3.9h-8.6h-8.6c-2.6,0-5-1.5-6-3.9
					l-3.7-14.7h18.2h18.2L122,197.5z" />
				<line class="st0" x1="77.4" y1="39" x2="62.4" y2="5.2" />
				<line class="st0" x1="51.9" y1="57.5" x2="39.6" y2="46.5" />
				<line class="st0" x1="36.1" y1="84.8" x2="9.1" y2="76.1" />
				<line class="st0" x1="32.8" y1="116.2" x2="22.1" y2="117.3" />
				<line class="st0" x1="183.6" y1="116.2" x2="193.6" y2="117.2" />
				<line class="st0" x1="180.3" y1="84.8" x2="206.9" y2="76.2" />
				<line class="st0" x1="164.6" y1="57.5" x2="176.8" y2="46.5" />
				<line class="st0" x1="139.1" y1="39" x2="153.5" y2="6.7" />
				<line class="st0" x1="108.2" y1="32.5" x2="108.2" y2="9" />
				<g>
					<g>
						<path d="M104.5,48.1c-27,1.7-48.6,24.2-49.1,51.4c-0.2,14.7,5.6,28.3,15.3,38c0.9,0.9,1.5,1.9,1.9,3.2l5.8,24.4
							c0.6,2,2.4,3.5,4.5,3.5l50.6-0.4c2,0,4.1-1.5,4.5-3.5l5.8-24.4c0.4-1.1,0.9-2.2,1.9-3.2c9.3-9.5,15.3-22.5,15.3-36.8
							C160.3,70.3,135,46.1,104.5,48.1z M112.1,127.7c-1.9,3.7-4.1,6.8-5.7,8.7c-3.3-9.9-6.2-11.7-10.4-23.3
							c-4.6-12.5-6.5-27.4-7.3-35.3c-0.1-1.7-0.3-3-0.3-4l-0.1-1.4c-0.3,2-7,21.7,1.4,44.3c3.8,10,10.5,19,12.6,24.3
							c-6.1,0-25.1-6.1-30.8-25c-4.5-14.8,2.3-28.9,7.7-38.4c2.1-4.2,4.5-7.7,6.7-10.6c2-2.5,4.1-4.5,5-4.5c0.9-0.2,1.6,1.6,1.9,2.7
							c1.3,4.8,4.8,12.6,14,23.3C120.7,104.4,117.4,118.5,112.1,127.7z" />
					</g>
				</g>
			</symbol>

            <!-- Green Globe -->
            <symbol id="green-globe" viewbox="0 0 100 120">
		<path class="st0" d="M0,0"/>
		<path fill="#62bc46" d="M68.2,23.8c-0.7-1.5-0.1-2.2-1.1-1.9c-1,0.4-1.5-0.8-1.3-0.9c0.2-0.3,0.7-0.6,1.1-0.8c0-0.5-0.8-1.6,0.5-1.4
				c0.9,0.3,2.5,2,2.9,2.8c0.4,0.8,1.3,2.7,0.5,3.3C70.2,25.4,68.8,25.3,68.2,23.8z M96,49c0,26-21,47-47,47C23,96,2,75,2,49
				C2,23,23,2,49,2C75,2,96,23,96,49z M28.2,83.5c-4.5-4.5-4.8-10.4-4.5-16.4c0.2-1.7,0.6-3.3,0.8-5c0.1-0.6-1-1.5-1-2.5
				c0-2.1,0.1-1.1-1.5-2.8c-0.9-0.9-2.1-2.2-2.6-3.4c-1.4-3.4,0.2-6.3,2.1-9c2-2.9-1.5-4.2-2.1-6.8c-0.2-1.2-1.5-1.2-1.3-2.5
				c0.2-1.4-0.8-1.1-1.9-1.8c-2.4-1.7-0.3-4.2-1.6-5.5c-9.1,14.7-7.5,33.9,3.3,47c0.1,0.2,0.3,0.3,0.4,0.5c0,0,0,0,0,0
				c0.7,0.8,1.3,1.5,2,2.2c0.7,0.7,1.4,1.3,2.1,2c0.1,0.1,0.2,0.2,0.3,0.3c0.2,0.1,0.3,0.3,0.5,0.4C24.9,81.4,26.5,82.5,28.2,83.5z
				 M86.2,34.9c-0.6-0.5-1.3-0.3-1.8-0.4c-3.3-0.8-4.7-4.6-7.5-6.1c-1.2-0.7-1.9-0.5-2.3-0.1c-0.2,0.3,0.2,2.5,0.2,2.6
				c-0.1,0.7-2.1,0.9-2.7,1.1c-1.9,0.4-6.1-3.7-3.2-4.7c0.9-0.3,5.8-1,5.1-3.1c-0.6-1.4,0.3-2.7-1.2-2.9c-1.6-0.2-1.3-1.4-3.1-1.6
				c-1-0.2-1.1-2.3-1.1-3c0-1.8,0.4-1.4,1.9-1.5c-3.7-2.3-7.7-4-11.9-5.1c-0.3,0.6-1.2,2.4-1.8,2.5c-1,0.2-1.4,0.1-2,0.7
				c-1.8,2.1-3.3,6-5.2,1.5c-0.9-2.3,0.9-3.9,0.3-5.8c-0.4,0-0.8,0-1.2,0c-0.2,0-0.4,0-0.6,0c1.3,2.6-1.1,3.9-1.8,4.1
				c-1.6,0-2.1-1.3-3.5-1c-0.9,0.2-1.4-0.8-2.2-0.3C40.1,12,38.1,13.1,38,14c-0.5,2.5,1.3,2.7,2.9,1.2c1.3-1.3,3.7-2.4,5.3-1.1
				c1.3,1,1,1.9,1,2.9c0,1-0.4,3.7-2,3.3c-0.8-0.2-1.4-1.1-2.2-0.5c-1.8,1.5-3.7,1.1-6,1.8c-2,0.3-3.5,1.2-5.4,1.9
				c-1.6,0.6-2.1,0.9-2.4,2.6c-0.1,0.5-0.1,2.8-0.6,3.1c-1.1,0.4-1.7-4.5-4.6-4.2c-2.6,0.3-6.5,2.8-5.3,5.9c0.5,1.1,6,0.5,2.2,2.9
				C20.3,34,21,37.2,21,37.8c0.3,1.8,2.8,3.9,4.5,2.2c1.3-1.3,1.2-1.1,2.9-0.4c3.1,1.6,6.9,3.1,9.4,5.6c1.3,1.3,2,5.2,3.7,6
				c1.9,1,4,1,5.4,2.8c1.3,1.5-0.5,4-1.7,4.8c-0.8,0.5-2.5,5.1-3.3,6.2c-0.4,0.8-2.5,1.2-3.3,1.4c-0.6,0.1-1.6,1.8-1.9,2.3
				c-1.4,1.4-1.7,2.9-3.5,4.1c-3.8,2.6-4.6,4.9-3.8,9.3c0.3,1.8,1.1,2.7,2.3,3.3c0.5,0.2,1,0.5,1.5,0.7c0.7,0.3,1.4,0.5,2.2,0.8
				c2.9,1.1,5.9,1.8,9,2.1c5.8,0.7,11.8,0.1,17.4-1.8c3.2-1,6.2-2.5,9-4.3c1.3-0.8,1.4-3.2,2.3-5c1.6-3.4-0.4-7,2.5-9.9
				c2.6-2.8,0.7-4,0.7-7.2c0-2.2,1.7-3.7,0.9-6c-0.3-0.8-1.4,0.7-1.9-0.1c-1-1.5-4.3-0.4-5.8-0.6c-2.8-0.4-5-3-7-4.8
				c-1.1-1.1-0.1-4.3,0.2-5.5c0.7-3.1-0.1-7,3.9-8c1-0.2,1.2-1.9,2.1-2.2c1-0.3,2.1-0.7,3.1-0.9c1.9-0.3,3.6,0.5,5.4,0.5
				c2.1,0,3.2,1.1,4.8,2.3c1.6,1.2,2.6,0.6,4.4,1c-0.4-0.1,0.1,0,0,0C87.9,36.6,86.7,35.5,86.2,34.9z"/>
	</symbol>

            <symbol id="paper-towel" viewbox="0 0 100 120">
		<path fill="#ACB7BD" d="M0,0"/>
		<path fill="#ACB7BD" d="M49.6,31.5c7.3,3.9,15.3,3.3,17.9-1.5c2.6-4.8-1.2-11.8-8.5-15.8c-7.3-3.9-15.3-3.3-17.9,1.5
				C38.5,20.5,42.3,27.6,49.6,31.5z M49.8,20.5c0.9-1.6,3.5-1.8,6-0.5c2.4,1.3,3.7,3.7,2.9,5.3c-0.9,1.6-3.5,1.8-6,0.5
				C50.3,24.5,49,22.1,49.8,20.5z M56.4,35.4c3.4,0.6,6.5,0.3,9-0.8L63.1,39L56.4,35.4z M62.3,40.5l-12.5-6.7c-0.4-0.2-0.7-0.4-1.1-0.6
				c-2.1-1.2-4.1-2.5-5.7-4.1l-1.6,3l-1.9-1l2-3.7c-1.9-2.4-3-5-2.8-7.8L17.7,58.1c-1.4,2.6-0.5,6.1,2,9.4l0.8-1.6l1.9,1l-1.2,2.3
				c1.5,1.6,3.4,3,5.7,4.2l25.5,13.8l21.8-40.3L62.3,40.5z M24.6,63.1l-1.9-1l2.1-3.9l1.9,1L24.6,63.1z M28.8,55.3l-1.9-1l2.1-3.9
				l1.9,1L28.8,55.3z M33,47.6l-1.9-1l2.1-3.9l1.9,1L33,47.6z M37.2,39.8l-1.9-1l2.1-3.9l1.9,1L37.2,39.8z"/>
		<path fill="#00B5C0" d="M48.8,1C22.7,1,1.5,22.5,1.5,49s21.2,48,47.3,48S96,75.5,96,49S74.8,1,48.8,1z M6.4,49
				c0-10.8,3.9-20.7,10.4-28.3l60.7,60c-7.6,7.1-17.6,11.4-28.7,11.4C25.4,92.1,6.4,72.8,6.4,49z M81.3,76.6l-60.5-60
				C28.3,9.9,38,5.9,48.8,5.9c23.4,0,42.4,19.4,42.4,43.1C91.1,59.5,87.4,69.1,81.3,76.6z"/>
	</symbol>

	<symbol id="beakers" viewbox="0 0 100 120">
		<path fill="#ACB7BD" d="M28.3,64c-0.2-0.3-0.2-0.6-0.1-1l10.6-26.4l0.3-0.7v-0.8V21.2h7.2v1.1h4.1v-1.1h1.1c1.1,0,2.1-0.9,2.1-2.1
				c0-1.1-0.9-2.1-2.1-2.1H33.8c-1.1,0-2.1,0.9-2.1,2.1c0,1.1,0.9,2.1,2.1,2.1H35v13.8L24.4,61.5c-0.6,1.6-0.4,3.4,0.5,4.8
				c1,1.4,2.6,2.3,4.3,2.3h3.3l1.7-4.1h-4.9C28.8,64.4,28.5,64.2,28.3,64z"/>
		<path fill="#ACB7BD" class="st0" d="M72.2,70.3L61.6,44.1v-14h1.1c1.1,0,2.1-0.9,2.1-2.1c0-1.1-0.9-2.1-2.1-2.1H45.1c-1.1,0-2.1,0.9-2.1,2.1
				c0,1.1,0.9,2.1,2.1,2.1h1.1v13.8L35.6,70.3c-0.6,1.6-0.4,3.4,0.5,4.8c1,1.4,2.6,2.3,4.3,2.3h27.1c1.7,0,3.3-0.8,4.3-2.3
				C72.7,73.7,72.9,71.9,72.2,70.3z M47.6,51.6l2.5-6.1l0.3-0.7v-0.8V30.1h7.2v14v0.8l0.3,0.7l2.4,6H47.6z"/>

		<path fill="none" d="z"/>
		<path fill="#00B5C0" d="M48.8,1C22.7,1,1.5,22.5,1.5,49s21.2,48,47.3,48S96,75.5,96,49S74.8,1,48.8,1z M6.4,49
				c0-10.8,3.9-20.7,10.4-28.3l60.7,60c-7.6,7.1-17.6,11.4-28.7,11.4C25.4,92.1,6.4,72.8,6.4,49z M81.3,76.6l-60.5-60
				C28.3,9.9,38,5.9,48.8,5.9c23.4,0,42.4,19.4,42.4,43.1C91.1,59.5,87.4,69.1,81.3,76.6z"/>
	</symbol>

	<symbol id="spray-bottle" viewbox="0 0 100 120">
		<path fill="#ACB7BD" d="M51.1,43.3c0.2,0.4,5.9,9.5,4.2,17.5l-3.7,17.1c0,0.1-0.8,3.4-2.3,3.7c-0.8,0.1-2.2,0-3.1-0.2l-17.1-3.7
				c-0.1,0-3.4-0.8-3.7-2.3c-0.1-0.8,0-2.2,0.2-3.1l3.7-17.1c1.8-8,10.7-14,11.1-14.2c0.6-0.4,1.3-1.3,1.4-2l1.3-6.3l3,0.6l-6.7,31.1
				c-0.1,0.5,0.3,1.1,0.8,1.2c0.5,0.1,1.1-0.2,1.2-0.8l6.7-31.1l3.9,0.8l-1.3,6.3C50.5,41.5,50.7,42.7,51.1,43.3z M65.7,24.3l-20.5-4.4
				c-1.2-0.3-2.9,0-4,0.7l-3.3,2.1c-1,0.7-2,2.1-2.3,3.3c-0.3,1.5,0.6,3,2.1,3.3L54.9,33c1.1,0.2,2.6,0,3.7-0.6l3.5,5.4
				c0.2,0.2,0.4,0.4,0.7,0.5c0.3,0.1,0.5,0,0.8-0.1c0.5-0.3,0.6-1,0.3-1.5l-3.5-5.4l1.8-1.2c0.6-0.4,1.7-0.6,2.4-0.4
				c1.5,0.3,3-0.6,3.3-2.1C68.2,26.1,67.2,24.6,65.7,24.3z M70.2,26.7c0.3,0.1,0.5,0,0.8-0.1l2.1-1.3c0.5-0.3,0.6-1,0.3-1.5
				c-0.3-0.5-1-0.6-1.5-0.3l-2.1,1.3c-0.5,0.3-0.6,1-0.3,1.5C69.7,26.5,69.9,26.6,70.2,26.7z M73.2,28.6l-3.6-0.8
				c-0.6-0.1-1.1,0.2-1.2,0.8c-0.1,0.6,0.2,1.1,0.8,1.2l3.6,0.8c0.6,0.1,1.1-0.2,1.2-0.8C74.1,29.2,73.7,28.7,73.2,28.6z M69.9,32.2
				c-0.3-0.5-1-0.6-1.5-0.3c-0.5,0.3-0.6,1-0.3,1.5l1.3,1.8c0.2,0.2,0.4,0.4,0.6,0.4c0.3,0.1,0.6,0,0.8-0.2c0.5-0.3,0.6-1,0.3-1.5
				L69.9,32.2z"/>
		<path fill="#ACB7BD" d="M0,0"/>
		<path fill="#00B5C0" d="M48.8,1C22.7,1,1.5,22.5,1.5,49s21.2,48,47.3,48S96,75.5,96,49S74.8,1,48.8,1z M6.4,49
				c0-10.8,3.9-20.7,10.4-28.3l60.7,60c-7.6,7.1-17.6,11.4-28.7,11.4C25.4,92.1,6.4,72.8,6.4,49z M81.3,76.6l-60.5-60
				C28.3,9.9,38,5.9,48.8,5.9c23.4,0,42.4,19.4,42.4,43.1C91.1,59.5,87.4,69.1,81.3,76.6z"/>
	</symbol>

	<symbol id="clock" viewbox="0 0 100 120">
		<path fill="#ACB7BD" d="M0,0"/>
		<path fill="#ACB7BD" d="M15.1,48.5c-0.5,18.4,14,33.8,32.4,34.4s33.8-14,34.4-32.4s-14-33.8-32.4-34.4C31,15.5,15.7,30.1,15.1,48.5z
				M72,35.8l-3.4,1.8c-0.4,0.2-0.6,0.8-0.4,1.2c0.2,0.4,0.8,0.6,1.2,0.4l3.4-1.8c1.7,3.4,2.7,7.2,2.8,11.2l-3.8-0.1
				c-1,0-1.8,0.7-1.8,1.7s0.7,1.8,1.7,1.8l3.8,0.1c-0.4,4-1.6,7.7-3.5,11l-3.3-2c-0.4-0.3-0.9-0.1-1.2,0.3c-0.3,0.4-0.1,0.9,0.3,1.2
				l3.3,2c-2.3,3.5-5.4,6.4-9,8.5l-1.8-3.4c-0.2-0.4-0.8-0.6-1.2-0.4c-0.4,0.2-0.6,0.8-0.4,1.2l1.8,3.4c-3.4,1.7-7.2,2.7-11.2,2.8
				l0.1-3.8c0-1-0.7-1.8-1.7-1.8s-1.8,0.7-1.8,1.7L46,76.5c-4-0.4-7.7-1.6-11-3.5l2-3.3c0.1-0.1,0.1-0.3,0.1-0.4c0-0.3-0.1-0.6-0.4-0.8
				c-0.4-0.3-0.9-0.1-1.2,0.3l-2,3.3c-3.5-2.3-6.4-5.4-8.5-9l3.4-1.8c0.3-0.2,0.4-0.4,0.5-0.7c0-0.1,0-0.3-0.1-0.4
				c-0.2-0.4-0.8-0.6-1.2-0.4l-3.4,1.8c-1.7-3.4-2.7-7.2-2.8-11.2l3.8,0.1c1,0,1.8-0.7,1.8-1.7s-0.7-1.8-1.7-1.8L21.5,47
				c0.4-4,1.6-7.7,3.5-11l3.3,2c0.4,0.3,0.9,0.1,1.2-0.3c0.1-0.1,0.1-0.3,0.1-0.4c0-0.3-0.1-0.6-0.4-0.8l-3.3-2c2.3-3.5,5.4-6.4,9-8.5
				l1.8,3.4c0.2,0.4,0.8,0.6,1.2,0.4c0.3-0.2,0.4-0.4,0.5-0.7c0-0.1,0-0.3-0.1-0.4l-1.8-3.4c3.4-1.7,7.2-2.7,11.2-2.8l-0.1,3.8
				c0,1,0.7,1.8,1.7,1.8c1,0,1.8-0.7,1.8-1.7l0.1-3.8c4,0.4,7.7,1.6,11,3.5l-2,3.3c-0.3,0.4-0.1,0.9,0.3,1.2c0.4,0.3,0.9,0.1,1.2-0.3
				l2-3.3C67,29.1,69.9,32.2,72,35.8z M47.6,48.2c1.4-1.1,15.3-12,15.9-11.4C64,37.3,51,52.1,51,52.1c-0.3,0.3-0.6,0.4-0.9,0.6
				c-0.3,0.2-0.6,0.4-0.9,0.5c0,0-13.7,1.6-13.8,1.2C35.2,53.9,46.1,48.9,47.6,48.2z"/>
		<path fill="#00B5C0" d="M48.8,1C22.7,1,1.5,22.5,1.5,49s21.2,48,47.3,48S96,75.5,96,49S74.8,1,48.8,1z M6.4,49
				c0-10.8,3.9-20.7,10.4-28.3l60.7,60c-7.6,7.1-17.6,11.4-28.7,11.4C25.4,92.1,6.4,72.8,6.4,49z M81.3,76.6l-60.5-60
				C28.3,9.9,38,5.9,48.8,5.9c23.4,0,42.4,19.4,42.4,43.1C91.1,59.5,87.4,69.1,81.3,76.6z"/>
	</symbol>




		</svg>
		<!-- End SVG Sprite -->