{% load static %}
{% load i18n %}
{#{% load common_tags %}#}
{#{% load rules %}#}
{#{% load inbox %}#}
{#{% load avatar_tags %}#}
{% load cms_extras %}
{% load hijack_tags %}
{% get_current_language as LANGUAGE_CODE %}
<div class="impersonate">{% hijack_notification %}</div>


<div class="topbar-wrapper container hide-for-small-only">
    <div class="row">
        <div class="container">
            <div class=" small-12 medium-3 columns account-info">
                <a href="{{ 'find-a-consultant'|maxify }}" class="button-corporate hide">{% blocktrans %}Connect with a consultant{% endblocktrans %}</a>
            </div>

            <div class="account-info right small-12 medium-9 columns">
                <div class="row">
                    {% if user.is_authenticated %}
                        <ul class="dropdown menu" data-dropdown-menu >
                            {% if request.subdomain %}
                                {% show_cart %}
                            {% endif %}
                            <li><a href="/contact/contact-norwex">Contact Norwex</a></li>
                            {% if user.is_authenticated %}
                                <li><a>{% trans "Welcome," %} {% firstof user.get_short_name user.get_username %} </a></li>

                                {% if user.is_staff %}
                                    <li class="dropdown">
                                        <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span
                                                class="icobutton icon-user"></span> {% blocktrans %}My Account{% endblocktrans %}
                                            <b class="caret"></b></a>

                                        <ul class="menu" data-url="{% url 'set_language' %}">
                                            <li><a href="{% url 'dashboard_home' %}">{% blocktrans %}My Dashboard{% endblocktrans %}</a></li>
                                            <li><a href="/manage">{% blocktrans %}Administrator Dashboard{% endblocktrans %}</a></li>
                                            <li><a href="/api">{% blocktrans %}Developer API{% endblocktrans %}</a></li>
                                            <li><a href="/accounts/logout">{% trans "Logout" %}</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{{ 'consultant/logout'|maxify }}">{% blocktrans %}Logout</{% endblocktrans %}a></li>
                                {% endif %}
                            {% else %}
                                {% if request.subdomain  %}
                                    <li class="dropdown">
                                        <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span
                                                class="icobutton icon-user"></span> {% trans "Login" %}
                                            <b class="caret"></b></a>

                                        <ul class="menu" data-url="{% url 'set_language' %}">
                                            <li><a href="{{ 'customer/login'|maxify }}">Customer Login</a></li>
                                            <li><a href="{{ 'pws/customer/login'|maxify }}">Consultant Login</a></li>
                                        </ul>
                                    </li>
                                {% else %}
                                    <li><a href="{{ 'consultant/login'|maxify }}">{% blocktrans %}Consultant Login{% endblocktrans %}</a></li>
                                {% endif %}
                            {% endif %}

                            <li class="dropdown">
                                {% get_current_language as LANGUAGE_CODE %}
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span
                                        class="icobutton flag {{ LANGUAGE_CODE }}"><b class="caret"></b></span> {{ LANGUAGE_CODE|language_name_local|capfirst }}
                                </a>

                                <ul class="menu" data-url="{% url 'set_language' %}">
                                    {% get_language_info_list for LANGUAGES as languages %}
                                    {% for lang in LANGUAGES %}
                                        {% get_language_info for lang.0 as language %}
                                        <li class="{% if language.code == LANGUAGE_CODE %}active{% endif %}">
                                            <a href="#" class="lng-change"
                                               data-code="{{ lang.0 }}"><span
                                                    class="icobutton flag {{ lang.0 }}"><b class="caret"></b></span>

                                                {% if lang.0 == 'en-us' %}
                                                    <span> {% trans "US" %}</span> {{ language.name_local|capfirst }}

                                                {% elif lang.0 == 'es-us' %}
                                                    <span> {% trans "US" %}</span> {{ language.name_local|capfirst }}

                                                {% elif lang.0 == 'fr-ca' %}
                                                    <span> {% trans "Canadian" %}</span> {{ language.name_local|capfirst }}

                                                {% elif lang.0 == 'en-ca' %}
                                                    <span> {% trans "Canadian" %}</span> {{ language.name_local|capfirst }}
                                                {% endif %}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                                {% csrf_token %}
                            </li>
                        </ul>

                    {% else %}
                        <ul class="dropdown menu" data-dropdown-menu >
                            {% if request.subdomain %}
                                {% show_cart %}
                                <li><a href="{{ '/customer/about-me'|maxify }}">{% blocktrans %}Contact Me{% endblocktrans %}</a></li>
                                <li><a href="#" data-toggle="dropdown" class="dropdown-toggle"><span
                                        class="icobutton icon-user"></span> {% trans "Login" %}
                                    <b class="caret"></b></a>

                                    <ul class="menu" data-url="{% url 'set_language' %}">
                                        <li><a href="{{ 'customer/login'|maxify }}">Customer Login</a></li>
                                        <li><a href="{{ 'pws/customer/login'|maxify }}">Consultant Login</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <li><a href="/contact/contact-norwex">{% blocktrans %}Contact Norwex{% endblocktrans %}</a></li>
                                <li>
                                    <a href="{{ 'consultant/login'|maxify }}" title="Login">{% blocktrans %}Consultant Login{% endblocktrans %}<span class="arrow"></span></a>
                                </li>
                            {% endif %}


{#                            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}#}
{#                                <input name="next" type="hidden" value="{{ redirect_to }}" />#}
{#                                <select name="language">#}
{#                                    {% get_current_language as LANGUAGE_CODE %}#}
{#                                    {% get_available_languages as LANGUAGES %}#}
{#                                    {% get_language_info_list for LANGUAGES as languages %}#}
{#                                    {% for language in languages %}#}
{#                                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>#}
{#                                            {{ language.name_local }} ({{ language.code }})#}
{#                                        </option>#}
{#                                    {% endfor %}#}
{#                                </select>#}
{#                                <input type="submit" value="Go" />#}
{#                            </form>#}

                            <li class="dropdown">
                                {% get_current_language as LANGUAGE_CODE %}
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span
                                        class="icobutton flag {{ LANGUAGE_CODE }}"><b class="caret"></b></span> {{ LANGUAGE_CODE|language_name_local|capfirst }}
                                </a>
                                {#                            <form action="{% url 'set_language' %}" method="post">#}
                                {#                            <input name="next" type="hidden" value="{{ redirect_to }}" />#}
                                <ul class="menu" data-url="{% url 'set_language' %}">
                                    {% get_language_info_list for LANGUAGES as languages %}
                                    {% for lang in LANGUAGES %}
                                        {% get_language_info for lang.0 as language %}
                                        <li class="{% if language.code == LANGUAGE_CODE %}active{% endif %}">
                                            <a href="#" class="lng-change"
                                               data-code="{{ lang.0 }}"><span
                                                    class="icobutton flag {{ lang.0 }}"><b class="caret"></b></span>

                                                {% if lang.0 == 'en-us' %}
                                                    <span> {% trans "US" %}</span> {{ language.name_local|capfirst }}

                                                {% elif lang.0 == 'es-us' %}
                                                    <span> {% trans "US" %}</span> {{ language.name_local|capfirst }}

                                                {% elif lang.0 == 'fr-ca' %}
                                                    <span> {% trans "Canadian" %}</span> {{ language.name_local|capfirst }}

                                                {% elif lang.0 == 'en-ca' %}
                                                    <span> {% trans "Canadian" %}</span> {{ language.name_local|capfirst }}
                                                {% endif %}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                                {#                            </form>#}
                                {% csrf_token %}
                            </li>
                        </ul>
                    {% endif %}
                </div>

            </div>

        </div>
    </div>
</div>