{% load crispy_forms_tags %}
{% crispy form helper %}
{% load humanize %}
{% load i18n %}
{% load static %}

{#<div class="small-12 columns">#}
    {% for object in object_list %}
        {% include object.layout.template %}
        {% if object.layout %}
            {% include object.layout.template %}
        {% else %}
            {% include 'theme/default.html' %}
        {% endif %}
    {% empty %}
        <div class="no-records-found container">{% blocktrans %}No records found{% endblocktrans %}</div>

    {% endfor %}
{#</div>#}