{% load crispy_forms_tags %}
{% crispy form helper %}
{% load humanize %}
{% load i18n %}
{% load static %}

<div class="content-wrapper">
    {% for object in object_list %}
        {% include object.theme.template %}
        {% if object.theme %}
            {% include object.theme.template %}
        {% else %}
            {% include 'theme/default.html' %}
        {% endif %}
    {% empty %}
        <div class="no-records-found container">{% blocktrans %}No records found{% endblocktrans %}</div>

    {% endfor %}
</div>