{% load crispy_forms_tags %}
{% crispy form helper %}
{% load humanize %}
{% load i18n %}
{% load static %}

<div class="{% if not object.theme.sidebar_left %} small-12 medium-3 large-3 columns hide {% else %} {{ object.theme.sidebar_left }} {% endif %}">
    {% include "menu/_sidemenu_left.html" %}
</div>
<div class="{% if not object.theme.content_center %} small-12 medium-6 large-6 columns {% else %} {{ object.theme.content_center }} {% endif %}">
    {% crispy form %}
</div>
<div class="{% if not object.theme.sidebar_right %} small-12 medium-3 large-3 columns {% else %} {{ object.theme.sidebar_right }} {% endif %}">
    {% include "menu/_sidemenu_right.html" %}
</div>