{% load humanize %}
{% load i18n %}
{% load static %}

{% for social in socials|dictsort:"sort_order" %}
    <div class="social-media">
        <ul class="list-inline">
            <li><a href="{{ social.social_media_url }}" target="_blank" title="{{ social.title|capfirst }}"><i class="icon-{{ social.slug }}"></i></a></li>
        </ul>
    </div>
{% endfor %}