{% load humanize %}
{% load i18n %}
{% load static %}

<div class="social-share-wrapper row">
    <div>{% trans "Share" %}:</div>
{#    {{ request.build_absolute_uri }}#}
        <span class="social-share">
            <span><a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
            <span class="icon-facebook"></span>
        </a>
            </span>

            <span><a href="https://twitter.com/home?status={{ object.content|striptags|safe|urlencode:"+" }}%20{{ request.build_absolute_uri }}">
<span class="icon-twitter"></span>
</a>
            </span>


            <span><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={% firstof object.title object.name object.full_name %}&summary={{ object.content|striptags|safe|urlencode:"+" }}&source={{ request.build_absolute_uri }}">
<span class="icon-linkedin"></span>
</a>
            </span>

            <span><a href="<a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>">
            <span class="icon-googleplus"></span>
        </a>
            </span>

        </span>
</div>


