body.leadership-team {
	.section {
		h1 {
			font-size: 37px;
			line-height: 1;
			margin-bottom: 5px;

			@media screen and (max-width: $phone) {
				font-size: 28px;
			}

		}

		.staff-photo {
			@media screen and (max-width: $phone) {
				max-height: 200px;
			}
		}

		h2 {
			font-size: 20px;
			font-family: 'Proxima-Nova-L';
			color: $default;

			@media screen and (max-width: $phone) {
				font-size: 18px;
			}
		}

		blockquote {
			margin-top: 80px;

			@media (max-width: $big-phone) {
				margin-top: 20px;
			}

			@media (max-width: $phone) {
				margin-top: 20px;
			}
		}
	}
}

// this doesnt belong here in this stylesheet,
//i'll have to move. Only have here to avoid conflicts.

.section {
	padding: $huge 0 $huge 0;

}

.social-share a {
	text-decoration: none;
	line-height: inherit;
	cursor: pointer;
	font-size: 14px;
	float: left;
	display: inline-flex;
	background: $teal;
	color: $white;
	padding: 7px 7px;
	height: 28px;
	width: 28px;
	border-radius: 50px;
	margin-left: 8px;
}

.icon-seperator {
	width: 100%;
	min-height: 40px;
	position: relative;

	&:before {
		content:'';
		height: 2px;
		background: $light-gray;
		width: 100%;
		position:absolute;
		left:0;
		right: 0;
		top: 50%;
		display: block;
		transform: translateY(-50%);
	}

	[class^="icon-"] {
		position: absolute;
		left: 50%;
		top: 50%;
		display: block;
		transform: translate(-50%, -50%);
		background: $white;
		padding: 0 25px;
		font-size: 45px;
	}
}

.site-contain {
	max-width: 1600px;
	margin: 0 auto;
	position: relative;
}