{%  extends 'base.html' %}

{% load humanize %}
{% load i18n %}
{% load static %}
{% load cms_extras %}

{#{% block title %}{% endblock %}#}
{#{% block topbar %}#}
{#{% endblock %}#}
{#{% block header %}#}
{#{% endblock %}#}


{% block featured %}

{% endblock %}

<div class="row">
    {% block messages %}
        {% include "widgets/messages.html" %}
    {% endblock %}
    {% block outer_content %}{% endblock %}
    <div class="container inner-content">
        {% block sidebar-left %}
            {% block cta-left-top %}{% endblock %}
            {% block sidenav-left %}{% endblock %}
            {% block cta-left-bottom %}{% endblock %}
        {% endblock %}
        {% block content %}
            {% block content-top %}{% endblock %}
            {% block content-main %}{% endblock %}
            {% block content-bottom %}
                {% block social-share %}{% endblock %}
            {% endblock %}
        {% endblock %}
        {% block sidebar-right %}
            {% block cta-right-top %}{% endblock %}
            {% block sidenav-right %}{% endblock %}
            {% block cta-right-bottom %}{% endblock %}
        {% endblock %}
    </div>

</div>
<footer>
    {% block footer %}
        {% block footer-top %}{% endblock %}
        {% block footer-main %}
            {% include "footer.html" %}
        {% endblock %}
        {% block footer-bottom %}{% endblock %}
    {% endblock footer %}
</footer>