{#{% load common_tags %}#}
{#{% load rules %}#}
{% load i18n %}
{% load cms_extras %}


{#<nav>#}
{##}
{#<h1>Testing{{ menu }}</h1>#}
{#    {% for link in footermenu %}#}
{#        {{ link }}#}
{#        {% for link in menu.menu_link.all|dictsort:"sort_order" %}#}
{#            <a href="{{ link.url }}">{{ link.title }}</a>#}
{#        {% endfor %}#}
{#    {% endfor %}#}
{#</nav>#}


{#<ul>#}
{#{% for f in footermenu|dictsort:"sort_order" %}#}
{#    <li>{{ f.title }}</li>#}
{#{% endfor %}#}
{#</ul>#}


<nav>
    <a href="{% url 'product_mission_banner_list' %}">{% blocktrans %}Product Mission{% endblocktrans %}</a>
    <a href="/corporate/norwex-guarantee/">{% blocktrans %}Product Guarantee{% endblocktrans %}</a>
    <a href="/corporate/shipping/">{% trans "Shipping" %}</a>
    <a href="/corporate/privacy-policy/">{% blocktrans %}Privacy Policy{% endblocktrans %}</a>
    <a href="/corporate/terms-and-conditions/">{% blocktrans %}Terms and Conditions{% endblocktrans %}</a>
    <a href="https://joom.ag/IggQ" target="_blank">{% blocktrans %}View the Catalog Flip Book{% endblocktrans %}</a>
</nav>
