{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load cms_extras %}
<div class="main-menu">
    <nav data-structure="mobile-menu" class="main-nav">
        <ul class="dropdown menu hide-for-small-only" data-dropdown-menu>

            <li>
                <a href="{% url 'about_banner_list' %}">{% blocktrans %}Our Story{% endblocktrans %}</a>

                <ul class="menu single-menu">

                    <div class="columns small-12">
                        <li class="heading">{% blocktrans %}About Us{% endblocktrans %}</li>

                        <li>
                            <a href="{% url 'leadership_team_list' %}">{% blocktrans %}
                                Our Leadership Team{% endblocktrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'our_heritage_list' %}">
                                {% blocktrans %}Our Heritage{% endblocktrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'product_mission_banner_list' %}">
                                {% blocktrans %}Product Mission{% endblocktrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'charitable_partners_banner_list' %}">
                                {% blocktrans %}Charitable Partners{% endblocktrans %}
                            </a>
                        </li>
                    </div>


                </ul>

            </li>


            <li>
                <a href="{{ 'shop/all'|maxify }}">Shop</a>

                <ul class="menu expanded-menu">

                    <div class="columns small-3">
                        <li class="heading">{% trans "Featured" %}</li>

                        <li>
                            <a href="{{ 'shop/New_Products'|maxify }}">
                                {% blocktrans %}New Products{% endblocktrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ 'shop/Top_Ten_Products'|maxify }}">
                                {% blocktrans %}Top 10 Products{% endblocktrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ 'shop/Sustainable'|maxify }}">
                                {% trans "Sustainable" %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ 'shop/Norwex_Collections'|maxify }}">
                                {% blocktrans %}Norwex Collections{% endblocktrans %}
                            </a>
                        </li>
                        <li>
                        <li>
                            <a href="{% url 'specials_sales_banner_list' %}">
                                {% blocktrans %}Sales and Specials{% endblocktrans %}
                            </a>
                        </li>
                    </div>

                    <div class="columns small-3">
                        <li class="heading">{% blocktrans %}For Yourself{% endblocktrans %}</li>

                        <li>
                            <a href="{{ 'shop/Bath_and_Body_Care'|maxify }}">
                                {% blocktrans %}Bath and Body Care{% endblocktrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ 'shop/Personal_Care'|maxify }}">
                                {% blocktrans %}Personal Care{% endblocktrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ 'shop/Kids'|maxify }}">
                                {% trans "Kids" %}
                            </a>
                        </li>
                    </div>

                    <div class="columns small-3">
                        <li class="heading">{% blocktrans %}For Your Home{% endblocktrans %}</li>

                        <li>
                            <a href="{{ 'shop/Floor_Systems'|maxify }}">
                                {% blocktrans %}Floor Systems{% endblocktrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ 'shop/Home_Essentials'|maxify }}">
                                {% blocktrans %}Home Essentials{% endblocktrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ 'shop/Kitchen_Cleaning'|maxify }}">
                                {% blocktrans %}Kitchen Cleaning{% endblocktrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ 'shop/Microfiber'|maxify }}">
                                {% trans "Microfiber" %}
                            </a>
                        </li>
                    </div>

                    <div class="columns small-3">
                        <li class="heading">{% blocktrans %}Product Resources{% endblocktrans %}</li>

                        <li>
                            <a href="{% url 'safe_haven_house_banner_list' %}">
                                {% blocktrans %}Safe Haven House{% endblocktrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'chemicals_concern_quiz_banner_list' %}">
                                {% blocktrans %}Chemicals of Concern Quiz{% endblocktrans %}
                            </a>
                        </li>
                        <li>
                            <a href="/products/ingredient-standards/">
                                {% blocktrans %}Ingredient Standards{% endblocktrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'microfiber_banner_list' %}">
                                {% blocktrans %}About Norwex Microfiber{% endblocktrans %}
                            </a>
                        </li>
                        {#                                                    <li>#}
                        {#                                                        <a href="{% url 'product_faq_list' %}">#}
                        {#                                                            {% blocktrans %}Product FAQs{% endblocktrans %}#}
                        {#                                                        </a>#}
                        {#                                                    </li>#}
                    </div>


                    <div class="small-12 columns text-center menu-footer">
                        {% if request.subdomain %}<a href="{{ 'customer/shop'|maxify }}">{% blocktrans %}Shop All
                            Products{% endblocktrans %}</a>
                        {% else %}
                            <a href="{{ 'shop/all'|maxify }}">{% blocktrans %}Shop All
                                Products{% endblocktrans %}</a>
                        {% endif %}
                        | <a>{% blocktrans %}Download Catalog{% endblocktrans %}</a></div>
                </ul>

            </li>


            <li>
                <a href="{% url 'host_banner_list' %}">{% blocktrans %}Host A Party{% endblocktrans %}</a>
            </li>


            <li>
                <a href="{% url 'join_banner_list' %}">{% trans "Join" %}</a>
            </li>

            {#                                         <li>#}
            {#                                            <a href="{% url 'all_news_list' %}">{% trans "News" %}</a>#}
            {#                                        </li>#}

        </ul>
    </nav>
</div>