{% load i18n %}
{% load static %}
<ul class="menu vertical">
    <li><a href="{% url 'general_news_list' %}" class="active">{% blocktrans %}General News{% endblocktrans %}</a></li>
    <li><a href="{%  url 'company_news_list' %}" class="list-group-item">{% blocktrans %}Company News{% endblocktrans %}</a></li>
    <li> <a href="{% url 'product_notice_news_list' %}" class="list-group-item">{% blocktrans %}Product Notice News{% endblocktrans %}</a></li>
    <li><a href="{% url 'urgent_news_list' %}" class="list-group-item">{% blocktrans %}Urgent News{% endblocktrans %}</a></li>
    <li><a href="{% url 'norwex_movement_news_list' %}" class="list-group-item">{% blocktrans %}Norwex Movement News{% endblocktrans %}</a></li>
    <li><a href="{% url 'events_news_list' %}" class="list-group-item">{% blocktrans %}Event News{% endblocktrans %}</a></li>
    <li><a href="{% url 'news_archive_list' %}" class="list-group-item">{% blocktrans %}News Archive{% endblocktrans %}</a></li>
</ul>