{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load cms_extras %}

<ul class="vertical menu " data-responsive-menu="drilldown">
    <li>
        <a href="/">{% trans "Home" %}</a>
    </li>

    <li>
        <a href="{% url 'about_banner_list' %}">{% blocktrans %}Our Story{% endblocktrans %}</a>


        <ul class="vertical menu">

            <li class="heading"><a href="#">About Us</a>
                <ul class="vertical menu">
                    <li>
                        <a href="{% url 'leadership_team_list' %}">{% blocktrans %}
                            Our Leadership Team{% endblocktrans %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'our_heritage_list' %}">
                            {% blocktrans %}Our Heritage{% endblocktrans %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'product_mission_banner_list' %}">
                            {% blocktrans %}Product Mission{% endblocktrans %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'charitable_partners_banner_list' %}">
                            {% blocktrans %}Charitable Partners{% endblocktrans %}
                        </a>
                    </li>
                </ul>
        </ul>

    </li>


    <li>
        <a href="{{ 'shop/all'|maxify }}">Shop</a>


        <ul class="vertical menu">

            <li class="heading"><a href="#">{% blocktrans %}Featured{% endblocktrans %}</a>
                <ul class="vertical menu">
                    <li>
                        <a href="{{ 'shop/New_Products'|maxify }}">
                            {% blocktrans %}New Products{% endblocktrans %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ 'shop/Sustainable'|maxify }}">
                            {% trans "Sustainable" %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ 'shop/Norwex_Collections'|maxify }}">
                            {% blocktrans %}Norwex Collections{% endblocktrans %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ 'shop/Top_Ten_Products'|maxify }}">
                            {% blocktrans %}Top 10 Products{% endblocktrans %}
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'specials_sales_banner_list' %}">
                            {% blocktrans %}Sales and Specials{% endblocktrans %}
                        </a>
                    </li>
                </ul>
            </li>

            <li class="heading"><a href="#">{% blocktrans %}For Yourself{% endblocktrans %}</a>
                <ul class="vertical menu">
                    <li>
                        <a href="{{ 'shop/Bath_and_Body_Care'|maxify }}">
                            {% blocktrans %}Bath and Body Care{% endblocktrans %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ 'shop/Personal_Care'|maxify }}">
                            {% blocktrans %}Personal Care{% endblocktrans %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ 'shop/Kids'|maxify }}">
                            {% trans "Kids" %}
                        </a>
                    </li>
                </ul>
            </li>

            <li class="heading"><a href="#">{% blocktrans %}For Your Home{% endblocktrans %}</a>
                <ul class="vertical menu">
                    <li>
                        <a href="{{ 'shop/Floor_Systems'|maxify }}">
                            {% blocktrans %}Floor Systems{% endblocktrans %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ 'shop/Home_Essentials'|maxify }}">
                            {% blocktrans %}Home Essentials{% endblocktrans %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ 'shop/Kitchen_Cleaning'|maxify }}">
                            {% blocktrans %}Kitchen Cleaning{% endblocktrans %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ 'shop/Microfiber'|maxify }}">
                            {% trans "Microfiber" %}
                        </a>
                    </li>
                </ul>
            </li>

            <li class="heading"><a href="#">{% blocktrans %}Product Resources{% endblocktrans %}</a>
                <ul class="vertical menu">
                    <li>
                        <a href="{% url 'safe_haven_house_banner_list' %}">
                            {% blocktrans %}Safe Haven House{% endblocktrans %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'chemicals_concern_quiz_banner_list' %}">
                            {% blocktrans %}Chemicals of Concern Quiz{% endblocktrans %}
                        </a>
                    </li>
                    <li>
                        <a href="/products/ingredient-standards/">
                            {% blocktrans %}Ingredient Standards{% endblocktrans %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'microfiber_banner_list' %}">
                            {% blocktrans %}About Norwex Microfiber{% endblocktrans %}
                        </a>
                    </li>
                    {#                    <li>#}
                    {#                        <a href="{% url 'product_faq_list' %}">#}
                    {#                            {% blocktrans %}Product FAQs{% endblocktrans %}#}
                    {#                        </a>#}
                    {#                    </li>#}
                </ul>
            </li>
        </ul>

    </li>


    <li>
        <a href="{% url 'host_banner_list' %}">{% blocktrans %}Host A Party{% endblocktrans %}</a>
    </li>


    <li>
        <a href="{% url 'join_banner_list' %}">{% trans "Join" %}</a>
    </li>

    <li>
        <a href="{{ '/customer/about-me'|maxify }}">Contact Me</a>
    </li>


    {#    <li>#}
    {#        <a href="{% url 'all_news_list' %}">{% trans "News" %}</a>#}
    {#    </li>#}

</ul>