{% extends 'base_home.html' %}
{% load static %}
{% load i18n %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/compiled/index.css' %}"/>
{% endblock %}

{% block outer_content %}
    {% block featured %}
        {% include "featured/join.html" %}
    {% endblock %}
{% endblock %}

{% block content %}

    <div id="content-area">
            <div class="container">
                    <div class="container content-area" >
                        {% include "util/demo-data.html" %}

                    </div>

            </div>
    </div>

{% endblock %}



