{% load common_tags %}
{% load rules %}
{% load i18n %}


<ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
    <li class="list-group-item {% active 'dashboard/$' %}">
        <a href="{% url 'dashboard_home' %}"><i class="fa fa-bar-chart-o"></i>Overall</a>
    </li>
    {% if recruiter %}
        <li class="list-group-item list-group-item-recruiter {% active 'dashboard_job_posts_home' %}">
            <a href="{% url 'dashboard_job_posts_home' %}">
                <i class="fa fa-file-text-o"></i>Job posts</a>
        </li>
        <li class="list-group-item list-toggle list-group-item-recruiter">
            <a data-toggle="collapse" data-parent="#sidebar-nav" href="#jobs-manager">
                <i class="fa fa-suitcase"></i>Jobs manager</a>
            <ul id="jobs-manager" class="collapse">
                <li><a href="{% url 'dashboard_jm_job_applications' %}"><i class="fa fa-inbox"></i> Incoming job applications</a></li>
                <li><a href="{% url 'dashboard_jm_interview_invitations' %}"><i class="fa fa-envelope-o"></i> Sent interview invitations</a></li>
                <li>
                    <a href="{% url 'dashboard_jm_contact_requests' %}"><i class="fa fa-send"></i> Sent contact requests</a>
                </li>
            </ul>
        </li>
        <li class="list-group-item list-group-item-recruiter">
            <a href="#"><i class="fa fa-book"></i>Contacts</a>
        </li>
    {% endif %}
    <li class="list-group-item list-toggle">
        <a data-toggle="collapse" data-parent="#sidebar-nav" href="#personal-jobs-manager">
            <i class="fa fa-user"></i>Personal job applications</a>
        <ul id="personal-jobs-manager" class="collapse">
            <li><a href="{% url 'dashboard_pja_job_applications' %}"><i class="fa fa-envelope-o"></i>My job applications</a></li>
            <li><a href="{% url 'dashboard_pja_interview_invitations' %}"><i class="fa fa-inbox"></i>Interview invitations</a></li>
            <li><a href="{% url 'dashboard_pja_contact_requests' %}"><i class="fa fa-info"></i>Contact requests</a></li>
        </ul>
    </li>
    <li class="list-group-item">
        <a href="#"><i class="fa fa-archive"></i>Saved jobs</a>
    </li>
    <li class="list-group-item">
        <a href="#"><i class="fa fa-users"></i>Friends</a>
    </li>
</ul>