{% extends 'dashboard/layout.html' %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}
{#{% load avatar_tags %}#}
{% load thumbnail %}
{% load static %}
{% load cms_extras %}


{% block head_title %}Dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <div class="container recent-projects-timeline">
        <div class="container">
            <h1>{% trans "Dashboard" %}</h1>
            <div class="small-12 medium-6 large-6 columns welcome-wrapper">
                <span class="status"><span class="icon-nwx-home"></span>{% trans "Welcome" %}, {% if user.is_authenticated %}{{ user.first_name }} {{ user.last_name }}{% endif %}

                </span>
            </div>
            <div class="small-12 medium-6 large-6 columns text-right">
                <span class="text-right"><span class="icon-user"></span>{% trans "Welcome" %}, {% if user.is_authenticated %}{{ user.first_name }} {{ user.last_name }}{% endif %}

                </span>
            </div>
            <div class="container">
                <div class="small-12 medium-9 columns">
                    <img src="http://placehold.it/850x450">
                </div>
                <div class="small-12 medium-3 columns">
                    <div class="dashboard_cta">
{#                        {% latest_questions  %}#}
                        <img src="http://placehold.it/550x430">
                    </div>
                    <div class="dashboard_cta">
{#                        {% topfive_questions  %}#}
                        <img src="http://placehold.it/550x430">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="dashboard_container_wrapper">
                <div class="small-12 medium-4 large-4 columns">
                    <h3>Pages:</h3>
                <h5>Total: {{ pages.count }}</h5>
                    {% for item in pages|dictsort:"publish_start"|slice:":3" %}
                        <div><span class="qtitle">{{ item.title }}</span><span> - <i>{{ item.category }}</i></span></div>
                        <hr>
                    {% endfor %}
                </div>
                <div class="small-12 medium-4 large-4 columns">
                    <h3>Resources:</h3>
                <h5>Total: {{ resources.count }}</h5>
                    {% for item in resources|dictsort:"publish_start"|slice:":3"  %}
                        <div><span class="ctitle">{{ item.title }}</span><span> - <i>{{ item.category }}</i></span></div>
                        <hr>
                    {% endfor %}
                </div>
                <div class="small-12 medium-4 large-4 columns">
                    <h3>Emails:</h3>
                <h5>Total: {{ emails.count }}</h5>
                    {% for item in emails|dictsort:"publish_start"|slice:":3"  %}
                        <div><span class="ctitle">{{ item.title }}</span><span> - <i>{{ item.category }}</i></span></div>
                        <hr>
                    {% endfor %}
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
