{#<ul>#}
{#{% for q in quotes|dictsort:"sort_order" %}#}
{#    <li>{{ q.title }} -  {{ q.author }} </li>#}
{#{% endfor %}#}
{#</ul>#}



<section class="hero">
                {% for object in object_list %}
        {% if object.slug == "home" and object.active == True %}
            {% include 'cms-extras/banner_edit.html' %}
			<div class="hero-image" style="background-image: url('{{ object.img.url }}') !important;"></div>
        {% endif %}
    {% endfor %}
            {% for cta in object.cta.all %}
        {% if cta.slug == "home-hero" and cta.active == True %}


                <div class="hero-image-text">
                {% include 'cms-extras/cta_edit.html' %}
                    <div class="hero-image-text-icon">
                        <svg><use xlink:href="#green-house" /></svg>
                    </div>
                    <div class="hero-image-text-heading">{{ object.cta.slug }} {{ cta.hero_text|striptags|safe }}</div>
                    <div class="hero-image-text-subheading">{{ cta.cf1|striptags|safe }}</div>
                    <div class="hero-image-text-shop-button">
                        {% if request.subdomain and cta.is_pws == True %}
                            <a href="{{ cta.pws_link }}"><button class="cta">{{ cta.pws_link_label }}</button></a>
                        {% else %}
                            <a href="{{ cta.link }}"><button class="cta">{{ cta.link_label }}</button></a>
                        {% endif %}
                    </div>
                </div>
                <div class="hero-text">
                    <div class="wrap">
                        <div class="hero-text-container">
                            {% include 'cms-extras/cta_edit.html' %}
                            <h1>{{ cta.sub_text|striptags|safe }}</h1>
                        </div>
                    </div><!-- End Wrap -->
                </div>
            {% endif %}
    {% endfor %}
            </section>