
{% for s in shop_host_join_learn %}
    {{ s.slug }}
<div class="circle-button-container">
    {% include 'cms-extras/cta_edit.html' %}
    <a class="{{ s.slug|striptags|safe }}" data-behavior="scroll-to" data-target="{{ s.slug|striptags|safe }}-section">
        <span>{{ s.hero_text|striptags|safe }}</span>
        <svg><use xlink:href="{{ s.svg|striptags|safe }}"/></svg>
    </a>
</div>
{% endfor %}