{#{% load common_tags %}#}
{#{% load rules %}#}
{% load i18n %}

<ul class="menu vertical">
    <li><a href="{% url 'page_list' %}">{% trans "Pages" %}</a><i>{{ instance.count }}</i></li>
    <li><a href="{% url 'resource_list' %}"> {% trans "Resources" %}</a></li>
    <li><a href="{% url 'dashboard_list' %}"> {% trans "Dashboards" %}</a></li>
    <li><a href="{% url 'email_list' %}"> {% trans "Emails" %}</a></li>
    <li><a href="{% url 'specials_list' %}"> {% trans "Specials" %}</a></li>
    <li><a href="{% url 'incentives_list' %}"> {% trans "Incentives" %}</a></li>
    <li><a href="{% url 'tag_list' %}"> {% trans "Tags" %}</a></li>
    <li><a href="{% url 'category_list' %}"> {% trans "Categories" %}</a></li>
    {% if user.is_superuser or user.is_staff  %}
        <fieldset class="fieldset">
            <legend><span class="icon-cog4"> </span> {% blocktrans %}Create New Content{% endblocktrans %}</legend>

            {% if object.ct.app_label == "cmf" %}
                <ul>
                    <li><a href="{% url 'page_create' %}"><i class="icon-file4"></i> {% trans "Page" %}</a></li>
                    <li><a href="{% url 'resource_create' %}"><i class="icon-wrench"></i> {% trans "Resource" %}</a></li>
                    <li><a href="{% url 'dashboard_create' %}"><i class="icon-dashboard"></i> {% trans "Dashboard" %}</a></li>
                    <li><a href="{% url 'email_create' %}"><i class="icon-envelope"></i> {% trans "Email" %}</a></li>
                    <li><a href="{% url 'specials_create' %}"><i class="icon-balloon"></i> {% trans "Specials" %}</a></li>
                    <li><a href="{% url 'incentives_create' %}"><i class="icon-coins"></i> {% trans "Incentives" %}</a></li>
                    <li><a href="{% url 'tag_create' %}"><i class="icon-tag5"></i> {% trans "Tags" %}</a></li>
                    <li><a href="{% url 'category_create' %}"><i class="icon-cabinet"></i> {% trans "Categories" %}</a></li>
                    {#                <li><a href="{% url 'menu_create' %}"><i class="icon-list"></i> {% trans "Menu" %}</a></li>#}
                </ul>
            {% elif object.ct.app_label == "news" %}
                <ul>
                    <li><a href="{% url 'news_create' %}"><i class="icon-newspaper"></i> {% trans "News" %}</a></li>
                    <li><a href="{% url 'post_create' %}"><i class="icon-file4"></i> {% trans "Post" %}</a></li>
                    <li><a href="{% url 'event_create' %}"><i class="icon-bullhorn"></i> {% trans "Event" %}</a></li>
                    <li><a href="{% url 'event_tag_create' %}"><i class="icon-tag5"></i> {% trans "Event Tag" %}</a></li>
                    <li><a href="{% url 'calendar_create' %}"><i class="icon-calendar"></i> {% trans "Calendar" %}</a></li>
                </ul>
            {% else %}
                <ul>
                    <li><a href="{% url 'site_config_create' %}"><i class="icon-file4"></i> {% trans "Site Configuration" %}</a></li>
                    <li><a href="{% url 'resource_create' %}"><i class="icon-wrench"></i> {% trans "Resource" %}</a></li>
                    <li><a href="{% url 'dashboard_create' %}"><i class="icon-dashboard"></i> {% trans "Dashboard" %}</a></li>
                    <li><a href="{% url 'email_create' %}"><i class="icon-envelope"></i> {% trans "Email" %}</a></li>
                    <li><a href="{% url 'specials_create' %}"><i class="icon-balloon"></i> {% trans "Specials" %}</a></li>
                    <li><a href="{% url 'incentives_create' %}"><i class="icon-coins"></i> {% trans "Incentives" %}</a></li>
                    <li><a href="{% url 'tag_create' %}"><i class="icon-tag5"></i> {% trans "Tags" %}</a></li>
                    <li><a href="{% url 'category_create' %}"><i class="icon-cabinet"></i> {% trans "Categories" %}</a></li>
                    <li><a href="{% url 'menu_create' %}"><i class="icon-list"></i> {% trans "Menu" %}</a></li>
                    <li><a href="{% url 'news_create' %}"><i class="icon-newspaper"></i> {% trans "News" %}</a></li>
                    <li><a href="{% url 'post_create' %}"><i class="icon-file4"></i> {% trans "Post" %}</a></li>
                    <li><a href="{% url 'event_create' %}"><i class="icon-bullhorn"></i> {% trans "Event" %}</a></li>
                    <li><a href="{% url 'event_tag_create' %}"><i class="icon-tag5"></i> {% trans "Event Tag" %}</a></li>
                    <li><a href="{% url 'calendar_create' %}"><i class="icon-calendar"></i> {% trans "Calendar" %}</a></li>
                </ul>
            {% endif %}
        </fieldset>

        {% if object.menu_link or object.theme.slug %}
            <fieldset class="fieldset">
                <legend><span class="icon-palette2"> </span> {% blocktrans %}UI Styling Helper{% endblocktrans %}</legend>
                <ul>
                    {% if object.menu_link.menu.menu_location %}<li><b>{% blocktrans %}Menu Location{% endblocktrans %}:</b> <i>{{ object.menu_link.menu.menu_location }}</i></li>{% endif %}
                    {% if object.menu_link %}<li><b>{% blocktrans %}Menu Link{% endblocktrans %}:</b> <i>{{ object.menu_link }}</i>{% endif %}</li>
                    {% if object.menu_link.slug %}<li><b>{% blocktrans %}Menu Link Slug{% endblocktrans %}:</b> <i>{{ object.menu_link.slug }}</i></li>{% endif %}
                    {% if object.menu_link.menu_location %}<li><b>{% blocktrans %}Link Location{% endblocktrans %}:</b> <i>{{ object.menu_link.menu_location }}</i></li>{% endif %}
                    {% if object.category %}<li><b>{% blocktrans %}Category{% endblocktrans %}:</b> <i>{{ object.category }}</i></li>{% endif %}
                    {% if object.theme.slug %}<li><b>{% trans "Theme" %}:</b> <i>{{ object.theme.slug }}</i></li>{% endif %}
                    {% if object.theme.sidebar_left %}<li><b>{% trans "Sidebar Left" %}:</b> <i>{{ object.theme.sidebar_left }}</i></li>{% endif %}
                    {% if object.theme.content_center %}<li><b>{% trans "Content Center" %}:</b> <i>{{ object.theme.content_center }}</i></li>{% endif %}
                    {% if object.theme.sidebar_right %}<li><b>{% trans "Sidebar Right" %}:</b> <i>{{ object.theme.sidebar_right }}</i></li>{% endif %}
                </ul>
            </fieldset>
        {% endif %}

    {% endif %}
</ul>