{% load static %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span
                                            class="icobutton icon-globe2"></span> {{ LANGUAGE_CODE|language_name_local|capfirst }}
                                        <b class="caret"></b></a>

                                    <ul class="menu" data-url="{% url 'set_language' %}">
                                        {% get_language_info_list for LANGUAGES as languages %}
                                        {% for language in languages %}
                                            <li class="{% if language.code == LANGUAGE_CODE %}active{% endif %}">
                                                <a href="#" class="lng-change"
                                                   data-code="{{ language.code }}">{{ language.name_local|capfirst }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    {% csrf_token %}