{% load static %}
{% load i18n %}

{% get_language_info_list for LANGUAGES as languages %}
                {% if LANGUAGE_CODE == "en-us" %}
                    <a href="http://norwex.biz/en_US/consultant/login" title="Consultant Login">{% blocktrans %}Consultant Login{% endblocktrans %}</a>
                {% elif LANGUAGE_CODE == "es-us" %}
                    <a href="http://norwex.biz/es_US/consultant/login" title="Consultant Login">{% blocktrans %}Consultant Login{% endblocktrans %}</a>
                {% elif LANGUAGE_CODE == "en-ca" %}
                    <a href="http://norwex.biz/en_CA/consultant/login" title="Consultant Login">{% blocktrans %}Consultant Login{% endblocktrans %}</a>
                {% elif LANGUAGE_CODE == "fr-ca" %}
                    <a href="http://norwex.biz/fr_CA/consultant/login" title="Consultant Login">{% blocktrans %}Consultant Login{% endblocktrans %}</a>
                {% endif %}