{#{% load common_tags %}#}
{#{% load rules %}#}
{% load i18n %}

<div id="sidebar-right">
    {% block cta-right-top %}

    {% endblock %}
{#    {% for menu in menus %}#}
{#        {% if menu.slug == 'side-menu-right' %}#}
{#            <p>#}
{#                {{ menu.title }}#}
{#            </p>#}
{#        {% endif %}#}
{#    {% endfor %}#}
    <ul class="menu vertical">
        <li>
            <a href="{% url 'all_news_list' %}"><i class="icon-newspaper"></i> {% trans "News" %}</a>
            <ul class="nested vertical menu">
                <li><a href="{% url 'general_news_list' %}">{% trans "General News" %}</a></li>
                <li><a href="{% url 'company_news_list' %}">{% trans "Company News" %}</a></li>
                <li><a href="{% url 'product_notice_news_list' %}">{% trans "Product Notice" %}</a></li>
                <li><a href="{% url 'urgent_news_list' %}">{% trans "Urgent News" %}</a></li>
                <li><a href="{% url 'events_news_list' %}">{% trans "Events News" %}</a></li>
                <li><a href="{% url 'norwex_movement_news_list' %}">{% trans "Norwex Movement News" %}</a></li>
                <li><a href="{% url 'news_archive_list' %}">{% trans "News Archive" %}</a></li>
            </ul>
        </li>
        <li><a href="{% url 'post_list' %}"><i class="icon-feed2"></i> {% trans "Blog" %}</a></li>
        <li><a href="{% url 'corporate_event_list' %}"><i class="icon-megaphone"></i> {% trans "Events" %}</a></li>
        <li><a href="{% url 'corporate_calendar_list' %}"><i class="icon-calendar2"></i> {% trans "Calendars" %}</a></li>
        {#    <li><a href="{% url 'event_tag_list' %}"> {% trans "Event Tags" %}</a></li>#}
        {% if user.is_superuser or user.is_staff  %}
            <fieldset class="fieldset">
            <legend><span class="icon-cog4"> </span> {% blocktrans %}Create New Content{% endblocktrans %}</legend>
            <ul>
                <li><a href="{% url 'news_create' %}"><i class="icon-newspaper"></i> {% trans "News" %} </a></li>
                <li><a href="{% url 'post_create' %}"><i class="icon-feed2"></i> {% trans "Blog Post" %}</a></li>
                <li><a href="{% url 'event_create' %}"><i class="icon-megaphone"></i> {% trans "Event" %}</a></li>
                {#                    <li><a href="{% url 'event_tag_create' %}"><i class="icon-tag5"></i> {% trans "Event Tag" %}</a></li>#}
                <li><a href="{% url 'calendar_create' %}"><i class="icon-calendar2"></i> {% trans "Calendar" %}</a></li>
            </ul>
        {% endif %}
        </fieldset>

        {% if object.menu_link or object.theme.slug %}
            <fieldset class="fieldset">
                <legend><span class="icon-palette2"> </span> {% blocktrans %}UI Styling Helper{% endblocktrans %}</legend>
                <ul>
                    {% if object.menu_link.menu.menu_location %}<li><b>{% blocktrans %}Menu Location{% endblocktrans %}:</b> <i>{{ object.menu_link.menu.menu_location }}</i></li>{% endif %}
                    {% if object.menu_link %}<li><b>{% blocktrans %}Menu Link{% endblocktrans %}:</b> <i>{{ object.menu_link }}</i>{% endif %}</li>
                    {% if object.menu_link.slug %}<li><b>{% blocktrans %}Menu Link Slug{% endblocktrans %}:</b> <i>{{ object.menu_link.slug }}</i></li>{% endif %}
                    {% if object.menu_link.menu_location %}<li><b>{% blocktrans %}Link Location{% endblocktrans %}:</b> <i>{{ object.menu_link.menu_location }}</i></li>{% endif %}
                    {% if object.category %}<li><b>{% blocktrans %}Category{% endblocktrans %}:</b> <i>{{ object.category }}</i></li>{% endif %}
                    {% if object.theme.slug %}<li><b>{% trans "Theme" %}:</b> <i>{{ object.theme.slug }}</i></li>{% endif %}
                    {% if object.theme.sidebar_left %}<li><b>{% trans "Sidebar Left" %}:</b> <i>{{ object.theme.sidebar_left }}</i></li>{% endif %}
                    {% if object.theme.content_center %}<li><b>{% trans "Content Center" %}:</b> <i>{{ object.theme.content_center }}</i></li>{% endif %}
                    {% if object.theme.sidebar_right %}<li><b>{% trans "Sidebar Right" %}:</b> <i>{{ object.theme.sidebar_right }}</i></li>{% endif %}
                </ul>
            </fieldset>
        {% endif %}
    </ul>

    {% block cta-right-bottom %}

    {% endblock %}
</div>