{% extends "admin/change_form.html" %}

{% block object-tools-items %}
  {% if original %}
    {% for lang in available_languages  %}
      <li>
        <a href="?hl={{ lang }}">{{ lang }}</a>
      </li>
    {% endfor %}
  {% endif %}
  {{ block.super }}
{% endblock %}