{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load cms_extras %}

<div class="consultant-info container hide-for-small-only" >
    <div class="consultant-data small-9 columns" >
        <div class="consultant-name">Suzanne Holt</div>
        <div class="consultant-role-wrapper">
            <span class="consultant-role">{% blocktrans %}Team Coordinator{% endblocktrans %}</span> <span class="about-me"><a href="{{ 'customer/about-me'|maxify }}">{% blocktrans %}About Me{% endblocktrans %}</a></span>
        </div>
    </div>
    <div class="consultant-photo small-3 columns" >
        <img src="http://placehold.it/100x100">
    </div>
</div>