body.our-story {
  .icon-divider-heading .divider-container .icon-container svg {
    margin-top: 0.7em;
  }

  // Highlights Section
  .highlights {
    .highlight {
      &:first-child {
        @include highlight();
      }

      &:nth-child(2) {
        @include highlight($brand);
      }

      &:nth-child(3) {
        @include highlight($brand-alt);
      }
    } // End .highlight
  } // End .highlights

  // Heritage Section
  .heritage {
    @include section-callout($brand);

    .half-section-image {
      background-image: url("../../assets/images/water-cloth.jpg");
    } // End .image

    .icon-divider-heading {
      .divider-container {
        margin-bottom: 3em;

        // Secondary Mobile - Phone & Below
        @media screen and (max-width: $phone){
          margin-bottom: 0;
        } // End Phone & Below
      } // End .divider-container
    } // End .icon-divider-heading
  } // End .heritage

  // Vision Section
  .vision {
    @include section-callout($brand-alt);

    h2 {
      @include h1($brand-alt);
    }

    h3, h4 {
      background-color: transparent;
    }

    &.leaf-background {
      .background-leaves-container {
        .leaf-container {
          &:nth-child(1) {
            margin-top: 180px;
          }

          &:nth-child(2) {
            margin-top: 100px;
          }

          &:nth-child(3) {
            margin-top: 100px;
          }

          &:nth-child(4) {
            margin-top: 280px;
          }

          &:nth-child(5) {
            margin-top: 0;
          }

          &:nth-child(6) {
            margin-top: 0;
          }
        } // End .leaf-container
      } // End .background-leaves-container
    } // End .leaf-background
  } // End .vision
} // End body.our-story


body.leadership-team {

}
