/* entire container, keeps perspective */
.flip-container {
  @include browser-prefix(perspective, 1000px);
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  @include browser-prefix(transform, rotateY(180deg));
}

.front, .back, .flipper {
  width: 100%;
  height: 100%;
}

/* flip speed goes here */
.flipper {
  @include animate(all, 0.6s);
  @include full-box;
  @include browser-prefix(transform-style, preserve-3d);
  top: 0;
  left: 0;
}

/* hide back of pane during swap */
.front, .back {
  @include better-box;
  @include browser-prefix(backface-visibility, hidden);
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  @include browser-prefix(transform, rotateY(0deg));
}

/* back, initially hidden pane */
.back {
  @include browser-prefix(transform, rotateY(180deg));
}
