// Curtain
@mixin curtain($position: fixed) {
  background-color: rgba(invert($background), 0.9);
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  position: $position;
  top: 0;
  width: 100%;
  z-index: 9;
}

.curtain {
  @include curtain;
}

// Modal
@mixin modal {
  @include horizontal-center;
  background-color: $background;
  display: none;
  max-width: $phone;
  padding: 60px;
  top: $double-space;
  width: 100%;
  z-index: 10;

  // Secondary Mobile - Phone & Below
  @media screen and (max-width: $phone){
    top: 0;
  } // End Secondary Mobile
} // End modal

.modal {
  @include modal;
}

@mixin wrap {
  @include grid-row();
  float: none !important;
  position: relative;
  width: 90%;

  // Secondary Mobile - Phone & Below
  @media screen and (max-width: $phone) {
    @include grid-column(10);
    //@include grid-column-offset(1);
    @include grid-column-position(center);
  } // End Phone & Below
}

@mixin inner-wrap {
  @include grid-column(8);
  @include grid-column-offset(2);
  // @include grid-column-position(center);

  // Secondary Mobile - Phone & Below
  @media screen and (max-width: $phone) {
    @include grid-column;
    @include grid-column-offset(0);
  } // End Phone & Below
}

.wrap, .outer-container {
  @include wrap();

  &.inner {
    @include inner-wrap;
  }
} // End .wrap, .outer-container

// CTA
@mixin cta($background-color: $brand-alt, $color: $background, $border-color: $background-color) {
  @include animate(color, background-color, border-color);
  @include better-box;
  @include no-select;
  background-color: $background-color;
  border: 2px solid $border-color;
  color: $color;
  font-family: "Proxima-Nova-B";
  font-size: 0.875em;
  padding: 0.775em 1em;
  text-transform: uppercase;

  svg {
    @include better-box(inline);
    float: left;
    height: 1em;
    margin-right: $nano-space;
    width: 1em;

    & use {
      fill: $color;
    }
  } // End svg

  &:hover {
    color: $color;
  }
} // End cta

.cta {
  @include cta;
}

// Social Link
@mixin social-link($background-color: $brand) {
  @include better-box;
  background-color: $background-color;
  border-radius: 1000px;
  font-size: 1rem;
  height: $space;
  margin: $nano-space $nano-space 0 0;
  width: $space;

  svg {
    height: 1em;
    left: 26%;
    position: absolute;
    top: 25%;
    width: 1em;

    & use {
      fill: $background;
    }
  }
}

@mixin section($display: table) {
  @include full-box($display);
  padding: $double-space 0;
  text-align: center;

  // Primary Mobile - Tablet & Below
  @media screen and (max-width: $tablet){
    padding: $double-minor-space 0;
  } // End Tablet & Below

  &.half-section {
    .half-section-content {
      @include better-box;
      float: right;
      text-align: left;
      width: 48%;

      // Secondary Mobile - Phone & Below
      @media screen and (max-width: $phone){
        @include full-box;
      } // End Phone & Below
    } // End .half-section-content

    .half-section-image {
      background-position: left center;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      float: left;
      left: 0;
      max-width: 560px;
      padding-bottom: 50%;
      position: absolute;
      top: 0;
      width: 50%;
      z-index: -1;

      // Primary Mobile - Tablet & Below
      @media screen and (max-width: $tablet){
        background-position: center center;
        top: 10%;
      } // End Tablet & Below

      // Secondary Mobile - Phone & Below
      @media screen and (max-width: $phone){
        @include full-box;
        padding-bottom: 66%;
        top: 0;
        width: 66%;
      } // End Phone & Below
    } // End .half-section-image
  } // End .half-section
} // End section

section {
  @include section;
}

@mixin larger {
  font-size: 1.125em;
}

.larger {
  @include larger;
}

// Dividers
@mixin short-divider($background-color: $background) {
  padding: 0 $half-space;
  text-align: center;

  &:before, &:after {
    background-color: $background-color;
    content: "";
    height: 2px;
    position: absolute;
    top: calc(50% - 1px);
    width: 0.25em;
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }
} // End short-divider mixin

@mixin heading-divider {
  @include full-box;
  color: $brand;
  font-size: $minor-space;
  margin-bottom: $space;
  text-align: center;
  text-transform: uppercase;

  &:before {
    background-color: $border-color;
    color: $default;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: calc(50% - 1px);
    width: 100%;
  }

  span {
    @include better-box;
    background-color: $background;
    padding: 0 1em;
  }
} // End heading-divider mixin

.heading-divider {
  @include heading-divider;
}

// Columns Mixin
@mixin columns-layout($column-count: 2) {
  @include browser-prefix(column-count, $column-count);
  text-align: left;

  // Secondary Mobile - Phone & Below
  @media screen and (max-width: $phone){
    @include browser-prefix(column-count, 1);
  } // End Phone & Below
} // End columns

.columns-layout {
  @include columns-layout;
}

// Loading Indicator
@mixin loading($fill: $twitter-default) {
  @include full-box;
  text-align: center;

  svg {
    height: 2em;
    margin: 0 auto $micro-space;
    width: 2em;

    & use {
      fill: $fill;
    }
  } // End svg
} // End loading mixin

.loading {
  @include loading;
}

.green {
  color: $brand-alt;
}

@mixin quoter {
  color: $background;
  font-size: 1.125em;
  line-height: 120%;
  margin-bottom: $minor-space;

  // Secondary Mobile - Phone & Below
  @media screen and (max-width: $phone) {
    font-size: 0.8em;
  } // End Phone & Below
} // End quoter mixin

.quoter {
  @include quoter;
}

@mixin aspect-ratio-before {
  content: "";
  display: block;
  padding-top: 56.25%;
} // End aspect-ratio-before mixin

.disclaimer {
  font-family: "Proxima-Nova-I";

  &, > * {
    font-size: 0.875em;
    line-height: 140%;
  }

  span {
    font-family: "Proxima-Nova-SBI";
  }
} // End disclaimer

.usd {
  &:before {
    content: "$";
    font-size: 0.6em;
    position: relative;
    top: -0.5em;
  }
} // End usd

// Current Specials
@mixin current-specials($flyer-image: url('../../assets/images/current-specials-flyer.jpg'), $color: $brand) {
  @include better-box;
  padding: 3em 0 3em 10em;

  // Primary Mobile - Tablet & Below
  @media screen and (max-width: $tablet) {
    padding: 2em 0 2em 25%;
  } // End Tablet & Below

  // Secondary Mobile - Phone & Below
  @media screen and (max-width: $phone) {
    padding-left: 60%;
  } // End Phone & Below

  &:before {
    background-image: $flyer-image;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 8em;

    // Secondary Mobile - Phone & Below
    @media screen and (max-width: $phone) {
      width: 45%;
    } // End Phone & Below
  }

  h5 {
    color: $color;
  }

  a.cta {
    @include cta($color);
  }
} // End current-specials

.note {
  font-size: 0.75em;
}
