/* spacing helpers
p, m = padding, margin
a, t, r, b, l, h, v = all, top, right, bottom, left, horizontal, vertical
s, m, l, n = small(5px), medium(10px), large(20px), none(0px)
*/

$small: 5px;
$medium: 10px;
$large: 20px;
$huge: 30px;
$giant: 50px;

.ptn, .pvn, .pan { padding-top: 0; }
.pts, .pvs, .pas { padding-top: $small; }
.ptm, .pvm, .pam { padding-top: $medium; }
.ptl, .pvl, .pal { padding-top: $large; }
.pth, .pvh, .pah { padding-top: $huge; }
.ptg, .pvg, .pag { padding-top: $giant; }
.prn, .phn, .pan { padding-right: 0; }
.prs, .phs, .pas { padding-right: $small; }
.prm, .phm, .pam { padding-right: $medium; }
.prl, .phl, .pal { padding-right: $large; }
.prh, .phh, .pah { padding-right: $huge; }
.prg, .phg, .pag { padding-right: $giant; }
.pbn, .pvn, .pan { padding-bottom: 0; }
.pbs, .pvs, .pas { padding-bottom: $small; }
.pbm, .pvm, .pam { padding-bottom: $medium; }
.pbl, .pvl, .pal { padding-bottom: $large; }
.pbh, .pvh, .pah { padding-bottom: $huge; }
.pbg, .pvg, .pag { padding-bottom: $giant; }
.pln, .phn, .pan { padding-left: 0; }
.pls, .phs, .pas { padding-left: $small; }
.plm, .phm, .pam { padding-left: $medium; }
.pll, .phl, .pal { padding-left: $large; }
.plh, .phh, .pah { padding-left: $huge; }
.plg, .phg, .pag { padding-left: $giant; }
.mtn, .mvn, .man { margin-top: 0; }
.mts, .mvs, .mas { margin-top: $small; }
.mtm, .mvm, .mam { margin-top: $medium; }
.mtl, .mvl, .mal { margin-top: $large; }
.mth, .mvh, .mah { margin-top: $huge; }
.mtg, .mvg, .mag { margin-top: $giant; }
.mrn, .mhn, .man { margin-right: 0; }
.mrs, .mhs, .mas { margin-right: $small; }
.mrm, .mhm, .mam { margin-right: $medium; }
.mrl, .mhl, .mal { margin-right: $large; }
.mrh, .mhh, .mah { margin-right: $huge; }
.mrg, .mhg, .mag { margin-right: $giant; }
.mbn, .mvn, .man { margin-bottom: 0; }
.mbs, .mvs, .mas { margin-bottom: $small; }
.mbm, .mvm, .mam { margin-bottom: $medium; }
.mbl, .mvl, .mal { margin-bottom: $large; }
.mbh, .mvh, .mah { margin-bottom: $huge; }
.mbg, .mvg, .mag { margin-bottom: $giant; }
.mln, .mhn, .man { margin-left: 0; }
.mls, .mhs, .mas { margin-left: $small; }
.mlm, .mhm, .mam { margin-left: $medium; }
.mll, .mhl, .mal { margin-left: $large; }
.mlh, .mhh, .mah { margin-left: $huge; }
.mlg, .mhg, .mag { margin-left: $giant; }


@media(max-width: $phone) {
	.xs-ptn, .xs-pvn, .xs-pan { padding-top: 0 !important; }
	.xs-pts, .xs-pvs, .xs-pas { padding-top: $small !important; }
	.xs-ptm, .xs-pvm, .xs-pam { padding-top: $medium !important; }
	.xs-ptl, .xs-pvl, .xs-pal { padding-top: $large !important; }
	.xs-pth, .xs-pvh, .xs-pah { padding-top: $huge !important; }
	.xs-ptg, .xs-pvg, .xs-pag { padding-top: $giant !important; }
	.xs-prn, .xs-phn, .xs-pan { padding-right: 0 !important; }
	.xs-prs, .xs-phs, .xs-pas { padding-right: $small !important; }
	.xs-prm, .xs-phm, .xs-pam { padding-right: $medium !important; }
	.xs-prl, .xs-phl, .xs-pal { padding-right: $large !important; }
	.xs-prh, .xs-phh, .xs-pah { padding-right: $huge !important; }
	.xs-prg, .xs-phg, .xs-pag { padding-right: $giant !important; }
	.xs-pbn, .xs-pvn, .xs-pan { padding-bottom: 0 !important; }
	.xs-pbs, .xs-pvs, .xs-pas { padding-bottom: $small !important; }
	.xs-pbm, .xs-pvm, .xs-pam { padding-bottom: $medium !important; }
	.xs-pbl, .xs-pvl, .xs-pal { padding-bottom: $large !important; }
	.xs-pbh, .xs-pvh, .xs-pah { padding-bottom: $huge !important; }
	.xs-pbg, .xs-pvg, .xs-pag { padding-bottom: $giant !important; }
	.xs-pln, .xs-phn, .xs-pan { padding-left: 0 !important; }
	.xs-pls, .xs-phs, .xs-pas { padding-left: $small !important; }
	.xs-plm, .xs-phm, .xs-pam { padding-left: $medium !important; }
	.xs-pll, .xs-phl, .xs-pal { padding-left: $large !important; }
	.xs-plh, .xs-phh, .xs-pah { padding-left: $huge !important; }
	.xs-plg, .xs-phg, .xs-pag { padding-left: $giant !important; }
	.xs-mtn, .xs-mvn, .xs-man { margin-top: 0 !important; }
	.xs-mts, .xs-mvs, .xs-mas { margin-top: $small !important; }
	.xs-mtm, .xs-mvm, .xs-mam { margin-top: $medium !important; }
	.xs-mtl, .xs-mvl, .xs-mal { margin-top: $large !important; }
	.xs-mth, .xs-mvh, .xs-mah { margin-top: $huge !important; }
	.xs-mtg, .xs-mvg, .xs-mag { margin-top: $giant !important; }
	.xs-mrn, .xs-mhn, .xs-man { margin-right: 0 !important; }
	.xs-mrs, .xs-mhs, .xs-mas { margin-right: $small !important; }
	.xs-mrm, .xs-mhm, .xs-mam { margin-right: $medium !important; }
	.xs-mrl, .xs-mhl, .xs-mal { margin-right: $large !important; }
	.xs-mrh, .xs-mhh, .xs-mah { margin-right: $huge !important; }
	.xs-mrg, .xs-mhg, .xs-mag { margin-right: $giant !important; }
	.xs-mbn, .xs-mvn, .xs-man { margin-bottom: 0 !important; }
	.xs-mbs, .xs-mvs, .xs-mas { margin-bottom: $small !important; }
	.xs-mbm, .xs-mvm, .xs-mam { margin-bottom: $medium !important; }
	.xs-mbl, .xs-mvl, .xs-mal { margin-bottom: $large !important; }
	.xs-mbh, .xs-mvh, .xs-mah { margin-bottom: $huge !important; }
	.xs-mbg, .xs-mvg, .xs-mag { margin-bottom: $giant !important; }
	.xs-mln, .xs-mhn, .xs-man { margin-left: 0 !important; }
	.xs-mls, .xs-mhs, .xs-mas { margin-left: $small !important; }
	.xs-mlm, .xs-mhm, .xs-mam { margin-left: $medium !important; }
	.xs-mll, .xs-mhl, .xs-mal { margin-left: $large !important; }
	.xs-mlh, .xs-mhh, .xs-mah { margin-left: $huge !important; }
	.xs-mlg, .xs-mhg, .xs-mag { margin-left: $giant !important; }
}
