// Modbox
$modulus: 1.618% * 1.618;

@mixin mw($margin: $modulus) {
  @include better-box;
  clear: both;
  margin: (-$margin);
  width: 100% + ($margin * 2);
}

@mixin mb($margin) {
  @include better-box;
  float: left;
  margin: $margin;
}

@mixin modbox($width, $margin: $modulus) {
  @include mb($margin);
  width: $width - ($margin * 2);
}
