{%  extends 'themes/layout.html' %}
{% load humanize %}
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}

{% block sidebar-left %}
    <div class="{% if not object.theme.sidebar_left %} small-12 medium-3 large-3 columns hide {% else %} {{ object.theme.sidebar_left }} {% endif %}">
        {% include "menu/_sidemenu_left.html" %}
    </div>
{% endblock %}

{% block content %}
    <div class="{% if not object.theme.content_center %} small-12 medium-9 large-9 columns {% else %} {{ object.theme.content_center }} {% endif %}">
        <div><h3>{{ object.first_name }} {{ object.last_name }}</h3></div>
        <h5>{{ people.position }}</h5>
        {% if user.is_superuser or user.is_staff  %}
            <div class="content-edit"> {% include "util/revision/_revision.html" %}
        <span class="edit-right"><a href="{%  url 'people_update' object.slug %} " >
            <span class="icon-pencil2"> </span>{% trans "Edit" %}</a></span>
            </div>
        {% endif %}
        {% if people.img %}
            <div class="profile-area">
            {% include 'hr/_profile_image_wrapper.html' %}
            </div>
        {% endif %}
        <div>{{ object.content|safe }}
            <div class="profile-quote {{ people.slug }}">
            {% for quote in people.quote.all %}
        {% if quote.content %}
            {{ quote.content|safe }}
        {% endif %}
    {% endfor %}
        </div>
        </div>

        {% block social-share %}
{#            <div class="share-this"> {% include "util/social/_social_share.html" %}</div>#}
        {% endblock %}

        {% if user.is_superuser or user.is_staff  %}
            <br>
            <a href="{%  url 'people_update' object.slug %} " class="button-new-blue">{% trans "Edit" %}</a>
            {% include "util/revision/_revision_audit.html" %}
        {% endif %}
    </div>
{% endblock %}

{% block sidebar-right %}
    <div class="{% if not object.theme.sidebar_right %} small-12 medium-3 large-3 columns {% else %} {{ object.theme.sidebar_right }} {% endif %}">
        {% include "menu/_sidemenu_right.html" %}
    </div>
{% endblock %}




