{%  extends 'base.html' %}

{% block topbar %}
    {% include "topbar.html" %}
{% endblock %}
{% block header %}
    {% include "header.html" %}
{% endblock %}
{% block featured %}

{% endblock %}
<div class="row">
    {% block messages %}
        {% include "widgets/messages.html" %}
    {% endblock %}
    {% block outer_content %}{% endblock %}
    <div class="container inner-content">
        {% block sidebar-left %}
            {% block cta-left-top %}{% endblock %}
            {% block sidenav-left %}{% endblock %}
            {% block cta-left-bottom %}{% endblock %}
        {% endblock %}
        {% block content %}
            {% block content-top %}{% endblock %}
            {% block content-main %}{% endblock %}
            {% block content-bottom %}{% endblock %}
        {% endblock %}
        {% block sidebar-right %}
            {% block cta-right-top %}{% endblock %}
            {% block sidenav-right %}{% endblock %}
            {% block cta-right-bottom %}{% endblock %}
        {% endblock %}
    </div>
</div>
<footer>
    {% block footer %}
        {% block footer-top %}{% endblock %}
        {% block footer-main %}
            {% include "footer.html" %}
        {% endblock %}
        {% block footer-bottom %}{% endblock %}
    {% endblock footer %}
</footer>