{%  extends 'featured/featured.html' %}
{% load humanize %}
{% load i18n %}
{% load static %}

{% block title %}{% endblock %}


{% block featured %}

    <!-- Hero -->
    <section class="leadership-team">
        {#		<div class="hero-image" data-behavior="hero-parallax"></div>#}
        <div class="hero-content-wrap">
            <div class="hero-text-no-circle">
                {% for s in snippet %}
                    {% if s.slug == "about-our-leadership-team" %}
                        {% include 'cms-extras/snippet_edit.html' %}
                        <div class="hero-image-text-surheading">{% if s.label %}{{ s.label }}{% endif %}</div>
                        <div class="hero-image-text-heading">{% if s.content %}{{ s.content|striptags|safe }}{% endif %}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Hero -->
    <div class="leaders-wrap">
        {% for object in object_list|dictsort:"sort_order" %}
            {% for people in object.people.all|dictsort:"sort_order" %}
                {% if forloop.counter|divisibleby:2 %}
                    {% include "hr/units/_people_even.html" %}
                {% else %}
                    {% include "hr/units/_people_odd.html" %}

                {% endif %}
                {% if forloop.last %}
                {% else %}

                    <div class="row">
                        <div class="small-12">
                            <div class="icon-seperator">
                                <span class="icon-nwx-leaflet green"></span>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% empty %}
            <div class="no-records-found">{% blocktrans %}No records found{% endblocktrans %}</div>
        {% endfor %}
    </div>
<div class="container dual-cta">
{% for s in snippet %}
                {% if s.slug == "about-our-global-mission" and s.active == True %}
	<div class="small-12 medium-6 large-6 columns dual-cta__item dual-cta__item--bgbulbs dual-cta__item--green">
		<div class="dual-cta__content">
        {% include 'cms-extras/snippet_edit.html' %}
			{% if s.label %}<h2 class="dual-cta__heading">{{ s.label }}</h2>{% endif %}
			{% if s.content %}<h3 class="dual-cta__text" data-mh="ctatext">{{ s.content|striptags|safe }}</h3>{% endif %}
			{% if s.link %}<div class="dual-cta__cta">
				<a href="#{{ s.link }}" class="dual-cta__button button ">{{ s.link_label }}</a>
			</div>{% endif %}
		</div>
	</div>
{% endif %}
        {% endfor %}
{% for s in snippet %}
        {% if s.slug == "about-what-will-your-legacy-be" and s.active == True %}
	<div class="small-12 medium-6 large-6 columns  dual-cta__item dual-cta__item--bgbulbs dual-cta__item--teal">
		<div class="dual-cta__content">
        {% include 'cms-extras/snippet_edit.html' %}
			{% if s.label %}<h2 class="dual-cta__heading">{{ s.label }}</h2>{% endif %}
			{% if s.content %}<h3 class="dual-cta__text" data-mh="ctatext">{{ s.content|striptags|safe }}</h3>{% endif %}
			{% if s.link %}<div class="dual-cta__cta">
				<a href="{{ s.link }}" class="dual-cta__button button ">{{ s.link_label }}</a>
			</div>{% endif %}
		</div>
	</div>
{% endif %}
        {% endfor %}
</div>

{#    <div class="container dual-cta">#}
{#        <div class="small-12 medium-6 large-6 columns dual-cta__item dual-cta__item--bgbulbs dual-cta__item--green">#}
{#            <div class="dual-cta__content">#}
{#                {% for s in snippet %}#}
{#                    {% if s.slug == "about-our-global-mission" %}#}
{#                        {% include 'cms-extras/snippet_edit.html' %}#}
{#                        <h2 class="dual-cta__heading">{% if s.label %}{{ s.label }}{% endif %}</h2>#}
{#                        <h3 class="dual-cta__text" data-mh="ctatext">{% if s.content %}{{ s.content|striptags|safe }}{% endif %}</h3>#}
{#                        <div class="dual-cta__cta">#}
{#                            <a href="{% if s.link %}{{ s.link }}{% endif %}" class="dual-cta__button button">{% if s.link_label %}{{ s.link_label }}{% endif %}</a>#}
{#                        </div>#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#            </div>#}
{#        </div>#}
{#        <div class="small-12 medium-6 large-6 columns dual-cta__item dual-cta__item--bgbulbs dual-cta__item--teal">#}
{#            <div class="dual-cta__content">#}
{#                {% for s in snippet %}#}
{#                    {% if s.slug == "about-what-will-your-legacy-be" %}#}
{#                        {% include 'cms-extras/snippet_edit.html' %}#}
{#                        <h2 class="dual-cta__heading">{% if s.label %}{{ s.label }}{% endif %}</h2>#}
{#                        <h3 class="dual-cta__text" data-mh="ctatext">{% if s.content %}{{ s.content|striptags|safe }}{% endif %}</h3>#}
{#                        <div class="dual-cta__cta">#}
{#                            <a href="{% if s.link %}{{ s.link }}{% endif %}" class="dual-cta__button button ">{% if s.link_label %}{{ s.link_label }}{% endif %}</a>#}
{#                        </div>#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock %}