{%  extends 'themes/layout.html' %}
{% load humanize %}
{% load i18n %}
{% load static %}

{% block title %}{% endblock %}


{% block content %}
    <div class="{% if not object.theme.sidebar_left %} small-12 medium-3 large-3 columns hide {% else %} {{ object.theme.sidebar_left }} {% endif %}">
        {% include "menu/_sidemenu_left.html" %}
    </div>
    <div class="{% if not object.theme.content_center %} small-12 medium-9 large-9 columns {% else %} {{ object.theme.content_center }} {% endif %}">
        <h1>{{ object.page.title }}</h1>
        {% for object in object_list|dictsort:"sort_order" %}
            <div class="page-title">{{ object.title }}</div>
            {% for people in object.people.all %}
                <div class="row people">
                    <div class="small-12 medium-12 large-12 columns">
                        <h4><a href="{{ people.get_absolute_url }}"><span>{{ people.first_name }}</span> <span>{{ people.last_name }}</span></a></h4>
                        <h5>{{ people.position }}</h5>
                        <div class="content-edit"> {% include "util/revision/_revision.html" %}
                {% if user.is_superuser or user.is_staff  %}
        <span class="edit-right"><a href="{%  url 'people_update' people.slug %} " >
            <span class="icon-pencil2"> </span>{% trans "Edit" %}</a></span>
                {% endif %}
        </div>
                        {% if people.img %}<span class="profile-image"><img src="{{ people.img.url }}" /></span>{% endif %}
                        <div>{{ people.content|safe }}</div>
                    </div>
                </div>
                <hr>
            {% endfor %}

            {% if object.content %}<p>{{ object.content | truncatechars:60|safe }}{% if object.content|length > 60 %} <a href="{{ object.get_absolute_url }}">{% blocktrans %}read more{% endblocktrans %}</a>{% endif %}</p>{% endif %}

        {% empty %}
            <div class="no-records-found">{% blocktrans %}No records found{% endblocktrans %}</div>
        {% endfor %}

    </div>
    <div class="{% if not object.theme.sidebar_right %} small-12 medium-3 large-3 columns {% else %} {{ object.theme.sidebar_right }} {% endif %}">
        {% include "menu/_sidemenu_right.html" %}
    </div>
{% endblock %}

